<div class="append_htmlbody kit_product">
<div class="innerDivMORE">
<div class="clinical-drawer__header drawer__header mobile-fixed-header Content_div">
<p class="m-text-sans-16 text-sans-20 font-300">Liquid Electrolyte Variety Kit</p>
<a class="Closed__drawer_learnMore"> <span class="text-sans-12 font-500">Close</span> <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <g id="Actions"> <path id="Expand &amp; Collapse" d="M7.01257 7.99999L1.84943 2.83685L2.83686 1.84942L8 7.01256L13.1631 1.84942L14.1506 2.83685L8.98743 7.99999L14.1506 13.1631L13.1631 14.1506L8 8.98742L2.83686 14.1506L1.84943 13.1631L7.01257 7.99999Z" fill="#1F2322"></path> </g> </svg> </a>
</div>
<div class="MainCOntainerLayoutLm">
<div class="slider--image">
<div class="forloopImages">
<div class="swiper-container learn__more_images_bk swiper">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="wp_slide_mgs_l">
<img src="//justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_1_7fbc8740-fd4c-4bec-ba5c-3f769c438cb2.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1282" alt="Liquid Electrolyte Variety Kit" srcset="//justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_1_7fbc8740-fd4c-4bec-ba5c-3f769c438cb2.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_1_7fbc8740-fd4c-4bec-ba5c-3f769c438cb2.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_1_7fbc8740-fd4c-4bec-ba5c-3f769c438cb2.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_1_7fbc8740-fd4c-4bec-ba5c-3f769c438cb2.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1282 1282w" width="1282" height="1282" loading="eager">
<div class="quick-add__product-tags">
<div class="quick-add__product-tag">Sampler Pack</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="wp_slide_mgs_l"><img src="//justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_2_01924794-13bd-4b14-a702-c5867f1671d3.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1282" alt="Liquid Electrolyte Variety Kit" srcset="//justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_2_01924794-13bd-4b14-a702-c5867f1671d3.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_2_01924794-13bd-4b14-a702-c5867f1671d3.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_2_01924794-13bd-4b14-a702-c5867f1671d3.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_2_01924794-13bd-4b14-a702-c5867f1671d3.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1282 1282w" width="1282" height="1282" loading="eager"></div>
</div>
<div class="swiper-slide">
<div class="wp_slide_mgs_l"><img src="//justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_3_bc8ad168-57cf-4df6-86cc-781f9c93aca2.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1282" alt="Liquid Electrolyte Variety Kit" srcset="//justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_3_bc8ad168-57cf-4df6-86cc-781f9c93aca2.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_3_bc8ad168-57cf-4df6-86cc-781f9c93aca2.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_3_bc8ad168-57cf-4df6-86cc-781f9c93aca2.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_3_bc8ad168-57cf-4df6-86cc-781f9c93aca2.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1282 1282w" width="1282" height="1282" loading="eager"></div>
</div>
<div class="swiper-slide">
<div class="wp_slide_mgs_l"><img src="//justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_5_1bdaeb86-a619-4efb-aeee-599e3fabbe8a.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1282" alt="Liquid Electrolyte Variety Kit" srcset="//justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_5_1bdaeb86-a619-4efb-aeee-599e3fabbe8a.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_5_1bdaeb86-a619-4efb-aeee-599e3fabbe8a.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_5_1bdaeb86-a619-4efb-aeee-599e3fabbe8a.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_5_1bdaeb86-a619-4efb-aeee-599e3fabbe8a.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1282 1282w" width="1282" height="1282" loading="eager"></div>
</div>
<div class="swiper-slide">
<div class="wp_slide_mgs_l"><img src="//justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_4_bd4a7c5f-ca07-481a-a200-3382d303f3ed.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1282" alt="Liquid Electrolyte Variety Kit" srcset="//justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_4_bd4a7c5f-ca07-481a-a200-3382d303f3ed.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_4_bd4a7c5f-ca07-481a-a200-3382d303f3ed.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_4_bd4a7c5f-ca07-481a-a200-3382d303f3ed.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_LEVK_Rescue_Hero_4_bd4a7c5f-ca07-481a-a200-3382d303f3ed.jpg?crop=center&amp;height=1282&amp;v=1733427075&amp;width=1282 1282w" width="1282" height="1282" loading="eager"></div>
</div>
</div>
<div class="swiper-pagination"></div>
<div class="commanDivButton">
<div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-b7d4693267a9f1a3" aria-disabled="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewbox="0 0 24 21" fill="none"> <line x1="22.2598" y1="10.4434" x2="0.726454" y2="10.4434" stroke="#1F2322"></line> <path d="M13.502 1L23.0019 10.5L13.502 20" stroke="#1F2322"></path> </svg></div>
<div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-b7d4693267a9f1a3" aria-disabled="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewbox="0 0 24 21" fill="none"> <line x1="2.19531" y1="10.5566" x2="23.7286" y2="10.5566" stroke="#1F2322"></line> <path d="M10.9492 20L1.44923 10.5L10.9492 1.00002" stroke="#1F2322"></path> </svg></div>
</div>
</div>
</div>
</div>
<div class="svg_icons"><a href="#Product_Reviews">
<div data-oke-reviews-product-listing-rating="">
<div data-oke-reviews-version="2.16.15" class="okeReviews okeReviews--theme">
<div class="okeReviews-reviewsSummary js-okeReviews-reviewsSummary" data-oke-ga-click-action="Star Rating Summary Click" data-oke-ga-click-label="Rescue Kit">
<div class="okeReviews-reviewsSummary-starRating"><span class="okeReviews-starRating okeReviews-starRating--small"> <span class="okeReviews-a11yText">4.8/ 5</span> <span class="okeReviews-starRating-indicator" role="presentation"> <span class="okeReviews-starRating-indicator-layer"></span> <span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: 97%;"></span> </span> </span></div>
<div class="okeReviews-reviewsSummary-ratingCount">
<span aria-hidden="true">6512 Reviews</span> <span class="okeReviews-a11yText">Based on 6512 reviews</span>
</div>
</div>
</div>
</div>
</a></div>
<div class="product-name">
<h2>Liquid Electrolyte Variety Kit</h2>
<div class="singleLinetext"><span class="Supply_Time"> Three Month Supply / 660 Servings </span></div>
<div class="descRIption">
<p style="margin-bottom: 0;"><meta charset="utf-8"><span><strong>HSA/FSA eligible for qualified customers. </strong></span>Get all six of our add-to-any-drink liquid electrolytes + minerals clinically-proven to hydrate 64% more than water alone. No sugar, sweeteners, flavors.</p>
</div>
<div class="refineButton">
<div class="btnTextDrWER"><a class="hrefcLASS">Supplement Facts</a></div>
<div class="btnTextDrWER"><a class="hrefcLASS">View Clinical Study</a></div>
</div>
<div class="perchasebtn"><a href="#">Purchase Options</a></div>
<div class="mainhsa-hsa">
<div class="icon-svg">
<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <circle cx="9" cy="9" r="9" fill="#DEF647"></circle> <path d="M6.81108 12.244L8.99936 10.9272L11.1876 12.2588L10.6086 9.76678L12.5339 8.09526L9.99434 7.87087L8.99936 5.52621L8.00438 7.85614L5.4648 8.08053L7.39017 9.75772L6.81108 12.244ZM5.80252 13.6379L6.64677 10.0025L3.82617 7.55811L7.5477 7.23515L8.99936 3.80713L10.451 7.23515L14.1726 7.55811L11.352 10.0025L12.1962 13.6379L8.99936 11.7091L5.80252 13.6379Z" fill="#1F2322"></path> </svg>
<p>HSA/FSA Eligible<sup>*</sup></p>
</div>
</div>
<div class="productDivTest">
<div class="drawer__info">
<ul class="drawer__info-list">
<li class="drawer__info-list-item">
<svg width="16" height="20" viewbox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M5.825 17.875L12.8 9.5H8.3L9.2 2.35L2.875 11.5H6.725L5.825 17.875ZM4 20L5 13H0L9 0H11L10 8H16L6 20H4Z" fill="#1F2322"></path> </svg> <span>87+ Ionic Trace Minerals</span>
</li>
<li class="drawer__info-list-item">
<svg width="16" height="20" viewbox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M7.975 16.8C8.24167 16.8 8.44583 16.7542 8.5875 16.6625C8.72917 16.5708 8.8 16.4333 8.8 16.25C8.8 16.0667 8.72917 15.925 8.5875 15.825C8.44583 15.725 8.23333 15.675 7.95 15.675C7.25 15.675 6.5375 15.4542 5.8125 15.0125C5.0875 14.5708 4.625 13.7917 4.425 12.675C4.39167 12.525 4.31667 12.4042 4.2 12.3125C4.08333 12.2208 3.95833 12.175 3.825 12.175C3.64167 12.175 3.5 12.2458 3.4 12.3875C3.3 12.5292 3.26667 12.675 3.3 12.825C3.55 14.225 4.14167 15.2375 5.075 15.8625C6.00833 16.4875 6.975 16.8 7.975 16.8ZM8 20C5.71667 20 3.8125 19.2167 2.2875 17.65C0.7625 16.0833 0 14.1333 0 11.8C0 10.1333 0.6625 8.32083 1.9875 6.3625C3.3125 4.40417 5.31667 2.28333 8 0C10.6833 2.28333 12.6875 4.40417 14.0125 6.3625C15.3375 8.32083 16 10.1333 16 11.8C16 14.1333 15.2375 16.0833 13.7125 17.65C12.1875 19.2167 10.2833 20 8 20ZM8 18.5C9.86667 18.5 11.4167 17.8625 12.65 16.5875C13.8833 15.3125 14.5 13.7167 14.5 11.8C14.5 10.4833 13.9458 8.9875 12.8375 7.3125C11.7292 5.6375 10.1167 3.86667 8 2C5.88333 3.86667 4.27083 5.6375 3.1625 7.3125C2.05417 8.9875 1.5 10.4833 1.5 11.8C1.5 13.7167 2.11667 15.3125 3.35 16.5875C4.58333 17.8625 6.13333 18.5 8 18.5Z" fill="#1F2322"></path> </svg> <span> 3x More Bioavailable</span>
</li>
<li class="drawer__info-list-item">
<svg width="20" height="11" viewbox="0 0 20 11" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M0 10.725V9.22495C0.633333 9.22495 1.14583 9.03329 1.5375 8.64995C1.92917 8.26662 2.5 8.07495 3.25 8.07495C4 8.07495 4.58333 8.29995 5 8.74995C5.41667 9.19995 5.95 9.42495 6.6 9.42495C7.25 9.42495 7.79167 9.19995 8.225 8.74995C8.65833 8.29995 9.25 8.07495 10 8.07495C10.75 8.07495 11.3375 8.29995 11.7625 8.74995C12.1875 9.19995 12.725 9.42495 13.375 9.42495C14.025 9.42495 14.5625 9.19995 14.9875 8.74995C15.4125 8.29995 16 8.07495 16.75 8.07495C17.5 8.07495 18.0708 8.26662 18.4625 8.64995C18.8542 9.03329 19.3667 9.22495 20 9.22495V10.725C19.2167 10.725 18.6375 10.5333 18.2625 10.15C17.8875 9.76662 17.3833 9.57495 16.75 9.57495C16.1167 9.57495 15.5833 9.79995 15.15 10.25C14.7167 10.7 14.125 10.925 13.375 10.925C12.625 10.925 12.0333 10.7 11.6 10.25C11.1667 9.79995 10.6333 9.57495 10 9.57495C9.36667 9.57495 8.82917 9.79995 8.3875 10.25C7.94583 10.7 7.35 10.925 6.6 10.925C5.85 10.925 5.2625 10.7 4.8375 10.25C4.4125 9.79995 3.88333 9.57495 3.25 9.57495C2.61667 9.57495 2.1125 9.76662 1.7375 10.15C1.3625 10.5333 0.783333 10.725 0 10.725ZM0 6.72495V5.22495C0.633333 5.22495 1.14583 5.03328 1.5375 4.64995C1.92917 4.26662 2.5 4.07495 3.25 4.07495C4 4.07495 4.58333 4.29995 5 4.74995C5.41667 5.19995 5.95 5.42495 6.6 5.42495C7.25 5.42495 7.79167 5.19995 8.225 4.74995C8.65833 4.29995 9.25 4.07495 10 4.07495C10.75 4.07495 11.3375 4.29995 11.7625 4.74995C12.1875 5.19995 12.725 5.42495 13.375 5.42495C14.025 5.42495 14.5625 5.19995 14.9875 4.74995C15.4125 4.29995 16 4.07495 16.75 4.07495C17.5 4.07495 18.0708 4.26662 18.4625 4.64995C18.8542 5.03328 19.3667 5.22495 20 5.22495V6.72495C19.2167 6.72495 18.6375 6.53329 18.2625 6.14995C17.8875 5.76662 17.3833 5.57495 16.75 5.57495C16.1167 5.57495 15.5833 5.79995 15.15 6.24995C14.7167 6.69995 14.125 6.92495 13.375 6.92495C12.625 6.92495 12.0333 6.69995 11.6 6.24995C11.1667 5.79995 10.6333 5.57495 10 5.57495C9.36667 5.57495 8.82917 5.79995 8.3875 6.24995C7.94583 6.69995 7.35 6.92495 6.6 6.92495C5.85 6.92495 5.2625 6.69995 4.8375 6.24995C4.4125 5.79995 3.88333 5.57495 3.25 5.57495C2.61667 5.57495 2.1125 5.76662 1.7375 6.14995C1.3625 6.53329 0.783333 6.72495 0 6.72495ZM0 2.72495V1.22495C0.633333 1.22495 1.14583 1.03328 1.5375 0.649951C1.92917 0.266618 2.5 0.0749512 3.25 0.0749512C4 0.0749512 4.58333 0.299951 5 0.749951C5.41667 1.19995 5.95 1.42495 6.6 1.42495C7.25 1.42495 7.79167 1.19995 8.225 0.749951C8.65833 0.299951 9.25 0.0749512 10 0.0749512C10.75 0.0749512 11.3375 0.299951 11.7625 0.749951C12.1875 1.19995 12.725 1.42495 13.375 1.42495C14.025 1.42495 14.5625 1.19995 14.9875 0.749951C15.4125 0.299951 16 0.0749512 16.75 0.0749512C17.5 0.0749512 18.0708 0.266618 18.4625 0.649951C18.8542 1.03328 19.3667 1.22495 20 1.22495V2.72495C19.2167 2.72495 18.6375 2.53328 18.2625 2.14995C17.8875 1.76662 17.3833 1.57495 16.75 1.57495C16.1167 1.57495 15.5833 1.79995 15.15 2.24995C14.7167 2.69995 14.125 2.92495 13.375 2.92495C12.625 2.92495 12.0333 2.69995 11.6 2.24995C11.1667 1.79995 10.6333 1.57495 10 1.57495C9.36667 1.57495 8.82917 1.79995 8.3875 2.24995C7.94583 2.69995 7.35 2.92495 6.6 2.92495C5.85 2.92495 5.2625 2.69995 4.8375 2.24995C4.4125 1.79995 3.88333 1.57495 3.25 1.57495C2.61667 1.57495 2.1125 1.76662 1.7375 2.14995C1.3625 2.53328 0.783333 2.72495 0 2.72495Z" fill="#1F2322"></path> </svg> <span> Ocean-Harvested</span>
</li>
<li class="drawer__info-list-item">
<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> Add To Any Drink</span>
</li>
</ul>
</div>
</div>
<div class="image-with-dropdowns__content">
<div class="image-with-dropdowns__dropdown">
<div class="ProductListedFaq__container">
<div class="image-with-dropdowns__content-point WhatsInclude__Layout active">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>What’s Included</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <path d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z" fill="#1F2322"></path> </svg></span> <span class="minus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <rect x="0.142578" y="7.76001" width="17.8571" height="1.48" fill="#1F2322"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="product-listblock__container_cv pro_list_outermain gfg">
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/LEVK_HD.png?v=1734497964">
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Hydration Drops</p>
<p class="serving__wp">40 Servings/Bottle</p>
</div>
<p class="pro_list_desc">Our best-selling liquid electrolyte + 87 trace minerals.</p>
<p class="pro_list_popup_title block__pro_list_6CwWDX">Supplement Facts</p>
</div>
</div>
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/LEVK_DD.png?v=1734497964">
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Digestion Drops</p>
<p class="serving__wp">40 Servings/Bottle</p>
</div>
<p class="pro_list_desc">Anti-bloat, 3-in-1 digestive aid supports your natural GI process to relieve bloat, gas and IBS symptoms.</p>
<p class="pro_list_popup_title block__pro_list_6CwWDX">Supplement Facts</p>
</div>
</div>
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/LEVK_BHD.png?v=1734497964">
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Brain Health Drops</p>
<p class="serving__wp">40 Servings/Bottle</p>
</div>
<p class="pro_list_desc">Nootropics, electrolytes + minerals for mental clarity, brain fog support and cognitive function.</p>
<p class="pro_list_popup_title block__pro_list_6CwWDX">Supplement Facts</p>
</div>
</div>
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/LEVK_ED.png?v=1734497964">
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Energy Drops</p>
<p class="serving__wp">40 Servings/Bottle</p>
</div>
<p class="pro_list_desc">A naturally energizing blend of electrolytes, B vitamins, l-theanine and green tea for a no-jitters, no-crash gentle rise.</p>
<p class="pro_list_popup_title block__pro_list_6CwWDX">Supplement Facts</p>
</div>
</div>
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/LEVK_ID.png?v=1734497963">
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Immunity Drops</p>
<p class="serving__wp">40 Servings/Bottle</p>
</div>
<p class="pro_list_desc">3-in-1 daily immune support from vitamins, antioxidants, zinc, electrolyte and trace minerals.</p>
<p class="pro_list_popup_title block__pro_list_6CwWDX">Supplement Facts</p>
</div>
</div>
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/LEVK_RD.png?v=1734497963">
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Rescue Drops</p>
<p class="serving__wp">40 Servings/Bottle</p>
</div>
<p class="pro_list_desc">what do you want to include for this?</p>
<p class="pro_list_popup_title block__pro_list_6CwWDX">Supplement Facts</p>
</div>
</div>
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/drop_kit_quick_add.png?v=1734496839">
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Electrolyte Dopp Kit</p>
</div>
<p class="pro_list_desc">Sustainably made, water-resistant travel bag for toiletries and supplements.</p>
</div>
</div>
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/gift_qty.png?v=1734497963">
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Free Gift(s)</p>
</div>
<p class="pro_list_desc">Choose from any Buoy product with purchase.</p>
</div>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point FormFactor__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>Form Factor</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <path d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z" fill="#1F2322"></path> </svg></span> <span class="minus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <rect x="0.142578" y="7.76001" width="17.8571" height="1.48" fill="#1F2322"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="wp__formLayoutExpanded">
<div class="Wp__formFactor_layout">
<div class="Grid__form_factor">
<div class="mg_vd__gridftt"><video playsinline="playsinline" muted="muted" loop="loop" autoplay="autoplay" preload="metadata" poster="//justaddbuoy.com/cdn/shop/files/preview_images/933d8e599ede4db0a2a64cfb3d6fc5b1.thumbnail.0000000000_small.jpg?v=1734362778"><source src="//justaddbuoy.com/cdn/shop/videos/c/vp/933d8e599ede4db0a2a64cfb3d6fc5b1/933d8e599ede4db0a2a64cfb3d6fc5b1.SD-480p-0.9Mbps-39763679.mp4?v=0" type="video/mp4"><img src="//justaddbuoy.com/cdn/shop/files/preview_images/933d8e599ede4db0a2a64cfb3d6fc5b1.thumbnail.0000000000_small.jpg?v=1734362778"></video></div>
<div class="mg_vd__griddsc">
<div class="lb_factortilt">Liquid Drops</div>
<div class="lb_factor_dc">Up to 3x more bioavailable than traditional supplement forms.</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point HowToUse__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>How to use</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <path d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z" fill="#1F2322"></path> </svg></span> <span class="minus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <rect x="0.142578" y="7.76001" width="17.8571" height="1.48" fill="#1F2322"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="wp__formLayoutExpanded">
<div class="Wp__formFactor_layout">
<div class="Grid__form_factor">
<div class="mg_vd__gridftt"><video playsinline="playsinline" muted="muted" loop="loop" autoplay="autoplay" preload="metadata" poster="//justaddbuoy.com/cdn/shop/files/preview_images/98e77784da1f41ac8cbf8076c0b51548.thumbnail.0000000000_small.jpg?v=1734362987"><source src="//justaddbuoy.com/cdn/shop/videos/c/vp/98e77784da1f41ac8cbf8076c0b51548/98e77784da1f41ac8cbf8076c0b51548.SD-480p-0.9Mbps-39763793.mp4?v=0" type="video/mp4"><img src="//justaddbuoy.com/cdn/shop/files/preview_images/98e77784da1f41ac8cbf8076c0b51548.thumbnail.0000000000_small.jpg?v=1734362987"></video></div>
<div class="mg_vd__griddsc">
<div class="lb_factortilt">Liquid Drops</div>
<div class="lb_factor_dc">Add 1 short squeeze into any beverage 4-7x throughout the day.</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point Ingredients__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>Ingredients</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <path d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z" fill="#1F2322"></path> </svg></span> <span class="minus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <rect x="0.142578" y="7.76001" width="17.8571" height="1.48" fill="#1F2322"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="wp_inredients__conatiner swiper">
<div class="Wp__ingedients_layout swiper-wrapper">
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">Ocean Electrolytes</div>
<div class="ind__description">Sodium, potassium, chloride and magnesium preserved in their naturally-occurring ratios and ionically charged states.</div>
</div>
</div>
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">87 Trace Minerals</div>
<div class="ind__description">Deep ocean trace minerals essential for every cell and system that over 90% of Americans are deficient in.</div>
</div>
</div>
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">Digestive Herbs + Enzymes</div>
<div class="ind__description">Digestion Drops—De-bloats, dissolves gas, relieves constipation and supports IBS symptoms.</div>
</div>
</div>
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">Nootropics</div>
<div class="ind__description">Brain Health Drops—Sharpens focus, enhances memory and supports brain fog with neuroprotective properties.</div>
</div>
</div>
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">Vitamin C</div>
<div class="ind__description">Immunity Drops—A naturally-sourced, bioavailable form of the immune boosting vitamin.</div>
</div>
</div>
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">Zinc</div>
<div class="ind__description">Immunity Drops—Fortifying mineral that regulates immune response.</div>
</div>
</div>
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">B Vitamin Complex</div>
<div class="ind__description">Energizing blend of MTHFR Gene Mutation safe, bioavailable B vitamins.</div>
</div>
</div>
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">L-Theanine</div>
<div class="ind__description">Energy Drops—The zen-like amino acid changes how your body processes caffeine for a gentle, no-crash or jitters rise.</div>
</div>
</div>
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">Green Tea</div>
<div class="ind__description">Energy Drops—Naturally energizing, clean source of caffeine.</div>
</div>
</div>
</div>
</div>
<div class="Standard__info">
<div class="ct__standard__wp">
<div class="hightestStandardWp">The Highest Standards:</div>
<ul class="drawer__info-list">
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M8.25 16.8L12 13.05L15.75 16.8L16.8 15.75L13.05 12L16.8 8.25L15.75 7.2L12 10.95L8.25 7.2L7.2 8.25L10.95 12L7.2 15.75L8.25 16.8ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> No Sugars, Sweeteners, Flavors</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M8.25 16.8L12 13.05L15.75 16.8L16.8 15.75L13.05 12L16.8 8.25L15.75 7.2L12 10.95L8.25 7.2L7.2 8.25L10.95 12L7.2 15.75L8.25 16.8ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> No Artificial Ingredients or Additives</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> Harvested, Not Manufactured</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> Vegan + NonGMO</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> Gluten &amp; Major Allergen Free</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point Reviews__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>Reviews</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <path d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z" fill="#1F2322"></path> </svg></span> <span class="minus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <rect x="0.142578" y="7.76001" width="17.8571" height="1.48" fill="#1F2322"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="Review__details_odo"><a href="#Product_Reviews">
<div data-oke-reviews-product-listing-rating="">
<div data-oke-reviews-version="2.16.15" class="okeReviews okeReviews--theme">
<div class="okeReviews-reviewsSummary js-okeReviews-reviewsSummary" data-oke-ga-click-action="Star Rating Summary Click" data-oke-ga-click-label="Rescue Kit">
<div class="okeReviews-reviewsSummary-starRating"><span class="okeReviews-starRating okeReviews-starRating--small"> <span class="okeReviews-a11yText">4.8/ 5</span> <span class="okeReviews-starRating-indicator" role="presentation"> <span class="okeReviews-starRating-indicator-layer"></span> <span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: 97%;"></span> </span> </span></div>
<div class="okeReviews-reviewsSummary-ratingCount">
<span aria-hidden="true">6512 Reviews</span> <span class="okeReviews-a11yText">Based on 6512 reviews</span>
</div>
</div>
</div>
</div>
</a></div>
<div class="static_html_pdp_rv">
<div class="Testimonials_Slider swiper swiper-container_ts_cv">
<div class="swiper-wrapper">
<div class="Testimonials_Wrapper swiper-slide">
<div style="position: relative;">
<div class="video-tag">
<p>Add To Any Drink</p>
</div>
<div class="reviews_button hide-mobile"><img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Exclude.png?v=1699317160"></div>
<video class="hide-mobile" muted="" loop="loop" preload="metadata">
<source src="https://cdn.shopify.com/videos/c/o/v/cbeccb55f5404b95add6594b63a295d9.mp4#t=0.1" type="video/mp4"></video> <video class="hide-desktop" autoplay="autoplay" muted="" loop="loop" playsinline="" webkit-playsinline="">
<source src="https://cdn.shopify.com/videos/c/o/v/cbeccb55f5404b95add6594b63a295d9.mp4" type="video/mp4"></video>
</div>
<span class="Testimonials_Rating"></span>
<div class="testimonial_text">
<p>"I'm adding these to EVERYTHING"</p>
</div>
</div>
<div class="Testimonials_Wrapper swiper-slide">
<div style="position: relative;">
<div class="video-tag">
<p>Anti-Bloat</p>
</div>
<div class="reviews_button hide-mobile"><img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Exclude.png?v=1699317160"></div>
<video class="hide-mobile" muted="" loop="loop" preload="metadata">
<source src="https://cdn.shopify.com/videos/c/o/v/01948bca5fa34155b394a4b3432d6083.mov#t=0.1" type="video/mp4"></video> <video class="hide-desktop" autoplay="autoplay" muted="" loop="loop" playsinline="" webkit-playsinline="">
<source src="https://cdn.shopify.com/videos/c/o/v/01948bca5fa34155b394a4b3432d6083.mov" type="video/mp4"></video>
</div>
<span class="Testimonials_Rating"></span>
<div class="testimonial_text">
<p>“Such an improvement in bloating and digestion"</p>
</div>
</div>
<div class="Testimonials_Wrapper swiper-slide">
<div style="position: relative;">
<div class="video-tag">
<p>Energy</p>
</div>
<div class="reviews_button hide-mobile"><img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Exclude.png?v=1699317160"></div>
<video class="hide-mobile" muted="" loop="loop" preload="metadata">
<source src="https://cdn.shopify.com/videos/c/o/v/44dde4e5b0174adf80337786ab096648.mp4#t=0.1" type="video/mp4"></video> <video class="hide-desktop" autoplay="autoplay" muted="" loop="loop" playsinline="" webkit-playsinline="">
<source src="https://cdn.shopify.com/videos/c/o/v/44dde4e5b0174adf80337786ab096648.mp4" type="video/mp4"></video>
</div>
<span class="Testimonials_Rating"></span>
<div class="testimonial_text">
<p>“Overall more energized and not so groggy"</p>
</div>
</div>
<div class="Testimonials_Wrapper swiper-slide">
<div style="position: relative;">
<div class="video-tag">
<p>Unflavored</p>
</div>
<div class="reviews_button hide-mobile"><img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Exclude.png?v=1699317160"></div>
<video class="hide-mobile" muted="" loop="loop" preload="metadata">
<source src="https://cdn.shopify.com/videos/c/o/v/b8266fa5ca144114923cc8f7bfb05fe0.mov#t=0.1" type="video/mp4"></video> <video class="hide-desktop" autoplay="autoplay" muted="" loop="loop" playsinline="" webkit-playsinline="">
<source src="https://cdn.shopify.com/videos/c/o/v/b8266fa5ca144114923cc8f7bfb05fe0.mov" type="video/mp4"></video>
</div>
<span class="Testimonials_Rating"></span>
<div class="testimonial_text">
<p>"No nasty "natural" flavors or additives"</p>
</div>
</div>
</div>
<div class="commanDivButton">
<div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-b7d4693267a9f1a3" aria-disabled="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewbox="0 0 24 21" fill="none"> <line x1="22.2598" y1="10.4434" x2="0.726454" y2="10.4434" stroke="#1F2322"></line> <path d="M13.502 1L23.0019 10.5L13.502 20" stroke="#1F2322"></path> </svg></div>
<div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-b7d4693267a9f1a3" aria-disabled="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewbox="0 0 24 21" fill="none"> <line x1="2.19531" y1="10.5566" x2="23.7286" y2="10.5566" stroke="#1F2322"></line> <path d="M10.9492 20L1.44923 10.5L10.9492 1.00002" stroke="#1F2322"></path> </svg></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="perchasebtn"><a href="#">Purchase Options</a></div>
<div class="Continuebtn"><a href="#">Continue Shopping</a></div>
<div class="textlast">
<sup>*</sup>HSA/FSA eligible for qualifying customers</div>
</div>
</div>
</div>
</div>
</div>
</div>