<div class="append_htmlbody kit_product">
<div class="innerDivMORE">
<div class="clinical-drawer__header drawer__header mobile-fixed-header Content_div">
<p class="m-text-sans-16 text-sans-20 font-300">Rescue Kit</p>
<a class="Closed__drawer_learnMore"> <span class="text-sans-12 font-500">Close</span> <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <g id="Actions"> <path id="Expand &amp; Collapse" d="M7.01257 7.99999L1.84943 2.83685L2.83686 1.84942L8 7.01256L13.1631 1.84942L14.1506 2.83685L8.98743 7.99999L14.1506 13.1631L13.1631 14.1506L8 8.98742L2.83686 14.1506L1.84943 13.1631L7.01257 7.99999Z" fill="#1F2322"></path> </g> </svg> </a>
</div>
<div class="MainCOntainerLayoutLm">
<div class="slider--image">
<div class="forloopImages">
<div class="swiper-container learn__more_images_bk swiper">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="wp_slide_mgs_l">
<img src="//justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_1.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1282" alt="Rescue Kit" srcset="//justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_1.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_1.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_1.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_1.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1282 1282w" width="1282" height="1282" loading="eager">
<div class="quick-add__product-tags">
<div class="quick-add__product-tag">6x Stronger</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="wp_slide_mgs_l">
<img src="//justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_2.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1282" alt="Rescue Kit" srcset="//justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_2.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_2.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_2.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_2.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1282 1282w" width="1282" height="1282" loading="eager">
<div class="quick-add__product-tags">
<div class="quick-add__product-tag">✓ MTHFR</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="wp_slide_mgs_l"><img src="//justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_3.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1282" alt="Rescue Kit" srcset="//justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_3.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_3.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_3.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_3.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1282 1282w" width="1282" height="1282" loading="eager"></div>
</div>
<div class="swiper-slide">
<div class="wp_slide_mgs_l"><img src="//justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_4.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1282" alt="Rescue Kit" srcset="//justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_4.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_4.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_4.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_4.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1282 1282w" width="1282" height="1282" loading="eager"></div>
</div>
<div class="swiper-slide">
<div class="wp_slide_mgs_l"><img src="//justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_5.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1282" alt="Rescue Kit" srcset="//justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_5.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_5.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_5.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_RescueKit_Hero_5.jpg?crop=center&amp;height=1282&amp;v=1725488911&amp;width=1282 1282w" width="1282" height="1282" loading="eager"></div>
</div>
</div>
<div class="swiper-pagination"></div>
<div class="commanDivButton">
<div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-b7d4693267a9f1a3" aria-disabled="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewbox="0 0 24 21" fill="none"> <line x1="22.2598" y1="10.4434" x2="0.726454" y2="10.4434" stroke="#1F2322"></line> <path d="M13.502 1L23.0019 10.5L13.502 20" stroke="#1F2322"></path> </svg></div>
<div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-b7d4693267a9f1a3" aria-disabled="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewbox="0 0 24 21" fill="none"> <line x1="2.19531" y1="10.5566" x2="23.7286" y2="10.5566" stroke="#1F2322"></line> <path d="M10.9492 20L1.44923 10.5L10.9492 1.00002" stroke="#1F2322"></path> </svg></div>
</div>
</div>
</div>
</div>
<div class="svg_icons"><a href="#Product_Reviews">
<div data-oke-reviews-product-listing-rating="">
<div data-oke-reviews-version="2.16.15" class="okeReviews okeReviews--theme">
<div class="okeReviews-reviewsSummary js-okeReviews-reviewsSummary" data-oke-ga-click-action="Star Rating Summary Click" data-oke-ga-click-label="Rescue Kit">
<div class="okeReviews-reviewsSummary-starRating"><span class="okeReviews-starRating okeReviews-starRating--small"> <span class="okeReviews-a11yText">4.8/ 5</span> <span class="okeReviews-starRating-indicator" role="presentation"> <span class="okeReviews-starRating-indicator-layer"></span> <span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: 97%;"></span> </span> </span></div>
<div class="okeReviews-reviewsSummary-ratingCount">
<span aria-hidden="true">357 Reviews</span> <span class="okeReviews-a11yText">Based on 357 reviews</span>
</div>
</div>
</div>
</div>
</a></div>
<div class="product-name">
<h2>Rescue Kit</h2>
<div class="singleLinetext"><span class="Supply_Time"> Three Month Supply / 495 Servings </span></div>
<div class="descRIption">
<p><meta charset="utf-8"><span><strong>HSA/FSA eligible for qualified customers. </strong></span>Our high-sodium Rescue line delivers ocean-harvested electrolytes and trace minerals in two bioavailable form factors. No sugar, sweeteners, flavors or B Vitamins. MTHFR Gene Mutation friendly.</p>
</div>
<div class="refineButton">
<div class="btnTextDrWER"><a class="hrefcLASS">Supplement Facts</a></div>
<div class="btnTextDrWER"><a class="hrefcLASS">View Clinical Study</a></div>
</div>
<div class="perchasebtn"><a href="#">Purchase Options</a></div>
<div class="mainhsa-hsa">
<div class="icon-svg">
<svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"> <circle cx="9" cy="9" r="9" fill="#DEF647"></circle> <path d="M6.81108 12.244L8.99936 10.9272L11.1876 12.2588L10.6086 9.76678L12.5339 8.09526L9.99434 7.87087L8.99936 5.52621L8.00438 7.85614L5.4648 8.08053L7.39017 9.75772L6.81108 12.244ZM5.80252 13.6379L6.64677 10.0025L3.82617 7.55811L7.5477 7.23515L8.99936 3.80713L10.451 7.23515L14.1726 7.55811L11.352 10.0025L12.1962 13.6379L8.99936 11.7091L5.80252 13.6379Z" fill="#1F2322"></path> </svg>
<p>HSA/FSA Eligible<sup>*</sup></p>
</div>
</div>
<div class="productDivTest">
<div class="drawer__info">
<ul class="drawer__info-list">
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M8.25 16.8L12 13.05L15.75 16.8L16.8 15.75L13.05 12L16.8 8.25L15.75 7.2L12 10.95L8.25 7.2L7.2 8.25L10.95 12L7.2 15.75L8.25 16.8ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span>No Sugar, Sweeteners, Flavors</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M9.825 19.875L16.8 11.5H12.3L13.2 4.35L6.875 13.5H10.725L9.825 19.875ZM8 22L9 15H4L13 2H15L14 10H20L10 22H8Z" fill="#1F2322"></path> </svg> <span> 87 Trace Minerals</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M2 17.725V16.225C2.63333 16.225 3.14583 16.0333 3.5375 15.65C3.92917 15.2666 4.5 15.075 5.25 15.075C6 15.075 6.58333 15.3 7 15.75C7.41667 16.2 7.95 16.425 8.6 16.425C9.25 16.425 9.79167 16.2 10.225 15.75C10.6583 15.3 11.25 15.075 12 15.075C12.75 15.075 13.3375 15.3 13.7625 15.75C14.1875 16.2 14.725 16.425 15.375 16.425C16.025 16.425 16.5625 16.2 16.9875 15.75C17.4125 15.3 18 15.075 18.75 15.075C19.5 15.075 20.0708 15.2666 20.4625 15.65C20.8542 16.0333 21.3667 16.225 22 16.225V17.725C21.2167 17.725 20.6375 17.5333 20.2625 17.15C19.8875 16.7666 19.3833 16.575 18.75 16.575C18.1167 16.575 17.5833 16.8 17.15 17.25C16.7167 17.7 16.125 17.925 15.375 17.925C14.625 17.925 14.0333 17.7 13.6 17.25C13.1667 16.8 12.6333 16.575 12 16.575C11.3667 16.575 10.8292 16.8 10.3875 17.25C9.94583 17.7 9.35 17.925 8.6 17.925C7.85 17.925 7.2625 17.7 6.8375 17.25C6.4125 16.8 5.88333 16.575 5.25 16.575C4.61667 16.575 4.1125 16.7666 3.7375 17.15C3.3625 17.5333 2.78333 17.725 2 17.725ZM2 13.725V12.225C2.63333 12.225 3.14583 12.0333 3.5375 11.65C3.92917 11.2666 4.5 11.075 5.25 11.075C6 11.075 6.58333 11.3 7 11.75C7.41667 12.2 7.95 12.425 8.6 12.425C9.25 12.425 9.79167 12.2 10.225 11.75C10.6583 11.3 11.25 11.075 12 11.075C12.75 11.075 13.3375 11.3 13.7625 11.75C14.1875 12.2 14.725 12.425 15.375 12.425C16.025 12.425 16.5625 12.2 16.9875 11.75C17.4125 11.3 18 11.075 18.75 11.075C19.5 11.075 20.0708 11.2666 20.4625 11.65C20.8542 12.0333 21.3667 12.225 22 12.225V13.725C21.2167 13.725 20.6375 13.5333 20.2625 13.15C19.8875 12.7666 19.3833 12.575 18.75 12.575C18.1167 12.575 17.5833 12.8 17.15 13.25C16.7167 13.7 16.125 13.925 15.375 13.925C14.625 13.925 14.0333 13.7 13.6 13.25C13.1667 12.8 12.6333 12.575 12 12.575C11.3667 12.575 10.8292 12.8 10.3875 13.25C9.94583 13.7 9.35 13.925 8.6 13.925C7.85 13.925 7.2625 13.7 6.8375 13.25C6.4125 12.8 5.88333 12.575 5.25 12.575C4.61667 12.575 4.1125 12.7666 3.7375 13.15C3.3625 13.5333 2.78333 13.725 2 13.725ZM2 9.72495V8.22495C2.63333 8.22495 3.14583 8.03328 3.5375 7.64995C3.92917 7.26662 4.5 7.07495 5.25 7.07495C6 7.07495 6.58333 7.29995 7 7.74995C7.41667 8.19995 7.95 8.42495 8.6 8.42495C9.25 8.42495 9.79167 8.19995 10.225 7.74995C10.6583 7.29995 11.25 7.07495 12 7.07495C12.75 7.07495 13.3375 7.29995 13.7625 7.74995C14.1875 8.19995 14.725 8.42495 15.375 8.42495C16.025 8.42495 16.5625 8.19995 16.9875 7.74995C17.4125 7.29995 18 7.07495 18.75 7.07495C19.5 7.07495 20.0708 7.26662 20.4625 7.64995C20.8542 8.03328 21.3667 8.22495 22 8.22495V9.72495C21.2167 9.72495 20.6375 9.53328 20.2625 9.14995C19.8875 8.76662 19.3833 8.57495 18.75 8.57495C18.1167 8.57495 17.5833 8.79995 17.15 9.24995C16.7167 9.69995 16.125 9.92495 15.375 9.92495C14.625 9.92495 14.0333 9.69995 13.6 9.24995C13.1667 8.79995 12.6333 8.57495 12 8.57495C11.3667 8.57495 10.8292 8.79995 10.3875 9.24995C9.94583 9.69995 9.35 9.92495 8.6 9.92495C7.85 9.92495 7.2625 9.69995 6.8375 9.24995C6.4125 8.79995 5.88333 8.57495 5.25 8.57495C4.61667 8.57495 4.1125 8.76662 3.7375 9.14995C3.3625 9.53328 2.78333 9.72495 2 9.72495Z" fill="#1F2322"></path> </svg> <span> Ocean-Harvested</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M11.975 18.8C12.2417 18.8 12.4458 18.7542 12.5875 18.6625C12.7292 18.5708 12.8 18.4333 12.8 18.25C12.8 18.0667 12.7292 17.925 12.5875 17.825C12.4458 17.725 12.2333 17.675 11.95 17.675C11.25 17.675 10.5375 17.4542 9.8125 17.0125C9.0875 16.5708 8.625 15.7917 8.425 14.675C8.39167 14.525 8.31667 14.4042 8.2 14.3125C8.08333 14.2208 7.95833 14.175 7.825 14.175C7.64167 14.175 7.5 14.2458 7.4 14.3875C7.3 14.5292 7.26667 14.675 7.3 14.825C7.55 16.225 8.14167 17.2375 9.075 17.8625C10.0083 18.4875 10.975 18.8 11.975 18.8ZM12 22C9.71667 22 7.8125 21.2167 6.2875 19.65C4.7625 18.0833 4 16.1333 4 13.8C4 12.1333 4.6625 10.3208 5.9875 8.3625C7.3125 6.40417 9.31667 4.28333 12 2C14.6833 4.28333 16.6875 6.40417 18.0125 8.3625C19.3375 10.3208 20 12.1333 20 13.8C20 16.1333 19.2375 18.0833 17.7125 19.65C16.1875 21.2167 14.2833 22 12 22ZM12 20.5C13.8667 20.5 15.4167 19.8625 16.65 18.5875C17.8833 17.3125 18.5 15.7167 18.5 13.8C18.5 12.4833 17.9458 10.9875 16.8375 9.3125C15.7292 7.6375 14.1167 5.86667 12 4C9.88333 5.86667 8.27083 7.6375 7.1625 9.3125C6.05417 10.9875 5.5 12.4833 5.5 13.8C5.5 15.7167 6.11667 17.3125 7.35 18.5875C8.58333 19.8625 10.1333 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> 3x More Bioavailable</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> 300mg/420mg Sodium Per Serving</span>
</li>
</ul>
</div>
</div>
<div class="image-with-dropdowns__content">
<div class="image-with-dropdowns__dropdown">
<div class="ProductListedFaq__container">
<div class="image-with-dropdowns__content-point WhatsInclude__Layout active">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>What’s Included</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <path d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z" fill="#1F2322"></path> </svg></span> <span class="minus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <rect x="0.142578" y="7.76001" width="17.8571" height="1.48" fill="#1F2322"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="product-listblock__container_cv pro_list_outermain gfg">
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="//justaddbuoy.com/cdn/shop/files/Add-On_Rescue_Drop_1.png?v=1721232328&amp;width=270" alt="" srcset="//justaddbuoy.com/cdn/shop/files/Add-On_Rescue_Drop_1.png?v=1721232328&amp;width=270 270w" width="270" height="270" loading="eager">
<p>x18</p>
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Rescue Drops</p>
<p class="serving__wp">20 Servings/Bottle</p>
</div>
<p class="pro_list_desc">6x stronger liquid electrolyte with 300mg sodium + 87 trace minerals per serv. Add to any drink.</p>
<p class="pro_list_popup_title block__pro_list_6CwWDX">Supplement Facts</p>
</div>
</div>
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="//justaddbuoy.com/cdn/shop/files/Rescue_Salt.png?v=1734335525&amp;width=842" alt="" srcset="//justaddbuoy.com/cdn/shop/files/Rescue_Salt.png?v=1734335525&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/Rescue_Salt.png?v=1734335525&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/Rescue_Salt.png?v=1734335525&amp;width=842 842w" width="842" height="1052" loading="eager">
<p>x3</p>
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Rescue Salt</p>
<p class="serving__wp">45 Servings/Jar</p>
</div>
<p class="pro_list_desc">Unrefined, high mineral sea salt with 460mg sodium per serv. Dissolves on tongue and beverage.</p>
<p class="pro_list_popup_title block__pro_list_6CwWDX">Supplement Facts</p>
</div>
</div>
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="//justaddbuoy.com/cdn/shop/files/PDP_Dopp_Kit_Hero_1.jpg?v=1723655835&amp;width=1282" alt="" srcset="//justaddbuoy.com/cdn/shop/files/PDP_Dopp_Kit_Hero_1.jpg?v=1723655835&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_Dopp_Kit_Hero_1.jpg?v=1723655835&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_Dopp_Kit_Hero_1.jpg?v=1723655835&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_Dopp_Kit_Hero_1.jpg?v=1723655835&amp;width=1282 1282w" width="1282" height="1282" loading="eager">
<p>x1</p>
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Electrolyte Dopp Kit</p>
</div>
<p class="pro_list_desc">Sustainably made, water-resistant travel bag for toiletries and supplements.</p>
</div>
</div>
<div class="product-listblock-cv">
<div class="img_pro_list">
<div class="img_pro_list_inner">
<img src="//justaddbuoy.com/cdn/shop/files/Hydration_Drops_Square_2_dfb73715-0542-4047-ac96-eb974781f4e0.png?v=1734358518&amp;width=60" alt="" srcset="//justaddbuoy.com/cdn/shop/files/Hydration_Drops_Square_2_dfb73715-0542-4047-ac96-eb974781f4e0.png?v=1734358518&amp;width=60 60w" width="60" height="60" loading="eager">
<p>x1</p>
</div>
</div>
<div class="content">
<div class="title_price">
<p class="pro_list_title">Free Gift(s)</p>
</div>
<p class="pro_list_desc">Choose from any Buoy product with purchase.</p>
</div>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point FormFactor__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>Form Factor</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <path d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z" fill="#1F2322"></path> </svg></span> <span class="minus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <rect x="0.142578" y="7.76001" width="17.8571" height="1.48" fill="#1F2322"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="wp__formLayoutExpanded">
<div class="Wp__formFactor_layout">
<div class="Grid__form_factor">
<div class="mg_vd__gridftt"><video playsinline="playsinline" muted="muted" loop="loop" autoplay="autoplay" preload="metadata" poster="//justaddbuoy.com/cdn/shop/files/preview_images/933d8e599ede4db0a2a64cfb3d6fc5b1.thumbnail.0000000000_small.jpg?v=1734362778"><source src="//justaddbuoy.com/cdn/shop/videos/c/vp/933d8e599ede4db0a2a64cfb3d6fc5b1/933d8e599ede4db0a2a64cfb3d6fc5b1.SD-480p-0.9Mbps-39763679.mp4?v=0" type="video/mp4"><img src="//justaddbuoy.com/cdn/shop/files/preview_images/933d8e599ede4db0a2a64cfb3d6fc5b1.thumbnail.0000000000_small.jpg?v=1734362778"></video></div>
<div class="mg_vd__griddsc">
<div class="lb_factortilt">Liquid Drops</div>
<div class="lb_factor_dc">Up to 3x more bioavailable than traditional supplement forms.</div>
</div>
</div>
</div>
<div class="Wp__formFactor_layout">
<div class="Grid__form_factor">
<div class="mg_vd__gridftt"><video playsinline="playsinline" muted="muted" loop="loop" autoplay="autoplay" preload="metadata" poster="//justaddbuoy.com/cdn/shop/files/preview_images/e20a69fae99a480a8139ec4179d28ea0.thumbnail.0000000000_small.jpg?v=1734362778"><source src="//justaddbuoy.com/cdn/shop/videos/c/vp/e20a69fae99a480a8139ec4179d28ea0/e20a69fae99a480a8139ec4179d28ea0.SD-480p-0.9Mbps-39763680.mp4?v=0" type="video/mp4"><img src="//justaddbuoy.com/cdn/shop/files/preview_images/e20a69fae99a480a8139ec4179d28ea0.thumbnail.0000000000_small.jpg?v=1734362778"></video></div>
<div class="mg_vd__griddsc">
<div class="lb_factortilt">Fast-Dissolving Sea Salt</div>
<div class="lb_factor_dc">Unrefined, hand-harvested and solar evaporated sea salt.</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point HowToUse__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>How to use</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <path d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z" fill="#1F2322"></path> </svg></span> <span class="minus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <rect x="0.142578" y="7.76001" width="17.8571" height="1.48" fill="#1F2322"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="wp__formLayoutExpanded">
<div class="Wp__formFactor_layout">
<div class="Grid__form_factor">
<div class="mg_vd__gridftt"><video playsinline="playsinline" muted="muted" loop="loop" autoplay="autoplay" preload="metadata" poster="//justaddbuoy.com/cdn/shop/files/preview_images/98e77784da1f41ac8cbf8076c0b51548.thumbnail.0000000000_small.jpg?v=1734362987"><source src="//justaddbuoy.com/cdn/shop/videos/c/vp/98e77784da1f41ac8cbf8076c0b51548/98e77784da1f41ac8cbf8076c0b51548.SD-480p-0.9Mbps-39763793.mp4?v=0" type="video/mp4"><img src="//justaddbuoy.com/cdn/shop/files/preview_images/98e77784da1f41ac8cbf8076c0b51548.thumbnail.0000000000_small.jpg?v=1734362987"></video></div>
<div class="mg_vd__griddsc">
<div class="lb_factortilt">Liquid Drops</div>
<div class="lb_factor_dc">Add 1 short squeeze into any beverage 4-7x throughout the day.</div>
</div>
</div>
</div>
<div class="Wp__formFactor_layout">
<div class="Grid__form_factor">
<div class="mg_vd__gridftt"><video playsinline="playsinline" muted="muted" loop="loop" autoplay="autoplay" preload="metadata" poster="//justaddbuoy.com/cdn/shop/files/preview_images/4c8f486477af4821949b37e7258eb4d3.thumbnail.0000000000_small.jpg?v=1734362987"><source src="//justaddbuoy.com/cdn/shop/videos/c/vp/4c8f486477af4821949b37e7258eb4d3/4c8f486477af4821949b37e7258eb4d3.SD-480p-0.9Mbps-39763794.mp4?v=0" type="video/mp4"><img src="//justaddbuoy.com/cdn/shop/files/preview_images/4c8f486477af4821949b37e7258eb4d3.thumbnail.0000000000_small.jpg?v=1734362987"></video></div>
<div class="mg_vd__griddsc">
<div class="lb_factortilt">Fast-Dissolving Sea Salt</div>
<div class="lb_factor_dc">Dissolve on tongue, beverage or food for fast-acting hydration.</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point Ingredients__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>Ingredients</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <path d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z" fill="#1F2322"></path> </svg></span> <span class="minus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <rect x="0.142578" y="7.76001" width="17.8571" height="1.48" fill="#1F2322"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="wp_inredients__conatiner swiper">
<div class="Wp__ingedients_layout swiper-wrapper">
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">Ocean Electrolytes</div>
<div class="ind__description">Sodium, potassium, chloride and magnesium preserved in their naturally-occurring ratios and ionically charged states.</div>
</div>
</div>
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">87 Trace Minerals</div>
<div class="ind__description">Deep ocean trace minerals essential for every cell and system that over 90% of Americans are deficient in.</div>
</div>
</div>
</div>
</div>
<div class="Standard__info">
<div class="ct__standard__wp">
<div class="hightestStandardWp">The Highest Standards:</div>
<ul class="drawer__info-list">
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M8.25 16.8L12 13.05L15.75 16.8L16.8 15.75L13.05 12L16.8 8.25L15.75 7.2L12 10.95L8.25 7.2L7.2 8.25L10.95 12L7.2 15.75L8.25 16.8ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> No Sugars, Sweeteners, Flavors</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M8.25 16.8L12 13.05L15.75 16.8L16.8 15.75L13.05 12L16.8 8.25L15.75 7.2L12 10.95L8.25 7.2L7.2 8.25L10.95 12L7.2 15.75L8.25 16.8ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> No Artificial Ingredients or Additives</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> Harvested, Not Manufactured</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> Vegan + NonGMO</span>
</li>
<li class="drawer__info-list-item">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"> <path d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z" fill="#1F2322"></path> </svg> <span> Gluten &amp; Major Allergen Free</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point Reviews__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>Reviews</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <path d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z" fill="#1F2322"></path> </svg></span> <span class="minus_in"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewbox="0 0 18 17" fill="none"> <rect x="0.142578" y="7.76001" width="17.8571" height="1.48" fill="#1F2322"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="Review__details_odo"><a href="#Product_Reviews">
<div data-oke-reviews-product-listing-rating="">
<div data-oke-reviews-version="2.16.15" class="okeReviews okeReviews--theme">
<div class="okeReviews-reviewsSummary js-okeReviews-reviewsSummary" data-oke-ga-click-action="Star Rating Summary Click" data-oke-ga-click-label="Rescue Kit">
<div class="okeReviews-reviewsSummary-starRating"><span class="okeReviews-starRating okeReviews-starRating--small"> <span class="okeReviews-a11yText">4.8/ 5</span> <span class="okeReviews-starRating-indicator" role="presentation"> <span class="okeReviews-starRating-indicator-layer"></span> <span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: 97%;"></span> </span> </span></div>
<div class="okeReviews-reviewsSummary-ratingCount">
<span aria-hidden="true">357 Reviews</span> <span class="okeReviews-a11yText">Based on 357 reviews</span>
</div>
</div>
</div>
</div>
</a></div>
<div class="static_html_pdp_rv">
<div class="Testimonials_Slider swiper swiper-container_ts_cv">
<div class="swiper-wrapper">
<div class="Testimonials_Wrapper swiper-slide">
<div style="position: relative;">
<div class="video-tag">
<p>POTS</p>
</div>
<div class="reviews_button hide-mobile"><img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Exclude.png?v=1699317160"></div>
<video class="hide-mobile" muted="" loop="loop" preload="metadata">
<source src="https://cdn.shopify.com/videos/c/o/v/c62ae021095b469caa25e9635d4d0dce.mp4#t=0.1" type="video/mp4"></video> <video class="hide-desktop" autoplay="autoplay" muted="" loop="loop" playsinline="" webkit-playsinline="">
<source src="https://cdn.shopify.com/videos/c/o/v/c62ae021095b469caa25e9635d4d0dce.mp4" type="video/mp4"></video>
</div>
<span class="Testimonials_Rating"></span>
<div class="testimonial_text">
<p>These drops are AMAZING and great for my POTSie body!!!</p>
</div>
</div>
<div class="Testimonials_Wrapper swiper-slide">
<div style="position: relative;">
<div class="video-tag">
<p>IBS</p>
</div>
<div class="reviews_button hide-mobile"><img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Exclude.png?v=1699317160"></div>
<video class="hide-mobile" muted="" loop="loop" preload="metadata">
<source src="https://cdn.shopify.com/videos/c/o/v/83a3ce70242d457a8d367e1c1a0e6152.mp4#t=0.1" type="video/mp4"></video> <video class="hide-desktop" autoplay="autoplay" muted="" loop="loop" playsinline="" webkit-playsinline="">
<source src="https://cdn.shopify.com/videos/c/o/v/83a3ce70242d457a8d367e1c1a0e6152.mp4" type="video/mp4"></video>
</div>
<span class="Testimonials_Rating"></span>
<div class="testimonial_text">
<p>"The first electrolytes that don't trigger my IBS"</p>
</div>
</div>
<div class="Testimonials_Wrapper swiper-slide">
<div style="position: relative;">
<div class="video-tag">
<p>POTS</p>
</div>
<div class="reviews_button hide-mobile"><img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Exclude.png?v=1699317160"></div>
<video class="hide-mobile" muted="" loop="loop" preload="metadata">
<source src="https://cdn.shopify.com/videos/c/o/v/a0e2f7ad83b141ec9103d5376ffb6289.mov#t=0.1" type="video/mp4"></video> <video class="hide-desktop" autoplay="autoplay" muted="" loop="loop" playsinline="" webkit-playsinline="">
<source src="https://cdn.shopify.com/videos/c/o/v/a0e2f7ad83b141ec9103d5376ffb6289.mov" type="video/mp4"></video>
</div>
<span class="Testimonials_Rating"></span>
<div class="testimonial_text">
<p>"Buoy immediately made a huge difference in my daily symptoms."</p>
</div>
</div>
</div>
<div class="commanDivButton">
<div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-b7d4693267a9f1a3" aria-disabled="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewbox="0 0 24 21" fill="none"> <line x1="22.2598" y1="10.4434" x2="0.726454" y2="10.4434" stroke="#1F2322"></line> <path d="M13.502 1L23.0019 10.5L13.502 20" stroke="#1F2322"></path> </svg></div>
<div class="swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-b7d4693267a9f1a3" aria-disabled="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="21" viewbox="0 0 24 21" fill="none"> <line x1="2.19531" y1="10.5566" x2="23.7286" y2="10.5566" stroke="#1F2322"></line> <path d="M10.9492 20L1.44923 10.5L10.9492 1.00002" stroke="#1F2322"></path> </svg></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="perchasebtn"><a href="#">Purchase Options</a></div>
<div class="Continuebtn"><a href="#">Continue Shopping</a></div>
<div class="textlast">
<sup>*</sup>HSA/FSA eligible for qualifying customers</div>
</div>
</div>
</div>
</div>
</div>
</div>