<div class="append_htmlbody">
<div class="innerDivMORE">
<div class="clinical-drawer__header drawer__header mobile-fixed-header Content_div">
<p class="m-text-sans-16 text-sans-20 font-300">Hydration Drops</p>
<a class="Closed__drawer_learnMore"> <span class="text-sans-12 font-500">Close</span> <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 16 16" height="16" width="16"> <g id="Actions"> <path fill="#1F2322" d="M7.01257 7.99999L1.84943 2.83685L2.83686 1.84942L8 7.01256L13.1631 1.84942L14.1506 2.83685L8.98743 7.99999L14.1506 13.1631L13.1631 14.1506L8 8.98742L2.83686 14.1506L1.84943 13.1631L7.01257 7.99999Z" id="Expand &amp; Collapse"></path> </g> </svg> </a>
</div>
<div class="MainCOntainerLayoutLm">
<div class="slider--image">
<div class="forloopImages">
<div class="swiper-container learn__more_images_bk swiper">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="wp_slide_mgs_l">
<img loading="eager" height="1282" width="1282" srcset="//justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_2_1.jpg?crop=center&amp;height=1282&amp;v=1719812400&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_2_1.jpg?crop=center&amp;height=1282&amp;v=1719812400&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_2_1.jpg?crop=center&amp;height=1282&amp;v=1719812400&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_2_1.jpg?crop=center&amp;height=1282&amp;v=1719812400&amp;width=1282 1282w" alt="Hydration Drops" src="//justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_2_1.jpg?crop=center&amp;height=1282&amp;v=1719812400&amp;width=1282">
<div class="quick-add__product-tags">
<div class="quick-add__product-tag">Best-Seller</div>
</div>
</div>
</div>
<div class="swiper-slide">
<div class="wp_slide_mgs_l"><img loading="eager" height="1282" width="1282" srcset="//justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_3.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_3.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_3.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_3.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=1282 1282w" alt="Hydration Drops" src="//justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_3.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=1282"></div>
</div>
<div class="swiper-slide">
<div class="wp_slide_mgs_l"><img loading="eager" height="1282" width="1282" srcset="//justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_4.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_4.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_4.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_4.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=1282 1282w" alt="Hydration Drops" src="//justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_4.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=1282"></div>
</div>
<div class="swiper-slide">
<div class="wp_slide_mgs_l"><img loading="eager" height="1282" width="1282" srcset="//justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_5.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=352 352w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_5.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=832 832w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_5.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=1200 1200w, //justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_5.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=1282 1282w" alt="Hydration Drops" src="//justaddbuoy.com/cdn/shop/files/PDP_Hydration_Drops_Hero_5.jpg?crop=center&amp;height=1282&amp;v=1719812401&amp;width=1282"></div>
</div>
</div>
<div class="swiper-pagination"></div>
<div class="commanDivButton">
<div class="swiper-button-next"><svg fill="none" viewbox="0 0 24 21" height="21" width="24" xmlns="http://www.w3.org/2000/svg"> <line stroke="#1F2322" y2="10.4434" x2="0.726454" y1="10.4434" x1="22.2598"></line> <path stroke="#1F2322" d="M13.502 1L23.0019 10.5L13.502 20"></path> </svg></div>
<div class="swiper-button-prev"><svg fill="none" viewbox="0 0 24 21" height="21" width="24" xmlns="http://www.w3.org/2000/svg"> <line stroke="#1F2322" y2="10.5566" x2="23.7286" y1="10.5566" x1="2.19531"></line> <path stroke="#1F2322" d="M10.9492 20L1.44923 10.5L10.9492 1.00002"></path> </svg></div>
</div>
</div>
</div>
</div>
<div class="svg_icons"><a href="#Product_Reviews">
<div data-oke-reviews-product-listing-rating="">
<div class="okeReviews okeReviews--theme" data-oke-reviews-version="2.16.15">
<div data-oke-ga-click-label="Hydration Drops" data-oke-ga-click-action="Star Rating Summary Click" class="okeReviews-reviewsSummary js-okeReviews-reviewsSummary">
<div class="okeReviews-reviewsSummary-starRating"><span class="okeReviews-starRating okeReviews-starRating--small"> <span class="okeReviews-a11yText">4.7/ 5</span> <span role="presentation" class="okeReviews-starRating-indicator"> <span class="okeReviews-starRating-indicator-layer"></span> <span style="width: 95%;" class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground"></span> </span> </span></div>
<div class="okeReviews-reviewsSummary-ratingCount">
<span aria-hidden="true">3862 Reviews</span> <span class="okeReviews-a11yText">Based on 3862 reviews</span>
</div>
</div>
</div>
</div>
</a></div>
<div class="product-name">
<h2>Hydration Drops</h2>
<div class="singleLinetext"><span class="Supply_Time"> Three Month Supply / 360 Servings </span></div>
<div class="descRIption">
<p style="margin-bottom: 0;"><span><meta charset="utf-8"> <strong>HSA/FSA eligible for qualified customers.</strong> Ionic ocean electrolytes + 87 trace minerals turns any drink into a hydrating beverage. No sugar, sweeteners, flavors. HSA/FSA eligible for qualified customers.</span></p>
</div>
<div class="refineButton">
<div class="btnTextDrWER"><a class="hrefcLASS">Supplement Facts</a></div>
<div class="btnTextDrWER"><a class="hrefcLASS">View Clinical Study</a></div>
</div>
<div class="perchasebtn"><a href="#">Purchase Options</a></div>
<div class="mainhsa-hsa">
<div class="icon-svg">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 18 18" height="18" width="18"> <circle fill="#DEF647" r="9" cy="9" cx="9"></circle> <path fill="#1F2322" d="M6.81108 12.244L8.99936 10.9272L11.1876 12.2588L10.6086 9.76678L12.5339 8.09526L9.99434 7.87087L8.99936 5.52621L8.00438 7.85614L5.4648 8.08053L7.39017 9.75772L6.81108 12.244ZM5.80252 13.6379L6.64677 10.0025L3.82617 7.55811L7.5477 7.23515L8.99936 3.80713L10.451 7.23515L14.1726 7.55811L11.352 10.0025L12.1962 13.6379L8.99936 11.7091L5.80252 13.6379Z"></path> </svg>
<p>HSA/FSA Eligible<sup>*</sup></p>
</div>
</div>
<div class="productDivTest">
<div class="drawer__info">
<ul class="drawer__info-list">
<li class="drawer__info-list-item">
<svg fill="none" viewbox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M8.25 16.8L12 13.05L15.75 16.8L16.8 15.75L13.05 12L16.8 8.25L15.75 7.2L12 10.95L8.25 7.2L7.2 8.25L10.95 12L7.2 15.75L8.25 16.8ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z"></path> </svg> <span>No Sugar, Sweeteners, Flavors</span>
</li>
<li class="drawer__info-list-item">
<svg fill="none" viewbox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M9.825 19.875L16.8 11.5H12.3L13.2 4.35L6.875 13.5H10.725L9.825 19.875ZM8 22L9 15H4L13 2H15L14 10H20L10 22H8Z"></path> </svg> <span> 87 Trace Minerals</span>
</li>
<li class="drawer__info-list-item">
<svg fill="none" viewbox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M2 17.725V16.225C2.63333 16.225 3.14583 16.0333 3.5375 15.65C3.92917 15.2666 4.5 15.075 5.25 15.075C6 15.075 6.58333 15.3 7 15.75C7.41667 16.2 7.95 16.425 8.6 16.425C9.25 16.425 9.79167 16.2 10.225 15.75C10.6583 15.3 11.25 15.075 12 15.075C12.75 15.075 13.3375 15.3 13.7625 15.75C14.1875 16.2 14.725 16.425 15.375 16.425C16.025 16.425 16.5625 16.2 16.9875 15.75C17.4125 15.3 18 15.075 18.75 15.075C19.5 15.075 20.0708 15.2666 20.4625 15.65C20.8542 16.0333 21.3667 16.225 22 16.225V17.725C21.2167 17.725 20.6375 17.5333 20.2625 17.15C19.8875 16.7666 19.3833 16.575 18.75 16.575C18.1167 16.575 17.5833 16.8 17.15 17.25C16.7167 17.7 16.125 17.925 15.375 17.925C14.625 17.925 14.0333 17.7 13.6 17.25C13.1667 16.8 12.6333 16.575 12 16.575C11.3667 16.575 10.8292 16.8 10.3875 17.25C9.94583 17.7 9.35 17.925 8.6 17.925C7.85 17.925 7.2625 17.7 6.8375 17.25C6.4125 16.8 5.88333 16.575 5.25 16.575C4.61667 16.575 4.1125 16.7666 3.7375 17.15C3.3625 17.5333 2.78333 17.725 2 17.725ZM2 13.725V12.225C2.63333 12.225 3.14583 12.0333 3.5375 11.65C3.92917 11.2666 4.5 11.075 5.25 11.075C6 11.075 6.58333 11.3 7 11.75C7.41667 12.2 7.95 12.425 8.6 12.425C9.25 12.425 9.79167 12.2 10.225 11.75C10.6583 11.3 11.25 11.075 12 11.075C12.75 11.075 13.3375 11.3 13.7625 11.75C14.1875 12.2 14.725 12.425 15.375 12.425C16.025 12.425 16.5625 12.2 16.9875 11.75C17.4125 11.3 18 11.075 18.75 11.075C19.5 11.075 20.0708 11.2666 20.4625 11.65C20.8542 12.0333 21.3667 12.225 22 12.225V13.725C21.2167 13.725 20.6375 13.5333 20.2625 13.15C19.8875 12.7666 19.3833 12.575 18.75 12.575C18.1167 12.575 17.5833 12.8 17.15 13.25C16.7167 13.7 16.125 13.925 15.375 13.925C14.625 13.925 14.0333 13.7 13.6 13.25C13.1667 12.8 12.6333 12.575 12 12.575C11.3667 12.575 10.8292 12.8 10.3875 13.25C9.94583 13.7 9.35 13.925 8.6 13.925C7.85 13.925 7.2625 13.7 6.8375 13.25C6.4125 12.8 5.88333 12.575 5.25 12.575C4.61667 12.575 4.1125 12.7666 3.7375 13.15C3.3625 13.5333 2.78333 13.725 2 13.725ZM2 9.72495V8.22495C2.63333 8.22495 3.14583 8.03328 3.5375 7.64995C3.92917 7.26662 4.5 7.07495 5.25 7.07495C6 7.07495 6.58333 7.29995 7 7.74995C7.41667 8.19995 7.95 8.42495 8.6 8.42495C9.25 8.42495 9.79167 8.19995 10.225 7.74995C10.6583 7.29995 11.25 7.07495 12 7.07495C12.75 7.07495 13.3375 7.29995 13.7625 7.74995C14.1875 8.19995 14.725 8.42495 15.375 8.42495C16.025 8.42495 16.5625 8.19995 16.9875 7.74995C17.4125 7.29995 18 7.07495 18.75 7.07495C19.5 7.07495 20.0708 7.26662 20.4625 7.64995C20.8542 8.03328 21.3667 8.22495 22 8.22495V9.72495C21.2167 9.72495 20.6375 9.53328 20.2625 9.14995C19.8875 8.76662 19.3833 8.57495 18.75 8.57495C18.1167 8.57495 17.5833 8.79995 17.15 9.24995C16.7167 9.69995 16.125 9.92495 15.375 9.92495C14.625 9.92495 14.0333 9.69995 13.6 9.24995C13.1667 8.79995 12.6333 8.57495 12 8.57495C11.3667 8.57495 10.8292 8.79995 10.3875 9.24995C9.94583 9.69995 9.35 9.92495 8.6 9.92495C7.85 9.92495 7.2625 9.69995 6.8375 9.24995C6.4125 8.79995 5.88333 8.57495 5.25 8.57495C4.61667 8.57495 4.1125 8.76662 3.7375 9.14995C3.3625 9.53328 2.78333 9.72495 2 9.72495Z"></path> </svg> <span> Ocean-Harvested</span>
</li>
<li class="drawer__info-list-item">
<svg fill="none" viewbox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M11.975 18.8C12.2417 18.8 12.4458 18.7542 12.5875 18.6625C12.7292 18.5708 12.8 18.4333 12.8 18.25C12.8 18.0667 12.7292 17.925 12.5875 17.825C12.4458 17.725 12.2333 17.675 11.95 17.675C11.25 17.675 10.5375 17.4542 9.8125 17.0125C9.0875 16.5708 8.625 15.7917 8.425 14.675C8.39167 14.525 8.31667 14.4042 8.2 14.3125C8.08333 14.2208 7.95833 14.175 7.825 14.175C7.64167 14.175 7.5 14.2458 7.4 14.3875C7.3 14.5292 7.26667 14.675 7.3 14.825C7.55 16.225 8.14167 17.2375 9.075 17.8625C10.0083 18.4875 10.975 18.8 11.975 18.8ZM12 22C9.71667 22 7.8125 21.2167 6.2875 19.65C4.7625 18.0833 4 16.1333 4 13.8C4 12.1333 4.6625 10.3208 5.9875 8.3625C7.3125 6.40417 9.31667 4.28333 12 2C14.6833 4.28333 16.6875 6.40417 18.0125 8.3625C19.3375 10.3208 20 12.1333 20 13.8C20 16.1333 19.2375 18.0833 17.7125 19.65C16.1875 21.2167 14.2833 22 12 22ZM12 20.5C13.8667 20.5 15.4167 19.8625 16.65 18.5875C17.8833 17.3125 18.5 15.7167 18.5 13.8C18.5 12.4833 17.9458 10.9875 16.8375 9.3125C15.7292 7.6375 14.1167 5.86667 12 4C9.88333 5.86667 8.27083 7.6375 7.1625 9.3125C6.05417 10.9875 5.5 12.4833 5.5 13.8C5.5 15.7167 6.11667 17.3125 7.35 18.5875C8.58333 19.8625 10.1333 20.5 12 20.5Z"></path> </svg> <span> 3x More Bioavailable</span>
</li>
<li class="drawer__info-list-item">
<svg fill="none" viewbox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z"></path> </svg> <span> Add To Any Drink</span>
</li>
</ul>
</div>
</div>
<div class="image-with-dropdowns__content">
<div class="image-with-dropdowns__dropdown">
<div class="ProductListedFaq__container">
<div class="image-with-dropdowns__content-point healthBenifits__layout active">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>Health Benefits</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg fill="none" viewbox="0 0 18 17" height="17" width="18" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z"></path> </svg></span> <span class="minus_in"><svg fill="none" viewbox="0 0 18 17" height="17" width="18" xmlns="http://www.w3.org/2000/svg"> <rect fill="#1F2322" height="1.48" width="17.8571" y="7.76001" x="0.142578"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="HealthBenifits__Wrapper">
<div class="Container__benifts__wp">
<div class="natura_ds_br">Nature’s Original Mineral Boost™ that helps conduct the electricity that powers your cognitive and nervous system so you can feel and move your best.</div>
<div class="Wp__ingredient__xt">
<div class="wp_benifts__xt_lyt">
<div class="icon_wp_bnft"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" height="24" width="24"> <path fill="#1F2322" d="M9.825 19.875L16.8 11.5H12.3L13.2 4.35L6.875 13.5H10.725L9.825 19.875ZM8 22L9 15H4L13 2H15L14 10H20L10 22H8Z"></path> </svg></div>
<div class="details_wp_xt">
<div class="xt_title_bnf">Energy</div>
<div class="dsc_bnf">Ionic ocean electrolytes and trace minerals for cellular hydration and natural energy.</div>
</div>
</div>
<div class="wp_benifts__xt_lyt">
<div class="icon_wp_bnft"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 30 30" height="30" width="30"> <path fill="#1F2322" d="M12.0312 26.25C10.9688 26.25 10.0677 25.8542 9.32812 25.0625C8.58854 24.2708 8.16667 23.375 8.0625 22.375C6.83333 22.2708 5.80729 21.7552 4.98438 20.8281C4.16146 19.901 3.75 18.7708 3.75 17.4375C3.75 16.9792 3.80729 16.5365 3.92188 16.1094C4.03646 15.6823 4.20833 15.2708 4.4375 14.875C4.20833 14.5 4.03646 14.1042 3.92188 13.6875C3.80729 13.2708 3.75 12.8229 3.75 12.3438C3.75 11.0938 4.18229 10.0208 5.04688 9.125C5.91146 8.22917 6.9375 7.70833 8.125 7.5625C8.16667 6.5 8.56771 5.59896 9.32812 4.85938C10.0885 4.11979 11 3.75 12.0625 3.75C12.6667 3.75 13.2031 3.85938 13.6719 4.07812C14.1406 4.29688 14.5833 4.61458 15 5.03125C15.4167 4.61458 15.8542 4.29688 16.3125 4.07812C16.7708 3.85938 17.3021 3.75 17.9062 3.75C18.9479 3.75 19.8438 4.11979 20.5938 4.85938C21.3438 5.59896 21.75 6.5 21.8125 7.5625C23.0208 7.66667 24.0625 8.17188 24.9375 9.07812C25.8125 9.98438 26.25 11.0729 26.25 12.3438C26.25 12.8229 26.1875 13.276 26.0625 13.7031C25.9375 14.1302 25.7604 14.5312 25.5312 14.9062C25.7604 15.3229 25.9375 15.7604 26.0625 16.2188C26.1875 16.6771 26.25 17.125 26.25 17.5625C26.25 18.8958 25.8385 20.0052 25.0156 20.8906C24.1927 21.776 23.1667 22.2708 21.9375 22.375C21.8333 23.375 21.4062 24.2708 20.6562 25.0625C19.9062 25.8542 19.0104 26.25 17.9688 26.25C17.3438 26.25 16.8021 26.1458 16.3438 25.9375C15.8854 25.7292 15.4375 25.4167 15 25C14.5625 25.4167 14.1146 25.7292 13.6562 25.9375C13.1979 26.1458 12.6562 26.25 12.0312 26.25ZM15.9375 7.5V22.5C15.9375 23.0208 16.1406 23.4635 16.5469 23.8281C16.9531 24.1927 17.4375 24.375 18 24.375C18.5417 24.375 19.0104 24.1354 19.4062 23.6562C19.8021 23.1771 20.0208 22.6875 20.0625 22.1875C19.5833 22.0208 19.1354 21.7969 18.7188 21.5156C18.3021 21.2344 17.9479 20.8854 17.6562 20.4688C17.4896 20.2396 17.4271 20.0052 17.4688 19.7656C17.5104 19.526 17.6458 19.3229 17.875 19.1562C18.1042 18.9896 18.3385 18.9271 18.5781 18.9688C18.8177 19.0104 19.0208 19.1458 19.1875 19.375C19.4583 19.75 19.7917 20.0365 20.1875 20.2344C20.5833 20.4323 21.0208 20.5312 21.5 20.5312C22.2917 20.5312 22.9688 20.2604 23.5312 19.7188C24.0938 19.1771 24.375 18.4583 24.375 17.5625C24.375 17.375 24.3542 17.1823 24.3125 16.9844C24.2708 16.7865 24.2292 16.5833 24.1875 16.375C23.8125 16.6458 23.401 16.849 22.9531 16.9844C22.5052 17.1198 22.0417 17.1875 21.5625 17.1875C21.2917 17.1875 21.0677 17.099 20.8906 16.9219C20.7135 16.7448 20.625 16.5208 20.625 16.25C20.625 15.9792 20.7135 15.7552 20.8906 15.5781C21.0677 15.401 21.2917 15.3125 21.5625 15.3125C22.3542 15.3125 23.0208 15.0208 23.5625 14.4375C24.1042 13.8542 24.375 13.1562 24.375 12.3438C24.375 11.5521 24.0833 10.875 23.5 10.3125C22.9167 9.75 22.25 9.44792 21.5 9.40625C21.2917 9.90625 20.9948 10.349 20.6094 10.7344C20.224 11.1198 19.7812 11.4062 19.2812 11.5938C19.0312 11.6979 18.7917 11.6927 18.5625 11.5781C18.3333 11.4635 18.1771 11.2812 18.0938 11.0312C18.0104 10.7812 18.0208 10.5365 18.125 10.2969C18.2292 10.0573 18.4062 9.89583 18.6562 9.8125C19.0312 9.6875 19.3385 9.4375 19.5781 9.0625C19.8177 8.6875 19.9375 8.26042 19.9375 7.78125C19.9375 7.17708 19.7396 6.66667 19.3438 6.25C18.9479 5.83333 18.4792 5.625 17.9375 5.625C17.3958 5.625 16.9271 5.80729 16.5312 6.17188C16.1354 6.53646 15.9375 6.97917 15.9375 7.5ZM14.0625 22.5V7.5C14.0625 6.97917 13.8698 6.53646 13.4844 6.17188C13.099 5.80729 12.625 5.625 12.0625 5.625C11.5208 5.625 11.0469 5.83333 10.6406 6.25C10.2344 6.66667 10.0312 7.17708 10.0312 7.78125C10.0312 8.26042 10.1458 8.68229 10.375 9.04688C10.6042 9.41146 10.9062 9.65625 11.2812 9.78125C11.5312 9.86458 11.7135 10.026 11.8281 10.2656C11.9427 10.5052 11.9583 10.7396 11.875 10.9688C11.7708 11.2188 11.599 11.4062 11.3594 11.5312C11.1198 11.6562 10.875 11.6667 10.625 11.5625C10.125 11.3958 9.6875 11.1198 9.3125 10.7344C8.9375 10.349 8.64583 9.90625 8.4375 9.40625C7.70833 9.46875 7.05729 9.77604 6.48438 10.3281C5.91146 10.8802 5.625 11.5521 5.625 12.3438C5.625 13.1562 5.89583 13.8542 6.4375 14.4375C6.97917 15.0208 7.64583 15.3125 8.4375 15.3125C8.70833 15.3125 8.93229 15.401 9.10938 15.5781C9.28646 15.7552 9.375 15.9792 9.375 16.25C9.375 16.5208 9.28646 16.7448 9.10938 16.9219C8.93229 17.099 8.70833 17.1875 8.4375 17.1875C7.95833 17.1875 7.49479 17.1146 7.04688 16.9688C6.59896 16.8229 6.1875 16.625 5.8125 16.375C5.75 16.5417 5.70312 16.7188 5.67188 16.9062C5.64062 17.0938 5.625 17.2812 5.625 17.4688C5.625 18.3646 5.90104 19.099 6.45312 19.6719C7.00521 20.2448 7.67708 20.5312 8.46875 20.5312C8.92708 20.5312 9.35938 20.4271 9.76562 20.2188C10.1719 20.0104 10.5104 19.7292 10.7812 19.375C10.9479 19.1667 11.1562 19.0365 11.4062 18.9844C11.6562 18.9323 11.8854 18.9896 12.0938 19.1562C12.3021 19.3229 12.4323 19.5312 12.4844 19.7812C12.5365 20.0312 12.4792 20.2604 12.3125 20.4688C12.0208 20.8854 11.6719 21.2344 11.2656 21.5156C10.8594 21.7969 10.4167 22.0208 9.9375 22.1875C9.97917 22.6875 10.1979 23.1771 10.5938 23.6562C10.9896 24.1354 11.4688 24.375 12.0312 24.375C12.5938 24.375 13.0729 24.1927 13.4688 23.8281C13.8646 23.4635 14.0625 23.0208 14.0625 22.5Z"></path> </svg></div>
<div class="details_wp_xt">
<div class="xt_title_bnf">Brain Function</div>
<div class="dsc_bnf">Brain-activating minerals reduce brain fog and mental fatigue while boosting memory and focus.</div>
</div>
</div>
<div class="wp_benifts__xt_lyt">
<div class="icon_wp_bnft"><svg fill="none" viewbox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M3 22V16C3 15.2333 3.26736 14.5833 3.80207 14.05C4.33681 13.5167 4.98612 13.25 5.75 13.25H7.75C9 13.25 9.85417 12.975 10.3125 12.425C10.7708 11.875 11 11.2333 11 10.5C11 9.96667 10.8563 9.54167 10.5688 9.225C10.2813 8.90833 9.925 8.75 9.5 8.75C9.0875 8.75 8.73438 8.60313 8.44063 8.30938C8.14688 8.01563 8 7.6625 8 7.25V2H9.5V7.25C9.53333 7.25 9.53333 7.25 9.5 7.25C10.3333 7.25 11.0417 7.55417 11.625 8.1625C12.2083 8.77083 12.5 9.55 12.5 10.5C12.5 11.65 12.125 12.6458 11.375 13.4875C10.625 14.3292 9.41667 14.75 7.75 14.75H5.75C5.39583 14.75 5.09896 14.8698 4.85938 15.1094C4.61979 15.349 4.5 15.6458 4.5 16V22H3ZM9 22H7.5V20C7.5 19.2333 7.76736 18.5833 8.30208 18.05C8.83681 17.5167 9.48612 17.25 10.25 17.25H14.25C15.7167 17.25 16.9583 16.7417 17.975 15.725C18.9917 14.7083 19.5 13.4667 19.5 12V11C19.5 9.53333 18.95 8.29167 17.85 7.275C16.75 6.25833 15.4667 5.75 14 5.75C13.5875 5.75 13.2344 5.60313 12.9406 5.30938C12.6469 5.01563 12.5 4.6625 12.5 4.25V2H14V4.25C15.8667 4.25 17.5 4.90833 18.9 6.225C20.3 7.54167 21 9.13333 21 11V12C21 13.8667 20.3417 15.4583 19.025 16.775C17.7083 18.0917 16.1167 18.75 14.25 18.75H10.25C9.89583 18.75 9.59896 18.8698 9.35938 19.1094C9.11979 19.349 9 19.6458 9 20V22Z"></path> </svg></div>
<div class="details_wp_xt">
<div class="xt_title_bnf">Gut Microbiome</div>
<div class="dsc_bnf">Fortify your gut lining with 87 ionic trace minerals that balance the microbiome and enhance your gut’s inflammation response.</div>
</div>
</div>
<div class="wp_benifts__xt_lyt">
<div class="icon_wp_bnft"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 30 30" height="30" width="30"> <path fill="#1F2322" d="M12.5011 24.2727C10.3227 23.5455 8.5286 22.2455 7.11899 20.3727C5.70938 18.5 5.00458 16.3455 5.00458 13.9091C5.00458 13.3273 5.05034 12.7455 5.14188 12.1636C5.23341 11.5818 5.37986 11.0091 5.58124 10.4455L3.8238 11.4545L3 10.0636L7.75057 7.33636L10.4966 12.0273L9.06865 12.8455L7.47597 10.1455C7.21968 10.7455 7.02288 11.3636 6.88558 12C6.74828 12.6364 6.67963 13.2818 6.67963 13.9364C6.67963 16.0455 7.30664 17.9091 8.56064 19.5273C9.81465 21.1455 11.4119 22.2455 13.3524 22.8273L12.5011 24.2727ZM20.4096 10.0909V8.45455H23.5675C22.6888 7.25455 21.5858 6.31818 20.2586 5.64545C18.9314 4.97273 17.5172 4.63636 16.016 4.63636C14.7529 4.63636 13.5767 4.86364 12.4874 5.31818C11.3982 5.77273 10.4325 6.4 9.59039 7.2L8.73913 5.72727C9.72769 4.87273 10.8352 4.20455 12.0618 3.72273C13.2883 3.24091 14.5973 3 15.9886 3C17.5995 3 19.119 3.32273 20.5469 3.96818C21.9748 4.61364 23.2105 5.52727 24.254 6.70909V4.63636H25.9016V10.0909H20.4096ZM19.1739 27L14.4233 24.2727L17.1693 19.5818L18.5698 20.4L16.9771 23.1545C19.357 22.9182 21.3478 21.9227 22.9497 20.1682C24.5515 18.4136 25.3524 16.3364 25.3524 13.9364C25.3524 13.5545 25.3295 13.1818 25.2838 12.8182C25.238 12.4545 25.1693 12.0909 25.0778 11.7273H26.7803C26.8535 12.0909 26.9085 12.4545 26.9451 12.8182C26.9817 13.1818 27 13.5455 27 13.9091C27 16.5091 26.1808 18.8091 24.5423 20.8091C22.9039 22.8091 20.8124 24.0727 18.2677 24.6L19.9977 25.6091L19.1739 27Z"></path> </svg></div>
<div class="details_wp_xt">
<div class="xt_title_bnf">Glowing Skin</div>
<div class="dsc_bnf">Restore beautifying electrolytes and minerals that support supple skin and skin elasticity</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point FormFactor__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>Form Factor</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg fill="none" viewbox="0 0 18 17" height="17" width="18" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z"></path> </svg></span> <span class="minus_in"><svg fill="none" viewbox="0 0 18 17" height="17" width="18" xmlns="http://www.w3.org/2000/svg"> <rect fill="#1F2322" height="1.48" width="17.8571" y="7.76001" x="0.142578"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="wp__formLayoutExpanded">
<div class="Wp__formFactor_layout">
<div class="Grid__form_factor">
<div class="mg_vd__gridftt"><video poster="//justaddbuoy.com/cdn/shop/files/preview_images/933d8e599ede4db0a2a64cfb3d6fc5b1.thumbnail.0000000000_small.jpg?v=1734362778" preload="metadata" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
<source type="video/mp4" src="//justaddbuoy.com/cdn/shop/videos/c/vp/933d8e599ede4db0a2a64cfb3d6fc5b1/933d8e599ede4db0a2a64cfb3d6fc5b1.SD-480p-0.9Mbps-39763679.mp4?v=0"><img src="//justaddbuoy.com/cdn/shop/files/preview_images/933d8e599ede4db0a2a64cfb3d6fc5b1.thumbnail.0000000000_small.jpg?v=1734362778"></video></div>
<div class="mg_vd__griddsc">
<div class="lb_factortilt">Liquid Drops</div>
<div class="lb_factor_dc">Up to 3x more bioavailable than traditional supplement forms.</div>
</div>
</div>
</div>
<div class="Wp__formFactor_layout">
<div class="Grid__form_factor">
<div class="mg_vd__gridftt"></div>
<div class="mg_vd__griddsc">
<div class="lb_factortilt"></div>
<div class="lb_factor_dc"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point HowToUse__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>How to use</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg fill="none" viewbox="0 0 18 17" height="17" width="18" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z"></path> </svg></span> <span class="minus_in"><svg fill="none" viewbox="0 0 18 17" height="17" width="18" xmlns="http://www.w3.org/2000/svg"> <rect fill="#1F2322" height="1.48" width="17.8571" y="7.76001" x="0.142578"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="wp__formLayoutExpanded">
<div class="Wp__formFactor_layout">
<div class="Grid__form_factor">
<div class="mg_vd__gridftt"><video poster="//justaddbuoy.com/cdn/shop/files/preview_images/98e77784da1f41ac8cbf8076c0b51548.thumbnail.0000000000_small.jpg?v=1734362987" preload="metadata" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
<source type="video/mp4" src="//justaddbuoy.com/cdn/shop/videos/c/vp/98e77784da1f41ac8cbf8076c0b51548/98e77784da1f41ac8cbf8076c0b51548.SD-480p-0.9Mbps-39763793.mp4?v=0"><img src="//justaddbuoy.com/cdn/shop/files/preview_images/98e77784da1f41ac8cbf8076c0b51548.thumbnail.0000000000_small.jpg?v=1734362987"></video></div>
<div class="mg_vd__griddsc">
<div class="lb_factortilt">Liquid Drops</div>
<div class="lb_factor_dc">Add 1 short squeeze into any beverage 4-7x throughout the day.</div>
</div>
</div>
</div>
<div class="Wp__formFactor_layout">
<div class="Grid__form_factor">
<div class="mg_vd__gridftt"></div>
<div class="mg_vd__griddsc">
<div class="lb_factortilt"></div>
<div class="lb_factor_dc"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point Ingredients__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>Ingredients</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg fill="none" viewbox="0 0 18 17" height="17" width="18" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z"></path> </svg></span> <span class="minus_in"><svg fill="none" viewbox="0 0 18 17" height="17" width="18" xmlns="http://www.w3.org/2000/svg"> <rect fill="#1F2322" height="1.48" width="17.8571" y="7.76001" x="0.142578"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="wp_inredients__conatiner swiper">
<div class="Wp__ingedients_layout swiper-wrapper">
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">Ocean Electrolytes</div>
<div class="ind__description">Sodium, potassium, chloride and magnesium preserved in their naturally-occurring ratios and ionically charged states.</div>
</div>
</div>
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">87 Trace Minerals</div>
<div class="ind__description">Deep ocean trace minerals essential for every cell and system that over 90% of Americans are deficient in.</div>
</div>
</div>
<div class="Grid__ingedients swiper-slide">
<div class="mg_vd__gridingedients">
<div class="ind__title">B Vitamin Complex</div>
<div class="ind__description">Energizing blend of MTHFR Gene Mutation safe, bioavailable B vitamins that support routine electrolyte function.</div>
</div>
</div>
</div>
</div>
<div class="Standard__info">
<div class="ct__standard__wp">
<div class="hightestStandardWp">The Highest Standards:</div>
<ul class="drawer__info-list">
<li class="drawer__info-list-item">
<svg fill="none" viewbox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M8.25 16.8L12 13.05L15.75 16.8L16.8 15.75L13.05 12L16.8 8.25L15.75 7.2L12 10.95L8.25 7.2L7.2 8.25L10.95 12L7.2 15.75L8.25 16.8ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z"></path> </svg> <span> No Sugars, Sweeteners, Flavors</span>
</li>
<li class="drawer__info-list-item">
<svg fill="none" viewbox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M8.25 16.8L12 13.05L15.75 16.8L16.8 15.75L13.05 12L16.8 8.25L15.75 7.2L12 10.95L8.25 7.2L7.2 8.25L10.95 12L7.2 15.75L8.25 16.8ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z"></path> </svg> <span> No Artificial Ingredients or Additives</span>
</li>
<li class="drawer__info-list-item">
<svg fill="none" viewbox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z"></path> </svg> <span> Harvested, Not Manufactured</span>
</li>
<li class="drawer__info-list-item">
<svg fill="none" viewbox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z"></path> </svg> <span> Vegan + NonGMO</span>
</li>
<li class="drawer__info-list-item">
<svg fill="none" viewbox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M10.525 16.55L17.6 9.475L16.45 8.35L10.525 14.275L7.525 11.275L6.4 12.4L10.525 16.55ZM12 22C10.6333 22 9.34167 21.7375 8.125 21.2125C6.90833 20.6875 5.84583 19.9708 4.9375 19.0625C4.02917 18.1542 3.3125 17.0917 2.7875 15.875C2.2625 14.6583 2 13.3667 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.02917 5.825 4.9375 4.925C5.84583 4.025 6.90833 3.3125 8.125 2.7875C9.34167 2.2625 10.6333 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3667 21.7375 14.6583 21.2125 15.875C20.6875 17.0917 19.975 18.1542 19.075 19.0625C18.175 19.9708 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22ZM12 20.5C14.3667 20.5 16.375 19.6708 18.025 18.0125C19.675 16.3542 20.5 14.35 20.5 12C20.5 9.63333 19.675 7.625 18.025 5.975C16.375 4.325 14.3667 3.5 12 3.5C9.65 3.5 7.64583 4.325 5.9875 5.975C4.32917 7.625 3.5 9.63333 3.5 12C3.5 14.35 4.32917 16.3542 5.9875 18.0125C7.64583 19.6708 9.65 20.5 12 20.5Z"></path> </svg> <span> Gluten &amp; Major Allergen Free</span>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="image-with-dropdowns__content-point Reviews__layout">
<div class="image-with-dropdowns__q">
<div class="image-with-dropdowns__content-text">
<h5>Reviews</h5>
</div>
<div class="image-with-dropdowns__x">
<span class="plus_in"><svg fill="none" viewbox="0 0 18 17" height="17" width="18" xmlns="http://www.w3.org/2000/svg"> <path fill="#1F2322" d="M8.29189 9.24186H0.142578L0.142578 7.75814L8.29189 7.75814V0L9.85041 0V7.75814H17.9997V9.24186L9.85041 9.24186L9.85041 17H8.29189L8.29189 9.24186Z"></path> </svg></span> <span class="minus_in"><svg fill="none" viewbox="0 0 18 17" height="17" width="18" xmlns="http://www.w3.org/2000/svg"> <rect fill="#1F2322" height="1.48" width="17.8571" y="7.76001" x="0.142578"></rect> </svg></span>
</div>
</div>
<div class="image-with-dropdowns__a image-with-dropdowns__a_2 bng">
<div class="Review__details_odo"><a href="#Product_Reviews">
<div data-oke-reviews-product-listing-rating="">
<div class="okeReviews okeReviews--theme" data-oke-reviews-version="2.16.15">
<div data-oke-ga-click-label="Hydration Drops" data-oke-ga-click-action="Star Rating Summary Click" class="okeReviews-reviewsSummary js-okeReviews-reviewsSummary">
<div class="okeReviews-reviewsSummary-starRating"><span class="okeReviews-starRating okeReviews-starRating--small"> <span class="okeReviews-a11yText">4.7/ 5</span> <span role="presentation" class="okeReviews-starRating-indicator"> <span class="okeReviews-starRating-indicator-layer"></span> <span style="width: 95%;" class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground"></span> </span> </span></div>
<div class="okeReviews-reviewsSummary-ratingCount">
<span aria-hidden="true">3862 Reviews</span> <span class="okeReviews-a11yText">Based on 3862 reviews</span>
</div>
</div>
</div>
</div>
</a></div>
<div class="static_html_pdp_rv">
<div class="Testimonials_Slider swiper swiper-container_ts_cv">
<div class="swiper-wrapper">
<div class="Testimonials_Wrapper swiper-slide">
<div style="position: relative;">
<div class="video-tag">
<p>Keto Diet</p>
</div>
<div class="reviews_button hide-mobile"><img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Exclude.png?v=1699317160"></div>
<video preload="metadata" loop="loop" muted="" class="hide-mobile">
<source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/7f8640be01004decb02789e30078e5aa.mp4#t=0.1"></video> <video playsinline="" loop="loop" muted="" autoplay="autoplay" class="hide-desktop" webkit-playsinline="">
<source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/7f8640be01004decb02789e30078e5aa.mp4"></video>
</div>
<span class="Testimonials_Rating"></span>
<div class="testimonial_text">
<p>"My favorite sugar-free electrolyte"</p>
</div>
</div>
<div class="Testimonials_Wrapper swiper-slide">
<div style="position: relative;">
<div class="video-tag">
<p>Gut Health</p>
</div>
<div class="reviews_button hide-mobile"><img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Exclude.png?v=1699317160"></div>
<video preload="metadata" loop="loop" muted="" class="hide-mobile">
<source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/cbeccb55f5404b95add6594b63a295d9.mp4#t=0.1"></video> <video playsinline="" loop="loop" muted="" autoplay="autoplay" class="hide-desktop" webkit-playsinline="">
<source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/cbeccb55f5404b95add6594b63a295d9.mp4"></video>
</div>
<span class="Testimonials_Rating"></span>
<div class="testimonial_text">
<p>"These don't wreck my gut like the stevia ones!"</p>
</div>
</div>
<div class="Testimonials_Wrapper swiper-slide">
<div style="position: relative;">
<div class="video-tag">
<p>Brain Health</p>
</div>
<div class="reviews_button hide-mobile"><img src="https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Exclude.png?v=1699317160"></div>
<video preload="metadata" loop="loop" muted="" class="hide-mobile">
<source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/189add4be5af48afb60d2e817cb851d5.mp4#t=0.1"></video> <video playsinline="" loop="loop" muted="" autoplay="autoplay" class="hide-desktop" webkit-playsinline="">
<source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/189add4be5af48afb60d2e817cb851d5.mp4"></video>
</div>
<span class="Testimonials_Rating"></span>
<div class="testimonial_text">
<p>“I sh<sup>*</sup>t you not my headaches are gone"</p>
</div>
</div>
</div>
<div class="commanDivButton">
<div class="swiper-button-next"><svg fill="none" viewbox="0 0 24 21" height="21" width="24" xmlns="http://www.w3.org/2000/svg"> <line stroke="#1F2322" y2="10.4434" x2="0.726454" y1="10.4434" x1="22.2598"></line> <path stroke="#1F2322" d="M13.502 1L23.0019 10.5L13.502 20"></path> </svg></div>
<div class="swiper-button-prev"><svg fill="none" viewbox="0 0 24 21" height="21" width="24" xmlns="http://www.w3.org/2000/svg"> <line stroke="#1F2322" y2="10.5566" x2="23.7286" y1="10.5566" x1="2.19531"></line> <path stroke="#1F2322" d="M10.9492 20L1.44923 10.5L10.9492 1.00002"></path> </svg></div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="perchasebtn"><a href="#">Purchase Options</a></div>
<div class="Continuebtn"><a href="#">Continue Shopping</a></div>
<div class="textlast">
<sup>*</sup>HSA/FSA eligible for qualifying customers</div>
</div>
</div>
</div>
</div>
</div>
</div>