<div class="Border_Section">
</div>
{% schema %}
  {
    "name": "Border Section",
    "settings": [
    ],
    "presets": [
      {
        "name": "Border Section"
      }
    ]
  }
{% endschema %}
