<div class="chronic-review">
  <div class="page-width">
    <div class="chronic-review-grid">
      Chronic Review
    </div>
  </div>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
      // Your code here will run once the DOM is fully loaded
      console.log("DOM fully loaded and parsed");
      
      // Example: You can place your specific JavaScript code here
  });

</script>

{% schema %}
  {
    "name": "Chronic Review",
    "settings": [],
    "presets": [
      {
        "name": "Chronic Review"
      }
    ]
  }
{% endschema %}