<div class="chronic-review">
  <div class="page-width">
    <div class="chronic-review-grid">
      Chronic Review
    </div>
  </div>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {

    function fetchReview(){
      let reviewsData = [];
      fetch('https://api.okendo.io/v1/stores/ddccf316-2614-49f7-8641-7b411da6bacb/collections/f5674d90-31fa-4ed2-894d-c1a20608af17/reviews')
      .then(response => response.json())
      .then(data => reviewsData = data)
      .catch(error => console.error('Error fetching reviews:', error));
      return reviewsData;
    }
      // Your code here will run once the DOM is fully loaded
      console.log("DOM fully loaded and parsed");

    let data = fetchReview();
    console.log("data", data)      // Example: You can place your specific JavaScript code here
  });

</script>

{% schema %}
  {
    "name": "Chronic Review",
    "settings": [],
    "presets": [
      {
        "name": "Chronic Review"
      }
    ]
  }
{% endschema %}