{{ 'section-chronic-illness-submitted.css' | asset_url | stylesheet_tag }}

<div>
  <div></div>
  <div></div>
</div>
{% schema %}
  {
    "name": "Chronic Illness Submitted",
    "settings": [
      {
        "type": "text",
        "id": "video_url",
        "label": "Video Url"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "textarea",
        "id": "text_bottom",
        "label": "Bottom Text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "textarea",
        "id": "background",
        "label": "Background Style"
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "emoji",
            "label": "Emoji"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Chronic Illness Submitted"
      }
    ]
  }
{% endschema %}