<div class="chronic-review">
  <div class="page-width">
    <div class="chronic-review-grid">
      
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Chronic Review",
    "settings": [],
    "presets": [
      {
        "name": "Chronic Review"
      }
    ]
  }
{% endschema %}