{{ 'section-chronic-illness-slide-out.css' | asset_url | stylesheet_tag }}

<div class="chronic-illness-slide-out">
  <div class="chronic-illness-slide-out__inner">
    <div class="chronic-illness-slide-out__header">
      <button class="chronic-illness-slide-out__close">
        {% render 'icon-arrow-left' %}
      </button>
      <p class="sh4 light">{{ section.settings.title }}</p>
    </div>
    <div class="chronic-illness-slide-out__content">

    </div>
  </div>
  <div class="chronic-illness-slide-out__second">
    <div class="chronic-illness-slide-out__second-header">
      <button class="chronic-illness-slide-out__second-back">
        {% render 'icon-arrow-left' %}
      </button>
      <p class="sh4 light">Maybe Later</p>
    </div>
    <div class="chronic-illness-slide-out__second-content">

      
    </div>
  </div>
</div>
 
{% javascript %}
$('[href="#chronic"]').click(function() {
$('.chronic-illness-slide-out').addClass('active');
    $('.page-overlay').addClass('is-visible');
 
    $('body').click(function(e) {
      const target = e.target;
      if ($(target).hasClass('page-overlay')) {
        $('.chronic-illness-slide-out').removeClass('active');
        $('.page-overlay').removeClass('is-visible');
      }
    });
  });

  $('.chronic-illness-slide-out__close').click(function() {
    $('.chronic-illness-slide-out').removeClass('active');
    $('.page-overlay').removeClass('is-visible');
  });

  $('.has-second-slide').click(function() {
    $('.chronic-illness-slide-out').addClass('show-second');
  });

  $('.chronic-illness-slide-out__second-back').click(function() {
    $('.chronic-illness-slide-out').removeClass('show-second');
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Chronic Illness Slide Out",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "marquee",
        "label": "Marquee Items",
        "info": "Separate each item with a comma and no space."
      },
      {
        "type": "text",
        "id": "button_label_1",
        "label": "Button 1 Label"
      },
      {
        "type": "url",
        "id": "button_link_1",
        "label": "Button 1 Link"
      },
      {
        "type": "text",
        "id": "button_label_2",
        "label": "Button 2 Label"
      },
      {
        "type": "url",
        "id": "button_link_2",
        "label": "Button 2 Link"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "checkbox",
            "id": "show_second_slide",
            "label": "Show Second Slide"
          },
          {
            "type": "image_picker",
            "id": "second_image",
            "label": "Second Image"
          },
          {
            "type": "textarea",
            "id": "second_description",
            "label": "Second Description"
          }
        ]
      }
    ]
  }
{% endschema %}