<div class="chronic-review">
  <div class="page-width">
    <div id="chronic-review-container"></div>
    <div class="load-more-reviews-wrapper">
      <button id="load-more-reviews">Load More Amazing Stories</button>
    </div>
    
  </div>
</div>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", async function() {
    function toggleLoadMore(data) {
        let loadMoreReviewsBtn = document.getElementById('load-more-reviews');
        if (loadMoreReviewsBtn) {
            if (data?.nextUrl) {
                if (loadMoreReviewsBtn.classList.contains('hidden')) {
                    loadMoreReviewsBtn.classList.remove('hidden');
                }
            } else {
                loadMoreReviewsBtn.classList.add('hidden');
            }
        }
    }

    function loadReviews(data) {
      let reviews = data?.reviews;
      if(reviews?.length > 0){
        const reviewContainer = document.getElementById('chronic-review-container');
    
        // Loop through the itemsArray and add grid items
        reviews?.forEach(item => {
            // Create a div element for each grid item
            const gridItem = document.createElement('div');
            gridItem.classList.add('review-grid-item');
    
            // Set the inner HTML of the grid item
            gridItem.innerHTML = `
                <span class="okeReviews-starRating-indicator" role="presentation rating-${item?.rating}">
                  <span class="okeReviews-starRating-indicator-layer"></span>
                  <span class="okeReviews-starRating-indicator-layer okeReviews-starRating-indicator-layer--foreground" style="width: 80%"></span>
                </span>
                <h3>${item?.title}</h3>
                <p>${item?.body}</p>
                <p>${item?.reviewer?.displayName}</p>
            `;
            reviewContainer.appendChild(gridItem);
        });

      }
    }
  
      async function fetchReview(nextPageUrl) {
          let url = 'https://api.okendo.io/v1/stores/ddccf316-2614-49f7-8641-7b411da6bacb/collections/f5674d90-31fa-4ed2-894d-c1a20608af17/reviews';
          if(nextPageUrl){
            url = nextPageUrl
          }
          try {
              const response = await fetch(url);
              const data = await response.json();
              return data;
          } catch (error) {
              console.error('Error fetching reviews:', error);
              return null;
          }
      }

      const data = await fetchReview();  // Load the first 8 reviews
      if(data){
        toggleLoadMore(data);
        loadReviews(data)
      }
      // Example: Load more reviews when a button is clicked
     let loadMoreReviewsBtn = document.getElementById('load-more-reviews');
     if (loadMoreReviewsBtn) {
        loadMoreReviewsBtn.addEventListener('click', async function() {
            loadMoreReviewsBtn.disabled = true;
            if (data?.nextUrl) {
                let nextPageUrl = `https://api.okendo.io/v1${data.nextUrl}`;
                const moreReviews = await fetchReview(nextPageUrl);
                if (moreReviews) {
                    loadMoreReviewsBtn.disabled = false;
                    toggleLoadMore(moreReviews);
                    loadReviews(moreReviews);
                }
            }
        });
    }
    
  });



</script>

{% schema %}
  {
    "name": "Chronic Review",
    "settings": [],
    "presets": [
      {
        "name": "Chronic Review"
      }
    ]
  }
{% endschema %}