{{ 'section-image-slider.css' | asset_url | stylesheet_tag }} 

<div class="image-slider__container"> 
  <div class="page-width">
    <h2 class="h3">{{ section.settings.title }}</h3>
    <p class="image-slider__subtitle sh4">{{ section.settings.subtext }}</p>
  </div>
</div>