{{ 'section-image-slider.css' | asset_url | stylesheet_tag }} 

<div class="image-slider__container"> 
  <div class="page-width">
    <h2 class="h3">{{ section.settings.title }}</h3>
    <p class="image-slider__subtitle sh4">{{ section.settings.subtext }}</p>
  </div>
  <div>
    {{ section.settings.svg }}
  </div>
</div>


{% schema %}
  {
    "name": "Image Slider",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "subtext",
        "label": "Subtext"
      },
      {
        "type": "textarea",
        "id": "svg",
        "label": "SVG"
      }
    ],
    "presets": [
      {
        "name": "Image Slider"
      }
    ]
  }
{% endschema %}