{{ 'section-landing-image-signup.css' | asset_url | stylesheet_tag }} 

<div class="landing-signup__container">
  <div class="page-width">
    <div class="landing-signup__signup">
      <div class="klaviyo-form-U7pg8S"></div>
    </div>
    <div class="landing-signup__image">
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Landing Image Signup",
    "settings": [
      {
        "type": "text",
        "id": "video_url",
        "label": "Video URL (optional)"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image (optional)"
      }
    ],
    "presets": [
      {
        "name": "Landing Image Signup"
      }
    ]
  }
{% endschema %}