<div class="newsletter-footer">
  <div class="newsletter-footer__text">
    <div class="newsletter-footer__text-container">
      <h4>{{ section.settings.title }}</h4>
      <p>{{ section.settings.text }}</p>
    </div>
  </div>
  <div class="newsletter-footer__form">
    <div class="klaviyo-form email-form">
      <div class="klaviyo-form-SG46V2"></div>
    </div>
    {% if section.settings.show_phone %}
    <div class="klaviyo-form sms-form">
      <div class="klaviyo-form-UBnePi"></div>
    </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Newsletter Footer",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "show_phone",
        "label": "Show Klaviyo Phone?",
		"default": false
      },
      {
        "type": "header",
        "content": "Style"        
      },
      {
        "type": "color",
        "id": "section_bg",
        "label": "Background Color"
      }
    ]
  }
{% endschema %}