{{ 'section-polaroid-slider.css' | asset_url | stylesheet_tag }}

<div class="polaroid-slider">
  <div class="page-width">
    <div class="polaroid-slider__content-wrapper no-scrollbar drag-scroll">
      <div class="polaroid-slider__content">
        {% for block in section.blocks %}
          <div class="polaroid-slider__item">
            <div class="polaroid-slider__image">
              {% include 'lazy-image' image: block.settings.image, classes: 'img-fill' %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Polaroid Slider",
    "settings": [],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Polaroid Slider"
      }
    ]
  }
{% endschema %}