{{ 'section-product-bar.css' | asset_url | stylesheet_tag }}
  
<div class="product-bar product-bar-toggle product-bar-illness">
  <div class="product-bar-illness__container">
    <p class="body-large">{{ section.settings.title }}</p>
    <a href="#chronic" class="button button--green">
      {{ section.settings.btn_label }}
      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.8625 7.65005L6.22146 13.2851L7.05885 14.1176L14.1177 7.05882L7.05885 0L6.22146 0.832568L11.8625 6.4676H2.85813e-05V7.65005H11.8625Z" fill="currentColor"/></svg>
    </a>
  </div>
</div>

{% javascript %}
  $(window).scroll(function() {
    var $scrollTop = $(window).scrollTop();
    var scrollToSectionOffset = $('#MainContent .shopify-section:nth-child(2)');

    if ( $(window).width() > 768 ) {
      if ($scrollTop > (scrollToSectionOffset.offset().top)) {
        $('.product-bar').addClass('scrolled');
      } else {
        $('.product-bar').removeClass('scrolled');
      }
    } else {
      if ($scrollTop > 1200) {
        $('.product-bar').addClass('scrolled');
      } else {
        $('.product-bar').removeClass('scrolled');
      }
	}
  });
{% endjavascript %}

{% schema %}
  {
    "name": "Product Bar Illness",
    "class": "product-bar-wrapper product-bar-wrapper--illness",
    "settings": [
      {
        "type" : "text",
        "id" : "title",
        "label" : "Title"
      },
      {
        "type" : "text",
        "id" : "btn_label",
        "label" : "Button Label"
      }
    ],
    "presets": [
      {
        "name": "Product Bar Illness"
      }
    ]
  }
{% endschema %}  





