{{ 'reviews-slider.css' | asset_url | stylesheet_tag }} 

<div class="Reviews_Slider
    {% if section.settings.add_top_border %} top-border{% endif %}
   {% if section.settings.add_bottom_border %} bottom-border{% endif %}
   {% if section.settings.background %} background--{{ section.settings.background }}{% endif %}
  ">
  <div class="page-width">
    <div class="Reviews_Slider_Container">
      {% for block in section.blocks %}
        <div class="Reviews_Slider_Item">
          <h6 class="light">{{ block.settings.text }}</h6>
          <div class="Reviews_Slider_Content">
            {{ section.settings.content }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Reviews Slider",
    "settings": [
      {
        "type": "checkbox",
        "id": "add_top_border",
        "label": "Add Top Border"
      },
      {
        "type": "checkbox",
        "id": "add_bottom_border",
        "label": "Add Bottom Border"
      },
      {
        "type": "select",
        "id": "background",
        "label": "Background",
        "options": [
          {
            "value": "top",
            "label": "Gradient Top to Bottom"
          },
          {
            "value": "bottom",
            "label": "Gradient Bottom to Top"
          },
          {
            "value": "bg_color",
            "label": "Background Color"
          },
          {
            "value": "none",
            "label": "None"
          }
        ],
        "default": "none"
      }
    ],
    "blocks": [
      {
        "type": "pr_slide",
        "name": "Reviews Slide",
        "settings": [
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }          
        ]
      }
    ],
    "presets": [
      {
        "name": "Reviews Slider"
      }
    ]
  }
{% endschema %}