{{ 'section-sticky-footer.css' | asset_url | stylesheet_tag }} 


<div class="sticky-footer__container">
  <a href="{{ section.settings.button_link }}" class="button button--beige">{{ section.settings.button_text }}</a>
</div>

{% schema %}
  {
    "name": "Sticky Footer",
    "settings": [
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Sticky Footer"
      }
    ]
  }
{% endschema %}