{{ 'section-collection-groups.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<div class="collection-groups">
  <div class="page-width">
      <div class="collection-groups__item">
        <div class="collection-groups__grid">
          {% for block in section.blocks %}
            {% render 'product-card-atc'
              product_card_product: block.settings.product,
              show_secondary_image: true,
              hover_video: block.settings.hover_video,
              show_shop_button: true,
              product_card_url: block.settings.url
          %}
          {% endfor %}
        </div>
      </div>
  </div>
</div>

{% schema %}
  {
    "name": "Submitted Products",
    "settings": [
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "url",
            "id": "url",
            "label": "ATC URL"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Submitted Products"
      }
    ]
  }
{% endschema %}