{{ 'section-title-text.css' | asset_url | stylesheet_tag }}

<div class="title-text__container
      {% if section.settings.add_top_border %} top-border{% endif %}
    {% if section.settings.add_bottom_border %} bottom-border{% endif %}">
<div class="page-width "
    style="{% if section.settings.add_background %}background: #FCF9F8;{% endif %}">
  <h1>{{ section.settings.title }}
  {% if section.settings.italic_title != blank %} <span>{{ section.settings.italic_title }}</span>{% endif %}
  </h1>
  <p>{{ section.settings.text }}</p>
</div>
</div>

{% schema %}
  {
    "name": "Title And Text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "italic_title",
        "label": "Italic Title (optional)"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "checkbox",
        "id": "add_top_border",
        "label": "Add Top Border"
      },
      {
        "type": "checkbox",
        "id": "add_bottom_border",
        "label": "Add Bottom Border"
      },
      {
        "type": "checkbox",
        "id": "add_background",
        "label": "Add Background"
      }
    ],
    "presets": [
      {
        "name": "Title And Text"
      }
    ]
  }
{% endschema %}
