{{ 'section-to-be-seen-testimonials.css' | asset_url | stylesheet_tag }}

<div style="background-color: {{ section.settings.color }}" class="polaroid-slider">
  <div class="page-width">
    {% for block in section.blocks %}
    
    {% endfor %}
  </div>
</div>


{% schema %}
  {
    "name": "To Be Seen Testimonials",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background Color"
      },
	  {
        "type": "color",
        "id": "color",
        "label": "Text Color"
      }
	],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "testimonial",
            "label": "Testimonial"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "To Be Seen Testimonials"
      }
    ]
  }
{% endschema %}
