.product-grid {
  margin: 70px auto 140px;
  padding: 0 70px;
}

.product-grid__header {
  margin-bottom: 70px;
  text-align: center;
}

.product-grid__title {
  margin: 0 0 32px;
}

.product-grid__title em {
  font-family: Rhymes-Light-Italic;
}

.product-grid__props {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.product-grid__prop {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-grid__prop-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-grid__prop-icon img {
  width: 100%;
}

.product-grid__prop p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.product-grid__link {
  margin-top: 32px;
  display: inline-block;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.product-grid__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 18px;
}

.quick-add__btn-wrap {
  width: 100%;
  margin-top: 8px;
}

.quick-add__btn-wrap .quick-add__button {
  position: relative;
  bottom: 0;
  right: 0;
  width: 100%;
  border: 1px solid #1F2322;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.quick-add__container[data-open="true"] .quick-add__btn-wrap .quick-add__button {
  opacity: 0.5;
}

.quick-add__container .tabs-label {
  font-family: inter,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.quick-add__container .product__drawer-triggers {
  margin-top: 8px;
  gap: 20px;
}

@media (max-width: 768px) {
  
  .product-grid {
    padding: 0 27px;
  }
  
}


