.reviews-grid {
  padding: 100px 0 70px;
  background-color: var(--gray-lighest);
}

.reviews-grid__header {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 60px;
}

.reviews-grid__subtitle {
  margin: 0 0 16px;
}

.reviews-grid__title {
  margin: 0;
  font-family: inter;
  font-size: 40px;
  letter-spacing: -0.02em;
}

.reviews-grid__title em {
  font-family: Rhymes-Light-Italic;
  font-style: italic;
}

.reviews-grid__header-right {
  position: relative;
}

.reviews-grid__header-right svg {
  position: absolute;
  left: 0;
  bottom: calc(100% + 20px);
}

.reviews-grid__button {
  width: 360px;
  border-width: 1px;
}

.reviews-grid__button:not(.button--green) {
  background-color: transparent;
}

#chronic-review-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding-top: 60px;
}

.review-grid-item h3 {
  font-size: 18px;
  line-height: 21.78px;
  margin: 0 0 16px;
}

.review-grid-item {
  padding: 30px;
  border-radius: 10px;
  background-color: #F8F8F8;
}

.review-grid-item p:last-child {
  margin: 0;
}

#load-more-reviews {
  text-decoration: underline;
  text-underline-offset: 7px;
}

.load-more-reviews-wrapper {
  text-align: center;
  padding: 88px 0 3px;
}

.page-chronic-illness-support .review-grid-item {
  background-color: #FFFFFF;
}

.promo__banner--image img {
  border-radius: 10px;
}

.promo__banner {
  position: relative;
  line-height: 0;
}

.promo__banner--content {
  position: absolute;
  padding: 20px;
  top: 0;
  height: 100%;
}

.promo__description li {
  list-style: none;
  font-family: inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #fff;
  padding-left: 36px;
  background-image: url(https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Icons_thick_3.svg?v=1724418473);
  background-repeat: no-repeat;
  background-position: center left;
  margin-top: 2px;
}

.promo__wrapper h3 {
  font-size: 40px;
  line-height: 50px;
  margin: 0;
  font-weight: 400;
  color: #FFFFFF;
}

.promo__wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.promo__description ul {
  margin: 0;
  padding: 0;
}

.promo__button {
  margin-top: 20px;
}

.promo__button .button {
  width: 100%;
}

@media screen and (max-width: 768px) {
  
  .reviews-grid__title {
    font-size: 30px;
  }

  .reviews-grid__header {
    margin-bottom: 30px;
    display: block;
    text-align: center;
  }

  .reviews-grid__subtitle {
    margin-bottom: 12px;
  }

  .reviews-grid__title {
    font-size: 30px;
    text-wrap: balance;
  }

  .reviews-grid__header-right {
    width: 100%;
    margin-top: 24px;
  }

  .reviews-grid__header-right svg {
    position: static;
  }

  #chronic-review-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 60px;
  }

  .load-more-reviews-wrapper {
    text-align: center;
    padding: 32px 0 3px;
  }

  .reviews-grid__button {
    width: 100%;
  }

  .okeReviews .okeReviews-reviewsCarousel-slider {
    padding: 0 34px !important;
  }
  
}