.hsa-side-drawer {
  height: 100%;
  width: 768px;
  position: fixed;
  z-index: 99;
  top: 80.5px;
  right: -100%;
  background-color: var(--white);
  overflow-x: hidden;
  transition: 0.5s;
  padding: 0 30px;
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {

  .hsa-side-drawer {
    top: 54px;
    width: 100%;
    padding-bottom: 110px;
  }
}

.drawer__header {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {

  .drawer__header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.drawer__close {
  font-size: 12px;
  font-weight: 500;
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.drawer__product-name {
  font-size: 24px;
  font-weight: 300;
  font-family: Rhymes-Light-Italic;
  color: var(--charcoal);
  margin-bottom: -5px;
}

@media screen and (max-width: 768px) {

  .drawer__product-name {
    font-size: 20px;
  }
}

.drawer__title {
  font-size: 40px;
  font-weight: 400;
  font-family: Inter;
  color: #1f2322;
}

@media screen and (max-width: 768px) {

  .drawer__title {
    font-size: 30px;
  }
}

.drawer__notification-wrapper {

}

.drawer__notification {
  font-family: inter, sans-serif;
  font-size: 12px;
  background-color: var(--green-1);
  display: inline-block;
  width: auto;
  border-radius: 14px;
  padding: 0 10px;
  white-space: nowrap;
}

.drawer__about-container {
  margin-top: 23px;
}

.drawer__about {
    font-size: 16px;
      line-height: 25px;
      margin-bottom: 25px;
}