.supplement-side-drawer {
  height: 100%;
  width: 768px;
  position: fixed;
  z-index: 99;
  top: 80.5px;
  right: -100%;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 25px;
}

@media screen and (max-width: 768px) {
  .supplement-side-drawer {
    top: 0;
  }
}

.supplement-side-drawer .drawer_header a {
  text-decoration: none;
  font-size: 40px;
  line-height: 1.5;
  color: #000;
  display: block;
  transition: 0.3s;
  text-align: right;
}

.drawer_header {
  padding: 0 20px;
  z-index: 9999;
}

.supplement-side-drawer .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.drawer_product-name {
  font-size: 24px;
  font-weight: 300;
}

.mobile-supplement-continue {
  width: 100%;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  bottom: 0px;
}

.mobile-supplement-continue a {
  width: 100%;
}