.cart-drawer {
  width: 100%;
  max-width: 480px; 
  height: 100dvh;
  opacity: 0;
  overflow-y: auto;
  padding: 0;
  position: fixed; 
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
  transform: translateX(100%);
  -webkit-transform: translateX(100%); 
  transition: .4s ease-in-out;
  z-index: 15;
  background: white;
}

.cart-drawer[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.cart-drawer__inner {
  height: 100dvh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.cart-drawer__header {
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1F2322;
}

.cart-drawer__close {
  max-width: 28px;
}

.cart-drawer__content {
  /* height: calc(100vh - 60px); */
  height: 100%;
  display: flex;
  flex-direction: column;
  background: white;
}

.cart-drawer__items {
  height: 100%;
  padding-bottom: 480px;
  padding-right: 10px;
  overflow-y: auto;
  margin: 20px 10px 20px 20px;
}

.cart-drawer__welcome-message {
  margin: 30px 20px 0;
}

.cart-drawer__item {
  padding: 20px 0;
  display: flex;
  position: relative;
  border-bottom: 0.75px solid rgb(84 87 89 / 30%);
}

.cart-drawer__item:first-child {
  border-top: 0.75px solid rgb(84 87 89 / 30%);
}

.cart-drawer__item-remove {
  width: auto;
  height: auto;
  padding: 0;
  position: absolute;
  bottom: 20px;
  right: 0;
  display: flex;
  align-items: center;
  color: #1F2322;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: underline;
  text-underline-offset: 3px;
  letter-spacing: 0;
}

.cart-drawer__item-remove:hover {
  font-weight: 600;
}

.cart-drawer__item-image {
  height: 90px;
  width: 90px;
  position: relative;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  display: block;
}

.cart-drawer__item-content {
  width: 100%;
  padding-left: 12px;
}

.cart-drawer__item-title {
  margin: 0 0 8px;
  line-height: 1.3;
  padding-right: 30%;
  letter-spacing: 0;
  text-transform: capitalize;
  font-size: 16px;
}

.cart-drawer__item-content .cart-drawer__item-price {
  position: absolute;
  right: 0;
  top: 18px;
}

.cart-drawer__item-frequency {
  margin: 0 0 10px;
  text-transform: unset;
  display: flex;
  align-items: center;
  color: var(--charcoal-light);
  line-height: 1.3;
  letter-spacing: 0;
}

.cart-drawer__item-frequency svg {
  width: 12px;
  height: auto;
  margin-right: 7px;
}

.cart-drawer__item-option {
  margin: 0 0 10px;
  text-transform: unset;
}

.cart-drawer__item-bottom {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-drawer__item-bottom .price {
  letter-spacing: 0;
}

.cart-drawer__item-quantity .quantity {
  width: unset;
  padding: 3px;
  border-radius: 50px;
  background: #F8F1EB;
}

.cart-drawer__item-quantity .quantity__button {
  width: 16px;
}

.cart-drawer__item-quantity .quantity__input {
  width: 20px;
  height: auto;
  font-size: 12px;
}

.cart-drawer__footer {
  padding: 20px 0px 14px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}

.cart-drawer__footer .sh4 {
  margin: 0;
}

.cart-drawer__footer .car-notes {
  display: block;
  text-align: center;
  margin-top: 14px;
  letter-spacing: 0;
}

.cart-drawer__shipping-wrapper {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.cart-drawer__subtotal-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.cart-drawer__subtotal-wrapper .body {
  margin: 0;
}

.cart-drawer__footer .body {
  margin: 0;
}

.cart-drawer__always-free .body.green {
  color: #75A951;
  font-weight: 500;
}

.cart-drawer__loading-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-drawer__loading-container.loading h4 {
  opacity: 0;
}

.cart-drawer__footer .button {
  margin-left: 20px;
  margin-right: 20px;
  width: calc(100% - 40px);
}

.cart-drawer__loading-container .loading-overlay {
  text-align: center;
  width: 100%;
  top: 10px;
  right: 0;
  bottom: 10px;
  left: 0;
  background: white;
}


.cart-drawer__footer .button svg {
  margin: 0 5px -3px 0;
}

.cart-drawer__shipping-discounts {
  margin: 15px 0 5px;
  text-align: center;
  font-size: 12px;
}

/* Empty Cart */
.cart-drawer__empty {
  height: 100vh;
  width: 100%;
  padding: 30px 20px 0;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  overflow: scroll;
  position: relative;
}

.sub-upsell__container-scroll .cart-upsell__container {
  display: flex;
  border-radius: 17px;
  padding: 10px;
  background-color: #fff;
  border: 0.75px solid rgba(84, 87, 89, 0.3);
  width: 325px;
  min-width: 325px;
  justify-content: space-between;
  margin: 6px 0;
}

.sub-upsell__container-scroll .cart-upsell__container-atc .sh3 {
  margin: 0;
  text-transform: none;
}

.sub-upsell__container-scroll .cart-upsell__container-atc .okeReviews.okeReviews--theme {
  font-size: 12px;
}

.sub-upsell__container-scroll .cart-upsell__container-atc .okeReviews .okeReviews-starRating--small .okeReviews-starRating-indicator-layer {
  background-size: 85px 15px;
}

.sub-upsell__container-scroll .cart-upsell__container-atc .okeReviews-reviewsSummary-ratingCount {
    left: -10px;
}

.sub-upsell__container-scroll .cart-upsell__container .single-bottle {
  color: #545759;
  margin: 0 0 5px 0;
  font-size: 12px;
}

.cart-upsell__img {
  height: 90px;  
  width: 90px;
  position: relative;
  margin-right: 20px;
}

.cart-upsell__img img {
  border-radius: 12px;
  width: 100%;
}

.sub-upsell__container-scroll .cart-upsell__container-left {
  display: flex;
}

.sub-upsell__container-scroll .cart-upsell__container-atc {
  text-align: left;
  align-self: center;
}

.sub-upsell__container-scroll .cart-upsell__container-atc h6 {
  margin: 0;
}

.cart-upsell__button s {
  color: #545759;
  opacity: 0.8;
}

.cart-upsell__button {
  background-color: var(--beige); 
  padding: 3px 12px;
  border-radius: 30px;
  text-transform: unset;
  cursor: pointer;
  margin-top: 5px;
}

.sub-upsell__container-scroll .cart-upsell__container-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.sub-upsell__container-scroll .cart-upsell__container-right p {
  margin: 0;
}

.sub-upsell__container-scroll .cart-upsell__container-right p.body {
  margin-bottom: 12px;
  color: var(--charcoal-light);
}

.sub-products__text.no-sub .body-xs {
  border-top: none;
  padding-top: 0;
}

.sub-products__text.sub .body-xs {
  text-align: left;
}

.cart-upsell__sale-price {
  color: #545759;
  text-decoration: line-through;
  font-size: 12px;
}

.text-hero__title .h2 {
  transform: translate(0px, -5px) !important;
}

.cart-drawer__empty .small_text {
  text-transform: none;
}

.trending {
  background-color: #E2EEF6;
  border: 2px solid #1F2322;
  border-radius: 18px;
  padding: 3px 11px;
  min-width: 75px;
}

.popular {
  background-color: #E2EEF6;
  border: 2px solid #1F2322;
  border-radius: 18px;
  padding: 3px 11px;
  min-width: 75px;
}

.trending p, .popular p {
  text-transform: none;
  text-align: center;
}

.sub-upsell__container {
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #1F2322;
}

.sub-products__text.sub {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.sub-products__text p {
  margin: 0 0 20px;
  padding-top: 30px;
  text-align: center;
}

.money-back__container {
  display: flex;
  margin-top: 8px;
  margin-bottom: 18px;
}

.money-back__container img {
  width: 27px;
  height: 27px;
}

.money-back__text {
  margin-left: 8px;
}

.money-back__text p {
  margin: 4px 0 0;
}

.money-back__text .body-xs {
  text-transform: none;
  color: #545759;
  font-style: italic;
  line-height: 1.1;
}

.sub-products__text .body-xs {
  margin: 0;
  padding: 0;
  font-weight: 500;
  text-transform: none;
  font-size: 16px;
}

.green_button{
  cursor: pointer;
  position: relative;
  background: #C6DB76;
  border-radius: 14px;
  padding: 0px;
  animation: gradient 3s ease infinite;
  background-size: 400% 400%;
  display: flex;
  width: fit-content;
  white-space: nowrap;
}

.green_text {
  font-weight: 400;
  color: #1F2322;
  margin: 0 auto !important;
  padding: 2px 12.5px !important;
  font-size: 12px;
}

.sub-upsell__container-scroll-wrapper {
  overflow-x: scroll;
  font-size: 0px;
  margin: 0px -1000px;
  scroll-padding: 0px 1000px;
  scroll-snap-type: x mandatory;
  cursor: grabbing;
}

.sub-upsell__container-scroll {
  display: inline-flex;
  white-space: nowrap;
  gap: 16px;
  overflow-x: scroll;
  width: 100%;
}

.cart-drawer__second-slide {
  width: 100%;
  height: 100vh;
  background: transparent linear-gradient(180deg,#fff 0,var(--beige-light) 100%) 0 0 no-repeat padding-box;
  position: absolute;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: .4s ease-in-out;
}


.cart-drawer__second-slide.show-second {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.cart-drawer__second-container {
  margin-top: 40px;
}

.cart-drawer__radio-container {
  margin-top: 40px; 
}

.cart-drawer__radio-container .container {
  display: block;
  position: relative;
  padding: 20px 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  border-top: 1px solid #a7a7a7;
}

.cart-drawer__radio-container .container:last-of-type {
  border-bottom: 1px solid black;
}

.cart-drawer__radio-container .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 20px;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #000;
  transform: translate(0%,-50%);
}

.cart-drawer__radio-container .container input:checked ~ .checkmark {
  background-color: transparent;
}

.cart-drawer__radio-container .container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cart-drawer__radio-container .container input:checked ~ .checkmark:after {
  display: block;
}

.cart-drawer__radio-container .container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
}

.cart-drawer__second-container .button {
  margin: 20px;
  animation: unset;
  will-change: unset;
  transition: unset;
  background: #F6ECE1;
  cursor: pointer;
}

.shop-slide-out__second-image {
  position: relative;
}


.shop-slide-out__second-image .product-card-badge {
  left: 35px;
  top: 25px;
}

.cart-drawer__empty-products {
  margin: 40px 0 0;
  border-top: 1px solid var(--charcoal-light);
}

.cart-drawer__empty-product {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--charcoal-light);
}

.cart-drawer__empty-product-content {
  padding-right: 20px;
  text-align: left;
}

.cart-drawer__empty-product-content h6 {
  margin: 0 0 10px;
  line-height: 1.2;
}

.cart-drawer__empty-product-content p {
  margin: 0;
  color: var(--charcoal-light);
  font-size: 12px;
}

.cart-drawer__empty-product-image {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  position: relative; 
  overflow: hidden;
  flex-shrink: 0;
}

.cart-drawer__empty-product-image-overlay {
  padding: 6px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: rgba(31, 35, 34, .2);
  opacity: 0;
  transition: opacity.3s ease;
}

.cart-drawer__empty-product:hover .cart-drawer__empty-product-image-overlay {
  opacity: 1;
}

.cart-drawer__empty-product-image-overlay p {
  width: 100%;
  margin: 0;
  font-size: 12px;
  background: rgba(255, 255, 255, .7);
  border-radius: 50px;
  transition: background.3s ease;
}

.cart-drawer__empty-product-image-overlay:hover p {
  background: rgba(255, 255, 255, 1);
}

.cart-drawer__empty .cart-upsell__container {
  width: 100%;
  background-color: white;
  padding: 5px 6px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.cart-drawer__empty .cart-upsell__container-left {
  display: flex;
}

.cart-drawer__empty .cart-upsell__container-atc {
  align-self: center;
  text-align: left;
}

.cart-drawer__empty .cart-upsell__container-atc h6 {
  margin: 0;
}

.cart-drawer__empty .cart-upsell__container-right {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.cart-drawer__empty .cart-upsell__container-right .body-xs {
  margin: 0;
}

.cart-drawer__empty .cart-upsell__container-right .sh2 {
  margin-bottom: 0;
}

.cart-drawer__empty .cart-upsell__container-right .cart-upsell__sale-price {
  margin: 0; 
}

.cart-content {
  margin-top: 30px;
}

.cart-content .body {
  margin: 0 0 18px;
  color: #1F2322;
}

.cart-content .description ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart-content .description ul li {
  padding-left: 20px;
  position: relative;
  margin-bottom: 10px;
  line-height: 1.3;
  color: #545759;
}

.cart-content .description ul li:before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 511.999 511.999' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M506.231,75.508c-7.689-7.69-20.158-7.69-27.849,0l-319.21,319.211L33.617,269.163c-7.689-7.691-20.158-7.691-27.849,0 c-7.69,7.69-7.69,20.158,0,27.849l139.481,139.481c7.687,7.687,20.16,7.689,27.849,0l333.133-333.136 C513.921,95.666,513.921,83.198,506.231,75.508z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
}

.cart-drawer__content .cart-title {
  text-align: center;
  padding: 0 20px;
}

.cart-drawer__content .cart-title .cart-drawer__title {
  margin: 20px 0 0;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  
  .cart-drawer {
    max-width: 100%;
    top: 0px;
  }

  .cart-drawer__footer {
    /* bottom: 50px; */
  }

  .cart-drawer__items {
    /* height: calc(100% - 455px); */
  }

  .cart-drawer__content {
    height: calc(100dvh - 0px);
  }

  .cart-drawer__footer .car-notes {
    text-transform: capitalize;
  }
}

@media screen and (max-width: 374px) {
  
  .cart-drawer__footer .button {
    font-size: 12px;
  }

  .cart-drawer__footer .car-notes {
    font-size: 10px;
  }
}

.cart-drawer__item-variant {
  margin-bottom: 10px;
}