.custom-image-text {
  min-height: 680px;
  margin-top: -1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid var(--charcoal);
  border-bottom: 1px solid var(--charcoal);
}

.custom-image-text__content {
  padding: 60px 0 60px 100px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--charcoal); 
  background: transparent linear-gradient(180deg, #ECD8C500 0%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
}

.custom-image-text__content-container { 
  max-width: 620px;
  margin-left: auto;
  padding-right: 100px;
}

.custom-image-text__content-container .h1 {
  max-width: 475px;
  margin: 0 0 30px;
}

.custom-image-text__content-container .sh2 {
  max-width: 475px;
  margin: 0 0 40px;
}

.custom-image-text__content-container a {
  font-weight: 500;
  transition: 0.25s ease-in;
}

.custom-image-text__image {
  position: relative;
}

.custom-image-text__image video {
  width: 100%;
  height: 100%;
  object-position: center;
}

.page-qr-2 .custom-image-text {
  margin-top: 100px;
}

#insta-feed {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 60px;
}

.custom-image-text__content-container .arrow-link {
  margin-top: 20px;
}

.custom-image-text__content-container .arrow-link:hover {
  opacity: 0.7;
  transition: 0.25s ease-in;
}

@media only screen and (max-width: 768px) {
  
  .custom-image-text {
    min-height: 475px;
    display: flex;
    border-top: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .custom-image-text__content {
    width: 100%;
    padding: 60px 20px;
    position: relative;
    z-index: 2;
    text-align: center;
    border-top: 1px solid var(--charcoal);
    border-bottom: 1px solid var(--charcoal);
  }

  .custom-image-text__content-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .custom-image-text__image {
    position: relative;
    width: 100%;
    border-top: 1px solid var(--charcoal);
  }  

  .custom-image-text__image .img-fill {
    position: relative;
    display: block;
  }

  .custom-image-text__content-container .h1 {
    max-width: 100%;
    margin: 0 auto 20px;
  }

  .custom-image-text__content-container .button {
    background: rgba(255, 255, 255, .7);
  }

  .custom-image-text__content-container .button:hover {
    background: rgba(255, 255, 255, 1);
  }

  .custom-image-text__content-container .arrow-link {
    justify-content: center;
  }
  
}