.Custom_Featured_Product .product__media-list .slick-list {
  overflow: hidden;
}

.js-ingredients-open {
  text-decoration: underline;
  text-underline-offset: 7px;
  margin: 25px 0 8px;
  display: block;
  color: #1f2322;
}

.Custom_Featured_Product .product-form__input select {
  font-family: inter,sans-serif;
  font-size: 18px;
  color: #1f2322;
  padding: 0;
  width: auto;
}

.Custom_Featured_Product .product-form__input svg {
  display: none;
}