.pdp-faq .faq__content ul li {
  list-style-type: none;
  font-family: inter,sans-serif;
}

.pdp-faq .faq__content * {
  font-family: inter,sans-serif;
}

.pdp-faq .faq__content ul,
.pdp-faq .faq__content ol {
  padding: 0;
  margin: 0;
}

.pdp-faq .faq__content ul {
  padding: 0;
  margin: 0;
  column-count: 2;
}

.pdp-faq .faq__content label {
  font-size: 12px;
  font-weight: 500;
}

.Testimonials_Title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67em;
  color: #1F2322;
  margin: 0 0 15px;
}

.Testimonials_Author {
  font-family: inter,sans-serif;
  font-size: 14px;
  line-height: 1.75em;
}

.Testimonials_Wrapper {
  text-align: center;
}

.Testimonials_Main .slick-dots {
  padding: 0;
  margin: 5px 0 0;
  text-align: center;
}

.Testimonials_Main .slick-dots li {
  display: inline-block;
}

.Testimonials_Main .slick-dots li button {
  font-size: 0;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 3px;
}

.Testimonials_Main .slick-dots li button::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #000;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.Testimonials_Main .slick-dots li.slick-active:before {
  background: #fff;
}

.Testimonials_Main {
  margin-top: 90px;
}

.All_Reviews {
  display: block;
  text-align: center;
  font-family: inter,sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 7px;
  margin-top: 32px;
}

.product__title {
  font-size: 45px;
  margin: 0 0 30px;
}

.product__subtitle {
  margin: 0 0 16px !important;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0;
}

.template-product .product-form .rtx_option_selector {
  border: 1px solid #545759;
  border-radius: 17px;
  padding: 20px;
}

.one_sub_text_new,
.one_sub_text {
  display: none;
}

.product-form input[type=radio]:checked + label .one_sub_text_new,
.product-form input[type=radio]:checked + label .one_sub_text {
  display: block;
}

.product-form input[type="radio"] {
  height: 20px;
  width: 20px;
}

.product-form input[type="radio"]::before {
  width: 12px;
  height: 12px;
}

input[type="radio"]:checked::before {
  background: #1F2322;
}

.One_Time_Info {
  display: flex;
  align-items: start;
}

.One_Time_Info .one_sub_text {
  color: #1F2322;
  margin: 0;
  font-size: 14px !important;
  line-height: normal;
  margin-bottom: 6px;
}


.One_Time_Info > img {
  margin-right: 14px;
}

.one_sub_text_new {
  margin: 0;
  color: #545759;
  font-weight: 300;
}
