.pdp-faq .faq__content ul li {
  list-style-type: none;
  font-family: inter,sans-serif;
}

.pdp-faq .faq__content * {
    font-family: inter,sans-serif;
}

.pdp-faq .faq__content ul,
.pdp-faq .faq__content ol {
  padding: 0;
  margin: 0;
}

.pdp-faq .faq__content ul {
  padding: 0;
  margin: 0;
  column-count: 2;
}

.pdp-faq .faq__content label {
  font-size: 12px;
  font-weight: 500;
}

.Testimonials_Title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67em;
  color: #1F2322;
  margin: 0 0 15px;
}

.Testimonails_Author {
  font-family: inter,sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

.Testimonails_Wrapper {
  text-align: center;
}