.mb-5 {
  margin-bottom: 5px !important;
}

.Link_Text {
  font-size: 14px;
  font-family: inter,sans-serif;
  text-decoration: underline;
  text-underline-offset: 7px;
  font-weight: 500;
}

.Link_Text:hover {
  opacity:.7;
}

.Cross {
  font-size: 14px;
  margin-right: 8px;
}

.Tick {
  font-size: 17px;
  margin-right: 8px;
}

.badge_animat_cls .fixed_badge_center {
  position: absolute;
  right: 25px;
  width: 60px;
  height: 60px;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}

.badge_animat_cls .fixed_badge_center img {
  animation: inherit;
  border-radius: 20%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.badge_animat_cls .rotet_badge_svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 110px;
  height: 110px;
}

.badge_animat_cls .rotet_badge_svg img {
  width:100%;
}

.okeReviews-reviewsSummary-ratingCount {
  position: relative;
  left: 20px;
}

#mCSB_1_scrollbar_vertical {
  display: none !important;
}

.supplement-side-drawer {
  height: 100%;
  width: 768px;
  position: fixed;
  z-index: 99;
  top: 80.5px;
  right: -100%;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 25px;
}

@media screen and (max-width: 768px) {
  .supplement-side-drawer {
    top: 0;
  }
}

.supplement-side-drawer .drawer_header a {
  text-decoration: none;
  font-size: 40px;
  line-height: 1.5;
  color: black;
  display: block;
  transition: 0.3s;
  text-align: right;
}

.drawer_header {
  padding: 0 20px;
  z-index: 9999;
}

.supplement-side-drawer .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.drawer_cover_cls {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex !important;
  align-items: flex-start;
}

.drawer_cover_cls .drawer_left {
  text-align: left;
  width: 45%;
  padding-top: 0px;
}

.drawer_cover_cls .supplement-facts-form-image {
  width: 55%;
  /* padding-left: 50px; */
}

.drawer_cover_cls .slick-next {
  position: absolute;
  top: 30%;
  z-index: 999999999999;
  width: 25px;
  right: 0;
}

.drawer_cover_cls .slick-prev {
  position: absolute;
  top: 30%;
  z-index: 999999999999;
  width: 25px;
  left: 0;
}

.supplement-side-drawer .drawer_header p {
  font-size: 14px;
  margin: 0;
  line-height: 30px;
  color: #1F2322;
  font-weight: 400;
  text-transform: uppercase;
}

.drawer_cover_cls .drawer_left h3 {
  font-size: 35px;
  margin: 0 0 12px 0;
  line-height: 4w0px;
  color: #1F2322;
  font-weight: 500;
}

.drawer_cover_cls .drawer_left p {
  font-size: 14px;
  margin: 0;
  line-height: 21px;
  color: #1F2322;
  font-family: inter,sans-serif;
  font-weight: 300;
}

.icons--with-title {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  margin-top: 25px;
}

.icons--with-title .badge_drawer_inner .emoji_img {
  height: 73px;
}

.icons--with-title .badge_drawer_inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pee-club-product .badge_drawer_inner img {
  border-radius: 0;
}

.badge_drawer_inner {
  padding: 0;
  position: relative;
}

.badge_drawer_inner span.icon-title {
  top: 50%;
  left: 50%;
  right: unset;
  position: absolute;
  width: fit-content;
  transform: translate(-50%, -36%);
  font-size: 30px;
}

.drawer_cover_cls .supplement-facts-form-image img {
  width: 100%;
}

.supplement-detail-text {
  position: relative;
  top: 80px;
}

.supplement-detail-text p {
  font-size: 12px !important;
  margin: 17px 0 !important;
  font-weight: 300 !important;
  line-height: 18px !important;
}

.mobile-fixed-header {
  position: relative;
}

@media screen and (max-width: 1024px){
  
  .drawer_cover_cls .drawer_left{
    width: 45%;
  }
  
}

@media screen and (max-width: 768px) {
  
  .badge_animat_cls .fixed_badge_center {
    position: absolute;
    right: 17px;
    width: 40px;
    height: 40px;
    top: 17px;
    font-size: 30px;
  }
  
  .badge_animat_cls .rotet_badge_svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 75px;
    height: 75px;
  }
  
  .drawer_cover_cls .drawer_left {
    width: 100%;
  }
  
  .drawer_cover_cls .supplement-facts-form-image {
    width: 100%;
    padding: 0;
  } 
  
  .drawer_cover_cls {
    padding-top: 10px;
    flex-wrap: wrap;
  }
  
  .drawer_cover_cls .drawer_left, .drawer_cover_cls .supplement-facts-form-image {
    width: 100%;
  }
  
  .supplement-detail-text {
    position: inherit;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: solid 2px #000;
  }
  
  .drawer_cover_cls .drawer_left h3 {
    font-size: 30px;
  }

  .mobile-fixed-header {
    position: sticky;
    top: -10px;
  }

  .supplement-side-drawer {
    width: 100%;
  }
  
}

@media screen and (max-height: 450px) {
  
  .supplement-side-drawer {
    padding-top: 15px;
  }
  .supplement-side-drawer a {
    font-size: 18px;
  }
  
}

.mobile-supplement-continue {
  width: 100%;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  bottom: 0px;
}

.mobile-supplement-continue a {
  width: 100%;
}

