p {
  margin: 0;
}


body .product__media-item .image-text-overlay, body .main_lowstoc_free .additional-info {
    min-height: 28px;
    border-radius: 4px;
    padding: 5px 8px;
    min-width: 77px;
    text-align: center;
    margin: 10px;
}
body .main_lowstoc_free {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: fit-content;
    position: absolute;
    top: 0;
    left: 0;
}
.image-text-overlay p, .additional-info p {
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
}

