.quick-add__drawer {
  width: 100%;
  max-width: calc(50% - 12px);
  height: calc(100dvh - 24px);
  margin: 12px;
  opacity: 0;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 0 0 20px #1f23221f;
  border-radius: 10px;
  visibility: hidden;
  transform: translate(100%);
  -webkit-transform: translateX(100%);
  transition: .4s ease-in-out;
  z-index: 99;
}

.page-template--product-bundle .supplement-side-drawer,
.page-template--product-bundle .clinical-trial-drawer {
  width: 100%;
  max-width: calc(50% - 12px);
  height: calc(100dvh - 24px);
  margin: 12px;
  top: 0;
  padding: 0;
  border-radius: 10px;
}

.page-template--product-bundle .drawer__wrapper-main {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  height: 100%;
}

.page-template--product-bundle .drawer__header {
  padding-top: 0;
}

.quick-add__drawer.open {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translateX(0);
}

.quick-add__drawer--inner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.bundle__banner {
  padding-bottom: 50px;
}

.bundle__banner--image {
  position: relative;
  aspect-ratio: 16 / 9;
}

.bundle__banner--image .img-fill {
  border-radius: 10px;
}

.bundle__banner--step-image,
.bundle__banner--step-image img {
  position: relative;
  max-width: 40px;
  max-height: 40px;
}

.bundle__banner--title h1 {
  font-family: inter, sans-serif;
  font-weight: 400 !important;
  font-size: 64px !important;
  line-height: 69px !important;
  letter-spacing: -.02em;
  margin: 0;
}

.bundle__banner--title h1 i,
.bundle__banner--title h1 em {
  font-family: Rhymes-Light-Italic;
  font-weight: 300 !important;
}

.bundle__banner--title .sh4 {
  margin: 0;
  margin-top: 24px;
}

.bundle__banner--title .sh4 * {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.bundle__banner--title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 42px;
}

.bundle__banner--steps {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.bundle__banner--step {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 33.33%;
}

.bundle__banner--step::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: var(--charcoal);
  top: 20px;
  right: -50%;
}

.bundle__banner--step:last-child:after {
  content: unset;
}

.bundle__banner--step-image {
  position: relative;
  z-index: 1;
  margin-bottom: 16px;
}

.bundle__banner--step span {
  font-family: inter, sans-serif;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 500;
  color: #797B7A;
  margin-bottom: 4px;
}

.bundle__banner--step p {
  margin: 0;
  line-height: 28px;
}

.lsg-bundle-product-list .quick-add-grid__grid {
  row-gap: 52px;
}

.lsg-bundle-product-list {
  margin-bottom: 90px;
}

.lsg-bundle-buybox-block .quick-add-grid__header {
  border-top: 1px solid var(--gray-light);
}

.quick-add__price-recurring {
  color: var(--charcoal);
}

.quick-add__grid-text {
  color: #797B7A;
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
}

.quick-add__learn-more {
  text-decoration: underline;
  text-underline-offset: 7px;
  margin: 0;
  display: block;
  color: var(--charcoal);
  font-weight: 400 !important;
  margin-top: 8px;
  margin-bottom: 5px;
}

.lsg-bundle-product-list .quick-add__product-tag {
  background: var(--charcoal);
  padding: 3px 8px 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  font-family: inter, sans-serif;
}

.lsg-bundle-product-list .quick-add__media {
  margin-bottom: 21px;
}

.lsg-bundle-buybox-block .quick-add-grid__heading {
  margin-bottom: 16px;
}

.quick-add-grid__tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 16px;
}

.quick-add-grid__tags-item {
  font-size: 12px;
  line-height: 14.52px;
  font-weight: 400;
  color: var(--charcoal);
  font-family: inter, sans-serif;
  padding: 2.75px 6px;
  border-radius: 4px;
  border: 1px solid var(--charcoal);
}

.lsg-bundle-buybox-block .anchor-links__list {
  padding: 36px 0 40px;
}

.lsg-bundle-buybox-block .quick-add__media-inner {
  aspect-ratio: 0.8 / 1;
}

.lsg-bundle-block.page-width {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 70px;
}

.lsg-bundle-wrapper .lsg-bundle-buybox-block .anchor-links__sticky--custom {
  position: sticky;
  top: var(--sticky-header-height);
  background: white;
  z-index: 3;
}

.lsg-bundle-wrapper [id*='__quick_add_products'] {
  padding: 1px 0;
}

.lsg-bundle-product-select-quantity-input-display {
  font-size: 14px !important;
  line-height: 21px !important;
  font-weight: 400 !important;
  font-family: inter, sans-serif !important;
}

.quick-add__close {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  color: var(--charcoal);
}

.quick-add__close span {
  font-size: 12px;
  line-height: 14.52px;
  color: var(--charcoal);
  font-family: inter, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.quick-add__close svg {
  cursor: pointer;
}

.quick-add__buttons .lsg-bundle-product-select-quantity-increment-add-text {
  position: unset;
  display: block;
  width: 100%;
  padding: 13px 20px !important;
  height: 51px !important;
  font-size: 16px !important;
  line-height: 25px !important;
  color: var(--charcoal);
}

.quick-add__buttons .lsg-bundle-product-select-quantity-increment-add-text:hover {
  background: var(--green-1) !important;
}

.quick-add__buttons .lsg-bundle-product-select-quantity-increment {
  width: 100%;
}

.anchor-links__sticky--custom .anchor-links__item button.active {
  color: var(--charcoal);
}

.quick-add__reviews {
  margin-bottom: 16px;
}

.quick-add__title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.quick-add__title h3 {
  font-family: inter, sans-serif;
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  margin: 0;
}

.product__description.sh4 p {
  margin: 0;
}

.product-listblock {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}

.product-listblock div {
  display: flex;
  align-items: center;
}

.product-listblock p {
  font-family: inter, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--charcoal);
  margin: 0;
  text-transform: capitalize;
}

.product__drawer-triggers {
  display: flex;
  gap: 21px;
  margin-bottom: 35px;
}

.product__drawer-triggers a {
  font-family: inter, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--charcoal);
  text-decoration: underline;
  text-underline-offset: 7px;
  margin: 0;
  display: block;
}

.quick-add__info {
  margin: 0;
}

.quick-add__info .drawer__info-list {
  margin: 32px 0;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
}

.quick-add__info .drawer__info-list:empty {
  display: none;
  margin: 0;
}

.quick-add__info .drawer__info-list .drawer__info-list-item {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 6px;
}

.quick-add__info .drawer__info-list .drawer__info-list-item img {
  height: 24px;
  width: 24px;
}

.quick-add__tabs .image-with-dropdowns__dropdown:empty {
  display: none;
}

.quick-add__tabs .image-with-dropdowns__content-point:last-child {
  border-bottom: 1px solid #797B7A;
}

.quick-add__tabs .image-with-dropdowns__content-point .image-with-dropdowns__a {
  display: none;
  margin-top: 8px;
  margin-bottom: 30px;
}

.quick-add__tabs .image-with-dropdowns__content-point.active .image-with-dropdowns__a {
  display: block !important;
}

.quick-add__tabs .image-with-dropdowns__content-point .image-with-dropdowns__q {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
  border-top: 1px solid #797B7A;
}

.quick-add__tabs .image-with-dropdowns__content-point .image-with-dropdowns__q h5 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-family: inter, sans-serif;
  color: var(--charcoal);
  margin: 0;
  cursor: pointer;
}

.quick-add__tabs .image-with-dropdowns__content-point.active .image-with-dropdowns__q h5 {
  color: #797B7A;
}

.quick-add__tabs .image-with-dropdowns__content-point .image-with-dropdowns__a p {
  display: block;
  font-family: inter, sans-serif;
  font-size: 16px;
  line-height: 25px;
  color: var(--charcoal);
  font-weight: 400;
  margin: 0;
  margin-bottom: 4px;
}

.quick-add__tabs .image-with-dropdowns__content-point .image-with-dropdowns__a p em {
  display: block;
  font-family: Rhymes-Light-Italic;
  font-size: 14px;
  line-height: 20px;
  color: var(--charcoal);
  font-weight: 300;
  margin-bottom: 20px;
}

.quick-add__tabs .image-with-dropdowns__x {
  display: block;
  height: 17px;
  width: 17px;
  position: relative;
}

.quick-add__tabs .image-with-dropdowns__x:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7.5px;
  border-right: 2px solid var(--charcoal);
}

.quick-add__tabs .image-with-dropdowns__x:after {
  content: "";
  position: absolute;
  top: 7.5px;
  left: 0;
  right: 0;
  border-bottom: 2px solid var(--charcoal);
}

.quick-add__tabs .image-with-dropdowns__content-point.active .image-with-dropdowns__x:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7.5px;
  border-right: none;
}

.quick-add__close-continue {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  padding: 20px 0 12px;
}

.quick-add__close-continue span {
  cursor: pointer;
  font-family: inter, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--charcoal);
  text-decoration: underline;
  text-underline-offset: 7px;
  margin: 0;
  display: block;
}

.product__media-item .product__media {
  position: relative;
  margin-right: 12px;
  padding-bottom: 100%;
}

.product__media-item .product__media img,
.product__media-item .product__media svg,
.product__media-item .product__media video,
.product__media-item .product__media iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.quick-add__images {
  margin-bottom: 12px;
  width: calc(100% + 30px);
  position: relative;
}

.quick-add__product-slider {
  margin: 16px 0;
}

.quick-add__title .product-listblock img {
  width: 24px;
  height: 24px;
}

.quick-add__close-main {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.quick-add__close-logo {
  margin-bottom: 12px;
  display: none;
}

.quick-add__reviews .okeReviews-starRating--small span.okeReviews-a11yText {
  height: 100% !important;
  clip: inherit !important;
  right: -70px;
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14.52px !important;
  width: auto !important;
  overflow: hidden;
  top: 5px;
  color: var(--charcoal-60);
}

.quick-add__reviews .okeReviews-starRating--small span.okeReviews-a11yText .rated-text {
  display: none;
  margin-left: 20px;
}

.quick-add__reviews .okeReviews-reviewsSummary-ratingCount {
  left: 55px;
  margin-top: 1px;
  padding-left: 5px;
  background: #fff;
}

.quick-add__reviews .okeReviews-reviewsSummary-ratingCount span {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.375em;
  color: var(--charcoal-60);
}

.quick-add__product-slider-arrows {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
  gap: 16px;
}

.quick-add__product-slider-arrows .slick-disabled,
.quick-add__product-slider-arrows .slider-arrow-disable {
  opacity: .4;
}

.quick-add__product-slider .slick-arrow {
  cursor: pointer;
  transition: transform .2s ease;
  position: unset;
}

.quick-add__product-slider .slick-arrow:hover.slick-prev {
  transform: translate(-5px);
}

.quick-add__product-slider .slick-arrow:hover.slick-next {
  transform: translate(5px);
}

.quick-add__product-slider .slick-arrow:hover.slick-prev,
.quick-add__product-slider .slick-arrow:hover.slick-next {
  transform: translate(0) !important;
}

.quick-add__buttons .lsg-bundle-product-select-quantity-wrap:not(.no-quantity) {
  position: unset;
  width: 100% !important;
  border: 1px solid #797B7A;
  height: 51px !important;
}

.quick-add__images .quick-add__product-tags {
  top: 28px;
  z-index: 2;
}

@media (max-width: 768px) {

  .lsg-bundle-block.page-width {
    padding: 0 20px;
    flex-direction: column;
  }

  .lsg-bundle-buybox-block,
  .lsg-bundle-summary-block {
    width: 100% !important;
  }

  .lsg-bundle-buybox-block {
    padding: 0 !important;
  }
  
  .bundle__banner--title h1 {
    font-size: 40px !important;
    line-height: 48.41px !important;
  }

  .bundle__banner--title h1 i,
  .bundle__banner--title h1 em {
    line-height: 53.92px !important;
  }

  .bundle__banner--title {
    padding-top: 20px;
    padding-bottom: 32px;
    text-align: left;
    align-items: flex-start;
  }

  .bundle__banner--steps {
    flex-direction: column;
  }

  .bundle__banner--title .sh4 {
    margin-top: 12px;
  }

  .bundle__banner--step {
    width: 100%;
  }

  .bundle__banner--step {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 26px;
  }

  .bundle__banner--step:last-child {
    margin-bottom: 0;
  }

  .bundle__banner--step:after {
    width: 1px;
    height: 100%;
    right: unset;
    top: 40px;
    left: 20px;
  }

  .bundle__banner--step-image {
    margin-bottom: 0;
    margin-right: 12px;
  }

  .bundle__banner {
    padding-bottom: 32px;
  }

  .lsg-bundle-buybox-block .anchor-links__list {
    padding: 20px 0;
    margin: 0;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 12px;
    overflow: auto;
  }

  .lsg-bundle-buybox-block .quick-add-grid__heading,
  .quick-add-grid__tags {
    margin-bottom: 8px;
  }

  .lsg-bundle-product-list .quick-add-grid__grid {
    gap: 28px 17px;
  }

  .lsg-bundle-product-select-quantity-increment-add-text {
    font-size: 12px !important;
    line-height: 14.52px !important;
    height: 26px !important;
    padding: 6px 14px !important;
  }

  .lsg-bundle-product-list {
    margin-bottom: 60px;
  }

  .quick-add__grid-text {
    font-size: 12px;
    line-height: 14.52px;
  }

  .quick-add__learn-more {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14.52px;
  }

  .lsg-bundle-wrapper .lsg-bundle-buybox-block .anchor-links__sticky--custom {
    top: 60px;
  }

  .lsg-bundle-product-select-quantity-wrap:not(.no-quantity) {
    height: 26px !important;
    width: calc(100% - 16px) !important;
    bottom: 8px !important;
    right: 8px !important;
  }

  .lsg-bundle-product-list .quick-add__product-tag {
    font-size: 12px;
    line-height: 14.52px;
    padding: 2.5px 6px !important;
  }

  .quick-add__drawer,
    .page-template--product-bundle .supplement-side-drawer,
    .page-template--product-bundle .clinical-trial-drawer {
    max-width: calc(393px - 24px);
  }

  .quick-add__drawer--inner {
    padding: 20px;
    margin-top: 44px;
  }

  .quick-add__title {
    gap: 8px;
  }

  .quick-add__title h3 {
    letter-spacing: -0.32px;
  }

  .quick-add__title .product__description p {
    line-height: 21px;
  }

  .product__drawer-triggers {
    margin-bottom: 32px;
  }

  .quick-add__info .drawer__info-list .drawer__info-list-item {
    width: 100%;
  }

  .quick-add__close-logo {
    display: block;
  }

  .quick-add__product-slider {
    margin-top: 20px;
  }

  .quick-add__close-main {
    justify-content: space-between;
    padding: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 79%, rgba(255, 255, 255, 0) 100%);
    position: relative;
    z-index: 1;
  }

  .page-template--product-bundle .supplement-side-drawer .drawer__mobile-continue,
  .page-template--product-bundle .clinical-trial-drawer .drawer__mobile-continue {
    width: calc(393px - 48px);
    bottom: 12px;
    left: 12px;
  }

}

@media (max-width: 425px) {

  .quick-add__drawer,
  .page-template--product-bundle .supplement-side-drawer,
  .page-template--product-bundle .clinical-trial-drawer {
    max-width: calc(100% - 24px);
  }

  .page-template--product-bundle .supplement-side-drawer .drawer__mobile-continue,
  .page-template--product-bundle .clinical-trial-drawer .drawer__mobile-continue {
    width: calc(100% - 48px);
  }

}