.default-article__page .main-article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.default-article__page .main-article-template__hero-medium {
  height: 15.6rem;
}

.default-article__page .main-article-template__hero-large {
  height: 19rem;
}

@media screen and (min-width: 769px) and (max-width: 989px) {
  .default-article__page .main-article-template__hero-medium {
    height: 34.9rem;
  }

  .default-article__page .main-article-template__hero-large {
    height: 42.3rem;
  }
}

@media screen and (min-width: 990px) {
  .default-article__page .main-article-template__hero-medium {
    height: 54.5rem;
  }

  .default-article__page .main-article-template__hero-large {
    height: 66rem;
  }
}

.default-article__page .main-article-template header {
  margin-top: 3.4rem;
  margin-bottom: 2rem;
  line-height: 0.8;
}

@media screen and (min-width: 769px) {
  .default-article__page .main-article-template header {
    margin-top: 8rem;
  }
}

.default-article__page .main-article-template__title {
  margin: 0;
}

.default-article__page .main-article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.default-article__page .main-article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.default-article__page .main-article-template__link .icon-wrap {
  margin-right: 1rem;
  transform: rotate(180deg);
}

.default-article__page .main-article-template__content {
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.default-article__page .main-article-template__social-sharing {
  margin-top: 3rem;
}

.default-article__page .main-article-template__social-sharing + header, 
.default-article__page .main-article-template__social-sharing + .main-article-template__content {
  margin-top: 1.5rem;
}

.default-article__page .main-article-template__comment-wrapper {
  margin-top: 5rem;
}

@media screen and (min-width: 769px) {
  .default-article__page .main-article-template__comment-wrapper {
    margin-top: 6rem;
  }
}

.default-article__page .main-article-template__comment-wrapper h2 {
  margin-top: 0;
}

.default-article__page .main-article-template__comments {
  margin-bottom: 5rem;
}

@media screen and (min-width: 769px) {
  .default-article__page .main-article-template__comments {
    margin-bottom: 7rem;
  }
}

.default-article__page .main-article-template__comments-fields {
  margin-bottom: 4rem;
}

.default-article__page .main-article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@media screen and (min-width: 769px) {
  .default-article__page .main-article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.default-article__page .main-article-template__comments-comment p {
  margin: 0 0 1rem;
}

.default-article__page .main-article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@media screen and (min-width: 769px) {
  .default-article__page .main-article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.default-article__page .main-article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@media screen and (min-width: 990px) {
  .default-article__page .main-article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.default-article__page .caption {
  font-family: inter,sans-serif;
  color: #545759;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.default-article__page blockquote {
  background: #F8F1EB;
  margin: 60px 0 120px !important;
  padding: 50px 40px;
  border-radius: 17px;
  width: 100%;
  display: block !important;
  font-style: inherit;
}

.default-article__page p, 
.default-article__page span, 
.default-article__page ul li, 
.default-article__page ol li, 
.default-article__page > * {
  font-family: inter,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
}

.default-article__page .rte blockquote h5 {
  margin-bottom: 20px;
}

.default-article__page .rte ol {
  list-style: auto;
  padding-left: 2rem;
}

.default-article__page  .main-article-footer {
  margin: 0 auto;
}

.default-article__page .main-article-footer .main-article-footer-info {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 0;
  border-top: 2px solid #1F23224D;
}

.default-article__page .main-article-footer .main-article-footer-info a {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.default-article__page .main-article-template {
  padding-bottom: 120px;
}

.default-article__page .main-article-social-sharing .list-social {
  justify-content: flex-start;
  padding-bottom: 32px;
}

.default-article__page .main-article-social-sharing .list-social .list-social__item:first-child .list-social__link {
  padding-left: 0;
}

.default-article__page .main-article-social-sharing .list-social .list-social__item .list-social__link  svg {
  width: 18px;
  height: 18px;
}

.default-article__page .main-article-social-sharing .list-social__item .list-social__link {
  padding: 0 7.5px;
}

.default-article__page .main-article-template__hero-social .social-sharing .list-social__item svg {
  height: 18px;
  width: 18px;
}

.default-article__page .main-article-template__hero-social .social-sharing {
  justify-content: flex-end;
}

.default-article__page .main-article-template__hero-social .social-sharing .list-social__item .list-social__link {
  padding: 18px 7.5px;
}

.default-article__page h1 {
  margin-top: 0;
  margin-bottom: 40px;
}

.default-article__page h2, 
.default-article__page h3, 
.default-article__page h4 {
  margin-top: 0;
  margin-bottom: 40px;
}
 
.default-article__page h5, 
.default-article__page h6 {
  margin-top: 0;
  margin-bottom: 20px;
}

.default-article__page p {
  margin-bottom: 35px;
  margin-top: 0;
}

@media screen and (max-width: 768px) {

  .default-article__page p, 
  .default-article__page span, 
  .default-article__page ul li, 
  .default-article__page ol li, 
  .default-article__page > * {
    font-size: 14px;
    line-height: 21px;
  }

  .default-article__page .page-width--narrow {
    padding: 0 2em;
  }

  .default-article__page blockquote {
    padding: 30px 24px;
  }
  
}


