.Featured_Blog_Content_Inner {
  min-height: 100vh;
  margin-top: -1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Featured_Blog_Content_Container {
  order: 2;
}

.Featured_Blog_Image {
  order: 1;
}

.Featured_Blog_Content_Container * {
 font-family: 'inter'; 
}

.Featured_Blog_Content_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}