.Featured_Blog_Content_Inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Featured_Blog_Data {
  order: 2;
  text-align: center;
  padding: 0 80px;
}

.Featured_Blog_Image {
  order: 1;
}

.Featured_Blog_Data * {
 font-family: 'inter'; 
}

.Article_Time {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  margin: 30px 0 35px;
}

.Featured_Blog_Hero .slick-dots {
  padding: 0!important;
  margin: 40px 0 0!important;
  text-align: center!important;
  display: flex;
  justify-content: center;
}

.Featured_Blog_Hero .slick-dots li button {
  font-size: 0;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 3px;
}

.Featured_Label {
  background-color: #ecd8c5;
  font-size: 18px;
  line-height: 30px;
  padding: 2px 18px;
  border-radius: 30px;
  display: inline-block;
}

.Article_Title {
  margin: 0 0 40px;
}