.Featured_Blog_Content_Inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Featured_Blog_Content_Container {
  order: 2;
}

.Featured_Blog_Image {
  order: 1;
}

.Featured_Blog_Content_Container * {
 font-family: 'inter'; 
}

.Featured_Blog_Content_Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 0 0 50%;
}

.Article_Time {
  flex: 0 0 100%;
}

.Featured_Blog_Image {
  order: 1;
  flex: 0 0 50%;
}

.Featured_Blog_Hero .slick-dots {
  padding: 0!important;
  margin: 40px 0 0!important;
  text-align: center!important;
  display: flex;
  justify-content: center;
}

.Featured_Blog_Hero .slick-dots li button {
  font-size: 0;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 3px;
}