.hydration_formula_wrapper{
  padding: 60px 0 ;
}

.hf_container{
  display:flex;
  flex-wrap: wrap;
  max-width: 964px;
  margin: 44px auto 0;
  border: 1px solid black;
}

.hf_items{
  flex: 0 1 100%;
  display: flex;
  border: 1.5px solid;
  padding: 20px;
  position: relative;
  justify-content: space-between;
}

.hf_content {
  margin-top: 38px;
}

.hf_title{
  margin: 0 0 10px;
}

.hf_desc{
  margin:0;
}

.hf_img {
  margin-left: 14px;
  width: 80px;
  height: 80px;
}

.hf_img img{
  border-radius: 50%;
  border: 1.5px solid;
  width: inherit;
  height: inherit;
}

.hf_items i{
  position: absolute;
  bottom: 20px;
  right: 20px;
  line-height: 1;
}

.hf_items i svg{
  width: 14px;
  height: 14px;
}

.heading_wrap{
  text-align: center;
  position: relative;
}

.seal_img{
  margin-bottom: 40px;
}

.heading_wrap h3,
.heading_wrap .sh2{
  max-width: 768px;
  margin: 0 auto;
  font-weight: 400;
  padding: 0;
}

.heading_wrap h3{
  margin: 0 auto 20px;
}

.heading_wrap .sh2{
  font-weight: 300;
  line-height: 30px;
}

.hide-slider{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index:-1;
  align-items: center;
  justify-content: center;
  background: rgba(84, 87, 89, 0.5);
}

.hide_slider_wrapper{
  width: 100%;
}

.hf_item_inner{
  display: flex;
}

.hide_slider_wrapper .hf_items{
  margin: 0 25px;
  padding: 32px 32px 120px;
}

.hf_item_inner .hf_content{
  margin-top: 48px;
}

.hide_slider_wrapper .hf_items .close{
  position: absolute;
  right: 18px;
  top: 18px;
}

.hide_slider_wrapper .hf_items .close:hover svg{
  transform: rotate(90deg);
  transition: transform .3s ease-in-out;
}

.hf_item_inner .hf_img{
  width: auto;
  margin-right: 52px;
  margin-left: 0;
  height: 100px;
  flex: 0 1 100px;
}

.hf_item_inner .hf_content.title{
  padding-right: 40px;
  flex: 0 1 25%;
  position: relative;
  margin-bottom:0;
}

.hf_item_inner .hf_content.desc{
  flex: 0 1 45%;
}

.hf_item_inner .hf_content .hf_desc{
  line-height: 21px;
}


.arrow_item button{
  position: absolute !important;
  padding-top: 50px;
  height: 12px !important;
}

.arrow_item button.slick-prev{
  left: 0;
}

.arrow_item button.slick-next{
  left: 80px;
}

.arrow_item button.slick-prev:hover {
  transform: translate(-5px);
}

.arrow_item button.slick-next:hover {
  transform: translate(5px);
}


@media (min-width:768px) and (max-width:1200px) { 
  .heading_wrap h3{
    max-width: 500px;
  }
}



@media (min-width: 769px) {
  
  .hf_items{
    flex: 0 1 50%;
  }

  .seal_img{
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .hf_img {
    margin-left: 30px;
    width: 100px;
    height: 100px;
  }
  
  .hydration_formula_wrapper{
    padding: 170px 0 ;
  }
  
  .heading_wrap h3{
    margin: 0 auto 40px;
  }
  
  .hf_container{
    margin: 60px auto 0;
  }
  
  .hf_content {
    margin-top: 58px;
  }
  
  .hf_item_inner .hf_img{
    height: 210px;
    flex: 0 1 210px;
  }

}

@media (max-width: 990px) {
  
  .hf_item_inner{
    flex-wrap: wrap;
    position: relative;
  }
  
  .hf_item_inner .hf_content.title{
    flex: 0 1 60%;
  }
  
  .hf_item_inner .hf_content.desc{
    flex: 0 1 100%;
  }
  
  .hf_item_inner .arrow_item{
    display: block !important;
  }

  .hf_item_inner .arrow_item button{
    bottom: -30px;
  }
  
  .hf_item_inner .arrow_item.hide-tab{
    display: none !important;
  }
  
  .hide_slider_wrapper .hf_items{
    padding: 32px 32px 60px;
  }

}


@media (max-width: 768px) {
  
  .hf_title{
    font-size: 18px;
    line-height: 24px;
  }
  
  .hide_slider_wrapper .hf_items{
    padding: 32px 20px 60px;
    margin: 0 10px;
  }
  
  .hf_item_inner .hf_content {
    margin-top: 0px;
  }

  .hf_item_inner .hf_content.title{
    margin-top: 16px;
  }
  
  .hf_item_inner .hf_content.title {
    flex: 0 1 100%;
    padding: 0;
  }

  .hide_slider_wrapper .hf_items .close{
    right: 10px;
    top: 10px;
  }
  
  .hide_slider_wrapper .hf_items .close svg{
    width: 30px;
    height: 30px;
  }
  
  .hf_item_inner .hf_content .hf_desc{
    font-size: 12px;
  }
  
}

