.multicolumn .title {
  margin: 0;
}

.multicolumn.no-heading .title {
  display: none;
}

.lifetime-story {
  border-top: 1px solid #1f2322;
  border-bottom: 1px solid #1f2322;
}

.lifetime-story .multicolumn-list {
  margin-top: 0;
}

.lifetime-story .multicolumn-list .multicolumn-card__info {
  padding-left: 50px;
  margin: 50px 0;
  min-height: 300px
}

@media screen and (min-width: 1023px) {

  .lifetime-story .multicolumn-list .multicolumn-card__info {
    padding-left: 100px;
    margin: 100px 0;
  }

}

.lifetime-story .multicolumn-list li:nth-child(2n) {
  border-left: 1px solid #1f2322;
  height: 530px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.lifetime-story .multicolumn-list li:nth-child(2n)::-webkit-scrollbar {
  display: none;
}

.lifetime-story .multicolumn-list li:last-child p {
  margin-bottom: 20px;
  font-size: 16px;
}

.lifetime-story .multicolumn-list h3 {
  margin-bottom: 25px;
}

.lifetime-story .multicolumn-list li:nth-child(2n) .multicolumn-card__info {
  padding-right: 0;
}

.lifetime-story .multicolumn-list li:first-child .multicolumn-card__info {
  padding-left: 0;
}

.lifetime-story .multicolumn-list li:nth-child(2n) .multicolumn-card__info h3 {
  font-size: 25px;
  margin-bottom: 15px;
}

.lifetime-story .multicolumn-list .sh2 p strong {
  font-size: 12px;
}

@media screen and (max-width: 768px) {

  .lifetime-story .multicolumn-list .multicolumn-card__info, .lifetime-story .multicolumn-list li:first-child .multicolumn-card__info {
    padding-top: 0px;
    padding-bottom: 00px;
    padding-left: 0px;
    padding-right: 0px;
    border: 0 !important;
    margin: 0
  }

  .lifetime-story .multicolumn-list li:nth-child(2n) {
    border: 0 !important;
  }

}

.lifetime-story .multicolumn-list h3 {
  margin-top: 0;
}

@media screen and (max-width: 768px) {

  .multicolumn.no-heading.background-secondary {
    padding-top: 5rem;
  }

  .lifetime-story {
    padding-bottom: 4rem;
  }

  .lifetime-story .multicolumn-list h3 {
    margin-top: 0;
  }

}

@media screen and (min-width: 1200px) {

  .multicolumn.lifetime-story.no-heading:not(.background-secondary) {
    margin-top: 12rem !important;
    margin-bottom: 12rem !important;
  }

}

@media screen and (min-width: 769px) {

  .multicolumn.lifetime-story.no-heading:not(.background-secondary) {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }

}

.multicolumn.background-secondary .title-wrapper-with-link {
  margin-top: 0;
}

.lifetime-story .title-wrapper-with-link {
  margin: 0;
}

@media screen and (max-width: 768px) {

  .multicolumn .title-wrapper-with-link {
    margin-bottom: 3rem;
  }

}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width), .multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 769px) {

  .multicolumn .button {
    margin-top: 4rem;
  }

}

.multicolumn-list {
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn:not(.background-none) .multicolumn-card {
  background: rgba(var(--color-foreground), 0.04);
    height: 100%;
    }

.multicolumn.background-secondary .multicolumn-card {
  background: rgb(var(--color-background));
    }

.multicolumn.background-secondary {
  padding: 4rem 0 5rem;
}

.multicolumn:not(.background-secondary) {
  margin: 5rem 0;
}

.multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.multicolumn-card__info> :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt, .multicolumn-list__item .media--adapt img {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 768px) {

  .multicolumn .page-width {
    padding: 0;
  }

  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list__item {
    margin: 0 0 1rem;
    padding: 0;
  }

  .multicolumn-list:not(.slider) {
    padding-left: 27px;
    padding-right: 27px;
  }

  .multicolumn-list.slider .multicolumn-list__item {
    width: calc(100% - 3rem);
  }

  .multicolumn-list.slider .multicolumn-list__item+.multicolumn-list__item {
    padding-left: 0.5rem;
  }

  .lifetime-story .multicolumn-list__item {
    margin-top: 40px;
  }

  .lifetime-story .multicolumn-list__item .light.sh2 * {
    font-size: 18px;
  }

  .lifetime-story .multicolumn-list__item .slick-slide .light.sh2 * {
    font-size: 14px;
  }

  .lifetime-story .multicolumn-list .slick-slide h3 {
    font-size: 18px !important;
  }

  .testimonial-slider .slick-dots li button {
    width: 8px;
    height: 8px;
    border: 1px solid #1f2322;
    border-radius: 50%;
    font-size: 0;
    margin: 4px;
  }

  .testimonial-slider .slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .testimonial-slider .slick-active button {
    background: #1f2322;
  }

  .lifetime-story.multicolumn {
    margin-bottom: 0;
  }

}

@media screen and (min-width: 769px) {

  .multicolumn-list.slider, .multicolumn-list.grid--4-col-desktop {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 1rem;
    max-width: 50%;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }

  .grid--2-col-tablet .multicolumn-list__item:nth-of-type(-n + 2) {
    margin-top: 0;
  }

}

@media screen and (min-width: 990px) {

  .grid--2-col-tablet.grid--4-col-desktop .multicolumn-list__item {
    max-width: 25%;
  }

  .grid--2-col-tablet.grid--4-col-desktop .multicolumn-list__item:nth-of-type(-n + 4) {
    margin-top: 0;
  }

}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info {
  padding: 2.5rem 2.5rem;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .multicolumn-card__image-wrapper+.multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none .slider .multicolumn-card__image-wrapper+.multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (min-width: 769px) { 

  .background-none .multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .multicolumn-list .multicolumn-card__info,	.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

}


@media screen and (max-width: 768px) {
  .lifetime-story .multicolumn-list .multicolumn-card__info {
	min-height: unset;
  }
  
  .lifetime-story .multicolumn-list .multicolumn-card__info .h3 {
    margin-bottom: 20px;
  }
  
  .lifetime-story .multicolumn-list li:nth-child(2n) {
    height: unset;
    margin: 60px 0 0 0;
  }
  
  .lifetime-story .multicolumn-list li:nth-child(2n) .h3 {
    margin: 0 0 18px;
    font-size: 18px;
  }
  
  .lifetime-story .multicolumn-list li:nth-child(2n) .sh2 {
    margin: 0 0 18px;
    font-size: 14px;
  }
  
  .lifetime-story .multicolumn-list li:nth-child(2n) .sh2:nth-child(3) {
    margin: 0;
    font-weight: light;
    font-size: 12px;
  }
  
  .lifetime-story .multicolumn-list li:nth-child(2n) strong {
    font-weight: light !important;
    font-size: 12px !important;
  }
  
  .lifetime-story .testimonial-slider .slick-dots li {
    margin: 0;
  }
}

.multicolumn-card__info-image {
  max-width: 130px !important;
  margin-bottom: 30px;
}

.multicolumn-card__info .body-xs {
  margin: 20px 0 0;
  text-transform: unset;
  font-size: 12px !important;
}

.page-partner-with-us .multicolumn.lifetime-story.background-primary.no-heading {
  margin: -1px 0 !important;
}