.Love_To_Learn_Text {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

.Love_To_Learn {
  padding: 70px 0 20px;
}

.Blank_Space {
  width: 240px;
  display: inline-block;
  height: 2.5px;
  background-color: #1F2322;
  margin: 0 8px;
}

.Love_To_Learn_Text h2 {
  margin: 20px 0 0;
}