/* BUNDLE GENRAL CSS */

body.open-bundle-info {
  overflow: hidden;
}

.lsg-bundle-block .collection-groups__marquee {
  display: none;
}

.page-template--product-bundle .header--transparent:not(.header--scrolled) .header-wrapper {
  border-color: var(--charcoal);
}

.title--wrapper .lsg-bundle-buybox-product-name{
  padding-left: 0;
}

.title--wrapper:not(.show-discount-widget) .lsg-bundle-buybox-product-name {
  position: relative;
}

.title--wrapper:not(.show-discount-widget) .lsg-bundle-buybox-product-name:before {
  background: #000;
  content: '';
  width: 1px;
  height: 15px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.lsg-bundle-product-set-list .collection-groups__item {
  margin: 70px 0;
  padding-bottom: 100px;
}

.lsg-bundle-product-set-list .collection-content p {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 1.667em;
  margin: 0 0 20px;
}

.lsg-bundle-product-set-list .collection-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lsg-bundle-product-set-list .collection-content ul li {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.5em;
  margin-bottom: 6px;
}

.title--wrapper > * {
  padding: 0 10px;
}

.title--wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.hidden {
  display: none;
}

.lsg-bundle-block input[type="number"]::-webkit-inner-spin-button,
.lsg-bundle-block input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.lsg-bundle-block input[type="number"] {
  -moz-appearance: textfield;
}

.lsg-bundle-block:not(.lsg-bundle-block-active) {
  display: none;
}

.lsg-bundle-buybox-block {
  width: 51%;
  padding: 0 20px;
}

.lsg-bundle-product-set-list .collection-groups__item:last-child {
  margin-bottom: 80px;
  padding-bottom: 80px;
  border: none;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .drawer-product--info .okeReviews-reviewsSummary-ratingCount, 
.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .drawer-product--info .okeReviews-reviewsSummary-ratingCount span {
  font-size: 12px;
  font-weight: 300 !important;
  color: var(--charcoal-60);
  line-height: 20px;
  top: 1px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .drawer-product--info .okeReviews-reviewsSummary-ratingCount {
  left: 40px;
}

/* PRODUCT CARD */

.lsg-bundle-product-set-list .collection-groups__item .collection-groups__grid .card-wrapper .card-information .card-information__title {
  text-align: left;
  text-transform: capitalize;
  margin: 0 0 10px;
}

.lsg-bundle-product-set-list .collection-groups__item .collection-groups__grid .card-information p:not(.card-information__text) {
  margin: 10px 0 12px;
  color: #545759;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.750em;
}

.js-added .button.product-qty--wrapper{
  display: inline-flex;
}

.js-added .product-atc-btn{
  display:none;
}

.button.product-qty--wrapper {  
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background: #FFF;
}

.card__inner .media .quick-view-button {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 11px 8px 0 auto;
  right: 0;
  display: block;
  z-index: 1;
}

.card__inner .media .quick-view-button svg {
  width: 100%;
  height: 100%;
}

.lsg-bundle-product-select-quantity-wrap {
  display: flex;
}

.lsg-bundle-product-select-quantity-input,
.lsg-bundle-product-select-quantity-input-display {
  background: none;
  border: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  font-family: inherit;
}

button:not([disabled]) {
  cursor: pointer;
}

.lsg-hidden {
  display: none !important;
}

.lsg-bundle-product-set-list .collection-groups__item .card-information__text {
  color: #545759;
}

.lsg-bundle-product-select-quantity-increment svg {
  width: 10px;
  height: 10px;
}

/* ADD BUNDLE BOX START */

/* .lsg-bundle-summary-block--wrapper {
  display:none;
} */

.lsg-bundle-block.has-selected-product .lsg-bundle-summary-block--wrapper:not(.open){
  transform:translateY(calc(100% - 60px));
}
.lsg-bundle-summary-block--wrapper{
  position: fixed;
  box-shadow: 0px -10px 20px #00000014;
  left:0;
  right:0;
  bottom: 0;
  display:block;
  background: #FFF;
  z-index: 8;
  overflow-y: auto;
  transform: translateY(100%);
  transition: all 0.4s ease-in-out;
}

.lsg-bundle-summary-block--wrapper.open {
  transform: translateY(0);
}

.has-selected-product .lsg-bundle-summary-block {
  display: flex;
  width: 100%;
  padding: 42px 40px;
  background: #FFF;
  z-index: 2;
  flex-wrap: wrap;
  align-items: center;
  transition:0.5s;
}

.lsg-bundle-summary-block .bundle-actions--wrapper {
  width: 44%;
  padding: 0 0 0 35px;
}

.lsg-bundle-summary-block .bundle-selected-products--wrapper {
  width: 56%;
  padding: 0 35px 0 0;
  position: relative;
}

.lsg-bundle-product-select-title {
  font-family: var(--font-head-font);
  font-size: 10px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  flex-grow: 1;
}

.lsg-bundle-summary-block .bundle-selected-products--wrapper {
  width: 56%;
  padding: 10px 40px 0 0;
}

.lsg-bundle-summary-block .bundle-selected-products--wrapper .lsg-bundle-buybox-product-info {
  margin-bottom: 25px;
}

.lsg-bundle-buybox-product-info {
  margin-bottom: 1rem;
}

.lsg-bundle-summary-block .bundle-selected-products--wrapper .lsg-bundle-buybox-product-info span {
  font-family: inter,sans-serif;
}

.lsg-bundle-summary-block--wrapper .title--wrapper .min-info .discount-badge,
.lsg-bundle-summary-block--wrapper .title--wrapper.show-discount-widget .min-info .into-text
/* ,.lsg-bundle-summary-block--wrapper .title--wrapper.hide-info .min-info */
{
  display: none;
}

.lsg-bundle-summary-block--wrapper .title--wrapper.show-discount-widget .min-info .discount-badge,
.lsg-bundle-summary-block--wrapper .title--wrapper:not(.show-discount-widget) .min-info .into-text{
  display: block;
}

.lsg-bundle-summary-block .bundle-selected-products--wrapper .lsg-bundle-buybox-product-info .lsg-bundle-buybox-product-name {
  font-size: 14px;
  line-height: 1.929em;
  font-weight: 500;
}

.lsg-bundle-summary-block .bundle-selected-products--wrapper .lsg-bundle-buybox-product-info .min-info {
  font-size: 12px;
  line-height: 1.750em;
  color: #545759;
}

.lsg-bundle-summary-block .bundle-selected-products--wrapper .lsg-bundle-buybox-product-info .min-info .discount-badge {
  margin-left: -10px;
}

.lsg-bundle-summary-block .discount-badge {
  background-color: #c6db76;
  padding: 4px 10px;
  border-radius: 18px;
  color: #1f2322;
  font-size: 12px;
  line-height: 1;
  min-width: 160px;
}

.lsg-bundle-summary-block .bundle-selected-products--wrapper .bundle-builder__selected-products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 24px 0 0 0;
}

.bundle-builder__selected-product {
  width: calc(20% - 55px);
  max-width: 90px;
  position: relative;
}

.bundle-builder__selected-product-img-wrapper {
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

.bundle-builder__selected-product-image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.bundle-builder__selected-product-placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  font-size: 12px;
  font-family: inter,sans-serif;
  color: #1F2322;
}

.bundle-builder__selected-product-placeholder:before {
  content: '';
  border: 1.5px dashed #545759;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: block;
  position: absolute;
  transform: scale(1.1);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bundle-builder__selected-product-placeholder:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.bundle-builder__selected-product.active .bundle-builder__selected-product-placeholder {
  display: none;
}

.bundle-builder__selected-product:not(.active) .bundle-builder__selected-product-image {
  display: none;
}

.bundle-builder__selected-product:not(.active) .bundle-builder__selected-product-remove-button {
  display: none;
}

.bundle-builder__selected-product-remove-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  color: #000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #000;
}

.bundle-builder__selected-product-remove-button:after {
  content: '';
  display: block;
  width: 50%;
  height: 10%;
  background-color: currentColor;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.bundle-builder__selected-product-remove-button:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.bundle-builder__selected-product-remove-button:after {
  transform: translate(-50%, -50%) rotate(358deg);
}

.bundle-builder__selected-product-title {
  display: block;
  font-family: inter,sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
}

.bundle-builder__selected-product.active .bundle-builder__selected-product-title {
  margin-top: 8px;
}

.lsg-bundle-product-select-quantity-wrap {
  position: relative;
  background: white;
  border-radius: 100px;
  border: 1px solid #242424;
  color: #242424;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.2;
}

.lsg-bundle-product-select-quantity-wrap:not(.no-quantity) .lsg-bundle-product-select-quantity-increment-add-text {
  display: none;
}

.lsg-bundle-product-select-quantity-increment {
  width: 30%;
  background: none;
  border: 0;
}

.lsg-bundle-product-select-quantity-increment svg path {
  stroke: currentColor;
}

.lsg-bundle-product-select-quantity-input-display {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  flex-shrink: 0;
  width: 40%;
}

.lsg-bundle-product-select-quantity-wrap.no-quantity .lsg-bundle-product-select-quantity-minus,
.lsg-bundle-product-select-quantity-wrap.no-quantity .lsg-bundle-product-select-quantity-input-display {
  display: none;
}

.lsg-bundle-product-select-quantity-wrap.no-quantity .lsg-bundle-product-select-quantity-plus {
  background: #242424;
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
  position: absolute;
  border-radius: 100px;
}

.lsg-bundle-product-select-quantity-wrap.no-quantity .lsg-bundle-product-select-quantity-plus:disabled {
  background-color: #f2f2f2;
  color: #212121;
}

.lsg-bundle-product-select-quantity-increment-add-text {
  text-transform: uppercase;
}

.lsg-bundle-buybox-description {
  color: #212121;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  gap: 20px;
}

.lsg-bundle-submit-button {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  display: flex;
  padding: 12px 24px;
  color: #555;
  background-color: rgba(36, 36, 36, 0.3);
  border-radius: 100px;
  width: 100%;
  font-weight: bold;
  lex-direction: row;
  justify-content: space-between;
}

.lsg-bundle-submit-button .btn-text-wrapper {
  margin: auto;
}

.lsg-bundle-submit-button:not(.disabled) {
  background-color: #242424;
  color: white;
}

.lsg-bundle-sub-atc {
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.79;
  text-align: center;
  color: #212121;
  font-weight: 400;
}

.lsg-bundle-interval-select,
.make-add-to-cart-action.bundle-checkout-enabled .lsg-bundle-summary-block .bundle-actions--wrapper label[data-add-more-label],
.lsg-bundle-sub-atc {
  display: none;
}

.lsg-bundle-block.bundle-checkout-enabled.make-add-to-cart-action .lsg-bundle-interval-select,
.make-add-to-cart-action .lsg-bundle-sub-atc {
  display: block;
}

.lsg-bundle-summary-block .bundle-actions--wrapper label[data-add-more-label] {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #1F2322;
  font-family: inter,sans-serif;
  font-weight: 300;
  line-height: 1.591em;
  margin-bottom: 0;
}

.lsg-bundle-summary-block .bundle-actions--wrapper label[data-add-more-label] b {
  font-weight: 500;
}

.lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-atc-wrapper .lsg-bundle-atc-wrapper .lsg-bundle-submit-button {
  border: 1.5px solid #1F2322;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.5;
  font-family: inter,sans-serif;
  font-weight: 400;
  color: #1F2322;
  padding: 13px 24px 14px 24px;
  display: flex;
  align-items: center;
  transition: .2s ease;
}

.lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-atc-wrapper .lsg-bundle-atc-wrapper .lsg-bundle-submit-button s {
  color: #545759;
}

.make-add-to-cart-action .lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-atc-wrapper .lsg-bundle-atc-wrapper .lsg-bundle-submit-button[type="submit"] {
  background-color: #F6ECE1;
  border-color: #1F2322;
}

.lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-atc-wrapper .lsg-bundle-atc-wrapper .lsg-bundle-submit-button:hover {
  box-shadow: 6px 6px 0 0 var(--charcoal);
}

.lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-sub-atc {
  font-family: inter,sans-serif;
  margin-top: 8px;
  color: #545759;
  font-weight: 300;
}

.lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select .lsg-bundle-frequency-heading {
  display: none;
}

.lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select .lsg-bundle-interval-select-inner {
  margin-bottom: 20px;
}

[data-add-more-label] span {
  color: #9AC847;
  font-weight: 500;
  display: inline-block;
}

.lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select .lsg-bundle-interval-select-inner .lsg-bundle-interval-select-pod-top .lsg-bundle-interval-el {
  flex-direction: column;
  gap: 0;
}

.lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select .lsg-bundle-interval-select-inner .lsg-bundle-interval-select-pod-top {
  flex-direction: unset;
}

.lsg-bundle-interval-el {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  gap: 8px;
  padding: 2px 16px 2px 30px;
  flex-grow: 1;
  color: #1F2322;
}

.lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select .lsg-bundle-interval-select-inner .lsg-bundle-interval-select-pod-top .lsg-bundle-interval-el>div {
  text-align: left;
  display: block;
  width: 100%;
  font-size: 18px;
  font-family: inter,sans-serif;
  font-weight: 300;
  color: #1F2322;
}

.lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select .lsg-bundle-interval-select-inner .lsg-bundle-interval-select-pod-top label {
  text-transform: capitalize;
  display: block;
  letter-spacing: 0;
  color: #545759;
}

.lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select .lsg-bundle-interval-select-inner .lsg-bundle-interval-select-pod-top .lsg-bundle-interval-el .subscription-info {
  line-height: 1;
  margin-top: 5px;
  display: block;
}

.lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-interval-el[for^=bundleIntervalSelectOTP_]:before {
  background-color: #1F2322;
}

.lsg-bundle-block.lsg-bundle--sub-selected .lsg-bundle-interval-el[for^=bundleIntervalSelectSub_0]:before {
  background-color: #1F2322;
}

.lsg-bundle-interval-el:before {
  position: absolute;
  border: 1px solid #1F2322;
  content: '';
  display: block;
  border-radius: 50%;
  width: 20px;
  margin: -1px;
  height: 20px;
  left: 0;
  top: 8px;
}

.lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-interval-el[for^=bundleIntervalSelectOTP_]:after, 
.lsg-bundle-block.lsg-bundle--sub-selected .lsg-bundle-interval-el[for^=bundleIntervalSelectSub_]:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 6.8px;
  width: 5px;
  height: 11px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  z-index: 11;
  border-radius: 0;
}

.lsg-bundle-frequency-heading {
  color: #212121;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: .5rem;
}

.lsg-bundle-interval-select-inner {
  margin-bottom: 20px;
  padding: 0;
}

.lsg-bundle-interval-select-pod-top {
  display: flex;
  flex-direction: column;
}

.lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-interval-select-pod-bottom {
  display: none;
}

.lsg-bundle-interval-select-pod-bottom {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.product-quick-view-slide-out--wrapper .okeReviews-starRating--small span.okeReviews-a11yText {
  height: 100%!important;
  clip: inherit!important;
  right: -43px;
  font-family: inter,sans-serif;
  font-style: normal;
  font-weight: 500!important;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 21px!important;
  width: auto!important;
  overflow: hidden;
  top: 2px;
}

.product-quick-view-slide-out--wrapper .okeReviews-reviewsSummary-ratingCount {
  left: 74px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .Badge_Grid_Container .Badge_Grid_Item span.Badge_Grid p br {
  display: none;
}

/* ADD BUNDLE BOX END */

.bundle-products-and-actions--wrapper .bundle-selected-products--wrapper,
.bundle-products-and-actions--wrapper .bundle-actions--wrapper {
  width: 50%;
  padding: 20px;
  background: #FFF;
  height: 100%;
  display: block;
}

.lsg-bundle-buybox-product-rating {
  display: flex;
}

.lsg-bundle-product-otp-list,
.lsg-bundle-product-sub-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 30px;
}

.lsg-bundle-product-select-wrapper {
  width: 143px;
  padding: 15px;
  background: #f8f8f8;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lsg-bundle-product-select-img-wrap {
  background: #ddd;
  border-radius: 4px;
  overflow: hidden;
  height: 0;
  padding-bottom: 90%;
  position: relative;
}

.lsg-bundle-product-select-img-wrap img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.lsg-bundle-interval-select-heading {
  color: #212121;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: .5rem;
}

.lsg-bundle-interval-frequency-select {
  margin: 0;
  border: 0;
  padding: 0;
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  background: none;
  width: 100%;
}

.lsg-bundle-interval-frequency-select-wrap {
  position: relative;
  background: white;
  border: 1px solid #ddd;
  border-radius: 100px;
  padding: 0.75rem 2rem 0.75rem 0.75rem;
}

.lsg-bundle-interval-frequency-select-wrap:after {
  content: '';
  display: block;
  position: absolute;
  height: 9px;
  width: 16px;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url("data:image/svg+xml;utf8,<svg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L7.84113 8L15 1' stroke='%23555555' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
}

.lsg-bundle-size-select-heading {
  color: #212121;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: .5rem;
}

.lsg-bundle-size-select {
  display: flex;
  background: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 100px;
}

.lsg-bundle-size-select-el {
  background: none;
  border: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  padding: 3px 8px;
  cursor: pointer;
  color: #555;
  text-transform: uppercase;
  flex-grow: 1;
  min-height: 2.5rem;
}

.lsg-bundle-size-select-el.lsg-bundle-size-select-el--selected {
  color: #fff;
  background: #555;
}

.lsg-bundle-size-select .lsg-bundle-size-select-el:not(:last-child) {
  border-right: 1px solid #ddd;
}

.lsg-bundle-size-select .lsg-bundle-size-select-el:first-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.lsg-bundle-size-select .lsg-bundle-size-select-el:last-child {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

/* STICKY BAR START */

.lsg-bundle-sticky-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 16px;
  z-index: 998;
  transition: all .4s ease-in;
}

.lsg-bundle-block:not(.is-initialized) .lsg-bundle-sticky-bar {
  display: none;
}

.lsg-bundle-block.summary-is-below:not(.has-selected-product) .lsg-bundle-sticky-bar,
.lsg-bundle-block.summary-is-visible .lsg-bundle-sticky-bar,
.lsg-bundle-block.is-scroll-bottom .lsg-bundle-sticky-bar {
  opacity: 0;
  touch-action: none;
  pointer-events: none;
}

.lsg-bundle-block:not(.bundle-checkout-enabled) .lsg-bundle-sticky-selected-products,
.lsg-bundle-block:not(.bundle-checkout-enabled) .lsg-bundle-sticky-atc .lsg-bundle-sub-atc {
  display: none;
}

.lsg-bundle-sticky-inner {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.lsg-bundle-sticky-bar .bundle-builder__selected-products {
  margin: 0;
  row-gap: 20px;
}

.lsg-bundle-sticky-summary-block .bundle-builder__selected-product.active .bundle-builder__selected-product-title {
  margin-top: 10px;
}

.lsg-bundle-sticky-bar .lsg-bundle-interval-select-inner {
  margin-bottom: 0;
}

.lsg-bundle-sticky-bar .lsg-bundle-interval-select-pod-bottom {
  margin-bottom: 0;
}

.lsg-bundle-sticky-bar .lsg-bundle-sub-atc {
  margin-top: 15px;
}

/* STICKY BAR END */

/* Bundle Product Quickview Drawer CSS Start */

.product-quick-view-slide-out--wrapper {
  width: 100%;
  max-width: 683px;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  transform: translate(100%);
  -webkit-transform: translateX(100%);
  transition: .4s ease-in-out;
  z-index: 15;
  background: white;
  overflow: hidden;
  padding-left: 40px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .product__media-wrapper {
  max-width: 408px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .product__media-wrapper .product__media-arrows {
  margin-top: -92px;
  right: -18px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .product__media-wrapper .slick-arrow {
  width: 60px;
  height: 60px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .product__media-wrapper .product__media-item .product-spinner {
  top: 14px;
  right: 14px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .product__media-wrapper .badge_animat_cls .rotet_badge_svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 92px;
  height: 92px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .product__media-wrapper .badge_animat_cls .fixed_badge_center {
  position: absolute;
  right: 0;
  width: 92px;
  height: 92px;
  top: -3px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px !important;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .drawer-product--info {
  padding-right: 40px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper [data-oke-reviews-product-listing-rating] {
  margin-bottom: 10px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .product__description p {
  margin-top: 30px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .pdp-faq .faq-section {
  margin: 40px 0 30px!important;
  padding:0;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .Badge_Grid_Container {
  margin: 40px 0;
  justify-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .js-product-details-link {
  margin: 30px 0 60px;
  display: block;
  font-family: inter,sans-serif;
  text-decoration: underline;
  text-underline-offset: 5px;
  font-size: 14px;
  font-weight: normal;
}

.product-quick-view-slide-out--wrapper.active {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
  -webkit-transform: translateX(0);
}

.product-quick-view-slide-out--wrapper:not(.loading) .loading-overlay-wrapper{
  opacity:0;
  visibility:hidden;
}
.product-quick-view-slide-out--wrapper .shop-slide-out__content{
  position:relative;
}

.product-quick-view-slide-out--wrapper.loading .loading-overlay-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: .5s;
  opacity: 0.6;
  visibility: visible;
  background: #FFF;
  position: absolute;
  top: 0;
}

.product-quick-view-slide-out--wrapper.loading .loading-overlay-wrapper .loader {
  animation: loading var(--duration-long) infinite linear;
  border: .3rem solid rgba(0,0,0,.4);
  border-left: .3rem solid rgb(0,0,0);
  border-radius: 100%;
  box-sizing: content-box;
  height: 2rem;
  position: relative;
  width: 2rem;
  top: 0;
}

.product-quick-view-slide-out--wrapper .quick-view__close {
  width: 28px;
  height: 28px;
  right: 20px;
  position: absolute;
}

.product-quick-view-slide-out--wrapper .shop-slide-out__header{
  border:none;
}

.product-content--wrapper {
  overflow: auto;
  height: 100%;
}

.lsg-bundle-submit-button.subscription-enabled .subtotal-text {
  display: none;
}

/* Bundle Product Quickview Drawer CSS End */

/* REVIEW CARD CSS START */

.Review_Card_Wrapper {
  background-color: #f6ece166;
  border-radius: 17px;
  text-align: center;
  padding: 40px 18px;
  display: flex !important;
  align-items: center;
}

.Review_Card_Wrapper .Review_Box {
  margin-bottom: 35px;
}

.Review_Card_Wrapper .Review_Box .Review_Star svg path {
  fill: #FAD16F;
}

.Review_Card_Wrapper .Review_Box .Review_Star {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Review_Card_Wrapper .Review_Box .sh2 {
  color: #1F2322;
  margin: 15px 0;
  line-height: 1.444em;
}

.Review_Card_Wrapper .Review_Box .body-xs {
  text-transform: capitalize;
  color: #1F2322;
  letter-spacing: 0;
}

.Review_Card_Wrapper .Review_Box:last-child {
  margin-bottom: 0;
}

.open-bundle-info .has-selected-product .lsg-bundle-summary-block--wrapper {
/*   position:unset; */
  transform: translateY(100%);
}

/* REVIEW CARD CSS END */

.lsg-bundle-product-set-list .collection-groups__item .product-badge {
  top: 7px;
  left: 12px;
}

.lsg-bundle-product-set-list .collection-groups__item .product-badge label {
  background-color: #1F2322;
  color: #fff;
  font-family: inter,sans-serif;
  font-size: 12px;
  line-height: 1;
  border-radius: 18px;
  padding: 2px 10px 3px 10px;
}

.mobile-toggle-btn--wrapper .icon--wrapper {
  width: 14px;
  height: auto;
  position: absolute;
  right: 18px;
  top: 18px;
}

.mobile-toggle-btn--wrapper .icon--wrapper svg {
  width: 100%;
  height: 100%;
}

.mobile-toggle-btn--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor:pointer;
}

/* .has-selected-product .lsg-bundle-summary-block--wrapper .lsg-bundle-summary-block {
  height: 0;
  padding: 0;
  transition: unset;
  display: none;
} */

.bundle-builder__selected-product:not(.active) {
  cursor: pointer;
}

.has-selected-product .lsg-bundle-summary-block--wrapper .mobile-toggle-btn--wrapper .count-badge {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter,sans-serif;
  font-size: 14px;
  color: #1F2322;
  margin-right: 10px;
  position:relative;
}

.count-badge {
  background: #ECD8C5;
  border-radius: 100%;
  color: #000;
}

.bundle-checkout-enabled .count-badge {
  background: #C6DB76;
}


[type="submit"].lsg-bundle-submit-button,
.make-add-to-cart-action [type="button"].lsg-bundle-submit-button {
  display:none !important;
}

.make-add-to-cart-action [type="submit"].lsg-bundle-submit-button {
  display:flex !important;
}

.is-visible.page-blury-overlay {
  display: block;
}

.page-blury-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  cursor:pointer;
}

.lsg-bundle-summary-block--wrapper .icon.icon-caret {
  transform: rotate(180deg);
}

.lsg-bundle-summary-block--wrapper.open .icon.icon-caret {
  transform: rotate(0deg);
}

.discount-badge:empty {
  display: none;
}

@media (min-width: 1201px) {

  .lsg-bundle-summary-block .bundle-selected-products--wrapper:before {
    height: 115%;
  }
  
}

@media (min-width: 769px) {

  .page-blury-overlay{
    background-color: transparent;
  }
  
  .lsg-bundle-wrapper h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
  }

  .lsg-bundle-summary-block .bundle-selected-products--wrapper:before {
    content: '';
    width: 1px;
    height: 105%;
    position: absolute;
    right: 0;
    background-color: #545759;
    opacity: 0.5;
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .lsg-bundle-sticky-inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  
  .lsg-bundle-block.summary-is-below .lsg-bundle-sticky-bar{
    opacity: 0;
    touch-action: none;
    pointer-events: none;
  }
  
  .lsg-bundle-sticky-bar .bundle-builder__selected-products {
    gap: 6px;
    flex-wrap: nowrap;
  }
  
  .lsg-bundle-sticky-summary-block .bundle-builder__selected-product-placeholder {
    border-width: 2px;
  }
  
  .lsg-bundle-sticky-bar .bundle-builder__selected-products .bundle-builder__selected-product {
    width: 36px;
  }
  
  .lsg-bundle-sticky-bar .bundle-builder__selected-product-remove-button {
    width: 14px;
    height: 14px;
  }
  
  .lsg-bundle-sticky-bar .bundle-builder__selected-products .bundle-builder__selected-product-title-wrap {
    display: none;
  }
  
  .lsg-bundle-sticky-bar .lsg-bundle-interval-select-pod-bottom {
    display: none;
  }
  
  .lsg-bundle-sticky-bar .lsg-bundle-sub-atc {
    display: none;
  }
  
  .lsg-bundle-sticky-bar .lsg-bundle-frequency-heading {
    display: none;
  }
  
  .lsg-bundle-sticky-bar .lsg-bundle-interval-el {
    padding-left: 30px;
    padding-right: 10px;
    font-size: 12px;
  }
  
  .lsg-bundle-sticky-bar .lsg-bundle-sticky-bar-frequency-select {
    border-left: 1px solid #555;
    padding-left: 10px;
  }
  
  .lsg-bundle-sticky-bar .lsg-bundle-sticky-bar-frequency-select .lsg-bundle-interval-select-heading {
    display: none;
  }
  
  .lsg-bundle-sticky-bar .lsg-bundle-interval-frequency-select-wrap {
    padding: 0.25rem 1.5rem 0.25rem 0.5rem;
  }
  
  .lsg-bundle-sticky-bar .lsg-bundle-interval-frequency-select {
    font-size: 12px;
  }
  
  .lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-sticky-bar-frequency-select .lsg-bundle-interval-frequency-select-wrap:after {
    width: 10px;
    height: 7px;
  }
  
  .lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-sticky-bar-frequency-select .lsg-bundle-interval-frequency-select {
    color: gray;
    pointer-events: none;
    touch-action: none;
  }
  
  .lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-sticky-bar-frequency-select .lsg-bundle-interval-select-heading {
    color: gray;
  }
  
  .lsg-bundle-sticky-bar .lsg-bundle-interval-select-pod-top {
    align-items: flex-start;
  }
  
  .lsg-bundle-sticky-bar .lsg-bundle-interval-el {
    gap: 10px;
  }
  
  .lsg-bundle-sticky-bar .lsg-bundle-interval-frequency-select {
    background: none;
  }

  .has-selected-product .lsg-bundle-summary-block--wrapper.open .lsg-bundle-summary-block {
    height: 100%;
    padding: 25px 40px 18px;
    display: flex;
  }
  
  .has-selected-product .lsg-bundle-summary-block--wrapper .mobile-toggle-btn--wrapper {
    padding: 14px 40px 14px 40px;
    border-top: 1px solid #1F2322;
  }
  
  .has-selected-product .lsg-bundle-summary-block--wrapper .mobile-toggle-btn--wrapper .lsg-bundle-buybox-product-name {
    margin: 0!important;
    font-size: 14px;
    line-height: 1.929em;
    font-weight: 500;
    margin-bottom: 8px;
    font-family: inter,sans-serif;
    color: #1f2322;
  }
  
  .lsg-bundle-summary-block--wrapper .title--wrapper .lsg-bundle-buybox-product-name:before {
    display: none !important;
  }
  
  .lsg-bundle-summary-block--wrapper.open .title--wrapper .lsg-bundle-buybox-product-name:before {
    display: block !important;
  }
  
  .has-selected-product .lsg-bundle-summary-block--wrapper .mobile-toggle-btn--wrapper .min-info {
    color: #545759;
    font-size: 12px;
    font-family: inter,sans-serif;
    letter-spacing: 0;
    padding-left: 0;
    font-weight: 300;
  }
  
  .mobile-toggle-btn--wrapper .icon--wrapper {
    top: 15px;
    width: 18px;
  }
  
  .has-selected-product .lsg-bundle-summary-block--wrapper.open .mobile-toggle-btn--wrapper {
    padding: 0;
  }
  
  .has-selected-product .lsg-bundle-summary-block--wrapper.open .mobile-toggle-btn--wrapper .title--wrapper {
    display: none;
  }
  
  .has-selected-product .lsg-bundle-summary-block--wrapper.open .mobile-toggle-btn--wrapper .icon--wrapper {
    top: 13px;
    width: 18px;
  }
  
}

@media (max-width: 1250px) {
  
  .bundle-builder__selected-product {
    width: calc(22% - 60px);
  }

  .lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select .lsg-bundle-interval-select-inner .lsg-bundle-interval-select-pod-top .lsg-bundle-interval-el>div {
    font-size: 16px;
  }
  
  .has-selected-product .lsg-bundle-summary-block {
    padding: 25px 40px;
  }
  
}

@media (max-width: 1024px) {
  
  .lsg-bundle-summary-block .bundle-selected-products--wrapper {
    padding: 0 25px 0 0;
  }

  .lsg-bundle-summary-block .bundle-actions--wrapper {
    padding: 0 0 0 25px;
  }
  
  .bundle-builder__selected-product-placeholder {
    font-size: 10px;
  }
  
  .bundle-builder__selected-product {
    width: calc(22% - 54px);
  }
  
}

@media (max-width: 959px) {
  
  .has-selected-product .lsg-bundle-summary-block {
    padding: 25px 27px;
  }
  
  .bundle-builder__selected-product {
    width: calc(33.33% - 20px);
    max-width: 100%;
  }
    
  .lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select .lsg-bundle-interval-select-inner .lsg-bundle-interval-select-pod-top {
    flex-direction: column;
  }

  .lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select .lsg-bundle-interval-select-inner .lsg-bundle-interval-select-pod-top .lsg-bundle-interval-el {
    margin-top: 15px;
  }

  .lsg-bundle-interval-el:before {
    top: 5px;
  }
  
  .lsg-bundle-block.lsg-bundle--otp-selected .lsg-bundle-interval-el[for^=bundleIntervalSelectOTP_]:after, 
  .lsg-bundle-block.lsg-bundle--sub-selected .lsg-bundle-interval-el[for^=bundleIntervalSelectSub_]:after {
    top: 8px;
  }

  .bundle-builder__selected-product-placeholder {
    font-size: 12px;
  }
  
}

@media (max-width: 768px) {

/*   .lsg-bundle-summary-block--wrapper { 
    transform: translateY(calc(100% - 59px));
  } */

  .page-blury-overlay{
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .lsg-bundle-product-set-list .collection-groups__item .collection-groups__grid .card-wrapper .card-information .card-information__title {
    margin: 0 0 8px;
  }
  
  .lsg-bundle-product-set-list .collection-groups__item .collection-groups__grid .card-information p:not(.card-information__text) {
    margin: 8px 0 14px;
    font-size: 10px;
  }
  
  .has-selected-product .lsg-bundle-summary-block:not(.open) .min-info .discount-badge {
    background: transparent;
    text-transform: uppercase;
  }

  .lsg-bundle-summary-block--wrapper.open .lsg-bundle-summary-block {
    bottom: 0;
  }

  .lsg-bundle-summary-block--wrapper .title--wrapper .lsg-bundle-buybox-product-name:before {
    display: none !important;
  }

  .lsg-bundle-summary-block--wrapper.open .lsg-bundle-summary-block .min-info {
    width: 100%;
  }
  
  .lsg-bundle-sticky-bar-frequency-select,
  .lsg-bundle-buybox-product-info,
  .lsg-bundle-summary-block--wrapper.open .count-badge{
    display: none;
  }

  .lsg-bundle-summary-block > *{
    width:100% !important;
  }
  
  .lsg-bundle-buybox-product-info {
    text-align: center;
  }
  
  .lsg-bundle-block {
    flex-direction: column;
    padding: 0;
  }
  
  .lsg-bundle-gallery-block, .lsg-bundle-buybox-block, .lsg-bundle-summary-block {
    width: 100%;
  }
  
  .lsg-bundle-product-set-list {
    flex-wrap: wrap;
  }
  
  .lsg-bundle-product-select-wrapper {
    width: calc(50% - 10px);
  }
  
  .lsg-bundle-buybox-product-name {
    font-size: 30px;
    line-height: 1.33;
    margin-bottom: 10px;
  }
  
  .lsg-bundle-buybox-block {
    padding: 0 15px;
    margin-bottom: 30px;
  }
  
  .lsg-bundle-product-select-wrapper {
    padding: 20px;
  }
  
  .lsg-bundle-product-select-title {
    font-size: 10px;
    line-height: 1.2;
  }
  
  .lsg-bundle-product-select-quantity-wrap {
    font-size: 12px;
  }
  
  .lsg-bundle-summary-block h1 {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 0;
  }
  
  .lsg-bundle-summary-block .custom_price_display {
    font-size: 16px;
    line-height: 1.2;
  }

  .bundle-builder__selected-products {
    margin-top: 20px;
    gap: 10px;
    row-gap: 30px;
    margin-bottom: 30px;
  }
    
  .bundle-builder__selected-product-title {
    font-size: 12px;
  }
  
  .lsg-bundle-interval-el {
    font-size: 12px;
    line-height: 1.55;
  }
  
  .lsg-bundle-interval-frequency-select {
    font-size: 12px;
  }
  
  .product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .product__media-wrapper {
    max-width: unset;
    padding-left: 15px;
  }

  .product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .drawer-product--info .Product_Tags span {
    margin-bottom: 5px;
  }
  
  .product-quick-view-slide-out--wrapper {
    padding: 0 0 0 10px;
  }
  
  .product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .pdp-faq .faq-section {
    margin: 30px 0 20px!important;
  }
  
  .product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .drawer-product--info {
    padding: 0 28px 86px 18px;
  }
  
  .product-quick-view-slide-out--wrapper .shop-slide-out__header {
    height: 55px;
  }

  .product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
  }

/*   .has-selected-product .lsg-bundle-summary-block--wrapper .lsg-bundle-summary-block {
    height: 0;
    padding: 0;
    transition: unset;
    display: none;
  } */
  
  .has-selected-product .lsg-bundle-summary-block--wrapper.open .lsg-bundle-summary-block {
    min-height: 80vh;
    padding: 25px 18px 18px 18px;
    display: block;
    overflow-y: auto;
    max-height: 550px;
  }

  .product-quick-view-slide-out--wrapper .product-actions--wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 14px 20px;
    background-color: #fff;
    border-top: 1px solid #000;
    text-align: center;
  }

  .product-quick-view-slide-out--wrapper .product-actions--wrapper .product-atc-btn,
  .product-quick-view-slide-out--wrapper .product-actions--wrapper .button.product-qty--wrapper {
    width: 100%;
  }

  .has-selected-product .lsg-bundle-summary-block--wrapper .mobile-toggle-btn--wrapper {
    padding: 17px 36px 17px 18px;
    border-top: 1px solid #1F2322;
  }

  .has-selected-product .lsg-bundle-summary-block--wrapper .mobile-toggle-btn--wrapper .lsg-bundle-buybox-product-name {
    margin: 0 !important;
    font-size: 14px;
    line-height: 1.929em;
    font-weight: 500;
    margin-bottom: 8px;
    font-family: inter,sans-serif;
    color: #1F2322;
  }

  .has-selected-product .lsg-bundle-summary-block--wrapper .mobile-toggle-btn--wrapper .min-info {
    color: #545759;
    font-size: 12px;
    font-family: inter,sans-serif;
    letter-spacing: 0;
    padding-left: 0;
    font-weight: 300;
  }

  .has-selected-product .lsg-bundle-summary-block--wrapper.open .mobile-toggle-btn--wrapper .title--wrapper .min-info {
    width: 100%;
    padding: 8px 0 0;
  }
  
  .lsg-bundle-summary-block .bundle-selected-products--wrapper .bundle-builder__selected-products {
    margin: 0 0 35px;
  }

  .lsg-bundle-summary-block .bundle-selected-products--wrapper,
  .lsg-bundle-summary-block .bundle-actions--wrapper {
    padding: 0;
  }
  
  .lsg-bundle-summary-block .bundle-actions--wrapper label[data-add-more-label] {
    font-size: 18px;
  }
  
  .lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    right: 0;
    background-color: #545759;
    opacity: 0.5;
    display: block;
    top: -20px;
    transform: translateY(-50%);
  }
  
  .lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select {
    position: relative;
  }
  
  .lsg-bundle-summary-block .bundle-actions--wrapper .lsg-bundle-interval-select .lsg-bundle-interval-select-inner .lsg-bundle-interval-select-pod-top .lsg-bundle-interval-el>div {
    font-size: 18px;
  }
  
  .lsg-bundle-product-set-list .collection-groups__item .button.product-qty--wrapper {
    padding: 8px 20px 9px;
  }

  .lsg-bundle-product-set-list .collection-groups__item {
    margin: 50px 0 60px;
    padding-bottom: 80px;
  }

  .lsg-bundle-product-set-list .collection-groups__item .collection-groups__header-content .h1 {
    margin: 0 0 24px;
  }

  .lsg-bundle-product-set-list .collection-groups__item .collection-groups__header {
    margin-bottom: 60px;
  }

  .product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .product__description p {
    line-height: 1.500em;
    margin-top: 25px;
  }
  
  .has-selected-product .lsg-bundle-summary-block--wrapper.open .mobile-toggle-btn--wrapper .title--wrapper .min-info .discount-badge {
    background-color: #c6db76;
    padding: 3px 10px;
    border-radius: 18px;
    color: #1f2322;
    font-size: 12px;
    width: fit-content;
  }

  .Review_Card_Wrapper .Review_Box:last-child {
    display: none;
  }

  .Review_Card_Wrapper .Review_Box .sh2 {
    font-size: 14px;
    line-height: 1.357em;
  }

  .Review_Card_Wrapper .Review_Box {
    margin-bottom: 30px;
  }

  .lsg-bundle-product-set-list .collection-content p:last-child {
    margin-bottom: 0;
  }

  .lsg-bundle-product-set-list .collection-groups__item:last-child {
    margin-bottom: 40px;
    padding-bottom: 40px;
  }

  .has-selected-product .lsg-bundle-summary-block--wrapper.open .mobile-toggle-btn--wrapper .title--wrapper .lsg-bundle-buybox-product-name {
    font-size: 25px;
    line-height: 1.360em;
  }

  .has-selected-product .lsg-bundle-summary-block--wrapper.open .mobile-toggle-btn--wrapper .title--wrapper .count-badge {
    display: none;
  }

  .lsg-bundle-product-set-list .collection-content p {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.688em;
  }
  
  .has-selected-product .lsg-bundle-summary-block--wrapper.open .mobile-toggle-btn--wrapper {
    padding: 18px 36px 11px 18px;
  }

  .product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .product__media-wrapper .badge_animat_cls .rotet_badge_svg {
    width: 82px;
    height: 82px;
  }
  
  .product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .product__media-wrapper .badge_animat_cls .fixed_badge_center {
    font-size: 24px!important;
    top: -7px!important;
    right: -5px;
  }

  .product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .Badge_Grid_Container .Badge_Grid_Item {
    width: calc(50% - 3px);
    justify-content: flex-start;
  }
   
}

@media (max-width: 769px) {
  /* The animation code */
  @keyframes countBlinkAnimation {
    0% {
      opacity: 1;
      transform: scale(unset);
    }
    100% {
      opacity: 0;
      transform:scale(1.5);
    }
  }
  
  .count-badge.animating {
    animation-name: countBlinkAnimation;
    animation-duration: 1s;
  }
}
@media (max-width: 479px) {
  
  .product-quick-view-slide-out--wrapper .shop-slide-out__content .product-content--wrapper .Badge_Grid_Container .Badge_Grid_Item {
    width: 100%;
  }
  
}