.chronic-multicolumn__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chronic-multicolumn__left {
  border-right: 2px solid #1f2322;
}

.chronic-multicolumn__container .icon-checkmark {
  width: 16px;
}

.chronic-multicolumn__list-item {
  display: flex;
  gap: 14px;
}