.chronic-multicolumn__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 550px;
  position: relative;
  border-top: 1px solid #1f2322;
  background: transparent linear-gradient(180deg, transparent 90%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}


.chronic-multicolumn__left {
  border-right: 2px solid #1f2322;
  overflow-y: scroll;
}
.chronic-multicolumn__left-inner {
  max-width: 475px;
  margin: 0 auto;
}

.chronic-multicolumn__right {
  overflow-y: scroll;
}

.chronic-multicolumn__container .icon-checkmark {
  width: 16px;
}

.chronic-multicolumn__list-item {
  display: flex;
  gap: 14px;
}

.chronic-multicolumn__left .body-xs {
  text-transform: unset !important;
}