.chronic-multicolumn__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 550px;
  position: relative;
  border-top: 1px solid #1f2322;
  background: transparent linear-gradient(180deg, transparent 90%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}


.chronic-multicolumn__left {
  border-right: 2px solid #1f2322;
  overflow-y: scroll;
  margin-top: 90px;
  margin-bottom: 30px;
}

.chronic-multicolumn__right {
  overflow-y: scroll;
}

.chronic-multicolumn__container .icon-checkmark {
  width: 16px;
}

.chronic-multicolumn__list-item {
  display: flex;
  gap: 14px;
}