/* Rhymes */
@font-face {
  font-family: Rhymes;
  src: url('{{ 'Rhymes-Text-Light-Italic.ttf' | asset_url }}');
  font-style: normal;
  font-weight: 300;
}


h2 {
  font-family: Inter;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.02em;
}


h3 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  color: #1f2322;
  line-height: 34px;
  letter-spacing: 0em;
}

h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
}