.quick-add-grid {
  margin-bottom: 100px;
}

.quick-add-grid__header {
  margin-bottom: 40px;
}

.quick-add-grid__heading {
  margin: 0;
  margin-bottom: 12px;
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 34px;
}

.quick-add-grid__text {
  margin: 0;
}

.quick-add-grid__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 18px;
  row-gap: 93px;
}

.quick-add-grid__card {
  aspect-ratio: 0.76/1;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.quick-add-grid__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.quick-add-grid__card-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.quick-add-grid__card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  z-index: 1;
}

.quick-add-grid__card-content {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  color: var(--color);
  z-index: 1;
}

.quick-add-grid__card-heading {
  font-family: inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  color: currentColor;
  margin: 0;
}

.quick-add-grid__card-text {
  font-family: inter, sans-serif;
  font-size: 16px;
  line-height: normal;
  color: currentColor;
  margin: 0;
}

.quick-add-grid__card-text ul {
  padding: 0 0 0 25px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
}

.quick-add-grid__card-text li {
  position: relative;
}

.quick-add-grid__card-text li::marker {
  content: none;
}

.quick-add-grid__card-text li::before {
  content: url("data:image/svg+xml,%3Csvg width='100%25' height='auto' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.1562 18.6875L20 9.84375L18.5625 8.4375L11.1562 15.8438L7.40625 12.0938L6 13.5L11.1562 18.6875ZM13 25.5C11.2917 25.5 9.67708 25.1719 8.15625 24.5156C6.63542 23.8594 5.30729 22.9635 4.17188 21.8281C3.03646 20.6927 2.14062 19.3646 1.48438 17.8438C0.828125 16.3229 0.5 14.7083 0.5 13C0.5 11.2708 0.828125 9.64583 1.48438 8.125C2.14062 6.60417 3.03646 5.28125 4.17188 4.15625C5.30729 3.03125 6.63542 2.14062 8.15625 1.48438C9.67708 0.828125 11.2917 0.5 13 0.5C14.7292 0.5 16.3542 0.828125 17.875 1.48438C19.3958 2.14062 20.7188 3.03125 21.8438 4.15625C22.9688 5.28125 23.8594 6.60417 24.5156 8.125C25.1719 9.64583 25.5 11.2708 25.5 13C25.5 14.7083 25.1719 16.3229 24.5156 17.8438C23.8594 19.3646 22.9688 20.6927 21.8438 21.8281C20.7188 22.9635 19.3958 23.8594 17.875 24.5156C16.3542 25.1719 14.7292 25.5 13 25.5ZM13 23.625C15.9583 23.625 18.4688 22.5885 20.5312 20.5156C22.5938 18.4427 23.625 15.9375 23.625 13C23.625 10.0417 22.5938 7.53125 20.5312 5.46875C18.4688 3.40625 15.9583 2.375 13 2.375C10.0625 2.375 7.55729 3.40625 5.48438 5.46875C3.41146 7.53125 2.375 10.0417 2.375 13C2.375 15.9375 3.41146 18.4427 5.48438 20.5156C7.55729 22.5885 10.0625 23.625 13 23.625Z' fill='white'/%3E%3C/svg%3E%0A");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 1px;
  left: -30px;
}

@media screen and (max-width: 800px) {
  .quick-add-grid__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 17px;
    row-gap: 28px;
  }
}

@media screen and (max-width: 768px) {

  .quick-add-grid.page-width {
    padding: 0 20px;
  }

  .quick-add-grid__header {
    margin-bottom: 28px;
  }

  .quick-add-grid__card-content {
    padding: 8px;
  }

  .quick-add-grid__card-heading {
    font-size: 16px;
  }

  .quick-add-grid__card-text {
    font-size: 12px;
  }

  .quick-add-grid__card-text ul {
    gap: 6px;
  }

  .quick-add-grid__card-text li::before {
    top: -1px;
    width: 18px;
    height: 18px;
  }
}