.related-blog-articles {
  padding: 120px 0;
}

.related-blog-articles .blog-articles {
  column-gap: 36px;
  display:flex;
  flex-wrap: wrap;
}

.related-blog-articles .blog-articles__article.article {
  flex: 0 1 calc(50% - 18px);
  text-align: left !important;
  border: 2px solid var(--charcoal);
  border-radius: 17px;
  background: #fff;
}

.related-blog-articles .blog-articles__article.article  .article-card__image {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.related-blog-articles .blog-articles__article.article .article-card__info {
  padding: 30px;
}

.related-blog-articles .related-article-title.h4 , 
.related-blog-articles .article-card__title {
  margin-top: 0;
}

.article-card__header .caption {
  font-family: inter,sans-serif;
  font-size: 12px;
  color: #545759;
  font-weight: 300;
  line-height: 21px;
  display: inline-block;
  margin-bottom: 15px;
}

.article-card__footer .button {
  width: 100%;
  display: block;
  min-width: 100%;
}

.related-blog .related-blog-wrapper {
  max-width: 768px;
  margin: auto;
}

.blog-redirection.center {
  margin-top: 70px;
}

.styled-link {
  text-decoration: underline;
  text-underline-offset: 4px;
  font-family: inter,sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: 0.25s ease-in;
}

.styled-link:hover {
  opacity: 0.7;
  transition: 0.25s ease-in;
}

.related-blog-articles .related-article-title {
  margin-bottom: 60px;
}

@media screen and (max-width: 768px) {

  .related-blog-articles {
     padding: 60px 0; 
  }

  .related-article-section .page-width--narrow {
    padding: 0 2em;
  }

  .blog-redirection.center {
    margin-top: 40px;
  }

  .related-blog-articles .related-article-title {
    margin-bottom: 40px;
  }

  .related-blog-articles .blog-articles {
    row-gap: 36px;
  }

  .related-blog-articles .blog-articles__article.article {
    flex: 0 1 100%;
    width: 100%;
  }

  .related-blog-articles .blog-articles__article.article .article-card__info {
    padding: 20px;
  }

  .article-card__header .caption {
    margin-bottom: 12px;
  }
  
}