.related-blog-articles {
  padding: 120px 0;
}

.related-article-section {
  background: #F8F1EB;
  border-top: 1px solid var(--charcoal);
  border-bottom: 1px solid var(--charcoal);
}

.related-blog-articles .blog-articles {
  grid-gap: 36px
}

.related-blog-articles .blog-articles__article.article {
  display: flex !important;
  grid-column: auto !important;
  text-align: left !important;
}