.image-grid__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 34px;
}

.image-grid__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.image-grid__title-top {
  max-width: 670px;
}

.image-grid__title-bottom {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}






@media screen and (max-width: 768px) {
}