.dropdowns__container {
  margin-bottom: 0;
  padding-bottom: 100px;
  background: linear-gradient(180deg,white 0%,#F8F1EB 100%) 0% 0% no-repeat padding-box;
}

.dropdowns__container img {
  width: 108px;
  height: 108px;
}