.main-menu {
  max-width: 400px;
  width: 100%;
  padding: 50px 40px 35px;
  position: fixed;
  top: 80px;
  bottom: 0;
  display: flex;
  align-items: center;
  background: white;
  color: var(--charcoal);
  overflow: scroll;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transition: .4s ease-in-out;
  max-height: 694px;
}

.main-menu[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.main-menu__close {
  padding: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.main-menu__close svg {
  height: 18px;
  width: 18px;
}

.main-menu__close svg path {
  stroke: currentColor;
  stroke-width: .5px;
}

/* Main */

.main-menu__main-link {
  margin-bottom: 12px;
}

.main-menu__main-link .h6 {
  display: inline-flex;
  align-items: center;
}

.main-menu__main-link .h6:hover {
  font-weight: 500;
}

.main-menu__main-link .callout-text {
  margin-left: 14px;
  padding: 5px 18px;
  font-size: 12px;
  border-radius: 50px;
  background: var(--beige-dark);
}

.main-menu__main-link .subtext {
  margin: 0;
  display: block;
  font-size: 12px;
  font-style: italic;
  color: var(--charcoal-light);
}

.main-menu__main-links .arrow-link {
  margin-top: 30px;
}

/* Secondary */

.main-menu__secondary-links .sh4 {
  margin: 0 0 30px;
  display: block;
  line-height: 1.2em;
  font-size: 35px;
}

.main-menu__secondary-links .sh4:hover {
  font-weight: 500;
}

.Main_Menu_Bottom .account-link {
  display: inline-flex;
  align-items: center;
}

.Main_Menu_Bottom .account-link svg {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  
  .main-menu {
    padding: 30px;
  }

  .main-menu__main-links {
    margin-bottom: 80px;
  }

  .main-menu__main-links .h6 {
    font-size: 22px;
  }
  
  .main-menu__main-link {
    margin-bottom: 28px;
  }

  .main-menu__secondary-links .sh4 {
    margin-bottom: 12px;
    font-size: 16px;
  }
  
}

.page-overlay.is-visible.Menu_Overlay {
  display: none !important;
}

/*** NEW MAIN MENU CSS START ***/

.main-menu {
  max-width: 100%;
  overflow: auto;
}

.main-menu__close {
  top: 30px;
  left: unset;
  right: 40px;
  font-size: 14px;
  line-height: 21px;
  color: #1f2322;
  display: none;
  padding: 0;
  font-weight: 400;
}

.Main_Menu_Link_Image img {
  width: auto;
  vertical-align: middle;
}

.Main_Menu_Link_Image {
  margin-right: 0;
  position: relative;
}

.main-menu__main-link {
  margin-bottom: 14px;
}

.main-menu__main-link .callout-text {
  margin-left: 8px;
  padding: 2.2px 8px;
  font-size: 12px;
  line-height: 1.8em;
}

.main-menu__close svg {
  height: 14px;
  width: 14px;
}

.Main_Menu_Link_Title {
  font-size: 12px;
  line-height: 21px;
  position: absolute;
  bottom: 0;
  color: #1f2322;
  width: 80%;
  text-align: center;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(243,219,183,1) 0%, rgba(243,219,183,1) 9%, rgba(255,255,255,1) 100%);
  margin: 0 auto;
  border-radius: 30px;
  padding: 7px 0;
  bottom: 12px;
}

.Main_Menu_Bottom .account-link {
  font-size: 14px;
  line-height: 21px;
}

.Main_Menu_Bottom .account-link svg {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.main-menu__main-link .h6:hover {
  font-weight: 300;
}

.Shop_Link.arrow-link:hover svg {
  transform: translate(0);
}

.Shop_Link.arrow-link:hover {
  transform: translate(5px);
}

.Shop_Link.arrow-link {
  transition: transform .2s ease;
}

.header .sh2.Mobile_Hamburger:hover {
  font-weight: 500;
}

.main-menu__main-link:last-child {
  margin-bottom: 0;
}

.main-menu {
  display: block;
}

.Main_Menu_Link_Title {
  font-size: 12px;
  line-height: 21px;
  position: absolute;
  color: #1f2322;
  width: 90%;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 12px;
  margin: 0 auto;
}

.main-menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.callout-text {
  display: none;
}

.main-menu__main-links {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 37%;
  justify-content: end;
  column-gap: 14px;
}

.main-menu__main-link {
  flex: 0 0 230px;
  max-width: 230px;
}

.main-menu__wrapper {
  position: relative;
}

.Main_Menu_Bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 0;
}

.header--transparent:not(.header--scrolled) .header-wrapper.active {
  background-color: #ffffff;
}

.header-wrapper.active .header__shop-link,
.header-wrapper.active .header__icon {
  display: none;
}

.header-wrapper.active .main-menu__close {
  display: block;
}

.main-menu .main-menu__close {
  display: none;
}

@media only screen and (max-width: 768px) {

  .main-menu {
    top: 44px;
  }

  .main-menu[aria-hidden="false"] .main-menu__close {
    display:none;
  }

  .main-menu__close.Mobile_Menu_Close {
    display: none;
  }

  .main-menu__close.Mobile_Menu_Close {
    position: relative;
    left: unset;
    top: unset;
  }

  .main-menu {
    padding: 27px 27px 0;
  }

  .main-menu__main-links {
    margin-bottom: 50px;
  }

  .main-menu__secondary-links .sh4 {
    line-height: 27px;
    margin-bottom: 12px;
  }

  .Main_Menu_Title {
    margin: -5px 0 27px;
  }

  .main-menu {
    max-width: 100%;
  }

  .page-overlay.is-visible.Menu_Overlay {
    background: transparent !important;
  }

  .Main_Menu_Bottom {
    display: block;
    text-align: center;
    margin: 0 -27px;
    border-top: 1px solid #1F2322;
    padding: 14px 20px 14px;
    box-shadow: 0px -2px 9px #5457591A;
  }

  .Bottom_List {
    list-style: none;
    padding: 0;
  }

  .Bottom_List li {
    display: inline-block;
    color: #1F2322;
    font-size: 12px;
    font-family: inter,sans-serif;
    font-weight: 300;
  }

  .Bottom_List {
    list-style: none;
    padding: 0;
    margin: 14px 0 0;
  }

  .main-menu__secondary-links .account-link {
    margin-top: 28px;
    font-size: 14px;
    margin-bottom: 30px !important;
  }

  .Bottom_List li:first-child::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #1F2322;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .Bottom_List li {
    padding: 0 10px;
    position: relative;
  }

  .Main_Menu_Bottom .button {
    width: 100%;
  }

}

@media only screen and (max-width: 374px) {

  .main-menu__main-links .h6 {
    font-size: 12px;
  }

  .main-menu__main-link .callout-text {
    padding: 2.2px 5px;
    font-size: 10px;
  }

}

/*** NEW MAIN MENU CSS END ***/