.image-with-dropdowns__container .page-width {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-with-dropdowns__image {
  position: relative;
  margin-right: 15%;
}

.image-with-dropdowns__image img {
  object-fit: contain;
}