.chronic-illness-slide-out {
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 12;
  display: none;
}

.chronic-illness-slide-out.active {
  display: flex;
}

.chronic-illness-slide-out__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.chronic-illness-slide-out.active .chronic-illness-slide-out__overlay {
  visibility: visible;
  opacity: 1;
}

.chronic-illness-slide-out__container {
  max-width: 744px;
  width: 100%;
  max-height: 100%;
  padding: 76px 70px 0;
  position: relative;
  overflow-y: auto;
  border-radius: 10px;
  background-color: var(--gray-lighest);
  border: 1px solid var(--charcoal-lighter);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.chronic-illness-slide-out.active .chronic-illness-slide-out__container {
  visibility: visible;
  opacity: 1;
}

.chronic-illness-slide-out__close {
  position: absolute;
  top: 28px;
  right: 28px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.chronic-illness-slide-out__close p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  text-align: right;
  letter-spacing: 0;
  text-transform: capitalize;
}

.chronic-illness-slide-out__inner {
  padding: 0 0 60px;
}

.chronic-illness-slide-out__header {
  margin-bottom: 36px;
  text-align: center;
}

.chronic-illness-slide-out__subtitle {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
}

.chronic-illness-slide-out__title {
  margin: 0 0 32px;
  font-family: inter;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
}

.chronic-illness-slide-out__title em {
  font-family: Rhymes-Light-Italic;
}

.chronic-illness-slide-out__text {
  max-width: 535px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.chronic-illness-slide-out__content .field__label {
  font-family: inter,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  left: 0;
  top: 0;
  position: relative;
  letter-spacing: 0;
  color: #797B7A;
  margin-bottom: 12px;
  display: block;
  pointer-events: none;
  text-transform: capitalize;
}

.chronic-illness-slide-out__content .field.half-field {
  display: block;
  width: 50%;
  padding: 0 16px;
  margin-bottom: 20px;
}

.chronic-illness-slide-out__content .contact__fields {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.chronic-illness-slide-out__content .field__input {
  border: 1px solid #E9E9E9;
  background: #FFFFFF;
  font-family: inter,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  border-radius: 10px;
  padding: 14px 16px;
  height: auto;
  color: #1F2322;
}

.chronic-illness-slide-out__content .field__input::placeholder {
  opacity: 1;
  color: #797B7A;
}

.form__radio--button {
  margin-top: 28px;
}

.form__radio--title h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  margin: 0 0 8px;
  color: #1F2322;
}

.form__radio--title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  margin: 0;
  color: #797B7A;
}

.form__radio--title {
  margin-bottom: 32px;
}

.chronic-illness-slide-out__radios {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.chronic-illness-slide-out__radios .field {
  display: block;
  width: 50%;
  padding: 0 12px;
  margin-bottom: 14px;
}

.field__radio--label {
  font-family: inter,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #1F2322;
  display: flex;
  align-items: center;
}

.chronic-illness-slide-out__radios input[type=radio].field__radio {
  display: none;
}

.chronic-illness-slide-out__radios input[type=radio].field__radio + label span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #1F2322;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 24px;
  background-color: #F8F8F8;
}

.chronic-illness-slide-out__radios input[type=radio].field__radio + label span svg {
  opacity: 0;
}

.chronic-illness-slide-out__radios input[type=radio].field__radio:checked + label span {
  background-color: #1F2322;
}

.chronic-illness-slide-out__radios input[type=radio].field__radio:checked + label span svg {
  opacity: 1;
}

.custom__msg--field {
  margin-top: 14px;
}

.contact__button,
.chronic--illness__form--btn {
  margin-top: 18px;
  width: 100%;
}

.contact__button .button,
.chronic-illness-slide-out__inner .form-status-list .button {
  width: 100%;
  min-width: 100%;
}

.chronic-illness-slide-out__inner .form-status-list {
  flex-wrap: wrap;
}

.chronic-illness-slide-out__content .field__input:not(:placeholder-shown) {
  padding-right: 50px;
  background-image: url('https://cdn.shopify.com/s/files/1/0267/3351/0727/files/Callouts.svg?v=1724143178');
  background-repeat: no-repeat;
  background-position: center right 16px;
}

@media screen and (max-width: 767px) {

  .chronic-illness-slide-out {
    padding: 0;
  }

  .chronic-illness-slide-out__container {
    padding-left: 28px;
    padding-right: 28px;
    border: none;
    border-radius: 0;
  }

  .form__radio--button {
    margin-top: 22px;
  }

  .chronic-illness-slide-out__radios .field:nth-child(-n+4) {
     display: block;
  }

  .chronic-illness-slide-out__radios .field {
    width: 100%;
  }

  .chronic-illness-slide-out__inner {
    padding: 0 0 32px;
  }

  .chronic-illness-slide-out__content .field.half-field {
    width: 100%;
    margin-bottom: 12px;
  }

  .chronic-illness-slide-out__title {
    font-size: 40px;
    line-height: 47px;
    margin: 0 0 16px;
  }

  .chronic-illness-slide-out__text {
    font-size: 16px;
    line-height: 25px;
  }
  
}