.press-logos {
  padding: 35px 0 30px;
}

.press-logos.add-border {
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}

.press-logos__container {
  margin: 0 -30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.press-logos__item {
  padding: 10px 30px;
  text-align: center;
  display: flex;
  align-items: center;
}
.press-logos__item img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*
.press-logos__item img {
  height: 27px;
}
*/

@media only screen and (max-width: 1250px) {
  
  .press-logos__item {
    padding: 10px 28px;
  }
  
}

@media only screen and (max-width: 989px) {
  
  .press-logos__item {
    max-width: 32%;
  }

  .press-logos__item img {
    width: 100%;
  }
  
}


@media only screen and (min-width: 769px) {
  .press-logos__container.hide-desktop {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .press-logos {
    padding: 22px 0 20px;
    overflow-x: hidden;
  }

  .press-logos .page-width {
    padding: 0;
  }

  .press-logos__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .press-logos__container {
    margin: 0;
    flex-wrap: nowrap;
  }

  .press-logos__container.press-logo_marquee {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 25s linear infinite;
  }

  .press-logos__item {
    padding: 0 20px;
    display: flex;
    align-items: center;
    max-width: 32%;
  }

  .press-logos__item img {
    width: 100%;
  }

}

@media only screen and (max-width: 479px) {
  .press-logos__item {
    padding: 0 8px;
  }
}