.pee-club-product-bar .page-width {
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 959px) {
  .pee-club-product-bar .page-width {
    padding-left: 27px;
    padding-right: 27px;
  }
}

.pee-club-product-bar .flex-buttons-bar {
  gap: 20px;
}

@media screen and (max-width: 959px) {
  .pee-club-product-bar .flex-buttons-bar {
    flex-wrap: wrap;
    gap: 3px;
  }
}

.pee-club-product-bar .flex-buttons-bar svg {
  width: 12px;
  margin-right: 3px;
}

.pee-club-product-bar .flex-buttons-bar p {
  display: inline-flex;
  align-items: center;
  width: -webkit-fill-available;
  margin: 0;
  align-self: center;
}

.pee-club-product-bar .flex-buttons-bar h5 {
  margin: 0;
  width: -webkit-fill-available;
  align-self: center;
  padding-right: 10px;
}

.pee-club-product-bar button {
  display: none;
  z-index: 0;
  cursor: pointer;
}

.pee-club-product-bar-buttons {
  display: flex;
  gap: 14px;
}

.pee-club-product-bar-dropdown-selected {
  min-width: 240px;
  padding: 0px;
  display: flex;
  font-family: inter,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.375em;
  text-align: center;
  border: 1px solid var(--charcoal);
  border-radius: 50px;
  color: var(--charcoal);
  position: relative;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  background: white;
  z-index: 2;
}

.pee-club-product-bar-dropdown-selected svg {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 13px;
  transform: translateY(-50%);
}

.pee-club-product-bar-dropdown {
  display: none;
  padding-left: 0;
  border-top: 1px solid var(--charcoal);
  border-left: 1px solid var(--charcoal);
  border-right: 1px solid var(--charcoal);
  position: absolute;
  background: white;
  width: 240px;
  top: 26px;
  z-index: 1; 
}

.pee-club-product-bar-dropdown li {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: inter,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.5em;
  border-bottom: 1px solid var(--charcoal);
  padding: 8px 0;
  cursor: pointer;
}

.pee-club-product-bar-dropdown li:first-of-type {
  margin-top: 25px;
}

.pee-club-dropdown-text {
  padding: 8px 0;
}

.pee-club-dropdown-text p {
  margin: 0 auto;
  line-height: 1;
}

.pee-club-dropdown-text i, .pee-club-product-bar-dropdown li span {
  font-size: 12px;
  color: #545759;
  line-height: 1;
  font-style: italic;
}

.pee-club-product-bar.scrolled {
  /* top: 185px; */
  top: 104px;
}

@media screen and (max-width: 1000px) {
  .pee-club-product-bar-buttons {
    flex-direction: column;
    gap: 3px;
  }
}


