.product-quick-add {
  min-height: 650px;
  margin-top: -1px;
  display: flex;
  align-items: center;
  background: var(--beige-light);
  border-top: 1px solid var(--charcoal);
  border-bottom: 1px solid var(--charcoal);
  position: relative;
}

.product-quick-add img {
  width: 60%;
  height: auto;
  object-position: left;
  max-height: 100%;
}

.product-quick-add .page-width {
  width: 100%;
}

.product-quick-add__container {
  width: 100%;
  padding: 60px 40px 60px 0;
}

.product-quick-add__content {
  max-width: 435px;
  margin-left: auto;
  position: relative;
}

.product-quick-add__content .js-add-to-cart {
  background-color: white;
}

.product-quick-add__content .h4 {
  margin: 0 0 50px;
}

.product-quick-add__content .h6 {
  margin: 0 0 18px;
}

.product-quick-add__content .sh4 {
  margin: 0 0 30px;
}

.product-quick-add__form {
  margin-bottom: 40px;
  display: grid;
  gap: 15px;
}

.product-quick-add__form-item {
  display: flex;
  align-items: center;
}

.product-quick-add__form-item input {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.product-quick-add__form-item label {
  padding-left: 33px;
  position: relative;
  cursor: pointer;
}

.product-quick-add__form-item label::before {
  content: '';
  height: 18px;
  width: 18px;
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 100%;
  background: white;
  border: 1px solid var(--charcoal);
}

.product-quick-add__form-item label::after {
  content: '';
  height: 10px;
  width: 10px;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 100%;
  background: transparent;
  transform: scale(.3);
  transition: .2s ease;
}

.product-quick-add__form-item input:checked + label::after {
  background: var(--charcoal);
  transform: scale(1);
}

.product-quick-add__content .arrow-link {
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .product-quick-add {
    min-height: unset;
    padding: 70px 0 80px;
    display: block;
    overflow: hidden;
    text-align: center;
    background: transparent linear-gradient(0deg, #ECD8C500 30%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
  }

  .product-quick-add img {
    width: 100%;
    position: unset;
  }

  .product-quick-add__container {
    padding: 0;
  }

  .product-quick-add .h4 {
    margin: 0 auto;
    padding: 0 20px;
  }

  .product-quick-add__content {
    max-width: 100%;
  }

  .product-quick-add__content .h6 {
    margin-bottom: 12px;
    font-weight: 500;
  }

  .product-quick-add__content .sh3 {
    max-width: 350px;
    margin: 0 auto 40px;
  }

  .product-quick-add__form {
    margin: 0 -27px 40px;
    border-top: 1px solid var(--charcoal);
    display: block;
  }

  .product-quick-add__form-item {
    padding: 20px 27px;
    border-bottom: 1px solid var(--charcoal);
  }

  .product-quick-add__form-item label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .product-quick-add__content .arrow-link {
    justify-content: center;
  }
}