.dropdowns__container {
  padding-top: 115px;
  padding-bottom: 115px;
  text-align: center;
  background: linear-gradient(180deg,white 0%,#F8F1EB 100%) 0% 0% no-repeat padding-box;
  border-bottom: 1px solid #1F2322;
}

.dropdowns__container img {
  width: 108px;
  height: 108px;
  margin-left: 30px;
  display: none;
}

.dropdowns__container .h3 {
  margin: 0 0 30px;
  color: #1F2322;
  font-weight: 400;
}

.dropdowns__subtitle {
  margin: 0 0 52px;
  color: #545759;
}

.dropdown-ind-container {
  max-width: 670px;
  margin: 0 auto 40px;
}

.dropdown-ind__drop {
  display: flex;
  align-items: center;
}

.dropdown-ind__drop .close {
  cursor: pointer;
  border: 1px solid #1F2322;
  background: white;
  height: 32px;
  width: 32px;
  border-radius: 25px;
  margin-left: -17px;
  transform: rotate(45deg);
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
}

.dropdown-ind__drop .close svg {
  width: 32px;
  height: 30px;
}

.dropdown-ind {
  background: white;
  border: 1px solid #1F2322;
  border-radius: 12px;
  margin-bottom: 8px;
  margin-top: 8px;
  display: flex;
  padding: 20px;
  text-align: left;
  align-items: center;
  width: 100%;
}

.dropdown-ind h6 {
  margin: 0;
  color: #1F2322;
}

.dropdown-ind p {
  color: #1F2322;
  margin-top: 16px;
  display: none;
}

.dropdown-ind__drop:first-of-type p,
.dropdown-ind__drop:first-of-type img {
  display: block;
}

.flip {
  transform: rotate(0deg) !important;
}


@media screen and (max-width: 768px) {
  .dropdowns__container img {
    width: 65px;
    height: 65px;
    margin-left: 12px;
    align-self: self-end;
  }

  .dropdowns__container {
    padding-top: 80px;
    padding-bottom: 70px;
  }

  .dropdown-ind__drop .close.flip {
    align-self: flex-start;
    margin-top: 20px;
  }

  .dropdowns__container .h3 {
    margin: 0 0 20px;
  }

  .dropdowns__subtitle {
    margin: 0 0 32px;
  }
}
