.text-two-blocks__container {
 padding-top: 100px; 
}

.text-two-blocks__container h1 {
  text-align: center;
  max-width: 770px;
  margin: 0 auto 30px;
}

.text-two-blocks__container h6 {
  margin: 0 auto 70px;
  text-align: center;
  max-width: 770px;
}

.text-two-blocks__blocks {
  display: grid;
  position: relative;
}

.text-two-blocks__image {
  width: 213px;
  height: 213px;
  margin: 0 auto -107px;
}

.text-two-blocks__inner {
  border: 2px solid #1F2322;
  border-radius: 17px;
  background: white;
  padding: 157px 20px 70px;
  text-align: center;
}

.text-two-blocks__inner h4 {
  max-width: 376px;
  margin: 0 auto;
}

.text-two-blocks__inner p {
  max-width: 376px;
  margin: 20px auto 40px;
}

.learn-more-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.learn-more-links a {
  width: 240px;
}

@media screen and (max-width: 768px) {
  .text-two-blocks__blocks {
    grid-template-columns: 1fr;
  }
}