.blog-articles {
  display: grid;
  column-gap: 33px;
  row-gap: 70px;
}

.main-blog {
  padding-top: 90px;
}

.blog-articles .blog-articles__article {
  display: none; 
}

.blog-articles .blog-articles__article:nth-child(1),
.blog-articles .blog-articles__article:nth-child(2),
.blog-articles .blog-articles__article:nth-child(3),
.blog-articles .blog-articles__article:nth-child(4),
.blog-articles .blog-articles__article:nth-child(5),
.blog-articles .blog-articles__article:nth-child(6) {
  display: block;
}

.main-blog.hide .pagination-wrapper {
  display: none;
}

.Load_More_Main {
  text-align: center;
  padding: 100px 0 0;
}

button#Load_More {
  font-size: 14px;
  line-height: 21px;
  font-family: inter,sans-serif;
  cursor: pointer;
}

button#Load_More svg {
  width: 12px;
}

@media screen and (max-width: 991px) {
  
  .blog-articles {
    column-gap: 15px;
    row-gap: 40px;
  }

  .blog-articles .article-card__title {
    font-size: 20px;
  }

  .main-blog {
    padding-top: 50px;
  }
  
}

@media screen and (max-width: 768px) {

  .blog-articles {
    row-gap: 50px;
  }

  .blog-articles .pagination-wrapper {
    border-bottom: 2px solid rgb(84 87 89 / 20%);
    padding-bottom: 60px;
    margin-top: 60px;
  }

  .main-blog {
    padding-top: 0;
  }

}

@media screen and (min-width: 769px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .blog-articles > *:first-child,
  .blog-articles > *:nth-child(4),
  .blog-articles > *:last-child:nth-child(2),
  .blog-articles > *:last-child:nth-child(5) {
    text-align: left;
  }
}
