.polaroid-slider {
  padding: 100px 0 80px;
  background: transparent linear-gradient(180deg, #F8F1EB00 0%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
  overflow: hidden;
}
 
.polaroid-slider__content-wrapper {
  margin: 0px -1000px;
  padding-left: calc(50vw - 290px);
  padding-right: calc(50vw - 290px);
  scroll-padding: 0px 1000px;
  scroll-snap-type: x mandatory;
  cursor: grabbing;
  overflow-x: scroll;
  font-size: 0px;
}

.polaroid-slider__content {
  padding: 0px 1000px;
  display: inline-flex;
  white-space: nowrap;
}

.polaroid-slider__content .slick-list {
  overflow: visible;
}

.polaroid-slider__item {
  width: 380px;
  padding: 0 20px;
  text-align: center;
  position: relative;
  white-space: normal;
}

.polaroid-slider__item::before {
  content: '';
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
}

.polaroid-slider__item:first-child:before {
  left: 50%;
}

.polaroid-slider__item:last-child:before {
  right: 50%;
}

.polaroid-slider__image {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 100%;
  border: 1px solid black;
  overflow: hidden;
  position: relative;
  background-color: var(--beige-light);
}


.polaroid-slider__arrows {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.polaroid-slider__arrows .slick-arrow {
  margin: 0 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .polaroid-slider {
    padding: 70px 0 40px;
  }

  .polaroid-slider__item {
    width: 340px;
  }

  .polaroid-slider__item::before {
    top: 115px;
  }
}

@media screen and (min-width: 1450px) {
  .polaroid-slider__content {
    padding-left: 41%;
    padding-right: 41%;
  }
}