.routine-products__products {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.routine-products__container > h2 {
  text-align: center;
}

.routine-products__product {
  background: #f8f8f8;
  border-radius: 25px;
  padding: 33px;
  max-width: 415px;
  text-align: center;
}

.routine-products__product img {
  width: 100%;
}

.routine-products__product button {
  width: 100%;
}