.product-sticky-scroll__container {
  display: grid;
  grid-template-columns: .4fr .6fr;
  gap: 100px;
}

.product-sticky-scroll.add-gradient {
  padding: 120px 0;
  background: transparent linear-gradient(0deg, #ECD8C500 0%, #F2E5D86A 84%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
}

.product-sticky-scroll__image .aspect-ratio {
  height: 0;
  padding-bottom: 126%;
  position: sticky;
  top: 120px;
  border: 1px solid black;
}

.product-sticky-scroll__image .video {
  position: sticky;
  top: 120px;
  border: 1px solid black;
  max-width: 100%;
}

.product-sticky-scroll__content-header h3 {
  margin: 0 0 30px;
}

.product-sticky-scroll__content-header .sh2 {
  margin: 0 0 60px;
}

.product-sticky-scroll__content-item {
  padding-bottom: 60px;
  padding-left: 40px;
  border-left: 1px solid black;
  position: relative;
}

.product-sticky-scroll__content-item:last-child {
  padding-bottom: 0;
  border-left: 0;
}

.sticky-hydration-drops .product-sticky-scroll-1::before,
.page-qr-2 .product-sticky-scroll-1::before,
.page-partner-with-us .product-sticky-scroll-1::before,
.page-qr .product-sticky-scroll-1::before {
  content: '🏃‍♀️';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-hydration-drops .product-sticky-scroll-2::before,
.page-qr-2 .product-sticky-scroll-2::before,
.page-partner-with-us .product-sticky-scroll-2::before,
.page-qr .product-sticky-scroll-2::before{
  content: '👩‍💻';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-hydration-drops .product-sticky-scroll-3::before,
.page-qr-2 .product-sticky-scroll-3::before,
.page-partner-with-us .product-sticky-scroll-3::before,
.page-qr .product-sticky-scroll-3::before{
  content: '☺';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-hydration-drops .product-sticky-scroll-4::before,
.page-qr-2 .product-sticky-scroll-4::before,
.page-partner-with-us .product-sticky-scroll-4::before,
.page-qr .product-sticky-scroll-4::before{
  content: '😌';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-hydration-drops .product-sticky-scroll-5::before,
.page-qr-2 .product-sticky-scroll-5::before,
.page-partner-with-us .product-sticky-scroll-5::before,
.page-qr .product-sticky-scroll-5::before{
  content: '🍊';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 7px;
  font-size: 25px;
}

.sticky-hydration-drops .product-sticky-scroll-6::before,
.page-qr-2 .product-sticky-scroll-6::before,
.page-partner-with-us .product-sticky-scroll-6::before,
.page-qr .product-sticky-scroll-6::before{
  content: '🧈';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 7px;
  font-size: 25px;
}

.sticky-hydration-drops .product-sticky-scroll-7::before,
.page-qr-2 .product-sticky-scroll-7::before,
.page-qr .product-sticky-scroll-7::before{
  content: '💃';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 7px;
  font-size: 25px;
}

.sticky-energy-drops .product-sticky-scroll-1::before {
  content: '🚫';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-energy-drops .product-sticky-scroll-2::before {
  content: '🧠';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-energy-drops .product-sticky-scroll-3::before {
  content: '😌';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-energy-drops .product-sticky-scroll-4::before {
  content: '⏫';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-energy-drops .product-sticky-scroll-5::before {
  content: '⚡';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 7px;
  font-size: 25px;
}

.sticky-energy-drops .product-sticky-scroll-6::before {
  content: '🫐';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 7px;
  font-size: 25px;
}

.sticky-immunity-drops .product-sticky-scroll-1::before {
  content: '🫐';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-immunity-drops .product-sticky-scroll-2::before {
  content: '⚖️';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-immunity-drops .product-sticky-scroll-3::before {
  content: '🚫';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-immunity-drops .product-sticky-scroll-4::before {
  content: '🥬';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-immunity-drops .product-sticky-scroll-5::before {
  content: '🦠';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 7px;
  font-size: 25px;
}

.sticky-immunity-drops .product-sticky-scroll-6::before {
  content: '⚡';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 7px;
  font-size: 25px;
}

.sticky-daily-wellness-set .product-sticky-scroll-1::before {
  content: '⚡';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-daily-wellness-set .product-sticky-scroll-2::before {
  content: '📈';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-daily-wellness-set .product-sticky-scroll-3::before {
  content: '🫐';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-daily-wellness-set .product-sticky-scroll-4::before {
  content: '🏃‍♀️';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 6px;
  font-size: 25px;
}

.sticky-daily-wellness-set .product-sticky-scroll-5::before {
  content: '🧠';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 7px;
  font-size: 25px;
}

.sticky-daily-wellness-set .product-sticky-scroll-6::before {
  content: '☺';
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid black;
  background: white;
  position: absolute;
  top: -2px;
  left: -20px;
  line-height: 40px;
  padding-left: 7px;
  font-size: 25px;
}

.product-sticky-scroll__content-item h6 {
  margin: 0 0 18px;
}

.product-sticky-scroll__content-item .sh4 {
  margin: 0 0 24px;
}

.product-sticky-scroll__content-item .body-xs {
  margin: 0;
}

.product-sticky-scroll .button {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .product-sticky-scroll.add-gradient {
    padding: 30px 0 80px;
  }

  .product-sticky-scroll__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  
  .product-sticky-scroll__content-header h3 {
    margin-bottom: 20px;
  }
  
  .product-sticky-scroll__content-header .sh2 {
    margin-bottom: 40px;
  }
  
  .product-sticky-scroll__content-item .sh4 {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
  }
  
  .product-sticky-scroll__content-item h6 {
    margin-bottom: 16px;
  }
  
  .product-sticky-scroll__content-item .body-xs {
    margin: 0;
    display: none;
  }
  
  .product-sticky-scroll__content-item {
    margin-left: 20px;
  }
}

.value-list{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 70px;
  flex-wrap: wrap;
}

.value-list p {
  font-size: 16px !important;
  margin: 0;
}

.sticky-padding-top {
  padding-top: 70px !important;
}

@media screen and (max-width: 768px) {
  .value-list{
    flex-direction: column;
    text-align: center;
    gap: 0px;
    margin-bottom: 40px;
  }
  
  .value-list p {
    margin-bottom: 5px;
    margin-top: 0;
  }

  .sticky-padding-top {
    padding-top: 40px !important;
  }
  
  .value-title {
    margin-bottom: 20px !important;
  }
}