.main-menu {
  max-width: 100%;
  width: 100%;
  padding: 30px 40px 40px;
  position: fixed;
  top: 80px;
  bottom: 0;
  display: flex;
  align-items: center;
  background: white;
  color: var(--charcoal);
  overflow: scroll;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transition: .4s ease-in-out;
  max-height: 624px;
  box-shadow: 0px 14px 20px #00000008;
  display: block;
  -webkit-overflow-scrolling: touch;
}

.main-menu[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.main-menu__close {
  font-size: 14px;
  line-height: 21px;
  color: #1f2322;
  display: none;
  padding: 0;
  font-weight: 400;
  width: 128.5px;
  cursor: pointer;
}

.main-menu__close svg {
  height: 18px;
  width: 18px;
}

.main-menu__close svg path {
  stroke: currentColor;
  stroke-width: .5px;
}

/* Main */

.main-menu__main-link {
  margin-bottom: 12px;
}

.main-menu__main-link .h6 {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  border-radius: 18px;
}

.main-menu__main-link .h6:hover {
  font-weight: 500;
  border-radius: 18px;
}

.main-menu__main-link .subtext {
  margin: 0;
  display: block;
  font-size: 12px;
  font-style: italic;
  color: var(--charcoal-light);
}

.main-menu__main-links .arrow-link {
  margin-top: 30px;
}

/* Secondary */

.main-menu__secondary-links .sh4 {
  margin: 0 0 30px;
  display: block;
  line-height: 1.2em;
  font-size: 35px;
  position: relative;
}

.main-menu__secondary-links .sh4:last-child {
  margin: 0;  
}

.main-menu__secondary-links .sh4:hover {
  font-weight: 500;
}

.Main_Menu_Bottom .account-link {
  display: inline-flex;
  align-items: center;
}

.Main_Menu_Bottom .account-link svg {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}


/*** NEW MAIN MENU CSS START ***/

.Main_Menu_Link_Image img {
  width: auto;
  vertical-align: middle;
  max-width: 100%;
  transition:all .15s linear;
}

.Main_Menu_Link_Image {
  margin-right: 0;
  position: relative;
}

.main-menu__main-link {
  margin-bottom: 14px;
}

.callout-text {
  margin-left: 8px;
  padding: 2.5px 10.5px;
  font-size: 12px;
  line-height: 1.8em;
  position: absolute;
  display: block;
  top: -2px;
  right: -140px;
  background-color:#ECD8C5;
  border-radius: 30px;
}

.main-menu__close svg {
  height: 14px;
  width: 14px;
}

.Main_Menu_Link_Desktop_Title {
  font-size: 12px;
  line-height: 21px;
  position: absolute;
  color: #1f2322;
  width: 89.6%;
  text-align: center;
  left: 0;
  right: 0;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
  background-color: #ffffff96;
  margin: 0 auto;
  border-radius: 30px;
  padding: 7px 0;
  bottom: 12px;
  font-weight: 400;
  display: table;
}

.Main_Menu_Bottom .account-link {
  font-size: 14px;
  line-height: 21px;
}

.Main_Menu_Bottom .account-link svg {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.main-menu__main-link .h6:hover {
  font-weight: 300;
}

.Shop_Link.arrow-link:hover svg {
  transform: translate(0);
}

.Shop_Link.arrow-link:hover {
  transform: translate(5px);
}

.Shop_Link.arrow-link {
  transition: transform .2s ease;
}

.header .sh2.Mobile_Hamburger:hover {
  font-weight: 500;
}

.main-menu__main-link:last-child {
  margin-bottom: 0;
}

.main-menu__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.main-menu__main-links {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 490px;
  justify-content: end;
  column-gap: 14px;
  max-width: 490px;
}

.main-menu__main-link {
  flex: 0 0 230px;
  max-width: 230px;
}

.main-menu__wrapper {
  position: relative;
}

.Main_Menu_Bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0 0;
}

.header--transparent:not(.header--scrolled) .header-wrapper.active {
  background-color: #ffffff;
}

.header-wrapper.active .header__shop-link,
.header-wrapper.active .header__icon {
  display: none;
}

.header-wrapper.active .main-menu__close {
  display: block;
  text-align: right;
  font-family: 'inter';
}

.main-menu .main-menu__close {
  display: none;
}

.header__menu-item.active {
  opacity: .5;
}
  
.Main_Menu_Link_Mobile_Title {
  display: none;
}

.page-overlay.is-visible.Menu_Overlay {
  display: none !important;
}

.main-menu__secondary-links.Secondary_Link.Mobile {
  display: none;
}

.main-menu__main-link .h6:hover .Main_Menu_Link_Image {
  opacity: .8;
}

@media only screen and (max-width: 1024px) {

  .main-menu__main-link {
    flex: 0 0 200px;
    max-width: 200px;
  }
  
  .main-menu__main-links {
    flex: 0 0 440px;
    max-width: 440px;
  }

  .main-menu {
    max-height: 574px;
  }
  
}

@media only screen and (max-width: 991px) {

  .main-menu {
    max-height: 480px;
  }
  
  .callout-text {
    margin: 2px 0 0;
    text-align: center;
  }

  .main-menu__secondary-links .sh4 {
    font-size: 26px;
  }

  .main-menu__main-links {
    flex: 0 0 380px;
    max-width: 380px;
  }
  
  .main-menu__main-link {
    flex: 0 0 160px;
    max-width: 160px;
  }
  
}

@media only screen and (max-width: 768px) {

  .callout-text {
    margin: 2px 0 0;
    position: relative;
    top: unset;
    right: unset;
    text-align: center;
  }
  
  .main-menu__main-links {
    margin-bottom: 0;
    max-width: 100%;
  }

  .main-menu__main-links .h6 {
    font-size: 26px;
    padding: 0 27px;
  }
  
  .main-menu__main-link {
    margin-bottom: 28px;
  }
 
  .main-menu[aria-hidden="false"] .main-menu__close {
    display:none;
  }

  .main-menu__close.Mobile_Menu_Close {
    display: none;
  }

  .main-menu__close.Mobile_Menu_Close {
    position: relative;
    left: unset;
    top: unset;
  }

  .main-menu {
    padding: 0;
    top: 93px;
  }

  .main-menu__secondary-links .sh4 {
    line-height: 30px;
    padding: 0 27px;
    margin-bottom: 9px;
    font-size: 18px;
  }

  .Main_Menu_Title {
    margin: -5px 0 27px;
  }

  .main-menu {
    max-width: 100%;
  }

  .page-overlay.is-visible.Menu_Overlay {
    background: transparent !important;
  }

  .Main_Menu_Bottom {
    display: flex;
    text-align: center;
    margin: 0;
    border-top: 1px solid rgb(84 87 89 / 20%);
    padding: 20px 27px;
    box-shadow: none;
  }

  .Bottom_List {
    list-style: none;
    padding: 0;
  }

  .Bottom_List li {
    display: inline-block;
    color: #1F2322;
    font-size: 12px;
    font-family: inter,sans-serif;
    font-weight: 300;
  }

  .Bottom_List {
    list-style: none;
    padding: 0;
    margin: 14px 0 0;
  }

  .main-menu__secondary-links .account-link {
    margin-top: 28px;
    font-size: 14px;
    margin-bottom: 30px !important;
  }

  .Bottom_List li:first-child::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #1F2322;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .Bottom_List li {
    padding: 0 10px;
    position: relative;
  }

  .Main_Menu_Bottom .button {
    width: 100%;
  }
  
  .main-menu {
    max-height: 100%;

  }
  
  .Desktop_Title {
    display: none;
  }
    
  .Main_Menu_Link_Mobile_Title {
    display: block;
  }

  .main-menu__close {
    text-align: right;
  }

  .main-menu__container {
    display: block;
  }

  .Main_Menu_Link_Desktop_Title {
    display:none;
  }

  .main-menu__main-link .h6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .main-menu__main-link {
    flex: 0 0 100%;
    max-width: 100%;
    margin: auto;
    padding: 7px 0 7px;
    border-bottom: 1px solid rgb(84 87 89 / 20%);
  }
  
  .Main_Menu_Link_Image {
    max-width: 68px;
  }

  .header-wrapper.active .main-menu__close {
    display: block;
    position: absolute;
    right: 15px;
  }

  .main-menu__wrapper {
    position: inherit;
    overflow: auto;
    height: 100%;
  }

  .main-menu__secondary-links {
    display:none;
  }

  .main-menu__secondary-links.Secondary_Link.Mobile {
    display: block;
    padding: 27px 0;
  }

  .main-menu__secondary-links .sh4:last-child {
    margin-bottom:0;
  }

  .callout-text {
    display: inline-block;
  }

}

@media only screen and (max-width: 667px) {

  .main-menu {
    top: 114px;
  }

}

@media only screen and (max-width: 374px) {

  .main-menu__main-links .h6 {
    font-size: 20px;
  }

  .main-menu__main-link .callout-text {
    padding: 2.2px 5px;
    font-size: 10px;
  }

}

@media only screen and (max-width: 358px) {
  
  .main-menu {
    top: 135px;
  }

}

/*** NEW MAIN MENU CSS END ***/

.Hide_Announcement_Bar {
  display: none;
}

announcement-container {
  z-index: 11; 
}

announcement-container.Fixed_Bar {
  position: sticky;
  top: 0;
}

/* .Show_Announcement_Bar.Fixed_Bar + header-container {
  top: 49px;
}
 */
.Show_Announcement_Bar.Fixed_Bar+header-container {
  top: 104px;
}

.Show_Announcement_Bar + header-container {
  top: 0;
}

.Announcement_Shown.main-menu {
  top: 129px; 
}

.header--scrolled + #shopify-section-main-menu .Announcement_Shown.main-menu {
  top: 80px;
}

.Overflow_Hidden {
  overflow: hidden;
}

@media only screen and (max-width: 959px) {

  .main-menu {
    top: 80px;
  }

}

@media only screen and (max-width: 768px) {

  .main-menu {
    top: 54px;
  }
  
  .Announcement_Shown.main-menu {
    top: 93px;
  }
  
  .Announcement_Shown.Fixed_Announcement_Bar.main-menu {
    top: 93px;
  }

  .header--scrolled + #shopify-section-main-menu .Announcement_Shown.Fixed_Announcement_Bar.main-menu {
    top: 93px;
  }

  .Show_Announcement_Bar + header-container {
    top: 0;
  }
  
  /* .Show_Announcement_Bar.Fixed_Bar+header-container {
    top: 39px;
  } */

  .page-template--page-black-friday-offer .Show_Announcement_Bar.Fixed_Bar+header-container {
    top: 0px;
  }
  
}

@media only screen and (max-width: 667px) {

  .Announcement_Shown.main-menu {
    top: 139px;
  }
    
  .Announcement_Shown.Fixed_Announcement_Bar.main-menu {
    top: 139px;
  }

  /* .Show_Announcement_Bar.Fixed_Bar + header-container {
    top: 54px;
  } */

  .Show_Announcement_Bar.Fixed_Bar + header-container {
    top: 60px;
  }

  .page-template--page-black-friday-offer .Show_Announcement_Bar.Fixed_Bar + header-container {
    top: 0px;
  }

  .header--scrolled+#shopify-section-main-menu .Announcement_Shown.Fixed_Announcement_Bar.main-menu {
    top: 139px;
  }
  
}

@media only screen and (max-width: 374px) {

  .Show_Announcement_Bar.Fixed_Bar + header-container {
    top: 54px;
  }
  
  .Announcement_Shown.Fixed_Announcement_Bar.main-menu {
    top: 108px;
  }

  .Announcement_Shown.main-menu {
    top: 108px;
  }
  
}