.image-slider__container {
  padding-top: 50px;
  padding-bottom: 70px;
}

.image-slider__container .page-width {
  margin: 0 auto;
  text-align: center;
}

.image-slider__img-container {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  margin: 0;
}

.image-slider__img-container img {
  margin: 0 36%;
}

.image-slider__img-container::-webkit-scrollbar {
  display: none;
}

.image-slider__img-container {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.image-slider__track {
  width: 410px;
  height: 12px;
  border-radius: 18px;
  border: 2px solid #1F2322;
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  .image-slider__img-container img {
    margin: 0 23%;
  }
}