.media-grid__container {
  text-align: center;
  padding-top: 31px !important;
  padding-bottom: 110px !important;
}

@media screen and (max-width:768px) {
  .media-grid__container {
    padding-top: 27px !important;
    padding-bottom: 50px !important;
  }
}

.grey-background {
 background-color: #f8f8f8;
}

.media-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 10px;
  width: fit-content;
  margin: 0 auto;
}

.media-grid__container .sh3 {
  color: #797B7A;
  margin: 0 auto 6px;
}

.media-grid__container .sh2 {
  max-width: 470px;
  margin: 0 auto 60px;
}

.media-grid__container h1 {
  margin: 0 auto 20px;
}

.media-grid__container h1 .rhyme-italic {
  font-size: 50px;
  font-family: Rhymes-Light-Italic;
}

.media-grid img, .media-grid video {
  width: 100%;
  border-radius: 10px;
}

.media-grid__item {
  max-width: 280px;
}

@media (max-width: 768px) {
  .media-grid {
    grid-template-columns: 1fr 1fr;
  }

  .media-grid__container {
    padding-top: 0;
  }

  .media-grid__container .sh3 {
    font-size: 16px;
  }

  .media-grid__container h1 .rhyme-italic {
    font-size: 40px;
  }

  .media-grid__container h1 {
    margin-bottom: 21px;
  }
  
  .media-grid__container .sh2 {
    font-size: 18px;
    margin: 0 auto 40px;
  }
}