.chronic-illness-slide-out {
  width: 100%;
  max-width: 480px;
  height: 100%;
  overflow-y: auto;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: .4s ease-in-out;
  z-index: 15;
  background: white;
  overflow: hidden;
}

.chronic-illness-slide-out.active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.chronic-illness-slide-out__inner {
  height: 100vh;
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  transition: transform .3s ease-in-out;
}

/* Header */
.chronic-illness-slide-out__header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 2px solid black;
}

.chronic-illness-slide-out__header img {
  width: 50px;
}

.chronic-illness-slide-out__close {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.chronic-illness-slide-out__content {
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
}

.chronic-illness-slide-out__compare {
  padding: 40px 20px;
  background-color: #F8F1EB80;
}

.chronic-illness-slide-out__compare .sh4 {
  text-align: center;
  margin-bottom: 26px;
  margin-top: 0;
}

.chronic-illness__price-item p {
  color: #545759;
  margin-top: 0;
  margin-bottom: 12px;
}

.chronic-illness__price-item p:last-of-type {
  margin-bottom: 0;
}

.chronic-illness__price-item {
  display: flex;
  justify-content: space-between;
}

.chronic-illness-slide-out__info {
  padding: 40px 20px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chronic-illness-slide-out__info button {
  width: 100%;
}

.chronic-illness-slide-out__footer p {
  color: #545759;
  margin-bottom: 14px;
  text-align: center;
  text-transform: unset;
}



/* Second page */
.chronic-illness-slide-out__second {
  height: 100vh;
  width: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: .4s ease-in-out;
}

.chronic-illness-slide-out__second-header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 2px solid black;
}

.chronic-illness-slide-out__second-back {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.chronic-illness-slide-out__second-header img {
  width: 50px;
}

.chronic-illness-slide-out__second-content {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
}

.chronic-illness-slide-out.show-second .chronic-illness-slide-out__inner {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.chronic-illness-slide-out.show-second .chronic-illness-slide-out__second {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
