.give-back-image__container {
  position: relative;
  width: 365px;
  height: 365px;
}

.give-back__item {
 width: 365px; 
}

.give-back-block__container {
  display: flex;
  gap: 33px;
}

.give-back__container {
  margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;
}

.give-back__container h3 {
  margin-top: 0px;
  margin-bottom: 60px;
}

.give-back__text {
  border: 2px solid #1F2322;
  border-top: none;
  border-radius: 0 0 17px 17px;
}

.give-back-image__container {
  border: 2px solid #1F2322;
  border-bottom: none;
  border-radius: 17px 17px 0 0;
}

@media screen and (max-width: 768px) {
}