.to-be-seen-testimonials__container {
  margin-top: 120px; 
  padding-top: 55px;
  padding-bottom: 55px;
}

.to-be-seen-testimonials {
  text-align: center;
}

.to-be-seen-testimonials img {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.to-be-seen-testimonials h2 {
  margin-top: 40px;
  margin-bottom: 30px;
}

.to-be-seen-testimonials .sh4 {
  margin: 0;
}

.to-be-seen-testimonials__arrows {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.to-be-seen-testimonials .slick-dots {
  margin: 25px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.to-be-seen-testimonials .slick-dots li {
  padding: 5px 3px;
}

.to-be-seen-testimonials .slick-dots li button {
  height: 8px;
  width: 8px;
  display: block;
  background: white;
  border: 1px solid black;
  border-radius: 100%;
  font-size: 0;
}

.to-be-seen-testimonials .slick-dots li.slick-active button {
  background: black;
}