.give-back-image__container {
  position: relative;
}


.give-back-block__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.give-back__container {
  margin-top: 120px;
  margin-bottom: 100px;
  text-align: center;
}

.give-back__container h3 {
  margin-top: 0px;
  margin-bottom: 60px;
}

.give-back__text {
  border: 2px solid #1F2322;
  border-top: none;
  border-radius: 0 0 17px 17px;
  padding: 0px 30px 30px;
}

.give-back__text h5 {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 12px;
  text-align: left;
}

.give-back__text a {
  min-width: unset;
}

.give-back__text p {
  padding-bottom: 36px;
  text-align: left;
  color: #545759;
  margin: 0;
}

.give-back__item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.give-back-image__container {
  border: 2px solid #1F2322;
  border-bottom: none;
  border-radius: 17px 17px 0 0;
  z-index: -1;
}

.give-back__count {
  font-family: 'Dela Gothic One', sans-serif;
  letter-spacing: 0.49px;
  color: #1F2322;
  font-size: 33px;
  width: 62px;
  height: 62px;
  background-color: #F6ECE1;
  border: 2px solid #1F2322;
  border-radius: 31px;
  margin: 0 auto -31px;
  line-height: 54px;
}

@media screen and (max-width: 768px) {
}