.how-to {
  margin: 150px 0;
}

#bg-color.how-to {
  background: transparent linear-gradient(180deg, #ecd8c500 0%, #f2e5d86a 84%, #f8f1eb 100%) 0% 0% no-repeat padding-box;
  margin: 0 0;
  padding: 0px 0 150px;
}

.how-to__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how-to__steps {
  max-width: 608px;
  padding-right: 20px;
}

.how-to__steps .sh3 {
  margin: 0 0 25px;
}

.how-to__steps .h3 {
  margin: 0 0 20px;
}

.how-to__step-container {
  margin-bottom: 60px;
  display: grid;
  gap: 20px;
}

.how-to__step-item {
  display: flex;
}

.how-to__step-item-number {
  width: 40px;
  margin-right: 17px;
}

.how-to__step-item-number h2 {
  margin: 0;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--charcoal);
  position: relative;
}

.how-to__step-item-content h5 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.how-to__step-item-content p {
  margin: 0;
}

.how-to__image {
  width: 43%;
}

.how-to__image-container {
  padding-bottom: 125%;
  position: relative;
  border: 1px solid var(--charcoal);
}

.how-to__image-container video {
  width: 100%;
  height: 100%;
  object-position: center;
}

.text-list__container .light.sh2 strong {
  font-weight: bold;
}

.how-to__steps:last-child {
  margin-left: auto;
}

@media only screen and (max-width: 1200px) {
  .how-to__steps {
    max-width: 50%;
  }

  .how-to__steps:last-child .text-list__container {
    margin-bottom: 0
  }

  #bg-color.how-to {
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 990px) {
  .how-to__steps {
    max-width: 100%;
  }

  .how-to__container {
    flex-direction: column-reverse;
  }

  #shopify-section-template--14172580610119__16340336294fe4b32f #bg-color .how-to__container {
    flex-direction: column;
  }

  .how-to__image {
    width: 100%;
    margin-bottom: 30px
  }
}

@media only screen and (max-width: 768px) {
  .how-to {
    margin: 30px 0 80px;
  }
  
  #bg-color.how-to {
    padding: 30px 0 80px;
  }
  
  #shopify-section-template--14172580610119__16340336294fe4b32f #bg-color.how-to {
    padding: 30px 0;
  }
  
  .how-to__container {
    flex-direction: column-reverse;
  }
  
  #bg-color.how-to {
    padding-bottom: 40px;
  }
  
  .how-to__step-container {
    margin-bottom: 40px;
  }
  
  .how-to__steps {
    margin: 0 auto;
    padding: 20px 0 0;
    text-align: center;
  }
  
  .how-to__steps .sh3 {
    margin: 0 0 18px;
  }
  
  .how-to__steps .h3 {
    margin: 0 0 20px;
  }
  
  .how-to__step-item {
    display: block;
  }
  
  .how-to__step-item-number {
    width: 100%;
    margin: 0;
  }
  
  .how-to__step-item-number h2 {
    margin: 0 auto 12px;
    font-size: 45px;
  }
  
  #bg-color .how-to__steps {
    text-align: left;
  }
}