.image-dropdowns__container .image-with-dropdowns__content-point:before {
  left: unset;
  border-left: unset;
  position: unset;
}

.image-dropdowns__container {
  padding-bottom: 45px !important;
}

.image-dropdowns__container .image-with-dropdowns__q  {
  padding-top: 24px;
}

.image-dropdowns__container .image-with-dropdowns__content-point {
  border-bottom: 0.5px solid #545759;
}

.image-dropdowns__container .image-with-dropdowns__content {
  margin-right: 60px;
}

.image-dropdowns__container .image-with-dropdowns__content-text h6 {
  margin: 0 !important;
}

.image-dropdowns__container .image-with-dropdowns__a p {
  margin-left: 0 !important;
}