.pee-club-product-bar .flex-buttons-bar svg {
  width: 12px;
}

.pee-club-product-bar .flex-buttons-bar p {
  display: inline-block;
  width: max-content;
  gap: 20px;
  margin: 0;
  align-self: center;
}

.pee-club-product-bar .flex-buttons-bar h5 {
  margin: 0;
  align-self: center;
}

.pee-club-product-bar button {
  display: none;
}