.pdp-value-props {
  margin-bottom: 130px;
  padding-top: 100px;
  padding-bottom: 10px;
  background: transparent linear-gradient(0deg, white 0%, var(--beige-light) 100%) 0% 0% no-repeat padding-box;
  overflow: hidden;
}

.pdp-value-props.no-background {
  margin-bottom: 0;
  background: none;
}

.pdp-value-props__text-container {
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}

.pdp-value-props__text-container .h6 {
  margin: 0 0 60px;
}

.pdp-value-props__props-container {
  max-width: 965px;
  margin: 0 auto;
}

.pdp-value-props__props-slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pdp-value-props__props-slider .slick-list {
  overflow: visible;
}

.pdp-value-props__prop {
  padding: 0 12px;
  text-align: center;
}

.pdp-value-props__prop .float {
  font-size: 55px;
}

.pdp-value-props__prop:nth-child(1) h3 {
  --float-duration: 7s;
  --float-offset: -17%;
}

.pdp-value-props__prop:nth-child(2) h3 {
  --float-duration: 6s;
  --float-offset: -18%;
}

.pdp-value-props__prop:nth-child(3) h3 {
  --float-duration: 7s;
  --float-offset: -29%;
}

.pdp-value-props__prop:nth-child(4) h3 {
  --float-duration: 5s;
  --float-offset: -20%;
}

.pdp-value-props__prop:nth-child(5) h3 {
  --float-duration: 6s;
  --float-offset: -19%;
}

.pdp-value-props__prop:nth-child(6) h3 {
  --float-duration: 5s;
  --float-offset: -22%;
}

.pdp-value-props__prop h3 {
  margin: 0 0 16px;
}

.pdp-value-props__prop p {
  margin: 0;
}

.pdp-value-props__links-container {
  margin: 60px 0 0;
  display: flex;
  justify-content: center;
}

.pdp-value-props__link {
  margin: 0 24px;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.comparison-table-popup {
  margin: 0 -30px;
}

.comparison-table-popup .slick-list {
  overflow: visible;
}

.comparison-table-popup .slick-track {
  height: auto;
} 
  
.table_items {
  margin: 0 30px;
  padding: 32px;
  gap: 50px;
  width: 900px !important;
  position: relative;
} 



@media only screen and (max-width: 768px) {
  .pdp-value-props {
    margin-bottom: 90px;
    overflow: hidden;
  }

  .pdp-value-props.top-padding {
    padding-top: 70px;
  }

  .pdp-value-props.bottom-padding {
    padding-bottom: 70px;
  }

  .pdp-value-props__text-container .h6 {
    margin-bottom: 0;
  }

  .pdp-value-props__props-container {
    padding-left: calc(50vw - 110px);
    padding-right: calc(50vw - 110px);
    max-width: unset;
    overflow-x: scroll;
    margin: 0px -1000px;
    scroll-padding: 0px 1000px;
    scroll-snap-type: x mandatory;
    cursor: grabbing;
  }

  .pdp-value-props__props-slider {
    padding: 0px 1000px;
    display: inline-flex;
    white-space: nowrap; 
  }

  .pdp-value-props__prop {
    width: 168px !important;
    padding: 50px 8px 0;
    flex-shrink: 0;
  }

  .pdp-value-props__prop p {
    white-space: normal;
  }

  .pdp-value-props__links-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }

  .pdp-value-props {
    background: transparent linear-gradient(0deg, white 0%, var(--beige-light) 100%) 0% 0% no-repeat padding-box;
    padding-top: 80px;
  }
}