.left-image-text__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid #1F2322;
  border-bottom: 2px solid #1F2322;
}

.left-image-text__text {
 margin-left: 52px;
}

.left-image-text__text {
  align-self: center;
}

.left-image-text__text .left-ifmage-text__suptitle {
  margin-top: 0;
  margin-bottom: 20px;
}

.left-image-text__text h3 {
  margin-top: 0;
  margin-bottom: 50px;
}

.left-image-text__text .sh2 {
  margin-top: 0;
  margin-bottom: 40px;
}

.left-image-text__text a {
  margin-bottom: 0;
}



@media screen and (min-width: 769px) {
}