.included-set__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.included-set__header .sh3 {
  margin: 0 20px 0 0;
}

.included-set__header-tabs {
  display: flex;
}

.included-set__header-tab {
  height: 140px;
  width: 125px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  position: relative;
  cursor: pointer;
  transition: background .2s ease;
}

.included-set__header-tab.active {
  background: var(--beige-light);
}

.included-set__header-tab img {
  object-fit: contain;
}

.included-set__container {
  padding: 80px 0 70px;
  background: var(--beige-light);
}

.included-set__product {
  display: none;
}

.included-set__product.active {
  display: block;
}

.included-set__product-header {
  margin-bottom: 70px;
  text-align: center;
}

.included-set__product-header h4 {
  margin: 0 0 30px;
}

.included-set__product-header h4 span {
  font-weight: 300;
  font-style: italic;
}

.included-set__product-header p {
  margin: 0;
}

.included-set__product-content {
  display: grid;
  grid-template-columns: .32fr .68fr;
  gap: 50px;
}

.included-set__product-image-container {
  padding-bottom: 125%;
  position: relative;
  border: 1px solid var(--charcoal);
}

.included-set__product-bullets {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-auto-flow: column;
  gap: 30px 20px;
}

.included-set__product-bullet {
  display: grid;
  grid-template-columns: 36px 1fr;
  gap: 10px;
}

.included-set__product-bullet-emoji {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid var(--charcoal);
  background: white;
}

.included-set__product-bullet-emoji h6 {
  margin: 0;
  line-height: 1;
}

.included-set__product-bullet-content {
  padding-top: 4px;
}

.included-set__product-bullet-content .sh2 {
  margin: 0 0 12px;
}

.included-set__product-bullet-content .body {
  margin: 0;
}

.included-set__product-arrows {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.included-set__product-arrows button {
  margin: 0 20px;
  padding: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .included-set__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .included-set__header-tab {
    height: 125px;
    width: 105px;
  }

  .included-set__header .sh3 {
    margin: 20px 0 40px;
  }

  .included-set__product-header {
    text-align: left;
  }

  .included-set__container {
    padding: 40px 0 55px;
  }

  .included-set__product-header h4 {
    margin-bottom: 20px;
    padding-right: 55px;
    font-size: 30px;
  }

  .included-set__product-header p {
    font-size: 16px;
  }

  .included-set__product-header {
    margin-bottom: 40px;
  }

  .included-set__product-content {
    display: block;
  }

  .included-set__product-image {
    display: none;
  }

  .included-set__product-bullets {
    display: block;
  }

  .included-set__product-bullet {
    gap: 30px;
    position: relative;
  }

  .included-set__product-bullet::after {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    bottom: 0;
    border-left: 1px solid var(--charcoal);
  }

  .included-set__product-bullet:last-child::after {
    content: none;
  }

  .included-set__product-bullet-emoji {
    position: relative;
    z-index: 2;
  }
  
  .included-set__product-bullet-content {
    margin-bottom: 60px;
    padding: 0;
  }

  .included-set__product-bullet:last-child .included-set__product-bullet-content {
    margin-bottom: 0;
  }

  .included-set__product-bullet-content .sh2 {
    font-size: 22px;
  }

  .included-set__product-bullet-content .body {
    font-size: 12px;
  }

  .included-set__product-arrows {
    margin-top: 60px;
  }
}