.landing-signup__container {
  background-color: #F8F1EB;
  position: relative;
 
}

.landing-signup__background {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

.landing-signup__container .page-width {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
}

.landing-signup__image {
  position: relative;
  margin-left: 15%;
}

.landing-signup__image img {
  height: unset;
  width: 100%;
}

.landing-signup__signup {
  align-self: center;
}

.klaviyo-form > div div:nth-child(3) {
  position: relative !important;
}

.klaviyo-form > div div:nth-child(3) > div:first-of-type {
  padding: 0 !important;
}

.klaviyo-form > div div:nth-child(3) > div:last-of-type {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  padding: 0 10px 0 !important;
  text-decoration: underline !important;
  text-underline-offset: 5px !important;
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  .landing-signup__container .page-width {
    grid-template-columns: 1fr;
  }

  .landing-signup__image {
    position: relative;
    margin-left: 0;
    margin-bottom: 100px;
    grid-row: 1
  }

  .landing-signup__signup {
    grid-row: 2;
  }
}