.hydration-image-text {
  padding: 0 0 150px;
}

.hydration-image-text__title {
  text-align: center;
  margin-bottom: 100px;
}

.hydration-image-text__block {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hydration-image-text__block--right {
  flex-direction: row-reverse;
}

.hydration-image-text__heading {
  margin-bottom: 30px;
}

.hydration-image-text__subtitle {
  font-weight: 300;
}

.hydration-image-text__content {
  max-width: 474px;
}

.hydration-image-text__content,
.hydration-image-text__image,
.hydration-image-text__video {
  flex: 1;
}

.hydration-image-text__image,
.hydration-image-text__video {
  text-align: right;
}

.hydration-image-text__video iframe {
  border-radius: 17px;
  aspect-ratio: 1/1;
  width: 100%;
  max-width: 375px;
  height: 375px;
}

.hydration-image-text__image img {
  width: 100%;
  object-fit: cover;
  height: 376px;
  max-width: 376px;
  border-radius: 17px;
}

.hydration-image-text__block--right .hydration-image-text__image,
.hydration-image-text__block--right .hydration-image-text__video {
  text-align: left;
}

.hydration-image-text__description {
  font-style: italic;
}

.hydration-image-text__link {
  text-align: center;
}

.hydration-image-text__link a {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.hydration-image-text__link a:hover {
  text-decoration-thickness: 2px;
  transition: text-decoration-thickness ease .1s;
}

@media only screen and (max-width: 768px) {
  .hydration-image-text {
    padding: 0 0 80px;
  }

  .hydration-image-text__block {
    margin-bottom: 70px;  
  }

  .hydration-image-text__block,
  .hydration-image-text__block--right {
    flex-direction: column-reverse;
  }

  .hydration-image-text__image img,
  .hydration-image-text__video iframe {
    max-height: 320px;
  }

  .hydration-image-text__image, 
  .hydration-image-text__video {
    margin-bottom: 40px;
  }
}