.marquee {
  width: 100vw;
  max-width: 100%;
  padding: 15px 0 17px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  z-index: 1;
  background: var(--beige-light);
}

.marquee.add-border {
  border-top: 1px solid var(--charcoal);
  border-bottom: 1px solid var(--charcoal);
}

.marquee.no-background {
  background: transparent;
}

.marquee__container {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
  display: flex;
  align-items: center;
}

.marquee__item {
  margin: 0;
  padding: 0 20px;
  display: flex !important;
  align-items: center;
}

.marquee__item .sh1 {
  margin: 0 7px 0 0;
}

.marquee__item .sh2 {
  margin: 0;
  margin-top: 4px;
}

@media screen and (max-width: 768px) {
  
}