.product-subscription-features {
  padding: 150px 0 100px;
  background: transparent linear-gradient(0deg, #ECD8C500 0%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
}

.product-subscription-features.reverse-gradient {
  background: transparent linear-gradient(180deg, #ECD8C500 0%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
}

.product-subscription-features__header {
  text-align: center;
}

.product-subscription-features__header h3 {
  margin: 0 0 40px;
}

.product-subscription-features__header .sh2 {
  max-width: 490px;
  margin: 0 auto 60px;
}

.product-subscription-features__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px 65px;
}

.product-subscription-features__item {
  text-align: center;
}

.product-subscription-features__item h2 {
  margin: 0 0 25px;
}

.product-subscription-features__item:nth-child(1) h2 {
  --float-duration: 7s;
  --float-offset: -17%;
}

.product-subscription-features__item:nth-child(2) h2 {
  --float-duration: 6s;
  --float-offset: -18%;
}

.product-subscription-features__item:nth-child(3) h2 {
  --float-duration: 7s;
  --float-offset: -29%;
}

.product-subscription-features__item:nth-child(4) h2 {
  --float-duration: 5s;
  --float-offset: -20%;
}

.product-subscription-features__item:nth-child(5) h2 {
  --float-duration: 6s;
  --float-offset: -19%;
}

.product-subscription-features__item:nth-child(6) h2 {
  --float-duration: 65s;
  --float-offset: -13%;
}

.product-subscription-features__item h6 {
  margin: 0 0 14px;
}

.product-subscription-features__item p {
  margin: 0;
}

.product-subscription-features__footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-subscription-features__footer .sh3 {
  margin: 5px 10px;
}

.product-subscription-features__footer-checks {
  display: flex;
  align-items: center;
}

.product-subscription-features__footer-check {
  margin: 5px 10px;
  display: flex;
  align-items: center;
}

.product-subscription-features__footer-check svg {
  width: 12px;
  height: auto;
}

.product-subscription-features__footer-check .sh4 {
  margin: 0 0 0 8px;
}

@media only screen and (max-width: 768px) {
  .product-subscription-features {
    padding: 70px 0 80px;
  }

  .product-subscription-features__header h3 {
    margin-bottom: 20px;
  }
  
  .product-subscription-features__header .sh2 {
    margin-bottom: 40px;
  }

  .product-subscription-features__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 16px;
  }

  .product-subscription-features__item h6 {
    margin: 0;
  }

  .product-subscription-features__item p {
    display: none;
  }

  .product-subscription-features__footer {
    margin-top: 50px;
    justify-content: flex-start;
  }

  .product-subscription-features__footer .sh3 {
    margin: 0 0 12px 0;
    font-size: 13px;
  }

  .product-subscription-features__footer-checks {
    flex-wrap: wrap;
  }

  .product-subscription-features__footer-check {
    margin: 0 14px 0 0;
  }
}