.chronic-submitted__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chronic-submitted__text {
  text-align: center;
}

.chronic-submitted__text p {
  max-width: 563px;
}

.chronic-submitted__text h2 {
  max-width: 563px;
}