.hero-sub-button-link {
  text-align: center;
}

.hero-button-link__container {
  width: fit-content;
}

.hero-sub-button-link a {
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}