.benefits__flex {
  display: flex;
}

.benefits__info {
  width: 50%;
}

.benefits__items {
  width: 50%;
}

.benefits__item {
  display: flex;
}

.benefits__item h4.active{
  color: #ECD8C5;
  font-weight: 500;
}

@media screen and (max-width: 768px) {

}