.image-grid__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 34px;
}

.image-grid__flex {
  display: flex;
  justify-content: space-between;
}







@media screen and (max-width: 768px) {
}