.healthy-perks .how-to-2__content-point:before {
  left: unset;
  border-left: unset;
}

.healthy-perks .how-to-2__content-point {
  padding-bottom: 10px;
}

.healthy-perks ..how-to-2__content {
  justify-content: center;
  padding: 60px;
}