.benefits__info-title2 {
  margin-bottom: 70px;
}

.select-faq__list-item {
  display: flex;
  gap: 6px;
  align-items: flex-start;
  margin-bottom: 6px;
}

.select-faq__list-item svg {
  width: 25px;
  height: 25px;
}

.select-faq__list-item p {
  padding-top: 0 !important;
}

.select-faq__titles {
  color: #797B7A;
}
