.text-image-toggle__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-image-toggle__container .page-width {
  display: flex;
}

.text-image-toggle__images {
  width: 55%;
  margin-left: 5%;
}

.text-image-toggle__text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-image-toggle__text p {
  margin: 33px 0 8px;
  font-size: 18px;
}

.text-image-toggle__container .js-open-supplement-drawer {
  margin-top: 50px;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-align: center;
}

.text-image-toggle__container .text-image-toggle__text a {
  margin-top: 35px;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-align: left;
}

.text-image-toggle__buttons {
  display: flex;
  gap: 4px 10px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.text-image-toggle__button {
  padding: 5px 12px;
  background: white;
  border: 1px solid #1F2322;
  color: #1F2322;
  font-size: 14px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1;
  width: fit-content;
  border-radius: 30px;
  cursor: pointer;
}

.text-image-toggle__button.active {
  color: white;
  background: #1F2322;
}

.text-image-toggle__text h1 {
  margin: 0;
}

.text-image-toggle__image {
  display: none;
}

.hide-mobile.text-image-toggle__image:nth-child(1) {
  display: block;
}

.text-image-toggle__image img {
  width: 100%;
}

.text-image-toggle__text h1 .rhyme-italic {
 font-size: 50px;
 font-family: Rhymes-Italic;
 font-style: italic;
 font-weight: 300;
}

@media screen and (max-width: 768px) {
  .text-image-toggle__container .page-width {
    flex-direction: column
  }

  .text-image-toggle__image{
    display: none;
  }

  .hide-desktop.text-image-toggle__image:nth-child(2) {
    display: block;
  }
  
  .text-image-toggle__images {
    width: 100%;
    margin-left: 0%;
  }
  
  .text-image-toggle__text {
    width: 100%;
  }

  .text-image-toggle__text h1 .rhyme-italic {
   font-size: 40px;
  }

  .text-image-toggle__text h1 {
    font-size: 40px;
    text-align: center;
  }

  .text-image-toggle__container {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .text-image-toggle__text p {
    margin: 40px auto 20px;
    font-size: 14px;
    text-align: center;
  }

  .text-image-toggle__buttons {
    margin-bottom: 50px;
    justify-content: center;
  }
}