.pee-club-products__container {
  background: transparent linear-gradient(0deg, #F8F1EB 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
  padding-top: 80px; 
  padding-bottom: 120px;
}

.pee-club-products__flex {
  display: flex;
  justify-content: center;
}

.pee-club-products__wrapper {
  display: flex;
  overflow: auto;
  position: relative;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.pee-club-products__wrapper::-webkit-scrollbar {
  display: none;
}

.pee-club-products {
  display: flex;
}

.pee-club-product {
  padding: 0 18px 18px;
  margin: 0 8px;
  background: white;
  border-radius: 17px;
  width: 336px;
  vertical-align: top;
  flex: 0 0 auto;
  height: fit-content;
  position: relative;
}

.pee-club-products__text h3 {
  margin: 50px 0 24px;
}

.pee-club-products__list {
  margin: 40px 0;
}

.pee-club-products__list p {
  margin-bottom: 12px;
  margin-top: 0;
  font-size: 18px;
}

.pee-club-products__text a p {
  width: fit-content;
  border-bottom: 1px solid black;
}

.pee-club-product button {
  width: 100%;
}

.pee-club-product-info {
  display: none;
}

.pee-club-product:first-of-type .pee-club-product-info {
  display: block;
}

.pee-club-product-info .pee-club-product-info__button {
  cursor: pointer;
}

.pee-club-product img {
  border-radius: 12px;
}

.pee-club-product .light {
  white-space: pre-wrap;
}

.pee-club-product h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pee-club-product .serving {
  margin: 0 0 20px;
  font-size: 16px;
}


.pee-club-products__text {
  padding-left: 100px;
  width: 588px;
  padding-right: 55px;
}

.pee-club-product .okeReviews {
  margin-bottom: 8px;
  margin-top: 30px;
}

.pee-club-product__list svg {
  width: 20px !important;
  padding-top: 6px;
  padding-right: 4px;
}

.pee-club-product__list span {
  font-family: inter,sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.5em;
  width: 100%;
}

.pee-club-product__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 30px;
}

.pee-club-product__list > div {
  display: inline-flex;
  align-items: flex-start;
}

.pee-club-product .okeReviews .okeReviews-starRating--small {
  width: 75px;
  height: 15px;
}

.pee-club-product .okeReviews .okeReviews-starRating--small .okeReviews-starRating-indicator-layer {
  background-size: 75px 15px;
}

.pee-club-product .okeReviews-reviewsSummary {
  display: flex;
  flex-wrap: wrap;
}

.pee-club-product .okeReviews-reviewsSummary-ratingCount {
  margin: 2px 0 0 0;
  position: initial;
}

.pee-club-product .okeReviews-reviewsSummary-ratingCount span {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.375em;
}

.pee-club-product-rec {
  background: #C6DB76;
  border-radius: 17px 17px 0px 0px;
  width: calc(100% + 36px);
  margin-left: -18px;
  margin-bottom: 18px;
}

.pee-club-product-rec p {
  margin: 0;
  font-family: inter,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.5em;
  text-align: center;
  padding: 8px 0;
}

.pee-club-products__image {
  position: relative;
}

.pee-club-product-arrow {
  position: absolute;
  bottom: 18px;
  right: 18px;
}

.pee-club-product-arrow  svg {
  width: 18px;
}

.pee-club-products__image .sale-sticker {
  position: absolute;
  z-index: 1;
  background: #C6DB76;
  right: 8px;
  top: 8px;
  border-radius: 18px;
  padding: 6.5px 14px;
  line-height: 1;
  margin: 0;
  font-size: 12px;
}

.Open_Drawer {
  display: block;
  text-align: center;
  margin: 16px 0;
}

.pee-club-product .supplement-side-drawer {
  cursor: default;
}

@media (max-width: 1050px) {
  .pee-club-products__text {
    padding-left: 60px;
  }
}

@media (max-width: 768px) {
  .pee-club-products__container {
    background: #F8F1EB;
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .pee-club-products__text h3 {
    margin: 0 0 20px;
  }

  .pee-club-products__container .bottom-link p {
    margin: 40px auto 0;
    text-align: center;
    border-bottom: 1px solid;
    width: fit-content;
    font-weight: 500;
  }

  .pee-club-products {
    flex-direction: column;
    gap: 20px;
  }
  
  .pee-club-product {
    display: block;
    width: 100%;
    margin: 0 !important;
  }

  .pee-club-products__flex {
    width: 100%;
    flex-direction: column;
  }

  .pee-club-products__text,
  .pee-club-products__wrapper {
    padding-left: 27px;
    padding-right: 27px;
    width: 100%;
  }

  .pee-club-products__text .sh4{
    margin: 0;
    line-height: 21px;
  }

  .pee-club-products__wrapper {
    scroll-snap-type: unset;
    cursor: pointer;
    overflow: unset;
    white-space: unset;
    display: flex;
    flex-direction: column;
  }

  .pee-club-products__list {
    margin: 30px 0 40px;
  }
  
  .pee-club-products__list p {
    margin-bottom: 12px;
    margin-top: 0;
    font-size: 16px;
  }

  .pee-club-product .okeReviews {
    margin-bottom: 14px;
  }

  .pee-club-product h5 {
    margin: 0 0 10px;
    font-size: 25px;
  }

  .pee-club-product .serving {
    font-size: 16px;
  }
}