.media-grid__container {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

@media screen and (max-width:768px) {
  .media-grid__container {
    padding-top: 76px;
    padding-bottom: 76px;
  }
}

.grey-background {
 background-color: #f8f8f8;
}

.media-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 10px;
  width: fit-content;
  margin: 0 auto;
}

.media-grid__container .sh3 {
  color: #797B7A;
  margin: 0 auto 6px;
}

.media-grid__container .sh2 {
  max-width: 470px;
  margin: 0 auto 60px;
}

.media-grid__container h1 {
  margin: 0 auto 20px;
  text-wrap: pretty;
}

.media-grid__container h1 .rhyme-italic {
  font-size: 50px;
  font-family: Rhymes-Light-Italic;
}

.media-grid img, .media-grid video {
  width: 100%;
  border-radius: 10px;
  height: auto;
}

.media-grid__item {
  max-width: 280px;
}

.media-grid__button {
  margin: 60px auto 0;
  text-align: center;
}

.media-grid__button .button {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.media-grid__benefits {
  margin: -35px 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.media-grid__benefit {
  display: flex;
  align-items: center;
  gap: 8px;
}

.media-grid__benefit-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-grid__benefit-icon img {
  width: 100%;
  height: auto;
}

.media-grid__benefit p {
  margin: 0;
}

@media (max-width: 768px) {
  .media-grid {
    grid-template-columns: 1fr 1fr;
  }

  .media-grid__container {
    padding-top: 0;
  }

  .media-grid__container .sh3 {
    font-size: 16px;
  }

  .media-grid__container h1 .rhyme-italic {
    font-size: 40px;
  }

  .media-grid__container h1 {
    margin-bottom: 21px;
  }
  
  .media-grid__container .sh2 {
    font-size: 18px;
    margin: 0 auto 40px;
  }

  .media-grid__button {
    margin: 30px auto 0;
  }

  .media-grid__button .button {
    max-width: 100%;
  }

  .media-grid__benefits {
    margin: -15px 0 40px;
    gap: 8px;
  }
}

/* Chronic Illness Page */
.page-chronic-illness-support .media-grid__container {
  margin: 100px 0 90px;
  padding: 0;
}

.page-chronic-illness-support .media-grid__header {
  max-width: 645px;
  margin: 0 auto 60px;
}

.page-chronic-illness-support .media-grid__header h1 {
  font-family: inter;
  font-size: 40px;
}

.page-chronic-illness-support .media-grid__header h1 em {
  font-family: Rhymes-Light-Italic;
}

.page-chronic-illness-support .media-grid__header .sh2 {
  margin: 0;
  max-width: 100%;
  line-height: 1.5;
  font-size: 16px;
}

@media (max-width: 768px) {
  .page-chronic-illness-support .page-width {
    padding: 0 20px;
  }

  .page-chronic-illness-support .media-grid__container {
    margin: 70px 0;
  }

  .page-chronic-illness-support .media-grid__header {
    margin-bottom: 40px;
  }

  .page-chronic-illness-support .media-grid__header h1 {
    margin-bottom: 15px;
    font-size: 30px;
  }
}