.product-section {
  overflow: hidden;
}

.product {
  padding-top: 70px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.product__media-wrapper * {
  min-width: 0;
  min-height: 0;
}

.product__media-wrapper .sticky-images {
  position: sticky;
  top: 140px;
  margin-bottom: 73px;
}

.product__info-wrapper {
  padding: 0 100px 100px 0;
  background: white;
  position: relative;
  z-index: 2;
}

.product__info-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 2000px;
  bottom: 0;
  background: white;
}

.reviews_button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: visible;
  background-color: rgba(0,0,0,0.3);
  z-index: 99999;
  border-radius: 10px;
  height: calc(100% - 10px);
}

.reviews_button img {
  width: 30px !important;
  height: 30px;
  position: relative;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.reviews_button.active {
  opacity: 0;
}

.video-tag {
  background: white;
  padding: 0px 5px;
  border-radius: 10px;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 999999;
}

.video-tag p {
  color: #1F2322;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}

.okeReviews.okeReviews--theme .okeReviews-widgetNavBar-item[aria-selected='true'] {
  border-bottom: 1px solid;
}

.product-reviews .okeReviews.okeReviews--theme, .okeReviews.okeReviews--theme p {
  font-size: 14px;
}

.product-reviews .okeReviews .okeReviews-review-main-heading {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
}

.product-reviews .okeReviews.okeReviews--theme .okeReviews-reviewsWidget.is-okeReviews-reviewsWidget-large .okeReviews-review-primary, .product-reviews .okeReviews.okeReviews--theme .okeReviews-reviewsWidget.is-okeReviews-reviewsWidget-large .okeReviews-review-side {
  padding-top: 60px;
}

.product-reviews .okeReviews .okeReviews-review-arguments-item {
  margin-bottom: 20px;
}

.product-reviews .okeReviews .okeReviews-review-reviewer-product-details-heading, .product-reviews .okeReviews.okeReviews--theme .okeReviews-sectionedList-heading, .product-reviews .okeReviews.okeReviews--theme .okeReviews-review-attribute-label {
  color: #797B7A;
  font-size: 14px;
  font-family: Inter;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.okeReviews.okeReviews--theme .okeReviews-widgetNavBar-item {
  font-size: 14px;
  font-weight: 400;
}

.product-reviews .okeReviews .okeReviews-select {
  border-radius: 50px;
}

.product-reviews .okeReviews.okeReviews--theme.okeReview-custom-aggregate .okeReviews-reviewsSummary-ratingCount {
  font-weight: 400 !important;
  font-size: 24px !important;
}

.okeReviews.okeReviews--theme .okeReviews-button, .okeReviews.okeReviews--theme .okeReviews-showMore {
  background: white !important;
}

.product-reviews .okeReviews-reviewsSummary-ratingCount {
  left: unset;
}

.Why_This_Matters p:first-of-type,
.Why_This_Matters p:first-of-type label {
  margin-bottom: 0 !important;
}

.present {
  font-style: normal !important;
  text-decoration: none !important;
  font-size: 18px !important;
}

.product__info-wrapper .okeReviews {
  margin-bottom: 10px !important;
}

.product__info-wrapper .okeReviews .okeReviews-starRating--small {
  width: 82px;
  height: 22px;
}

.product__info-wrapper .okeReviews .okeReviews-starRating--small .okeReviews-starRating-indicator-layer {
  background-size: 82px 20px;
}

.product__info-wrapper .okeReviews-reviewsSummary-ratingCount {
  margin: 0;
}

.product__info-wrapper .okeReviews-reviewsSummary-ratingCount span {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.375em;
  color: var(--charcoal-60);
}

.product__title {
  font-size: 64px;
  margin: 0 0 32px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: -2px;
}

.product__subtitle {
  font-size: 24px;
  letter-spacing: 0;
  text-transform: inherit;
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 30px;
  font-family: Rhymes-Light-Italic;
}

.product__description {
  margin: 0 0 36px;
}

.starting-at__price {
 font-size: 16px;
 font-weight: 600;
 line-height: 23px;
 margin: 0 0 24px;
}

.Serving_Cost {
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
  text-align: center;
}

/* Tabs */
.product__tabs {
  margin: 40px 0;
}

.product__tabs-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.product__tabs-header .body {
  padding: 0 10px 10px 0;
  display: block;
  opacity: .4;
  cursor: pointer;
  transition: opacity .2s ease;
  color: black !important;
  font-size: 12px;
}

.product__tabs-header .body:last-child {
  padding-right: 0;
}

.product__tabs-header .body.active {
  opacity: 1;
}

.product__tabs-content {
  padding-top: 20px;
}

.product__tab {
  display: none;
}

.product__tab.active {
  display: block;
}

.product__tab .check-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.product__tab .check-item {
  margin: 0;
  padding: 3px 12px 3px 0;
}

.product__tab .check-title {
  margin: 0 0 10px;
}

.product__tab .tabs-label {
  margin: 30px 0 0;
  display: block;
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* Bundle Tabs */
.product__bundle {
  margin-top: 40px;
}

.product__bundle-header-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}

.product__bundle-header-container button {
  width: 100%;
  padding: 7px;
  font-size: 12px;
  border: 1px solid var(--charcoal);
  border-radius: 50px;
  text-align: center;
  transition: color .2s ease, background .2s ease;
  cursor: pointer;
}

.product__bundle-header-container .hydration:hover, .product__bundle-header-container .hydration.active {
  background: var(--teal-dark);
  color: white;
}

.product__bundle-header-container .immunity:hover, .product__bundle-header-container .immunity.active {
  background: var(--green-dark);
  color: white;
}

.product__bundle-header-container .energy:hover, .product__bundle-header-container .energy.active {
  background: var(--orange-dark);
  color: white;
}

.product__bundle .product__tabs {
  display: none;
}

.product__bundle .product__tabs.active {
  display: block;
}

/* Dynamic checkout */

.shopify-payment-button__button {
  border-radius: 0;
  font-family: inherit;
  min-height: 4.6rem;
}

.shopify-payment-button__button [role="button"]:focus {
  outline: .2rem solid rgba(var(--color-foreground),.5) !important;
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 .1rem rgba(var(--color-button),var(--alpha-button-border)),0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground),.3) !important;
}

.shopify-payment-button__button [role="button"]:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none !important;
}

.shopify-payment-button__button [role="button"]:focus-visible {
  outline: .2rem solid rgba(var(--color-foreground),.5) !important;
  box-shadow: 0 0 0 .1rem rgba(var(--color-button),var(--alpha-button-border)),0 0 0 .3rem rgb(var(--color-background)),0 0 .5rem .4rem rgba(var(--color-foreground),.3) !important;
}

.shopify-payment-button__button--unbranded {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border));
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0.07rem;
}

.shopify-payment-button__button--unbranded:hover,
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: rgba(var(--color-button), var(--alpha-button-background));
  box-shadow: 0 0 0 0.2rem rgba(var(--color-button), var(--alpha-button-border));
}

.shopify-payment-button__more-options {
  margin: 1.6rem 0 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.shopify-payment-button__button--hidden {
  display: none;
}

/* Product form */

.product-form {
  display: block;
}

/* Form Elements */
.product-form .select__select {
  width: 100%;
  height: 50px;
  padding: 0 40px;
  border: 1px solid black;
  border-radius: 100px;
  text-align: center;
}

.product-form__input {
  width: 100%;
  margin: 0 0 40px;
}

variant-radios,
variant-selects {
  display: block;
}

.product-form__input--dropdown {
  margin-bottom: 1.6rem;
}

.product-form__input .form__label {
  padding-left: 0;
}

fieldset.product-form__input .form__label {
  margin-bottom: 0.2rem;
}

.product-form__input input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.product-form__input input[type='radio'] + label {
  border: 0.1rem solid rgba(var(--color-foreground), 0.55);
  border-radius: 4rem;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
}

.product-form__input input[type='radio'] + label:hover {
  border: 0.1rem solid rgb(var(--color-foreground));
}

.product-form__input input[type='radio']:checked + label {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
}

.product-form__input input[type='radio']:disabled + label {
  border-color: rgba(var(--color-foreground), 0.1);
  color: rgba(var(--color-foreground), 0.4);
  text-decoration: line-through;
}
.product-form__input input[type='radio']:focus-visible + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* Fallback */
.product-form__input input[type='radio']:focus + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}

/* No outline when focus-visible is available in the browser */
.product-form__input input[type='radio']:focus:not(:focus-visible) + label {
  box-shadow: none;
}

.product-form__submit {
  margin-bottom: 1rem;
}

.product-form__sticky-atc {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: var(--white);
  padding: 12px 20px 6px 20px;
  transform: translateY(100%);
  transition: transform 300ms ease;
  box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.09);
}

.product-form__sticky-atc.active {
  transform: translateY(0);
}

.product-form__sticky-atc-text {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  font-family: Rhymes-Italic;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.no-js .product-form__submit.button--secondary {
  --color-button: var(--color-base-accent-1);
  --color-button-text: var(--color-base-solid-button-labels);
  --alpha-button-background: 1;
}

.product-form__submit[disabled] + .shopify-payment-button {
  display: none;
}

.product-form__buttons .button {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green-1);
  border: none;
}

/* Overrides */
.shopify-payment-button__more-options {
  color: rgb(var(--color-foreground));
}

.shopify-payment-button__button {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
  
/* .smartrr-purchase-options {
  display: none;  
}
  
.wellness-set .smartrr-purchase-options {
  display: block;  
} */

.smartrr-purchase-options [data-smartrr-selling-plan-groups] {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.smartrr-purchase-options [data-smartrr-selling-plan-groups] > div {
  padding: 0 10px;
}

.smartrr-purchase-options [data-smartrr-selling-plan-groups] * {
  font-family: inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.5em;
}

.smartrr-purchase-options .smartrr-deliver-frequency {
  display: none;
}

.smartrr-purchase-options [data-smartrr-selling-plan-group-plans] select {
  width: 100%;
  border: 1px solid var(--charcoal);
  border-radius: 50px;
}

/* Product info */

/* Product media */
.product__media-list {
  margin: 0 -8px;
}

@media screen and (max-width: 768px) {
  .product__media-list {
    margin: 0 -20px;
    padding-right: 20px;
  }
}

.product__media-list .slick-list {
  overflow: visible;
}

.product__media {
  padding-top: 100% !important;
}

@media screen and (max-width: 768px) {
  .product__media-item:nth-child(2) .product__media {
    margin-left: 20px; 
  }
}
  
.product__media img, .product__media video {
  border-radius: 10px;
}
  
.product__media-item {
  margin: 0 8px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.product__media-item .product-spinner {
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;
  visibility: hidden;
}

.product__media-arrows {
  padding-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.product__media-arrows .slick-arrow {
  cursor: pointer;
  transition: transform .2s ease;
  position: unset;
}

.product-spinner img {
  animation: spin 10s linear infinite;
}

.product__media-arrows .slick-arrow:hover.slick-prev {
  transform: translateX(-5px);
}

.product__media-arrows .slick-arrow:hover.slick-next {
  transform: translateX(5px);
}

.product__media-arrows .slick-prev {
  padding-right: 50px;
}
 
.product__media-item > * {
  display: block;
  position: relative;
}

.product__media-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.product-media-modal {
  background-color: rgb(var(--color-background));
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.product-media-modal[open] {
  visibility: visible;
  opacity: 1;
  z-index: 101;
}

.product-media-modal__dialog {
  display: flex;
  align-items: center;
  height: 100vh;
}

.product-media-modal__content {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
}

.product-media-modal__content > *:not(.active),
.product__media-list .deferred-media {
  display: none;
}

@media screen and (min-width: 769px) {  
  
  .product__media-wrapper {
    margin-top: 0;
  }
  
  .product-section {
    overflow: clip;
  }
    
  .product::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 2000px;
    bottom: 0;
    background: white;
    z-index: 1;
  }
  
  .product__info-wrapper {
    padding-right: 50px;
  }

  .product__media-list:not(.slick-initialized) .product__media-item {
    display: none;
  }
  
  .product__media-list:not(.slick-initialized) .product__media-item:first-child {
    display: block;
  }

  .product-media-modal__content {
    padding-bottom: 2rem;
  }

  .product-media-modal__content > *:not(.active) {
    display: block;
  }

  .product__modal-opener:not(.product__modal-opener--image) {
    display: none;
  }

  .product__media-list .deferred-media {
    display: block;
  }
}

@media screen and (min-width: 991px) {  

  .product__media-wrapper {
    margin-top: 0;
    flex: 0 0 50.2%;
    max-width: 100%;
  }

}

.product__media-list .deferred-media,
.product__media-list .product__modal-opener {
  border: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.product-media-modal__content > * {
  display: block;
  height: auto;
  margin: auto;
  border: 0.1rem solid rgba(var(--color-foreground), 0.04);
}

.product-media-modal__content .media {
  background: none;
}

.product-media-modal__model {
  width: 100%;
}

.product-media-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 2rem;
  padding: 1.2rem;
  position: fixed;
  z-index: 2;
  top: 2rem;
  width: 4rem;
}

.product-media-modal__content .deferred-media {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .product-media-modal__content {
    padding: 2rem 11rem;
  }

  .product-media-modal__content > * {
    width: 100%;
  }

  .product-media-modal__content > * + * {
    margin-top: 2rem;
  }

  .product-media-modal__toggle {
    right: 5rem;
    top: 2.2rem;
  }
}

@media screen and (min-width: 990px) {
  .product-media-modal__content {
    padding: 2rem 11rem;
  }

  .product-media-modal__content > * + * {
    margin-top: 1.5rem;
  }

  .product-media-modal__content {
    padding-bottom: 1.5rem;
  }

  .product-media-modal__toggle {
    right: 5rem;
  }
}
  
@media screen and (min-width: 1051px) {  
  .product-section .page-width {
    padding: 0 80px;
  }
}

@media screen and (min-width: 1125px) {
  .product__info-wrapper {
    padding-right: 100px;
  }
}
  
.product-media-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.product-media-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

.product__links {
  margin-top: 30px;
}

.product__links a {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.product__links a svg {
  margin-left: 8px;
  transition: transform .2s ease;
}

.product__links a:hover svg {
	transform: translateX(5px);
}

.rc-container {
  display: none;
}

@media screen and (max-width: 768px) {
  .product {
    padding-top: 10px;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .product__media-wrapper .sticky-images {
    margin-bottom: 16px;
  }

  .product__media-item {
    width: 75vw;
    margin: 0 5px;
  }

  .product__media-item .product-spinner {
    top: 13px;
    left: 13px;
  }
  
  .product__info-wrapper {
    padding: 25px 0 0 0;
  }

  .product__info-wrapper::before {
    content: none;
  }

  .product__title {
    font-size: 40px;
    line-height: 36px;
    margin: 0 0 20px;
  }

  .product__subtitle {
    font-size: 16px
  }

  .template-product .product__description,
  .template-product .product__description p,
  .template-product .product__description span {
    font-size: 16px;
  }

  .template-product .product__description p {
    line-height: 24px;
    margin-top: 25px;
  }
  
  .product__tabs-header-wrapper {
    margin: 0 -27px;
    overflow-x: scroll;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .product__tabs-header {
    width: fit-content;
    padding: 0 27px;
    display: flex;
    justify-content: flex-start;
    border: 0;
  }

  .product__tabs-header .body {
    padding: 14px 35px 14px 0;
    white-space: nowrap;
  }

  .product__tab .body {
    font-size: 12px;
  }

  .product__bundle-header {
    margin: 0 -27px -10px;
    overflow: scroll;
  }

  .product__bundle-header-container {
    width: fit-content;
    padding: 0 27px;
  }

  .product__bundle-header-container button {
    min-width: 150px;
  }

  .product__subtitle {
    margin: 10px 0;
    font-size: 20px;
  }
}

/* Nutrition Label Popup */
.product-nutrition-label {
  display: none;
  position: relative;
  z-index: 3;
}

.product-nutrition-label__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-nutrition-label__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(84, 87, 89, 0.5);
}

.product-nutrition-label__container {
  max-width: 600px;
  width: 100%;
  padding: 50px 30px 0;
  background: white;
  position: relative;
  z-index: 2;
}

.product-nutrition-label__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.product-nutrition-label__close svg {
  height: 20px;
  width: 20px;
}

.product-nutrition-label__container-inner {
  height: 450px;
  overflow: scroll;
}

.product-nutrition-label__image {
  margin-bottom: 30px;
}

.product-nutrition-label__image img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .product-nutrition-label__container {
    margin: 20px;
    padding: 40px 20px 0;
  }
}

/* Tooltip */
.product__subscription-tooltip {
  margin-top: 14px;
  position: relative;
}
  
.product__subscription-tooltip:active {
  pointer-events: none;
}

.product__subscription-tooltip-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--charcoal-light);
  cursor: pointer;
}

.product__subscription-tooltip-text p {
  margin: 0;
  font-size: 12px;
}
  
.product__subscription-tooltip-text p span{
  font-weight: 700 !important;
}

.product__subscription-tooltip-text svg {
  height: 14px;
  width: 14px;
  margin: 0 0 0 5px;
}

.product__subscription-tooltip-popover {
  padding: 14px;
  position: absolute;
  border-radius: 5px;
  background: var(--charcoal-light);
  color: white;
  text-align: center;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: transform .3s ease, opacity .3s ease, visibility .3s ease;
  font-size: 12px;
  width: 350px;
  text-align: left;
}

.product__subscription-tooltip-text:hover + .product__subscription-tooltip-popover {
  transform: translateY(14px);
  opacity: 1;
  visibility: visible;
}

.product__subscription-tooltip-popover::after {
  content: '';
  height: 10px;
  width: 10px;
  border: 10px solid transparent;
  border-bottom-color: var(--charcoal-light);
  position: absolute;
  top: -19px;
  left: 25%;
  transform: translateX(-50%);
}

.product__subscription-tooltip-popover p {
  margin: 0;
  font-size: 12px;
  text-align: left;
}
  
.product__subscription-tooltip-popover p:first-of-type {
  font-size: 16px;
  text-align: left;
}
  
.product__subscription-tooltip-popover p div {
  text-align: left;
}

.product__subscription-benefits {
  margin-top: 40px;
}

.product__subscription-benefits .sh4 {
  margin: 0 0 8px;
}

.product__subscription-benefits .body {
  margin: 0 0 5px;
  color: var(--charcoal-light)
}

@media screen and (max-width: 768px) {
  .smartrr-purchase-options [data-smartrr-selling-plan-groups] {
    margin: 0 !important;
    display: block;
  }

  .smartrr-purchase-options [data-smartrr-selling-plan-groups] > div {
    padding: 0;
  }

  .smartrr-purchase-options [data-smartrr-selling-plan-group-plans] select {
    padding: 17px 18px !important;
  }

  [data-smartrr-selling-plan-group-plans] {
    margin-top: 0 !important;
  }

  .smartrr-purchase-options [data-smartrr-compare-price] {
    color: var(--charcoal-light);
    font-weight: 300;
  }
  
  .product__subscription-tooltip-popover {
    width: 250px;
  }
}
  
  
/*========== new pdp edits ==========*/
.pdp-faq .faq-section {
  margin: 30px 0;
}
  
.pdp-faq .faq__item {
  border-top: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
  
.pdp-faq .faq__header {
  padding: 0; 
}

.pdp-faq .faq__header .sh4 {
  color: black !important;
}
  
.pdp-faq .faq__content {
  padding-bottom: 20px;
}
  
.info-grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
  
.info-grid__item {
  padding: 12px 10px;
}
  
.info-grid__item p {
  margin: 0; 
  text-align: left;
}
  
.info-grid__item:first-of-type {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
}
  
.info-grid__item:nth-of-type(2) {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-left: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(0,0,0,0.2);
}
  
.info-grid__item:nth-of-type(3) {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
  
.info-grid__item:last-of-type {
  border-left: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
  
@media screen and (max-width: 768px) {    
  .info-grid__container.shake {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}
  
.smartrr-selling-plan-group-name {
  display: block !important;
  margin-bottom: 10px;
}

.smartrr-selling-plan-group-name > p {
  margin: 5px 0 0;
  font-size: 12px !important;
  color: rgba(0,0,0,0.4);
}
  
.smartrr-selling-plan-group-name > div {
  font-size: 16px !important;
}
  
[data-smartrr-form-id] .smartrr-selling-plan-group-label {
  align-items: flex-start !important;
}

.subscribe-item_info {
  display: flex;
  margin-left: -28px;
  margin-top: 10px;
}
  
.subscribe-item_info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
}
  
.subscribe-item_info p {
  margin: 0;
  font-size: 12px !important;
}
  
.subscribe-item_info p:first-of-type {
  margin: 3px 0;
}
  
.subscribe-item_info p:last-of-type {
  color: rgba(0,0,0,0.4);
}
  
.subscribe-item_info > div {
  align-self: center; 
}
  
[data-smartrr-selling-plan-groups] > div {
  padding-left: 0 !important; 
}
  
.pick-plan {
  margin-top: 40px;
  margin-bottom: 20px; 
}
  
@media screen and (max-width: 768px) {
  .product-quick-add__form-item {
    border: 1px solid black;
    padding: 7px 10px;
    border-radius: 25px;
  }
  
  .product-quick-add__form-item.subscription {
    width: 55%;
  }
  
  .product-quick-add__form-item.one-time {
    width: 45%;
  }
  
  .product-quick-add__form {
    gap: 5px !important;
    justify-content: space-between !important;
    margin-bottom: 5px !important;
  }
  
  .info-grid__container {
    overflow: auto;
    white-space: nowrap;
    width: calc(100% + 54px);
    margin-left: -27px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .info-grid__item {
    display: inline-block;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(0,0,0,0.2);
    border-left: unset !important;
  }

  .info-grid__item:last-of-type {
    border-left: 1px solid rgba(0,0,0,0.2);
  }

  .pdp-faq .faq__header {
    padding: 0; 
  }
  
}
  
.subscribe-tooltip__flex {
  display: flex;
  gap: 8px;
  align-items: center;
}
  
.subscribe-tooltip__flex .product__subscription-tooltip {
  margin-top: 0;
  background: transparent linear-gradient(146deg, #E2EEF6 0%, #FEEBCD 26%, #E0EAEB 50%, #F0F6FA 79%, #FEEBCD 100%) 0% 0% no-repeat padding-box;
  border-radius: 14px;
  padding: 3px 12px;
    animation: gradient 3s ease infinite;
  background-size: 400% 400%;

}
 
.subscribe-tooltip__flex .product__subscription-tooltip  button > p {
  white-space: nowrap;
}
  
[data-smartrr-selling-plan-group-input] + .smartrr-selling-plan-group-input-display {
  margin-top: 6px;
}
  
.smartrr-otp [data-smartrr-selling-plan-group-input] + .smartrr-selling-plan-group-input-display {
  margin-top: 3px;
}

/* PDP START */

.Product_Tags span {
  font-size: 14px;
  font-family: inter,sans-serif;
  color: #1f2322;
  line-height: 1.5;
  border-radius: 4px;
  padding: 5px 0px 5px 8px;
  margin: 0 ;
  display: inline-block;
}

.product__info-wrapper .product-form__input {
  border: 0;
}

.Variant_Blocks {
  display: inline-block;
  position: relative;
  flex: 0 0 calc(50% - 5px);
}

.Variant_Blocks .Variant_Title {
  text-align: center;
}

.Variant_Blocks span {
  display: block;
  letter-spacing: normal;
}

.Variant_Blocks:last-child {
  margin-right: 0;
}

.Variant_Blocks label {
  font-family: inter,sans-serif;
  font-size: 18px !important;
  color: #1F2322 !important;
  font-weight: 300 !important;
}

.Supply_Time {
  font-size: 14px;
  color: #1f2322;
  font-family: Rhymes-Light-Italic;
  margin: 0;
  text-align: center;
  line-height: 20px;
}

.Variant_Servings {
  font-size: 12px;
  font-weight: 300;
  color: #1F2322;
  line-height: normal;
  font-family: inter,sans-serif;
}

.Variant_Blocks .product-form__input input[type=radio] {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0 !important;
}

.Variant_Blocks input[type=radio] + label {
  padding: 24px 14px 20px;
  width: 100%;
  height: 100%;
  text-align: left;
  margin: 0;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--gray-light);
}

.product-form__input .Variant_Blocks input[type=radio] + label::after {
  display: none;
}

.product-form__input .Variant_Blocks input[type=radio]+label:hover {
  border: 1px solid #545759;  
}

.product-form__input .Variant_Blocks input[type=radio]:checked + label {
  background-color: var(--gray-lighest);
  border: 1px solid var(--charcoal-60);
}

.product-form__input .Variant_Blocks input[type=radio]:checked + label::before {
  display: none;
}

.product-form__input .Variant_Blocks input[type=radio]:checked + label > * {
  opacity: 1;
}

.product-form__input .Variant_Blocks input[type=radio]:checked + label::after {
  background-color: #F8F8F8;
}

.product__info-wrapper .product-form__input {
  padding: 0;
  display: flex;
  gap: 11px;
}

.product__info-wrapper .product-form__input img {
  width: 100%;
}

.Best_Value {
  font-size: 14px;
  background-color: #398200;
  display: inline-block;
  width: auto;
  position: absolute;
  right: 18px;
  border-radius: 14px;
  padding: 4px 10px;
  top: -10px;
  font-weight: 400;
  color: white;
}

.Product_Bar_Variant .product-form__input input[type=radio]+label {
  position: relative;
}

@media screen and (max-width: 1365px) {

  .Best_Value {
    top: -9px;
  }

}
  
@media screen and (max-width: 768px) {

  .template-product .product-form .rtx_option_selector {
    padding: 10px 0 30px;
  }

  .product__info-wrapper .product-form__input {
    flex-wrap: wrap;
    display: flex;
    column-gap: 10px;
    margin: 0 0 30px;
  }

  .Variant_Blocks {
    margin-right: 0;
    display: inline-block;
    min-width: auto;
    position: relative;
    flex: 0 0 calc(50% - 5px);
    max-width: calc(50% - 5px);
  }

  .Variant_Blocks input[type=radio] + label {
    padding: 14px 14px 14px 39px;
  }

  .product-form__input .Variant_Blocks input[type=radio]+label:after {
    left: 13px;
  }

  .product-form__input .Variant_Blocks input[type=radio]:checked + label:before {
    content: "";
    left: 20px;
    top: 18px;
  }

  .product-form__input .Variant_Blocks input[type=radio]+label:after {
    top: 14px;
  }
  
  .Best_Value {
    right: unset;
    border-radius: 10px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }
  
}

@media screen and (max-width: 374px) {

  .product__rtx-tooltip {
    position: absolute;
    top: -28px;
    left: -40px;
    right: 0;
  }

}

/* PDP END */

/* PDP NEW START */

.pdp-faq .faq__content ul li {
  list-style-type: none;
  font-family: inter,sans-serif;
}

.pdp-faq .faq__content * {
  font-family: inter,sans-serif;
}

.pdp-faq .faq__content ul,
.pdp-faq .faq__content ol {
  padding: 0;
  margin: 0;
}

.pdp-faq .faq__content ul {
  padding: 0;
  margin: 0 0 15px;
  margin-bottom: 15px;
}

.pdp-faq .faq__content label {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 12px;
  display: block;
}

.pdp-faq .Shipping_Tab .faq__content p {
  font-size: 14px;
  font-weight: 300;
}

.template-product .product-form .rtx_option_selector {
  padding: 0 0 15px;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(31 35 34 / 10%);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .template-product .product-form .rtx_option_selector {
    align-items: flex-start;
  } 
}

.product-form #rtx_sands_block .rtx_option_selector {
  padding-top: 15px;
}

.product-form .rtx_option_selector input[type=radio] {
  height: 28px;
  width: 28px;
  margin-top: 5px!important;
  position: relative;
  border: 1px solid var(--black);
}

.product-form .rtx_option_selector input[type=radio]:before {
  width: 28px;
  margin: -1px -1px;
  height: 28px;
}

.product-form .rtx_option_selector input[type=radio]:checked:after {
  content: url('./check.svg');;
  position: absolute;
  top: 3px;
  left: 4px;
  z-index: 11;
}

.product-form .rtx_option_selector input[type="radio"]:checked::before {
  background: #1F2322;
}

.One_Time_Info {
  display: none;
  align-items: center;
  margin-top: 0;
  margin-left: 35px;
}

.product-form input[type=radio]:checked + label .One_Time_Info {
  display: flex;
}


.subscribe-item_info p.Label_Sub_Text {
  margin: 13px 0 0;
}

.product-form #rtx_option_sub input[type=radio] + label .Subscribe_Info {
  display: block;
}

.product-form .rtx_option_selector input[type=radio] + label .Subscribe_Info {
  display: block;
}

.One_Time_Info .one_sub_text {
  color: #1f2322;
  margin: 0 0 6px;
  font-size: 12px!important;
  line-height: normal;
  font-family: inter,sans-serif;
  font-weight: 300;
}

.template-product .One_Time_Info > img {
  margin-right: 14px;
}

.one_sub_text_new {
  margin: 0;
  color: #545759;
  font-weight: 300;
}

.template-product.clear_button {
  background: #398200;
}

.template-product .subscribe-item_info p {
  font-size: 14px !important;
}

.template-product .subscribe-item_info p.Label_Sub_Text {
  line-height: 24px; 
}
 
.Label_Sub_Text {
  font-weight: 400 !important;
  padding-left: 35px;
  margin-top: 0;
  margin-bottom: 0;
}

.template-product .subscribe-item_info img {
  width: 60px !important;
  height: 60px !important;
  margin-right: 14px !important;
}

.template-product .product-form__buttons {
  margin-top: 11px;
}

.template-product .product-form__buttons .button {
  padding: 12px !important;
}

.Testimonials_Title {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.4em;
  color: #1f2322;
  margin: 0 auto 4px;
  max-width: 390px;
  font-family: inter,sans-serif;
}

.Testimonials_Author {
  font-family: inter,sans-serif;
  font-size: 12px;
  line-height: 1.75em;
  font-weight: 300;
}

.Testimonials_Wrapper {
  max-width: 186px;
  flex: 1 1 0px;
}

.Testimonials_Wrapper p {
  margin: 0;
}

.Testimonials_Wrapper img, .Testimonials_Wrapper video {
  width: 100%;
  border-radius: 10px;
}

.Testimonials_Main .slick-dots {
  padding: 0 !important;
  margin: 0 0 0 !important;
  text-align: center !important;
  display: flex;
  justify-content: center;
}

.Testimonials_Slider {
  display: flex;
  gap: 18px;
}

.Testimonials_Main .slick-prev {
  z-index: 999;
  cursor: pointer;
}

.Testimonials_Main .slick-dots li {
  display: inline-block;
}

.Testimonials_Main .slick-dots li button {
  font-size: 0;
  position: relative;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0 3px;
}

.Testimonials_Main .slick-dots li button::before {
  position: absolute;
  content: '';
  height: 8px;
  width: 8px;
  background: #fff;
  border-radius: 50%;
  left: 0;
  top: 0;
  border: 1px solid #1F2322;
}

.Testimonials_Main .slick-dots li.slick-active button::before {
  background: #1F2322;
}

.Testimonials_Main {
  margin-bottom: 30px;
}

.Testimonials_Main .slick-prev {
  position: absolute;
  left: 0;
  top: 40%;
}

.Testimonials_Main .slick-next {
  position: absolute;
  right: 0;
  top: 40%;
  cursor: pointer;
}

.Testimonials_Main .slick-next svg,
.Testimonials_Main .slick-prev svg {
  width: 20px;
  color: #1f2322;
  height: unset;
  transition: transform .3s ease;
}

.Testimonials_Main .slick-next svg {
  transform: rotate(-90deg);  
}

.Testimonials_Main .slick-prev svg {
  transform: rotate(90deg);  
}

.Testimonials_Main_Title {
  color: #797B7A;
}

.Testimonials_Rating {
  background-image: url("data:image/svg+xml;charset=UTF-8, %3Csvg%20width%3D%2280%22%20height%3D%2214%22%20viewBox%3D%220%200%2080%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23FAD16F%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M71.996%2011.368l-3.94%202.42c-.474.292-.756.096-.628-.443l1.074-4.53-3.507-3.022c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.78%204.3%204.602.37c.552.046.666.37.237.74l-3.507%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422zM55.996%2011.368l-3.94%202.42c-.474.292-.756.096-.628-.443l1.074-4.53-3.507-3.022c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.78%204.3%204.602.37c.552.046.666.37.237.74l-3.507%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422zM40.123%2011.368l-3.94%202.42c-.475.292-.756.096-.63-.443l1.076-4.53-3.508-3.022c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.778%204.3%204.603.37c.554.046.667.37.24.74l-3.508%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422zM24.076%2011.368l-3.94%202.42c-.475.292-.757.096-.63-.443l1.076-4.53-3.507-3.022c-.422-.363-.324-.693.238-.74l4.603-.37%201.78-4.3c.21-.51.55-.512.76%200l1.78%204.3%204.602.37c.554.046.667.37.24.74l-3.508%203.02%201.074%204.532c.127.536-.146.74-.628.444l-3.94-2.422zM8.123%2011.368l-3.94%202.42c-.475.292-.756.096-.63-.443l1.076-4.53L1.12%205.792c-.422-.363-.324-.693.24-.74l4.602-.37%201.778-4.3c.21-.51.55-.512.762%200l1.778%204.3%204.603.37c.554.046.667.37.24.74l-3.508%203.02%201.075%204.532c.127.536-.147.74-.628.444l-3.94-2.422z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 100px 20px;
  height: 20px;
  display: block;
  background-repeat: no-repeat;
  margin: 3px auto 8px;
  background-position: left;
}

.All_Reviews {
  display: block;
  text-align: center;
  font-family: inter,sans-serif;
  font-size: 14px;
  line-height: normal;
  text-decoration: underline;
  text-underline-offset: 7px;
  margin-top: 32px;
  font-weight: 400;
}

.All_Reviews:hover {
  opacity:.7;
}

.template-product .rtx_sub_container .Label_Text {
  display: flex;
  font-size: 14px !important;
  color: #545759;
  font-family: Rhymes-Light-Italic;
  margin-top: 0;
}

.template-product .rtx_sub_container .Label_Text span {
  margin-right: 6px;
}

.template-product .rtx_sub_container .subscribe-item_info:last-child .Label_Text span {
  display:none;
}

.template-product .rtx_sub_container {
  margin: 0;
}

.product-listblock {
  display: flex;
  gap: 8px;
}

.product-listblock img {
  width: 28px;
  height: 28px;
}

.product-listblock:nth-child(1) {
  margin-bottom: 30px;
}

.product-listblock__text {
  margin: 0;
  text-transform: capitalize;
  letter-spacing: 0;
}

.product-listblock__subtext {
  margin: 0;
  font-family: Rhymes-Light-Italic;
  margin-top: -2px;
}

.product-listblock__container {
  margin-top: 37px;
  margin-bottom: 35px;
}

.product-listblock__container-one {
  margin-top: 16px;
}

.three-x-text {
  font-family: 'Dela Gothic One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px !important;
  letter-spacing: -0.015em;
  line-height: 1.15;
  top: 21px !important;
}

@media screen and (max-width: 768px) {
  .three-x-text {
    font-size: 24px !important;
    top: 15px !important;
  }

  .Testimonials_Slider {
    overflow-x: auto;
    display: inline-flex;
    padding-left: 20px;
    padding-right: 15px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-bottom: 20px;
  }

  .Testimonials_Wrapper {
    min-width: 186px;
  }
}

.template-product .rtx_sub_container .subscribe-item_info {
  margin-left: 0 !important;
  font-size: 12px;
  line-height: 21px;
  margin-top: 0;
}

.Badge_Grid_Container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 0 5px;
  padding: 0;
}

.Badge_Grid {
  display: flex;
  align-items: center;
}

.Badge_Grid p {
  margin: 0 0 0px 6px;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  line-height: 1.3em;
}

.Badge_Grid span {
  font-size: 25px;
  display: block;
  height: auto;
  width: auto;
}

.Badge_Grid_Item img {
  width: auto;
  height: 40px;
} 

.Badge_Grid_Item {
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.Risk_Free {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
  line-height: normal;
}

.Risk_Free li {
  font-family: inter,sans-serif;
  font-size: 12px;
  display: inline-block;
  line-height: normal;
  padding: 0;
  font-weight: 300;
  color: #545759;
}

.Risk_Free li:last-child {
  border-right: 0; 
}

.template-product .product-form__submit.button.button--full-width.button--primary {
  margin-bottom: 14px;
}

.template-product .pdp-faq .faq__header .sh4 {
  color: #1F2322 !important;
  font-size: 18px;
  line-height: normal;
  margin: 0;
  padding: 24px 0;
  font-weight: 400;
}

span#timer strong {
  font-weight: 500;
}

.template-product .pdp-faq .faq__header.active .sh4 {
  opacity: .3;
}

.pdp-faq .faq__content ul li {
  font-size: 16px;
  color: #1F2322;
  font-weight: 400;
}

.pdp-faq .faq__header svg {
  width: 17px;
  color: #545759;
}

.pdp-faq .faq__item:first-child {
  border-top: 1px solid rgba(0,0,0,.2);
}

.pdp-faq .faq__content p {
  margin: 0 0 30px;
  font-size: 16px;
  font-weight: 300;
  color: #1F2322;
  line-height: 27px;
}

.pdp-faq .faq__content ol li,
.pdp-faq .faq__content ul li {
  font-size: 16px;
}

.pdp-faq .faq__content ol {
  padding-left: 15px;
}

.pdp-faq .faq__content .sh4 {
  line-height: normal;
  margin: 16px 0 0;
}

.pdp-faq .faq__content ol li,
.pdp-faq .faq__content ul li {
  margin-bottom: 10px;
  line-height: 21px;
  margin-left: 5px;
}

.pdp-faq .faq__content ol li:last-child,
.pdp-faq .faq__content ul li:last-child {
  margin-bottom: 0;
}

.pdp-faq .faq__content .tabs-label {
  text-decoration: underline;
  text-underline-offset: 7px;
  margin: 25px 0 8px;
  display: block;
  color: #1F2322;
}

.template-product .product-section .page-width {
  padding: 0 70px;
}

.template-product .page-width {
  padding: 0 70px;
}

.template-product .product__info-wrapper {
  padding-right: 64px;
  max-width: 100%;
}

.template-product .product__description p {
  line-height: 27px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px
}

.product__media-arrows {
  padding-top: 60px;
  z-index: 111111111;
  position: relative;
  margin-top: -30px;
  z-index: 1;
  text-align: right;
  position: relative;
  display: block;
  position: absolute;
  right: -50px;
}

@media screen and (max-width: 1200px) {
  .product__media-arrows {
    right: -30px;
  }
}

.product__media-arrows .slick-arrow {
  width: 30px;
}

.product__media-arrows .slick-prev {
  padding-right: 0 !important;
  margin-right: 20px;
  border-radius: 17px 0px;
}

.rtx_option_selector_main {
  border: 1px solid #797B7A;
  padding: 14px 15px 17px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .rtx_option_selector_main {
    padding: 16px 15px 15px;
  }
  
}

.product__media-arrows .slick-next {
  border-radius: 0 17px;
}

.pdp-faq .Shipping_Tab .faq__content p.small {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 0;
}

.product-form__text-label {
 color: #797B7A;
 margin: 0 0 9px;
 margin-top: -20px;
}

@media screen and (max-width: 768px) {
  .product-form__text-label {
    margin-top: -10px;
  }
}

.template-product .rtx_option_heading {
  margin-top: 1px;
  display: flex;
}

.Subscribe_Box.active .rtx_option_heading {
  opacity: 1;  
}

.template-product .rtx_option_heading #rtx_one_price {
  display: none;
}

.template-product .rtx_one_time_price .rtx_compare_price {
  color: var(--charcoal-60);
  font-weight: 300;
  font-size: 18px;
  text-decoration: line-through;
}

.template-product .rtx_one_time_price {
  padding-left: 5px;
}

.template-product .rtx_text {
  position: absolute;
  left: 0;
}

.Subscribe_Box.active .rtx_option_heading #rtx_one_price {
  display:block;
}

.template-product .rtx-tooltip__flex {
  position: relative;
}

.product-form #rtx_sands_block .rtx_option_selector{
  border-bottom: 0;
  padding-bottom: 10px;
}

.template-product .product__description {
  margin: 0 0 10px;
}

.template-product .product-form {
  margin-top: 40px;
}

.product__media-item .product-spinner {
  top: 29px;
  right: 29px;
  z-index: 1;
  left: unset !important;
  width: 90px;
  visibility: hidden;
}

.product__media-arrows .slick-arrow:hover.slick-prev {
  transform: translate(0) !important;
}

.product__media-arrows .slick-arrow:hover.slick-next{
  transform: translate(0) !important;
}

.product__media-arrows .slick-arrow:hover.slick-prev svg {
  transform: translate(-5px) !important;
}

.product__media-arrows .slick-arrow svg {
  transition: transform .2s ease;
}

.product__media-arrows .slick-arrow:hover.slick-next svg {
  transform: translate(5px);
}

.pdp-faq .faq__content ul li {
  display: flex;
}

.pdp-faq .faq-section {
  margin: 55px 0 30px !important;
}

.product__info-container .okeReviews-starRating--small span.okeReviews-a11yText {
  height: 100%!important;
  clip: inherit!important;
  right: -40px;
  font-family: inter,sans-serif;
  font-style: normal;
  font-weight: 400!important;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 21px!important;
  width: auto!important;
  overflow: hidden;
  top: 3px;
  color: var(--charcoal-60);
}

.product__info-container .okeReviews-reviewsSummary-ratingCount {
  left: 38px;
}

.product__info-container .okeReviews-starRating--small span.okeReviews-a11yText .rated-text{
  display:none;
}

.Why_This_Matters a {
  background-color: #f8f1eb;
  font-size: 14px;
  font-weight: 500;
  padding: 9px 24px;
  border-radius: 20px;
  color: #1f2322!important;
}

.Why_This_Matters span img {
  max-width: 12px;
  margin: 0px 0 -1px 3px;
}

.Why_This_Matters {
  margin: 40px 0 20px;
  font-size: 16px;
  font-weight: 300;
  color: #1f2322;
  line-height: 27px;
}

.Order_Within {
  font-family: inter,sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  padding: 0;
  font-weight: 400;
  color: #1f2322;
  margin-top: 24px;
}

.Order_Within img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.Order_Within span {
  font-weight: 700;
}


.Product_Bar_Variants .Variant_Blocks input[type=radio]+label {
  padding: 0;
  width: auto;
  height: auto;
  text-align: left;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  border: 0;
}

.rtx-subscription-box input,
#subscriptionMessage {
  width: 100%;
  padding: 16px!important;
  border: 1px solid black;
  font-family: inter,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.375em;
}

.rtx-gift-box label {
  margin-bottom: 5px;
  position: unset;
  display: block;
  font-family: inter,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.375em;
  text-align: left;
}

.rtx-gift-box > div {
  margin: 2rem 0 0;
}

label[for=subscriptionGift] {
  font-size: 14px;
  color: #1f2322;
  font-family: inter,sans-serif;
  line-height: 17px;
  text-underline-offset: 2px;
  font-weight: 500;
  margin: 30px 0 10px;
  width: 100%;
  text-align: center;
  display: block;
  font-style: italic;
}

label[for=subscriptionGift] span {
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  font-style: normal;
  margin: 0px 0px 0 6px;
}

input#subscriptionGift {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: auto;
}

.product-form .rtx_option_selector input[type=radio]:checked + .rtx_option_label .rtx_option_heading {
  opacity:1;
}

select[name=selling_plan] {
  font-size: 14px;
  display: block;
  padding: 14.5px 10px;
  width: 100%;
  height: 100%;
  text-align: left;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 17px;
  border: 1px solid #545759;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='5' viewBox='0 0 9 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.98561 4.8066L8.80576 1.10922C9.06475 0.862723 9.06475 0.431362 8.80576 0.184869C8.54676 -0.0616231 8.09352 -0.0616231 7.83453 0.184869L4.53237 3.45089L1.16547 0.246492C0.906475 -7.45058e-08 0.453237 -1.04308e-07 0.194245 0.246492C-0.0647482 0.492984 -0.0647482 0.924346 0.194245 1.17084L4.07914 4.86822C4.33813 5.05309 4.72662 5.05309 4.98561 4.8066Z' fill='%23222727'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: 2%;
  background-position: 98% 50%;
}

.product-bar__container .product-form__input {
  width: auto;
  margin: 0;
  padding: 0;
  border: 0;
}



.discount-bubble {
  border: 1px solid #398200;
  background: #398200;
  padding: 10px 20px;
  border-radius: 8px;
  height: auto;
  margin: 28px auto 0px;
  max-width: 460px;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}

@media screen and (max-width: 768px) {
  .discount-bubble {
    max-width: 285px;
    width: 100%;
  }
}

.discount-bubble p {
  margin: 0;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .discount-bubble p {
    white-space: initial;
  }
}

.discount-bubble:before {
  content: '';
  position: absolute;
  border: 1px solid #333;
  border-color: #398200 transparent;
  border-width: 0 13px 11px 13px;
  top: -12px;
  left: 45%;
}


.product-bar__container .button:hover{
  background-color: #fff;
}

@media screen and (max-width: 1280px) {

  .Badge_Grid p {
    font-size: 15px;
  }

}

@media screen and (max-width: 1199px) {

  .template-product .product-section .page-width {
    padding: 0 40px;
  }

  .template-product .product__info-wrapper {
    padding-right: 30px;
  }

}

@media screen and (max-width: 991px) {

  .product {
    padding-top: 10px!important;
    display: flex!important;
    flex-direction: column-reverse !important;
  }

  .template-product .product__info-wrapper {
    padding-right: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .Badge_Grid span {
    font-size: 30px;
  }
  
}

@media screen and (max-width: 768px) {

  .template-product .product-section .page-width {
    padding: 0 20px;
  }

  .template-product .page-width {
    padding: 0 20px;
  }

  .Badge_Grid_Container {
    justify-content: center;
    margin-top: 30px;
    padding: 0;
    flex-wrap: wrap;
    row-gap: 0;
  }
  
  .Badge_Grid p {
    font-size: 16px;
    max-width: 100%;
    margin: 0 0 0 6px;
  }

  .pdp-faq .faq__header {
    padding: 0;
  }

  .Testimonials_Main {
    margin-top: 42px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 768px) {
    .Testimonials_Main {
      margin-bottom: 25px;
    }
  }

  .Testimonials_Main .slick-dots {
    margin: 0;
  }

  .All_Reviews {
    margin-top: 30px;
  }

  .product__media-item .product-spinner {
    width: 60px;
  }

  .clear_tag {
    font-size: 12px;
  }

  .Risk_Free li {
    padding: 0 20px;
  }

  .template-product .Multi_Price span {
    display: inline-block;
    text-align: right;
    line-height: normal;
  }

  .template-product .product-form__buttons {
    margin-top: 12px;
  }

  .template-product .rtx_sub_container .Label_Text {
    line-height: 16px;
  }

  .product__media-item .product-spinner {
    right: 13px;
  }
  
  .drawer_header {
    border-bottom: solid 1px #ddd;
  }
  
  .drawer_header {
    padding-bottom: 4px;
  }
  
  .drawer_header {
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    background: #fff;
  }

  .pdp-faq .faq-section {
    margin: 44px 0 30px!important;
  }

  .product-form .rtx_option_selector input[type=radio] {
    margin-top: 3px!important;
  }

  .Testimonials_Title {
    font-size: 18px;
    line-height: 30px;
    max-width: 300px;
  }

  .Testimonials_Main .slick-prev {
    left: -10px;
  }
 
  .Testimonials_Main .slick-next {
    right: -10px;
  }

  .product-form input[type=radio]:checked:after {
    top: 2px;
  }

  select[name=selling_plan] {
    background-size: 3%;
  }

  label[for=subscriptionGift] {
    margin: 24px 0 10px;
  }
  
}

@media screen and (max-width: 500px) {

  .template-product .rtx-tooltip__flex {
    flex-direction: row;
  }

  .clear_button {
    margin-left: 6px !important;
  }
  
}

@media screen and (max-width: 374px) {

  .template-product .subscribe-item_info p {
    font-size: 12px !important;
  }

  .Badge_Grid_Container {
    padding: 0;
  }

  .Badge_Grid p {
    font-size: 14px;
  }
  
}

/* PDP NEW END */

.product__drawer-triggers {
  display: flex;
  gap: 21px;
  margin-top: 37px;
  padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
  .product__drawer-triggers {
    margin-top: 30px;
  }
}

.product__drawer-triggers a {
  text-decoration: underline;
  text-underline-offset: 7px;
  margin: 0px;
  display: block;
  color: #1f2322;  
  font-weight: 400 !important;
}

.Product_Tags {
  margin: 55px 0;
  display: flex;
}

.Product_Tags img {
  height: 32px;
  width: 32px;
}

.Product_Tags div {
  padding: 0 14px;
  display: flex;
  align-items: center;
}

.Product_Tags div:nth-child(2) {
  border-left: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
} 

.Product_Tags div:nth-child(1) {
  padding-left: 0;
}


@media screen and (max-width: 768px) {
  .Product_Tags div {
    align-items: unset;
    flex-direction: column;
    padding: 0 22px;
  }

  .Product_Tags div span {
    padding-left: 0;
  }

  .Product_Tags {  
    justify-content: center;
  }

  .Variant_Blocks input[type=radio]+label {
    padding: 24px 14px 20px;
  }

  .product-form #rtx_sands_block .rtx_option_selector {
    padding-bottom: 20px;
  }

  .Label_Sub_Text {
    line-height: 26px;
  }

  .product-listblock__container {
    margin-top: 45px;
    margin-bottom: 30px;
  }

  .product-listblock__text {
    font-size: 16px;
  }

  .Testimonials_Main_Title {
    margin-top: 0;
  }

  .Testimonials_Rating {
    margin: 10px auto 16px;
  }
}

.product-reviews .okeReviews.okeReviews--theme .okeReviews-review-primary .okeReviews-starRating {
  height: 14px;
  width: 70px;
}
  
.product-reviews .okeReviews.okeReviews--theme .okeReviews-review-primary .okeReviews-starRating-indicator-layer {
  background-size: 70px 14px;
}

/* .product-reviews .okeReviews.okeReviews--theme .okeReviews-reviews-review {
  border: solid #545759
} */

.product-reviews .okeReviews-widgetNavBar-count {
  padding-left: 0;
}

.product-reviews .okeReviews-select-input.js-okeReviews-select-input {
  padding-top: 10px;
  padding-bottom: 10px;
}

.product-reviews .okeReviews.okeReviews--theme .okeReviews-reviews-controls {
  padding-bottom: 20px;
}

.dropdown-container-item {
  border-top: 1px solid #BBBCBC;
}

.dropdown-container-item:last-of-type {
  border-bottom: 1px solid #BBBCBC;
}

.dropdown-container-item__body {
  display: none;
}

.dropdown-container-item__title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.dropdown-container-item__title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  cursor: pointer;
}

.dropdown-container-item__x {
  display: block;
  height: 17px;
  width: 17px;
  position: relative;
}

.dropdown-container-item__container {
  margin-bottom: 14px;
}

.dropdown-container-item__x:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7.5px;
  border-right: 2px solid var(--charcoal);
}

 .dropdown-container-item__title.active .dropdown-container-item__x:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 7.5px;
  border-right: none;
}

.dropdown-container-item__x:after {
  content: "";
  position: absolute;
  top: 7.5px;
  left: 0;
  right: 0;
  border-bottom: 2px solid var(--charcoal);
}


.dropdown-container-item__body-text {
  display: flex;
  gap: 8px;
  margin-bottom: 13px;
}

.dropdown-container-item__body-text p {
  margin: 0;
}

.dropdown-container-item__body-list:last-of-type {
  margin-bottom: 42px;
}

.dropdown-container-item__body-text .bubble-text {
  padding: 4px 8px;
  border-radius: 15px;
  color: white;
  background: #1F2322;
}

.dropdown-container-item__body-text .bubble-text p {
  font-size: 12px;
}

.dropdown-container-item__body-text .rhyme {
  font-size: 14px;
  font-family: Rhymes-Italic;
  font-style: italic;
  font-weight: 300;
  line-height: 20px;
}

.dropdown-container-item__body-list {
  display: flex;
  margin-bottom: 8px;
  gap: 8px;
}

.dropdown-container-item__body-list img {
  width: 20px;
  height: fit-content;
}

.dropdown-container-item__body-list p {
  margin: 0;
}

.dropdown-container-item__body .product__drawer-triggers {
  margin: 43px 0 35px;
}

