.profile-table__container {
  margin: 0 auto;
  padding-top: 140px;
  padding-bottom: 120px;
  text-align: center;
}

.profile-table__container h2 {
  margin-bottom: 70px;
  margin-top: 0;
}

.profile-table__svg svg {
  width: 100%;
}