.product-bar {
  width: 100%;
  padding: 14px 0;
  position: fixed;
  top: 80px;
  left: 0;
  background: white;
  border-bottom: 1px solid var(--charcoal);
  z-index: 3;
  transform: translateY(-100%);
  transition: transform .3s ease;
  visibility: hidden;
}

.product-bar.scrolled {
  transform: translateY(0);
  visibility: visible;
}

.product-bar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-bar__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.product-bar__title h5 {
  margin: 0 30px 0 0;
}

.product-bar__form {
  cursor: pointer;
}

.product-bar__points {
  display: flex;
  align-items: center;
}

.product-bar__points p {
  margin: 0 20px 0 0;
}

.product-bar-toggle .product-quick-add__form-item label::before {
  content: '';
  height: 18px;
  width: 18px;
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 100%;
  background: white;
  border: 1px solid var(--charcoal);
}

.product-bar-toggle .product-quick-add__form-item input:checked + label::before {
  background: #1F2322;  
}

.product-bar-toggle .product-quick-add__form-item label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 5px;
  height: 11px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  z-index: 11;
}

.product-bar-toggle .product-quick-add__form-item {
  display: flex;
  align-items: center;
}

.product-bar-toggle .product-quick-add__form-item input {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.product-bar-toggle .product-quick-add__form-item label {
  padding-left: 23px;
  position: relative;
  cursor: pointer;
}

.product-bar-toggle .flex-buttons-bar {
  display: flex;
  gap: 50px;
}

.product-bar-toggle  .product-quick-add__form {
  display: flex;
  gap: 10px;
}

.Product_Bar_Variant .product-form__input input[type=radio] + label {
  position: relative;
  padding: 0 0 0 30px;
}

.Product_Bar_Variant .product-form__input input[type=radio] + label:after {
  top: -3px;
  left: 2px;
}

.Product_Bar_Variant .product-form__input input[type=radio]:checked + label:after {
  background-color: #1f2322;
}

.Product_Bar_Variant .product-form__input input[type=radio]:checked + label:before {
  top: 1px;
  left: 9.5px;
}

.Product_Bar_Variant .product-form__input input[type=radio] + label::after  {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  top: -3px;
  left: 6px;
  border: 1px solid #1F2322;
}

.Product_Bar_Variant .product-form__input input[type=radio]:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 13px;
  width: 5px;
  height: 11px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  z-index: 11;
}


@media screen and (max-width: 1365px) {

  .page-width.Product_Bar_Container {
    max-width: 100%;
    padding: 0 40px;
  }

}

@media screen and (max-width: 1137px) {
  
  .product-bar-toggle  .product-quick-add__form {
    flex-direction: column;
      gap: 5px;
  }

  .page-width.Product_Bar_Container {
    padding: 0px 30px;
  }
  
}

@media screen and (max-width: 768px) {
  .product-bar {
    padding-top: 10px;
    top: unset;
    bottom: 0;
    border-bottom: 0;
    border-top: 1px solid var(--charcoal);
    transform: translateY(100%);
  }

  .product-bar.scrolled {
    transform: translateY(0);
  }

  .product-bar__container {
    display: block;
    text-align: center;
  }

  .product-bar__title {
    justify-content: center;
  }

  .product-bar__title h5 {
    display: none;
  }

  .product-bar__points {
    margin-bottom: 10px;
    display: flex;
  }

  .product-bar__points p {
    margin: 0;
    font-size: 12px;
  }

  .product-bar__points span {
    padding: 0 5px;
    display: block;
  }

  .product-bar__form .button {
    width: 100%;
  }

  .product-bar-toggle .product-quick-add__form {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }

  .flex-buttons-bar {
    display: flex;
    gap: 5px !important;
    flex-direction: column;
  }

  .product-bar-toggle .product-quick-add__form {
    display: flex;
    gap: 30px;
    flex-direction: row;
  }
}

.product-bar-illness__flex {
  gap: 20px;
  display: flex;
}

.product-bar-illness__flex .check {
  display: flex;
  align-items: center;
}

.product-bar-illness__flex .check svg {
  width: 11px;
  margin-top: 0px;
  margin-right: 6px;
}

.product-bar-illness__flex .check p {
  margin: 0;
  text-transform: unset;
}