.benefits__flex {
  display: flex;
}

.benefits__info {
  width: 50%;
}

.benefits__items {
  width: 50%;
}

.benefits__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.benefits__item h4 {
  margin: 0 14px 8px 0;
}

.benefits__item h4.active{
  color: #ECD8C5;
  font-weight: 500;
}

@media screen and (max-width: 768px) {

}