.pee-club-product-bar .flex-buttons-bar svg {
  width: 12px;
}

.pee-club-product-bar .flex-buttons-bar p {
  display: inline-block;
  width: max-content;
}

.pee-club-product-bar button {
  display: none;
}