.text-image-blocks {
  padding: 60px 0;
}

.text-image-blocks.top-padding {
  padding-top: 120px;
}

.text-image-blocks.bottom-padding {
  padding-bottom: 120px;
}

.text-image-blocks.gradient--top {
  background: transparent linear-gradient(180deg, #F8F1EB 0%, #F8F1EB00 100%) 0% 0% no-repeat padding-box;
}

.text-image-blocks.gradient--bottom {
  background: transparent linear-gradient(0deg, #F8F1EB 0%, #F8F1EB00 100%) 0% 0% no-repeat padding-box;
}

.text-image-blocks__container {
  display: flex;
}

.text-image-blocks__content {
  width: 50%;
  display: flex;
  align-items: center;
}

.text-image-blocks__content .sh4 {
  margin: 0 0 25px;
}

.text-image-blocks__content .h1 {
  margin: 0 0 45px;
  color: var(--teal-gray);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--charcoal);
  position: relative;
  display: flex;
  transform: translate(4px, 4px);
}

.text-image-blocks__content .h1 span {
  position: absolute;
  color: white;
  transform: translate(-4px, -4px);
}

.text-image-blocks__content h3 {
  margin: 0 0 30px;  
}

.text-image-blocks__content .sh2 {
  margin: 0;
}

.text-image-blocks__content .body-xs {
  margin: 30px 0 0;
}

.text-image-blocks__content .button {
  margin-top: 40px;
}

.text-image-blocks__image {
  width: 50%;
  padding-left: 115px;
}

.text-image-blocks__image-container {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  border: 1px solid var(--charcoal);
}

.text-image-blocks__image-container.scroll-video {
  width: 100%;
  padding-bottom: unset;
  position: relative;
  border: unset;
}

.text-image-blocks__image-container.size--tall {
  padding-bottom: 125%;
}


/* Reversed */
.text-image-blocks__container.reversed {
  flex-direction: row-reverse;
}

.text-image-blocks__container.reversed .text-image-blocks__image {
  padding-left: 0;
  padding-right: 115px;
}

@media only screen and (max-width: 1150px) {
  .text-image-blocks__content .h1 {
    font-size: 45px;
  }
  
  .text-image-blocks__image {
    padding-left: 65px;
  }
  
  .text-image-blocks__container.reversed .text-image-blocks__image {
    padding-left: 0;
    padding-right: 65px;
  }
}

@media only screen and (max-width: 768px) {
  .text-image-blocks {
    padding: 45px 0;  
  }
  
  .text-image-blocks.top-padding {
    padding-top: 70px;
  }

  .text-image-blocks.bottom-padding {
    padding-bottom: 70px;
  }

  .text-image-blocks__container, .text-image-blocks__container.reversed {
    flex-direction: column-reverse;
  }

  .text-image-blocks__content {
    width: 100%;
    padding-top: 30px;
  }
  
  .text-image-blocks__content .h1 {
    margin-bottom: 23px;
    font-size: 33px;
  }
  
  .text-image-blocks__image {
    width: 100%;
    padding: 0 !important;
  }
}