.image-dropdowns__container .image-with-dropdowns__content-point:before {
  left: unset;
  border-left: unset;
  position: unset;
}

.image-dropdowns__container .image-with-dropdowns__content-text h6 {
  margin: 0 !important;
}

.image-dropdowns__container .image-with-dropdowns__a p {
  margin-left: 0 !important;
}