.benefits__info-title2 {
  margin-bottom: 70px;
}

.select-faq__list-item {
  display: flex;
  gap: 6px;
  align-items: flex-start;
  margin-bottom: 6px;
}

.select-faq__list-item svg {
  width: 25px;
  height: 25px;
}

.select-faq__list-item p {
  padding-top: 0 !important;
}

.select-faq__titles-container {
  margin: 40px 0 10px;
}

.select-faq__titles {
  color: #797B7A;
  margin: 0 0 18px;
}

.select-faq__texts {
  margin: 0 0 30px;
}

.select-faq__container .benefits__info-item .select-faq__container-title {
  padding-bottom: 0;
  border-bottom: unset;
  line-height: 25px;
}

