.image-dropdowns__container {
  display: flex;
  padding-top: 120px;
  padding-bottom: 45px;
}

.image-dropdowns__text {
  width: 50%;
  margin-right: 60px;
}

.image-dropdowns__image {
  width: 50%;
}

.image-dropdowns__image img {
  width: 100%;
  max-width: 530px;
}