.section-button__container .page-width {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.button-section__container {
  padding: 100px 0; 
}

.button-section__container .page-width {
  text-align: center;
}