.image-with-dropdowns__container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.image-with-dropdowns__container .page-width {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-with-dropdowns__image {
  position: relative;
}

.image-with-dropdowns__image .aspect-ratio img,
.image-with-dropdowns__image .aspect-ratio video {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 2px solid #000;
}

.image-with-dropdowns__image .aspect-ratio {
  position: sticky;
  top: 120px;
}

.image-with-dropdowns__image .aspect-ratio video {
  position: unset;
}

.image-with-dropdowns__image video {
  max-width: 100%;
  position: sticky;
  top: 120px;
}

.image-with-dropdowns__content-circle {
  height: 44px;
  width: 44px;
  border-radius: 100%;
  border: 1px solid black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0; 
  position: relative; 
  z-index: 3;
}

.image-with-dropdowns__dropdown {
  position: relative;
}

.image-with-dropdowns__content h3 {
  margin-top: 0;
  margin-bottom: 30px;
}

.image-with-dropdowns__content .sh2 {
  margin-top: 0;
  margin-bottom: 45px;
}

.image-with-dropdowns__content-point {
  padding-bottom: 20px;
}

.image-with-dropdowns__content-point:last-of-type {
  padding-bottom: 0px;
}

.image-with-dropdowns__content-point:before {
  content: "";
  position: absolute;
  top: 0;
  left: 22px;
  bottom: 0;
  border-left: 1px solid var(--charcoal);
}

.image-with-dropdowns__content-point:last-of-type:before {
  border-left: unset;
  bottom: 20px;
}

.image-with-dropdowns__content-text h6 {
  margin: 0 0 0 24px;
}

.image-with-dropdowns__content-circle h5 { 
  margin: 0;
}

.image-with-dropdowns__q {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.image-with-dropdowns__q svg {
  width: 17px;
  color: #1f2322;
  height: unset;
  transition: transform .3s ease;
  position: absolute;
  right: 0;
}

.image-with-dropdowns__q.active svg {
  transform: rotate(180deg);
}

.image-with-dropdowns__a p {
  margin-left: 68px;
  line-height: 27px;
}

.image-with-dropdowns__a .light {
  margin-top: 9px;
  margin-bottom: 14px;
}

.image-with-dropdowns__a .sh4 {
  margin-bottom: 9px;
  margin-top: 0px;
}

.image-with-dropdowns__a {
  display: none;
}

.image-with-dropdowns__content-point:first-of-type  .image-with-dropdowns__a {
  display: block;
}

.image-with-dropdowns__a .light {
 color: #545759; 
}

.image-with-dropdowns__bottom-text {
  margin-top: 50px;
}

.image-with-dropdowns__bottom-text .sh2 {
  margin-bottom: 40px;
}

.image-with-dropdowns__bottom-text a {
  background-color: white;
}

@media screen and (max-width: 1250px) {

  .image-with-dropdowns__image .aspect-ratio {
    height: 600px;
  }
  
}

@media screen and (max-width: 1200px) {
  
  .image-with-dropdowns__image .aspect-ratio {
    height: 530px;
  }
  
}

@media screen and (max-width: 989px) {
  
  
  .image-with-dropdowns__image .aspect-ratio {
    height: 420px;
  }
  
}

@media screen and (max-width: 768px) {
  
  .image-with-dropdowns__container .page-width {
    grid-template-columns: 1fr;
  }

  .image-with-dropdowns__container {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  
  .image-with-dropdowns__image {
    margin-right: unset;
  }

  .image-with-dropdowns__content h3 {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .image-with-dropdowns__content .sh2 {
    margin-bottom: 40px;
  }

  .image-with-dropdowns__a .light {
    font-size: 12px; 
  }

  .image-with-dropdowns__content-text {
    max-width: 80%;
  }

  .image-with-dropdowns__content-text h6 {
    font-size: 22px;
  }

  .image-with-dropdowns__bottom-text a {
    margin: 0 auto;
    display: flex;
    width: fit-content;
    justify-content: center;
  }

  .image-with-dropdowns__bottom-text {
    margin-top: 40px;
  }

  .image-with-dropdowns__image .aspect-ratio {
    height: 420px;
    max-width: 340px !important;
  }

  #shopify-section-template--18196914503980__5a427f0d-87a3-4e56-94c3-601a10480c61 .image-dropdowns__container {
    padding-bottom: 70px !important;
  }
  
}

@media only screen and (max-width: 479px) {
  
  .Image_Text_Section .Image_Text_Row .Image_Video_Area {
    width: 100%;
  }
  
  .image-with-dropdowns__image .aspect-ratio {
    height: 325px;
  }
  
}