.chronic-illness-slide-out {
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 12;
  display: none;
}

.chronic-illness-slide-out.active {
  display: flex;
}

.chronic-illness-slide-out__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.chronic-illness-slide-out.active .chronic-illness-slide-out__overlay {
  visibility: visible;
  opacity: 1;
}

.chronic-illness-slide-out__container {
  max-width: 744px;
  width: 100%;
  max-height: 100%;
  padding: 70px 70px 0;
  position: relative;
  overflow-y: auto;
  border-radius: 10px;
  background-color: var(--gray-lighest);
  border: 1px solid var(--charcoal-lighter);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.chronic-illness-slide-out.active .chronic-illness-slide-out__container {
  visibility: visible;
  opacity: 1;
}

.chronic-illness-slide-out__close {
  position: absolute;
  top: 28px;
  right: 28px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.chronic-illness-slide-out__close p {
  margin: 0;
}

.chronic-illness-slide-out__inner {
  padding: 0 0 60px;
}

.chronic-illness-slide-out__header {
  margin-bottom: 30px;
  text-align: center;
}

.chronic-illness-slide-out__subtitle {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
}

.chronic-illness-slide-out__title {
  margin: 0 0 30px;
  font-size: 50px;
  font-family: inter;
}

.chronic-illness-slide-out__title em {
  font-family: Rhymes-Light-Italic;
}

.chronic-illness-slide-out__text {
  max-width: 535px;
  margin: 0 auto;
  line-height: 1.5
}