#shopify-section-template--14181906612295__1635870128ff99bdc0 {
  background-color: #ECD8C5; 
}

.good-company__container {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.good-company__container img {
  width: 100%;
  max-width: 200px;
  height: 100%;
  align-self: center;
}

@media screen and (max-width: 990px) {
  .good-company__container {
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .good-company__container img {
    margin-bottom: 40px;
    max-width: 250px;
  }

  .good-company__container .sh3 {
    margin-bottom: 40px;
  }

  #shopify-section-template--14181906612295__1635870128ff99bdc0 {
    background-color: white; 
  }
}