.blog-articles {
  display: grid;
  column-gap: 33px;
  row-gap: 70px;
}

@media screen and (min-width: 769px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .blog-articles > *:first-child,
  .blog-articles > *:nth-child(4),
  .blog-articles > *:last-child:nth-child(2),
  .blog-articles > *:last-child:nth-child(5) {
    text-align: left;
  }
}
