.testimonial-new__container {
  text-align: center; 
  background: transparent linear-gradient(0deg,#ECD8C500 0%,#F8F1EB 100%) 0% 0% no-repeat padding-box;
  padding-top: 100px;
  padding-bottom: 100px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  overflow: hidden;
}

.testimonial-new__container .body {
  text-decoration : underline;
   margin-top: 20px;
}

.testimonial-new__container .sh3 {
  margin: 20px 0 60px;
}

.testimonial-new__container h2 {
  margin: 0;
}

.testimonial-slider-new {
  margin-bottom: 20px;
  padding-left: 200px;
  padding-right: 200px;
  overflow: hidden;
}

.testimonial-slider-new .slick-list {
    overflow: visible;
}

.testimonial-slider-item {
  display: block !important;
}

.testimonial-new__container .marquee {
  background: unset;
}

@media screen and (max-width: 768px) {
  .testimonial-slider-new {
    padding: 0;
    margin: 0 auto 20px;
  }
  
  .testimonial-new__container {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: unset;
  }

  .testimonial-slider-new .slick-list {
    overflow: unset;
  }

  .testimonial-new__container .sh3 {
    font-size: 22px;
    text-transform: unset;
  }
}
