.how-to-2 {
  min-height: 50vw;
  margin-top: -1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid var(--charcoal);
  border-bottom: 1px solid var(--charcoal);
}

.how-to-2__content {
  padding: 60px 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid var(--charcoal);
  background: transparent linear-gradient(180deg, white 0%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
}

.how-to-2__content-container {
  max-width: 475px;
}

.how-to-2__content-container .h4 {
  margin: 0 0 40px;
}

.how-to-2__content-point {
  padding-bottom: 40px;
  display: flex;
  position: relative;
}

.how-to-2__content-point:last-child {
  padding: 0;
}

.how-to-2__content-point::before {
  content: '';
  position: absolute;
  top: 0;
  left: 22px;
  bottom: 0;
  border-left: 1px solid var(--charcoal);
}

.how-to-2__content-point:last-child::before {
  content: none;
}

.how-to-2__content-circle {
  height: 44px;
  width: 44px;
  border-radius: 100%;
  border: 1px solid black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}

.how-to-2__content-circle .h5 {
  margin: 0;
  font-size: 22px;
}

.how-to-2__content-text {
  padding-top: 6px;
  padding-left: 18px;
}

.how-to-2__content-text h6 {
  margin: 0 0 10px;
}

.how-to-2__content-text p {
  margin: 0;
}

.how-to-2__image {
  position: relative;
}

@media screen and (max-width: 1050px) {
  .how-to-2__content {
    padding: 60px;
  }
}

@media screen and (max-width: 768px) {
  .how-to-2 {
    min-height: unset;
    display: flex;
    flex-direction: column-reverse;
  }

  .how-to-2__content {
    padding: 70px 27px;
    border-right: 0;
    border-top: 1px solid var(--charcoal);
  }

  .how-to-2__content-text h6 {
    font-size: 22px;
  }

  .how-to-2__content-text p {
    font-size: 12px;
    line-height: 1.75;
  }

  .how-to-2__image {
    padding-bottom: 100%;
  }
}