.pee-club-half-image__container .image-with-dropdowns__content {
  margin-top: 150px;
}

.pee-club-half-image__container .image-with-dropdowns__content > p {
  margin-bottom: 20px;
}

.pee-club-half-image__container .image-with-dropdowns__content h3 {
  margin-bottom: 50px;
  max-width: 500px;
}

.pee-club-half-image__container .list-title {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 400;
}

.pee-club-half-image__container .month-list {
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  .pee-club-half-image__container .image-with-dropdowns__content {
    margin-top: 40px;
    text-align: center;
  }

  .pee-club-half-image__container .image-with-dropdowns__content > p {
    margin-bottom: 12px;
    margin-top: 0;
  }

  .pee-club-half-image__container .image-with-dropdowns__content h3 {
    margin: 0 0 30px !important;
  }

  .pee-club-half-image__container .list-title {
    display: none;
  }

  .pee-club-half-image__container .month-list {
    margin-bottom: 0;
    text-align: left;
  }  
  
  .pee-club-half-image__container .month-list:not(:first-child) {
    display: none;
  }

  .pee-club-half-image__container {
    padding-bottom: 60px;
  }

  .mobile-pee-club-toggle {
    width: 100%;
    border: 2px solid #1F2322;
    border-radius: 27px;
    display: flex;
  }

  .mobile-pee-club-toggle div {
    width: 100%;
    background: white;
    color: #1F232280;
  }

  .mobile-pee-club-toggle div:first-of-type {
    border-right: 2px solid #1F2322;
  }

  .mobile-pee-club-toggle .active {
    width: 100%;
    background: #f4ece2;
    color: #1F2322;
  }
}