.Home_Hero_Section {
  min-height: 100vh;
  margin-top: -1px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Home_Hero_Section.top-border {
  border-top: 1.5px solid var(--charcoal);
}

.Home_Hero_Section.bottom-border {
  border-bottom: 1.5px solid var(--charcoal);
}

.Home_Hero_Content {
  padding: 60px 0 60px 45px;
  display: flex;
  align-items: center;
}

.Home_Hero_Content_Container { 
  margin-left: auto;
  padding-right: 45px;
}

.Home_Hero_Content_Container .body-small {
  margin: 0 0 40px;
  display: flex;
  align-items: center;
}

.Home_Hero_Content_Container .body-small span {
  margin-left: 7px;
}

.Home_Hero_Content_Container .h1 {
  margin: 0 0 40px;
  letter-spacing: 0.9px;
}

.Home_Hero_Content_Container .h6 {
  margin: 0 0 10px;
}

.Home_Hero_Content_Container a {
  transition: 0.25s ease-in;
}

.Home_Hero_Image {
  position: relative;
}

.Home_Hero_Image video {
  width: 100%;
  height: 100%;
  object-position: center;
}

.Home_Hero_Content_Container .arrow-link {
  margin-top: 20px;
}

.Home_Hero_Content_Container a:hover {
  opacity: 0.7;
  transition: 0.25s ease-in;
}

@media screen and (max-width: 1250px) {
  
  .Home_Hero_Content_Container .body-small {
    margin: 0 0 25px;
  }
  
}

@media screen and (max-width: 989px) {

  .Home_Hero_Content_Container .body-small {
    margin: 0 0 20px;
  }

  .Home_Hero_Content_Container .h1 {
    margin: 0 0 30px;
  }
  
}

@media only screen and (max-width: 768px) {
  .Home_Hero_Section {
    display: flex;
    position: relative;
  }

  .Home_Hero_Content {
    width: 100%;
    padding: 55px 20px;
    position: relative;
    z-index: 2;
    background: none;
    text-align: center;
    border: none;
  }

  .Home_Hero_Content_Container {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    padding: 0 20px;
  }

  .page-template--page-black-friday-offer .Home_Hero_Content_Container {
    bottom: unset;
  }

  .Home_Hero_Content_Container .body-small {
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 0 0;
  }
  
  .Home_Hero_Content_Container .body-small span {
    display: block;
    width: 100%;
    margin: 9px 0 0;
  }

  .Home_Hero_Content_Container .h1 {
    max-width: 100%;
    margin: 0 auto 30px;
  }

  .Home_Hero_Image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
}