.image-text-banner {
  background: var(--beige);
}

.image-text-banner .page-width {
  height: 100%;
}

.image-text-banner__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.image-text-banner__content {
  padding: 60px 0;
  display: flex;
  align-items: center;
}

.image-text-banner__content-container {
  max-width: 475px; 
}

.image-text-banner__content-container .sh3 {
  margin: 0 0 20px;
}

.image-text-banner__content-container .h3 {
  margin: 0 0 30px;
}

.image-text-banner__content-container .sh2 {
  margin: 0;
}

.image-text-banner__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.image-text-banner__image img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .image-text-banner__container {
    display: block;
  }
  
  .image-text-banner__content {
    padding: 70px 0 35px; 
    text-align: center;
  }
  
  .image-text-banner__content-container .sh3 {
    margin: 0 0 16px;
  }

  .image-text-banner__content-container .h3 {
    margin: 0 0 25px;
  }
}