.pee-club-half-image__container .image-with-dropdowns__content {
  margin-top: 150px;
}

.pee-club-half-image__container .image-with-dropdowns__content > p {
  margin-bottom: 20px;
}

.pee-club-half-image__container .image-with-dropdowns__content h3 {
  margin-bottom: 50px;
  max-width: 500px;
}