.yellow-toilets {
  padding: 150px 0 100px;
  background: linear-gradient(90deg, #fff 0%, #FEFAED 100%) 0% 0% no-repeat padding-box;
  overflow: hidden;
  transition: .2s ease;
}
 
.yellow-toilets__header {
  text-align: center;
}

.yellow-toilets__header h3 {
  margin: 0 0 40px;
}

.yellow-toilets__header .sh2 {
  max-width: 965px;
  margin: 0 auto 90px;
}

.yellow-toilets__content {
  max-width: 800px;
  margin: 0 auto;
}

.yellow-toilets__content .slick-list {
  overflow: visible;
}

.yellow-toilets__item {
  padding: 0 20px;
  text-align: center;
  position: relative;
}

.yellow-toilets__color {
  margin: 0 0 30px;
  color: var(--beige);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--charcoal);
  position: relative;
}

.yellow-toilets__color::before {
  position: absolute;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--charcoal);
  transform: translate(-4px, -4px);
  z-index: 2;
}

.yellow-toilets__item h5 {
  margin: 40px 0 18px;
}

.yellow-toilets__item .sh4 {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .yellow-toilets {
    padding: 70px 0;
  }

  .yellow-toilets__header h2 {
    margin-bottom: 20px;
  }

  .yellow-toilets__header .sh2 {
    margin-bottom: 40px;
  }

  .yellow-toilets__color {
    margin-bottom: 24px;
  }

  .yellow-toilets__item h5 {
    margin: 30px 0 10px;
  }

  .yellow-toilets .slick-dots {
    margin: 25px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .yellow-toilets .slick-dots li {
    padding: 5px 3px;
  }
  
  .yellow-toilets .slick-dots li button {
    height: 8px;
    width: 8px;
    display: block;
    background: white;
    border: 1px solid black;
    border-radius: 100%;
    font-size: 0;
  }

  .yellow-toilets .slick-dots li.slick-active button {
    background: black;
  }

  .yellow-toilets__color {
    display: flex;
    justify-content: center;
  }

  .yellow-toilets__mobile-text {
    margin: 15px 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .yellow-toilets__content {
    max-width: 100%;
  }
}