.image-with-dropdowns__container .page-width {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.image-with-dropdowns__image {
  position: relative;
  margin-right: 15%;
}

.image-with-dropdowns__image img {
  object-fit: contain;
}

.image-with-dropdowns__content-circle {
  height: 44px;
  width: 44px;
  border-radius: 100%;
  border: 1px solid black;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  z-index: 99;
}

.image-with-dropdowns__dropdown {
  position: relative;
}

.image-with-dropdowns__content-point:before {
  content: "";
  position: absolute;
  top: 0;
  left: 22px;
  bottom: 0;
  border-left: 1px solid var(--charcoal);
}

.image-with-dropdowns__content-text h6 {
  margin: 0 0 0 24px;
}

.image-with-dropdowns__content-circle h5 {
  margin: 0;
}

.image-with-dropdowns__q {
  display: flex;
}