.left-image-text__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 2px solid #1F2322;
  border-bottom: 2px solid #1F2322;
}

.left-image-text__text {
 margin-left: 52px;
}



@media screen and (min-width: 769px) {
}