.icon-text__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 28px 18px;
  margin-top: 65px;
  margin-bottom: 36px;
}

.icon-text__header {
  text-align: center;
}

.icon-text__header-italic {
  font-family: Rhymes-Light-Italic;
}

@media screen and (max-width: 768px) {
  .icon-text__header {
    margin-top: 54px;
  }
}

.icon-text__block img {
  width: 25px;
  height: 25px;
}

.icon-text__block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icon-text__block p {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}


@media screen and (max-width: 768px) {  
  .icon-text__container {
    grid-template-columns: 1fr;
    gap: 14px;
    margin-top: 32px;
  }
}