.ingredients {
  margin-bottom: 80px;
}

.ingredients--set {
  margin: 40px 0 0;
}

.ingredients-set__header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--charcoal);
  border-bottom: 1px solid var(--charcoal);
  cursor: pointer;
  text-align: left;
}

.ingredients-set__header h4 {
  margin: 0;
}

.ingredients-set__header svg {
  width: 20px;
  height: auto;
  transition: transform .3s ease;
}

.ingredients-set__header.active svg {
  transform: rotate(180deg);
}

.ingredients-set__content {
  display: none;
}

.ingredients--set .ingredients__grid {
  margin-top: 40px;
}

.ingredients--set .ingredients__grid-item:first-child {
  background: var(--beige);
}

@media only screen and (max-width: 768px) {
  .ingredients {
    margin-bottom: 40px;
  }

  .ingredients--set {
    margin: 0 0 40px;
  }

  .ingredients-set__header h4 {
    font-size: 16px;
  }

  .ingredients-set__header svg {
    width: 14px;
  }
}