.video-section__media {
  position: relative;
  padding-bottom: 56.25%;
}

.video-section__media video {
  border-radius: 10px;
}

.video-section__media.deferred-media {
  overflow: visible;
}

.full-video-text__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 9;
}

.full-video__container {
 padding-top: 100px; 
}

.full-video__container h1 {
  text-align: center;
  max-width: 900px;
  margin: 0 auto 30px;
}

.full-video__container h6 {
  margin: 0 auto 100px;
  text-align: center;
  max-width: 800px;
}

.full-video__container .page-width {
  position: relative;
}

.full-video__container h4 {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  .full-video__container {
    padding-top: 50px; 
  }

  .full-video__container h4 {
    font-size: 18px;
    line-height: 28px;
  }
  
  .full-video__container h1 {
    margin: 0 auto 24px;
  }

  .full-video__container h6 {
    margin: 0 auto 40px;
  }
}