.routine-products__products {
  display: flex;
  justify-content: center;
  gap: 15px;
}

routine-products__container {
  padding-top: 60px;
}

.routine-products__container > h2 {
  text-align: center;
  margin-bottom: 56px;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .routine-products__container>h2 {
    margin-bottom: 36px;
  }
}

.routine-products__product {
  background: var(--gray-lighest);
  border-radius: 15px;
  padding: 34px 30px 30px;
  max-width: 421px;
  text-align: center;
  flex: 1 1 0px;
}

.routine-products__product h5 {
  max-width: 350px;
  margin: 0 auto;
}

.routine-products__product img {
  width: 100%;
  border-radius: 10px;
}

.routine-products__new {
  border-radius: 25px;
  width: fit-content;
  margin: 0 auto;
  background: var(--green-1);
  padding: 3px 12px; 
  margin-top: 16px;
  margin-bottom: 14px;
}

.routine-products__extra {
  border-radius: 25px;
  width: fit-content;
  margin: 0 auto;
  background: var(--green-2);
  padding: 3px 12px;
  margin-top: 16px;
  margin-bottom: 14px;
  color: var(--white);
}

.routine-products__new p,
.routine-products__extra p {
  margin: 0;
}

.routine-products__product button {
  width: 100%;
  margin-top: 18px;
  background: var(--gray-lighest);
  height: 38px;
  padding: 0;
  cursor: pointer;
}

.routine-products__bottom h4 {
  margin: 0 auto;
  margin-top: -3px;
}

.okendo_placeholder {
  height: 25.5px;
  width: 100%;
}

.routine-products__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.routine-products__bottom .okeReviews-reviewsSummary-ratingCount {
  display: none;
}


@media (max-width: 768px) {
  .routine-products__products {
    flex-direction: column;
  }

  .routine-products__product {
    align-self: center;
    padding: 30px 20px 20px;
  }

  .routine-products__bottom h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .routine-products__container {
    margin-top: 68px;
  }

  .routine-products__container > h2 {
    margin-top: 0;
  }
}