.text-image-props {
  padding: 150px 0 120px;
  overflow: hidden;
  background: transparent linear-gradient(0deg, #ECD8C500 0%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
}

.text-image-props h6 {
  margin-bottom: 75px !important; 
}

.text-image-props__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-image-props__content {
  max-width: 608px;
  padding-right: 20px;
}

.text-image-props__content h2 {
  margin: 0 0 35px;
  color: var(--beige);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--charcoal);
  position: relative;
  transform: translate(5px, 5px);
}

.text-image-props__content p {
  margin: 0;
}

.text-image-props__image {
  width: 43%;
}

.text-image-props__image-container {
  padding-bottom: 125%;
  position: relative;
  border: 1px solid var(--charcoal);
}

.text-image-props__props-container {
  max-width: 768px;
  margin: 145px auto 0;
}

.text-image-props__props-container h6 {
  margin: 0;
  text-align: center;
}

.text-image-props__props-slider {
  margin: 0 -12px;
  padding: 60px 0 0;
}

.text-image-props__props-slider .slick-list {
  overflow: visible;
}

.text-image-props__prop {
  padding: 0 12px;
  text-align: center;
}

.text-image-props__prop:nth-child(1) h2 {
  --float-duration: 7s;
  --float-offset: -17%;
}

.text-image-props__prop:nth-child(2) h2 {
  --float-duration: 6s;
  --float-offset: -18%;
}

.text-image-props__prop:nth-child(3) h2 {
  --float-duration: 7s;
  --float-offset: -29%;
}

.text-image-props__prop:nth-child(4) h2 {
  --float-duration: 5s;
  --float-offset: -20%;
}

.text-image-props__prop:nth-child(5) h2 {
  --float-duration: 6s;
  --float-offset: -19%;
}

.text-image-props__prop h2 {
  margin: 0 0 16px;
}

.text-image-props__prop p {
  margin: 0;
}


@media only screen and (max-width: 990px) {
  .text-image-props {
	padding: 40px 0 70px;
  }
  
  .text-image-props__content {
    padding: 40px 0 0 0;
  }
  
  .text-image-props__content h2 {
    margin-bottom: 20px;
  }
  
  .text-image-props__image {
	width: 100%;    
  }
  
  .text-image-props__container {
    flex-direction: column-reverse;
  }
  
  .text-image-props__props-container {
    margin: 0;
    padding-top: 70px;
  }
  
  .text-image-props__props-slider {
    padding: 40px 80px 50px;
  }

  .text-image-props__prop {
    width: 168px;
    padding: 0 8px;
  }
}
  
@media only screen and (max-width: 768px) {  
  .text-image-props h6 {
    margin-bottom: 0px !important; 
  }
}