.image-grid__container {
    padding-top: 120px;
  padding-bottom: 90px;
}

.image-grid__grid {
  cursor: grabbing;
  user-select: none;
  margin: 60px -1000px 90px;
  scroll-padding: 0px 1000px;
  scroll-snap-type: x mandatory;
  cursor: grabbing;
  overflow-x: scroll;
  font-size: 0px;
}

.image-grid__grid-content {
padding: 0 1000px;
  display: inline-flex;
  white-space: nowrap;
gap: 34px;
}

.image-grid__grid-item {
  text-align: center;
}

.image-grid__image {
  width: 265px;
  position: relative;
} 

.image-grid__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.image-grid__title-top {
  max-width: 670px;
}

.image-grid__title-top h3 {
  margin-top: 0;
  margin-bottom: 30px;
}

.image-grid__title-top .sh2 {
  margin: 0;
}

.image-grid__grid-item h5 {
  margin-top: 22px;
  margin-bottom: 8px;
}

.image-grid__grid-item p {
  margin-top: 0px;
  margin-bottom: 24px;
}

.image-grid__grid-item a {
  border-bottom: 1.5px solid;
  width: fit-content;
  font-family: inter,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.5em;
}

.image-grid__title-bottom {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.image-grid__title-bottom .sh2 {
  margin-top: 0;
  margin-bottom: 40px;
}

.image-grid__title-bottom a {
  background-color: white;
}






@media screen and (max-width: 768px) {
}