.chronic-submitted__container {
  display: flex;
}

.chronic-submitted__image-wrapper {
  position: relative;
  padding-bottom: 100%;
  width: 50%;
}

.chronic-submitted__text {
  text-align: center;
  padding: 0 28px;
  align-self: center;
  width: 50%;
}

.chronic-submitted__text .sh3 {
  max-width: 563px;
  margin: 0 auto 10px;
  color: #545759;
}

.chronic-submitted__text .light {
  max-width: 563px;
  margin: 0 auto 50px
}

.chronic-submitted__text h2 {
  max-width: 563px;
  margin: 0 auto 30px
}

.chronic-submitted__info .marquee {
  padding: 15px 0 17px;
  position: relative;
  overflow-x: hidden;
  display: flex;
  z-index: 1;
  border-top: 2px solid #1F2322;
}

.chronic-submitted__info .marquee__container {
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
  display: flex;
  align-items: center;
}

.chronic-submitted__info .marquee__item {
  margin: 0;
  padding: 0 20px;
  display: flex !important;
  align-items: center;
}

.chronic-submitted__info .marquee__item .sh2 {
  margin: 0;
  margin-top: 4px;
}