.pee-club-products__flex {
  display: flex;
}

  .pee-club-products__wrapper {
    padding-left: calc(50vw - 110px);
    padding-right: calc(50vw - 110px);
    max-width: unset;
    overflow-x: scroll;
    margin: 0px -1000px;
    scroll-padding: 0px 1000px;
    scroll-snap-type: x mandatory;
    cursor: grabbing;
  }

  .pee-club-products {
    padding: 0px 1000px;
    display: inline-flex;
    white-space: nowrap; 
  }