.people-slider {
  padding: 150px 0 100px;
  overflow: hidden;
}

.people-slider.add-background {
  background: transparent linear-gradient(180deg, #fff 40%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
}

.people-slider__header {
  max-width: 768px;
  margin: 0 auto 80px;
  text-align: center;
}

.people-slider__header h2 {
  margin: 0;
}

.people-slider__header p {
  margin: 40px 0 0;
}

.people-slider__container {
  display: grid;
  grid-template-columns: minmax(0, .35fr) minmax(0, .65fr);
  gap: 30px;
}

.people-slider__container-3 {
  grid-template-columns: minmax(0, .65fr) minmax(0, .35fr);
}


.people-slider__container * {
  min-width: 0;
}

.people-slider__drink {

}

.people-slider__drink-item {
  padding-top: 40px;
}

.people-slider__drink-image-wrapper {
  max-width: 257px;
  margin: 0 auto;
}

.people-slider__drink-image {
  padding-bottom: 100%;
  position: relative;
}

.people-slider__drink-image svg {
  position: absolute;
  top: -40px;
  left: 2px;
}

.people-slider__drink-content {
  text-align: center;
}

.people-slider__drink-content h4 {
  margin: 2px 0 12px;
}

.people-slider__drink-content p {
  margin: 0;
}

.people-slider__people-slider--1, .people-slider__people-slider--2 {
  margin: 0 -2000px 0 -10px;
}

.people-slider__people-slider--3 {
  margin: 0 -10px 0 -2000px;
}

.people-slider__people-item {
  width: 346px;
  padding: 0 10px;
}

.people-slider__people-item.slick-current {
  width: 400px;
}

.people-slider__people-item-wrapper {
  padding-bottom: 125%;
  position: relative;
  border: 1px solid black;
}

.people-slider__arrows--1, .people-slider__arrows--2, .people-slider__arrows--3  {
  width: 326px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.people-slider__arrows--3  {
  float: right;
}

.people-slider__arrows--1 .slick-arrow, .people-slider__arrows--2 .slick-arrow, .people-slider__arrows--3 .slick-arrow {
  margin: 0 25px;
  position: unset;
  transform: none;
  transition: transform .3s ease;
}

.people-slider__arrows--1 .slick-arrow::before, .people-slider__arrows--2 .slick-arrow::before, .people-slider__arrows--3 .slick-arrow::before {
  content: none;
}

.people-slider__arrows--1 .slick-prev:hover, .people-slider__arrows--2 .slick-prev:hover, .people-slider__arrows--3 .slick-prev:hover {
  transform: translateX(-5px);
}

.people-slider__arrows--1 .slick-next:hover, .people-slider__arrows--2 .slick-next:hover, .people-slider__arrows--3 .slick-next:hover {
  transform: translateX(5px);
}

.people-slider__bottom {
  max-width: 768px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

.people-slider__bottom h5 {
  margin: 0 0 40px;
}

.people-slider__bottom .body {
  justify-content: center;
}

.mobile-drink {
  position: absolute;
  z-index: 9;
  left: 0;
}

.mobile-drink img {
  width: 150px;
  margin-top: -20px;
  margin-left: -70px;
}

.mobile-drink svg {
  top: -50px;
  width: 100px;
  left: -50px;
}

.people-slider__people .slick-track {
  padding-right: 10px;
}

@media only screen and (max-width: 768px) {
  .people-slider {
    padding: 70px 0 20px;
  }

  .people-slider__container {
    display: block;
  }

  .people-slider__drink {
    display: none;
  }

  .people-slider__people-slider--1, .people-slider__people-slider--2, .people-slider__people-slider--3 {
    margin: 0 -10px;
    padding: 0 40px;
  }

  .people-slider__people-slider--1 .slick-list, .people-slider__people-slider--2 .slick-list, .people-slider__people-slider--3 .slick-list {
    overflow: visible;
  }

  .people-slider__people-item {
    width: unset;
    visibility: hidden !important;
  }
  
  .people-slider__people-item.slick-current {
    visibility: visible !important;
  }

  .people-slider__drink-content {
    padding-top: 26px;
  }

  .people-slider__header {
    margin: 0 0 40px;
  }

  .people-slider__arrows--1, .people-slider__arrows--2, .people-slider__arrows--3 {
    width: 100%;
    padding-top: 30px;
  }

  .people-slider__bottom {
    padding-top: 50px;
  }

  .people-slider__bottom h5 {
    margin-bottom: 40px;
    font-weight: 400;
  }
}