.image-dropdowns__container .image-with-dropdowns__content-point:before {
  left: unset;
  border-left: unset;
  position: unset;
}

.image-dropdowns__container {
  padding-bottom: 60px !important;
}

.image-dropdowns__container .image-with-dropdowns__q  {
  padding-top: 24px;
}

.image-dropdowns__container .image-with-dropdowns__content h3 {
  margin-bottom: 40px;
  font-weight: 400;
}

.image-dropdowns__container .image-with-dropdowns__content-point:first-of-type {
  border-top: 0.5px solid #54575980;
}

.image-dropdowns__container .image-with-dropdowns__content-point {
  border-bottom: 0.5px solid #54575980;
  padding-bottom: 24px !important;
}

.image-dropdowns__container .image-with-dropdowns__content {
  margin-right: 60px;
  padding-top: 110px;
}

.image-dropdowns__container .image-with-dropdowns__content-text h6 {
  margin: 0 !important;
  line-height: 1;
}

.image-dropdowns__container .image-with-dropdowns__a p {
  margin-left: 0 !important;
  margin-bottom: 0;
  margin-top: 24px;
  line-height: 21px;
}

.image-dropdowns__container .image-with-dropdowns__q svg {
  color: #545759;
}

@media screen and (max-width: 768px) {
  .image-dropdowns__container .image-with-dropdowns__content {
    margin-right: 0 !important;
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .image-dropdowns__container .image-with-dropdowns__image {
    grid-row: 1; 
  }

  .image-dropdowns__container .image-with-dropdowns__a p {
    line-height: 1.6em;
     font-size: 14px;
  }

  .image-dropdowns__container .image-with-dropdowns__dropdown {
    order: 3
  }

  .image-dropdowns__container .image-with-dropdowns__content h3 {
    order: 1;
    text-align: center;
    margin-bottom: 20px !important;
  }

  .image-dropdowns__container .image-with-dropdowns__content-text h6 {
    font-size: 16px !important;
  }

  .image-dropdowns__container .image-with-dropdowns__bottom-text {
    order: 2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  .image-dropdowns__container .image-with-dropdowns__content .sh2 {
    font-size: 14px;
  }

  .image-dropdowns__container {
    padding-bottom: 60px !important;
  }
}