.landing-signup__container {
  background-color: #F8F1EB;
  position: relative;
  height: 840px;
}

.landing-signup__background {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

.landing-signup__container .page-width {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.landing-signup__image {
  position: relative;
}