.pee-club-value-props .value-props__props-slider {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.pee-club-value-props .value-props__text-container {
  margin-bottom: 40px;
}

.pee-club-value-props {
  padding-top: 120px;
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  .pee-club-value-props .value-props__props-slider {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    padding: unset;
  }

  .pee-club-value-props  .value-props__props-container {
    margin: unset;
    overflow-x: unset;
    padding-left: unset;
    padding-right: unset;
  }

  .pee-club-value-props .value-props__prop {
    width: unset !important;
    padding: 0 3px 15px;
  }

  .pee-club-value-props .value-props__prop h3 {
    font-size: 40px;
  }

  .pee-club-value-props .value-props__text-container .h4 {
    font-size: 30px;
  }

  .pee-club-value-props {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}