.main-menu {
  max-width: 400px;
  width: 100%;
  padding: 50px 20px 50px 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: white;
  color: var(--charcoal);
  overflow: scroll;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transition: .4s ease-in-out;
}

.main-menu[aria-hidden="false"] {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
}

.main-menu__close {
  padding: 5px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.main-menu__close svg {
  height: 18px;
  width: 18px;
}

.main-menu__close svg path {
  stroke: currentColor;
  stroke-width: .5px;
}

/* Main */
.main-menu__main-links {
  margin-bottom: 60px;
}

.main-menu__main-link {
  margin-bottom: 12px;
}

.main-menu__main-link .h6 {
  display: inline-flex;
  align-items: center;
}

.main-menu__main-link .h6:hover {
  font-weight: 500;
}

.main-menu__main-link .callout-text {
  margin-left: 14px;
  padding: 5px 18px;
  font-size: 12px;
  border-radius: 50px;
  background: var(--beige-dark);
}

.main-menu__main-link .subtext {
  margin: 0;
  display: block;
  font-size: 12px;
  font-style: italic;
  color: var(--charcoal-light);
}

.main-menu__main-links .arrow-link {
  margin-top: 30px;
}

/* Secondary */
.main-menu__secondary-links .sh4 {
  margin: 0 0 12px;
  display: block;
}

.main-menu__secondary-links .sh4:hover {
  font-weight: 500;
}

.main-menu__secondary-links .account-link {
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
}

.main-menu__secondary-links .account-link svg {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

@media only screen and (max-width: 768px) {
  .main-menu {
    padding: 30px;
  }

  .main-menu__main-links {
    margin-bottom: 80px;
  }

  .main-menu__main-links .h6 {
    font-size: 22px;
  }
  
  .main-menu__main-link {
    margin-bottom: 28px;
  }

  .main-menu__secondary-links .sh4 {
    margin-bottom: 12px;
    font-size: 16px;
  }
}

/*** NEW MAIN MENU CSS START ***/

.main-menu {
  max-width: 479px;
  overflow: auto;
}

.main-menu__close {
  top: 15px;
  left: 15px;
  right: unset;
}

.Shop_Link {
  position: absolute;
  top: 20px;
  right: 20px;
}

.Maine_Menu_Link_Image img {
  vertical-align: middle;
}

.Maine_Menu_Link_Image {
  margin-right: 10px;
}

.main-menu__main-link {
  margin-bottom: 15px;
}

.main-menu__main-link .callout-text {
  margin-left: 8px;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 1.8em;
}

.main-menu__close svg {
  height: 14px;
  width: 14px;
}

.Main_Menu_Title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  color: #545759;
  margin: 44px 0 30px;
}

.main-menu__secondary-links .account-link {
  margin-top: 28px;
}

.main-menu__secondary-links .account-link svg {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.main-menu__main-link .h6:hover {
  font-weight: 300;
}

.Shop_Link.arrow-link:hover svg {
  transform: translate(0);
}

.Shop_Link.arrow-link:hover {
  transform: translate(5px);
}

.Shop_Link.arrow-link {
  transition: transform .2s ease;
}

.header .sh2.Mobile_Hamburger:hover {
  font-weight: 300;
}

.main-menu__main-link:last-child {
  margin-bottom: 0;
}

.main-menu {
  display: block;
}

@media only screen and (max-width: 768px) {

  .main-menu {
    top: 56px;
  }

  .main-menu[aria-hidden="false"] .main-menu__close {
    display:none;
  }

  .main-menu__close.Mobile_Menu_Close {
    position: relative;
    left: unset;
    top: unset;
  }

  .main-menu {
    padding: 27px;
  }

  .main-menu__main-links {
    margin-bottom: 50px;
  }

  .main-menu__secondary-links .sh4 {
    line-height: 27px;
    margin-bottom: 12px;
  }

  .Main_Menu_Title {
    margin: 0 0 27px;
  }

  .main-menu {
    max-width: 100%;
  }

  .page-overlay.is-visible.Menu_Overlay {
    background: transparent !important;
  }

}

@media only screen and (max-width: 374px) {

  .main-menu__main-links .h6 {
    font-size: 15px;
  }

}

/*** NEW MAIN MENU CSS END ***/