.text-hero {
  padding: 60px 0;
  background: transparent linear-gradient(180deg, #F8F1EB 0%, #F8F1EB00 85%) 0% 0% no-repeat padding-box;
  text-align: center;
}

.text-hero__container {
  position: relative;
}

.text-hero__svg {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
}

.text-hero__svg svg {
  width: 100%;
  height: auto;
  animation: spin 30s linear infinite;
}

.text-hero__svg.no-animation svg {
  animation: none;
}

.text-hero__title {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-hero__title .h2 {
  color: var(--beige);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--charcoal);
  position: relative;
  display: flex;
  justify-content: center;
  transform: translate(4px, 4px);
}

.text-hero__title .h2 span {
  position: absolute;
  color: white;
  transform: translate(-4px, -4px);
}


.text-hero__text {
  max-width: 768px;
  margin: 90px auto 0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .text-hero {
    padding: 40px 0;
  }
  
  .text-hero__title .h2 {
    font-size: 45px;
  }
  
  .text-hero__text {
    margin-top: 40px;
  }
  
  .text-hero .button {
    margin: 60px auto 0;
  }
}