.hydration-products {
  padding: 150px 0;
}

.hydration-products__container {
  text-align: center;
}

.hydration-products.background--top {
  margin-top: 0;
  padding-top: 100px;
  background: linear-gradient(0deg, white 0%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
}
  
.hydration-products.background--bottom {
  margin-bottom: 0;
  padding-bottom: 100px;
  background: linear-gradient(180deg, white 0%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
}

.hydration-products.top-border {
  border-top: 1px solid var(--charcoal);
}

.hydration-products.bottom-border {
  border-bottom: 1px solid var(--charcoal);
}

.hydration-products__heading {
  margin-bottom: 40px;
}

.hydration-products__subtitle {
  margin-bottom: 60px;
}

.hydration-products__subtitle p {
  font-size: 18px;
  font-weight: 300;
}

.hydration-products__subtitle p strong {
  font-weight: 500;
}

.hydration-products__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 26px;
}

.hydration-products__grid-item {
  border: 2px solid var(--charcoal);
  width: 100%;
  height: 100%;
}

.hydration-products__grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .hydration-products {
    padding: 80px 0;
  }

  .hydration-products__grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

  .hydration-products__subtitle p {
    font-size: 16px;
  }
}