.title-text__container {
  text-align: center;
  margin: 120px auto;
  max-width: 963px;
}

.title-text__container h1 {
  margin: 0 auto 30px;
  color: #1F2322;
}

.title-text__container p {
  letter-spacing: 0px;
  color: #1F2322;
}