.tabbed-multicolumn{
  padding: 80px 0 0;
}

.tabbed-multicolumn .headings .desc{
  margin: 20px 0 64px;
}

.tabbed_sections{
  display: flex;
  border: 1.5px solid;
  border-radius: 17px;
}

.tabbed_heading {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.tabbed_heading div{
  flex: 0 1 50%;
  text-align: center;
  max-width: 265px;
  margin: 0;
}

.tabbed_heading  h1 {
  margin: 0 0 10px;
}

.tabbed_heading .item {
  margin: 0;
}

.tabbed-multicolumn .tabbed_item {
  flex: 0 1 50%;
  padding: 42px 40px;
  text-align: center;
}

.tabbed-multicolumn .tabbed_item.tabs{
  background: #F8F1EC;
  border-top-right-radius: 0;
  border-top-left-radius: 17px;
}

.tabbed-multicolumn .tabbed_item.scroller{
  border:none;
  border-top: 1.5px solid; 
  background: #ECD8C5;
  border-bottom-right-radius: 17px;
  border-bottom-left-radius: 17px;
}

.tabbed-multicolumn .tabbed_item .tab{
  display: flex;
  justify-content: center;
  margin: 0 -12px;
}

.tabbed-multicolumn .sh3{
  margin-top:0;
}

.scroller_inner{
  max-height: 387px;
  padding: 0;
  overflow: hidden;
}

.scroller_inner h4{
  margin:0;
  font-weight: 300;
}

.mCSB_inside>.mCSB_container {
  margin-right: 0;
}

.plus_icon{
  margin: 0 auto -60px;
  height: 42px;
  width: 42px;
  background: #f8f1ed;
  border: 1.5px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus_icon span{
  position: relative;
  font-size: 0;
  width: 15px;
  height: 15px;
}

.plus_icon span:before{
  content: '';
  height: 15px;
  width: 1.5px;
  background: var(--charcoal);
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.plus_icon span:after{
  content: '';
  width: 15px;
  height: 1.5px;
  background: var(--charcoal);
  display: block;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 12px;
  transition: 0.3s;
  text-transform: capitalize;
  border-bottom: 1.5px solid;
  color: var(--charcoal);
  opacity: 0.6;
}

.tab button.active,
.tab button:hover{
    opacity: 1;
}

.tabcontent {
  display: none;
  margin-top: 90px;
}

.tabcontent h4,
.scroller_inner h4{
  line-height: 42px;
  font-weight: 400;
}


@media (min-width: 769px) {

  .tabbed-multicolumn{
    padding: 150px 0 0;
  }
  
  .tabbed-multicolumn .headings .desc{
    margin: 25px 0 75px;
  }
  
  .tabbed_heading {
    margin-bottom: 80px;
  }
  
  .tabcontent {
    margin-top: 134px;
  }
  
  .scroller_inner{
    padding: 24px 30px;
  }
  
  .tabbed-multicolumn .tabbed_item .tab{
    margin: 0 -10px;
  }
  
  .tab button {
  	margin: 0 20px;
  }
  
  .tabbed-multicolumn .tabbed_item {
    padding: 80px 40px;
  }

}


@media (min-width: 991px) {
  
  .tabbed-multicolumn .tabbed_item.scroller{
    border: none;
    border-left: 1.5px solid;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: unset;
  }

  .tabbed-multicolumn .tabbed_item.tabs{
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: unset;
  }

}

@media (min-width: 1200px) {
  
  .tabbed-multicolumn .tabbed_item {
    padding: 60px;
  }
  
  .scroller_inner{
    padding: 68.5px 30px;
  }
  
}

@media (max-width: 990px) {
  
  .tabbed_sections{
    flex-direction: column;
  }
  
}

@media only screen and (max-width: 768px) {
  .tabbed-multicolumn .tabbed_item.tabs {
    border-top-right-radius: 17px;
  }
  
  .tabbed_heading .item{
    font-size: 16px;
    line-height: 27px;
  }
  
  .tabcontent h4,
  .scroller_inner h4{
    font-size: 22px;
    line-height: 35px;
  }
  
}


@media (max-width: 375px) {
  
  .tabbed-multicolumn .tabbed_item{
    padding: 42px 20px;
  }
  
}