.half__container {
  display: flex;
  background: transparent linear-gradient(180deg, #ECD8C500 0%, #F8F1EB 100%) 0% 0% no-repeat padding-box;
}

.half__content {
  width: 50%;
  padding: 100px;
  border-top: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.half__content h2 {
  color: #DFD0bf;
  text-align: left;
  margin: 0;
  justify-content: unset;
}

.half__content a {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  margin: 50px auto 0; 
}

.half__content h5 {
  margin-top: 55px;
  margin-bottom: 0;
}

.half__content .first-line {
  margin-bottom: 10px;
}

.half__content ul {
  padding-left: 18px;
  list-style: none;
  margin-top: 0;
}

.half__content ul li::before {
  content: "\2022"; 
  color: #ECD8C5;
  font-weight: bold; 
  display: inline-block;
  width: 1em;
  margin-left: -1em; 
}

.half__image h2 {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #DFD0bf;
}

.half__image {
  padding-bottom: 50%;
  position: relative;
  width: 50%;
  border: 1px solid;
}

@media screen and (max-width: 990px) {
  .half__container {
    flex-direction: column-reverse;
  }

  .half__content {
    width: fit-content;
    margin: 0 auto;
    padding: 60px 20px;
    border-top: 1px solid;
  }
  
  .half__content h5 {
    margin: 0;
  }

  .half__image {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    border: 1px solid;
  }
}
