.Trusted_Reviews_Wrapper_2 .Review_Data_Holder>div {
  flex: unset !important;
  max-width: 100%;
}

.Trusted_Reviews_Wrapper_2 .Review_Data_Holder {
  height: unset !important;
}

.Trusted_Reviews_Wrapper_2 .Review_Image_Holder {
  margin-right: 16px;
  padding: 18px;
  background: white;
  border-radius: 17px;
  z-index: 99;
  width: 336px;
}

.Trusted_Reviews_Wrapper_2 .Review_Content .medium {
  font-size: 12px;
  margin: 0;
  line-height: 16px;
}

.Trusted_Reviews_Wrapper_2 .Review_Content .light {
  font-size: 12px;
  margin: 0 0 20px;
  line-height: 16px;
}

.Trusted_Reviews_Wrapper_2 .Review_Image {
  border: none;
}

.Trusted_Reviews_Wrapper_2 .Review_Image_Content {
  font-size: 13px;
  line-height: 21px;
}

.Trusted_Reviews_Wrapper_2 .Card-Info_Title {
  max-width: 443px;
  padding-top: 0 !important;
}

.Trusted_Reviews_Wrapper_2 .Card-Info_Title .suptitle {
  font-size: 14px;
  margin: 0 0 20px;;
}

.Trusted_Reviews_Wrapper_2 .Card-Info_Title .subtitle {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 50px;
}

.Trusted_Reviews_Wrapper_2 .multicolumn-card__info h3 {
  margin: 0 0 24px;
}

@media screen and (max-width: 768px) {
  .Trusted_Reviews_Wrapper_2 .Reviews_Column_Right .slick-list {
    padding-right: 15%;
  }

  .Trusted_Reviews_Wrapper_2 {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .Trusted_Reviews_Wrapper_2 .Review_Content.Hidden_Desktop {
    padding: 6px 18px 18px;
    background: white;
    border-radius: 0 0 17px 17px;
    margin-right: 16px;
    width: 100%;
  }

  .Trusted_Reviews_Wrapper_2 .Review_Content.Hidden_Desktop .Review_Image_Title {
    margin-top: 0;
  }

  .Trusted_Reviews_Wrapper_2 .Card-Info_Title .suptitle {
    margin: 0 0 14px;;
  }

  .Trusted_Reviews_Wrapper_2 .Review_Image_Holder {
    width: 100%;
    border-radius: 17px 17px 0 0;
  }

  .Trusted_Reviews_Wrapper_2 .mobile_review_content {
    margin-bottom: 6px !important;
    font-size: 14px !important;
    line-height: 21px !important;
  }

  .Trusted_Reviews_Wrapper_2 .Card-Info_Title .subtitle {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
    margin-top: 0;
  }
}