.Trusted_Reviews_Slider2 .Review_Image_Holder {
  flex: unset !important;
  max-width: unset !important;
}

.Trusted_Reviews_Slider2 .Review_Data_Holder { 
max-width: 336px !important
}


@media screen and (max-width: 1599px) {}
  .Reviews_Column_Right .slick-list {
      padding-right: 5% !important;
  }
}