.Trusted_Reviews_Wrapper_2 .Review_Data_Holder>div {
  flex: unset !important;
  max-width: 100%;
}

.Trusted_Reviews_Wrapper_2 .Review_Data_Holder {
  height: unset !important;
}

.Trusted_Reviews_Wrapper_2 .Review_Image_Holder {
  margin-right: 34px;
  padding: 18px;
  background: white;
  border-radius: 17px;
  z-index: 99;
  width: 336px;
}

@media screen and (max-width: 768px) {
  .Reviews_Column_Right .slick-list {
    padding-right: 0%;
  }
}